<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center text-dark">
                            Create Game Session
                        </h6>
                        <form method="POST" id="transferForm" @submit.prevent="store" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="text-dark">Event Name</label>
                                <input type="text" class="form-control" v-model="form['game_title']"  required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Game Location</label>
                                <input type="text" class="form-control" v-model="form['location']"/>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Game number</label>
                                <input type="number" class="form-control" v-model="form['game_start']" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Expected number of Fights</label>
                                <input type="number" class="form-control" v-model="form['expected_game_number']" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Max Betting Time</label>
                                <vue-timepicker style="display: block; width: 100% !important;" v-model="form['max_betting_time']" format="hh:mm:ss"></vue-timepicker>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Time to Last Call</label>
                                <vue-timepicker style="display: block; width: 100% !important;" v-model="form['last_call']" format="hh:mm:ss"></vue-timepicker>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Close Bet Delay</label>
                                <vue-timepicker style="display: block; width: 100% !important;" v-model="form['close_bet_delay']" format="hh:mm:ss"></vue-timepicker>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Max Game Time</label>
                                <vue-timepicker style="display: block; width: 100% !important;" v-model="form['max_game_time']" format="hh:mm:ss"></vue-timepicker>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Left Label</label>
                                <input type="text" class="form-control" v-model="form['left_label']"  required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Right Label</label>
                                <input type="text" class="form-control" v-model="form['right_label']"  required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Player Type</label>
                                <vs-select
                                           placeholder="Select Player Type"
                                           class="selectExample"
                                           label-placeholder="Autocomplete"
                                           autocomplete
                                           style="width: 100%" required
                                           v-model="form['player_type']">
                                    <vs-select-item :key="type" :value="type" :text="type" v-for="type in playerType" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['player_type'] == 'iframe'">
                                <label class="text-dark">Camera / iFrame Url</label>
                                <input type="text" class="form-control" v-model="form['camera_url']"  required />
                            </div>
                            <div class="form-group" v-if="form['player_type'] == 'hls'">
                                <label class="text-dark">HLS Source</label>
                                <input type="text" class="form-control" v-model="form['source_1']"  required />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-success" type="submit">Create Game Session</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import VueTimepicker from 'vue2-timepicker'

    import 'vue2-timepicker/dist/VueTimepicker.css'
    export default {
        name: "create-game",

        components: {
            VueTimepicker
        },

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {
                    'game_title' : 'Alpha Sabong',
                    'game_start' : '1',
                    'expected_game_number' : '300',
                    'max_betting_time' : {
                        'hh': '00',
                        'mm' : '00',
                        'ss' : '30'
                    },
                    'last_call' : {
                        'hh': '00',
                        'mm' : '00',
                        'ss' : '05'
                    },
                    'close_bet_delay' : {
                        'hh': '00',
                        'mm' : '00',
                        'ss' : '15'
                    },
                    'max_game_time' : {
                        'hh': '00',
                        'mm' : '10',
                        'ss' : '00'
                    },
                    'left_label' : 'Meron',
                    'right_label' : 'Wala'
                },
                p_type: '',
                loaded: false,
                payment_data: [],
                playerType: [
                    'hls',
                    'iframe',
                ],
            }
        },

        mounted() {
            this.getNumber()
        },

        methods: {

            getNumber() {
              axios.get('/api/gameCount').then(response => {
                  console.log(response);

                  this.form['game_number'] = response.data;

              }).catch(error => console.log(error))
            },

            store() {
                axios.post('/api/createGame', this.form)
                    .then(response => {

                        console.log(response);
                        window.location.href = '/game';

                    }).catch(error => console.log(error));
            },
        }
    }
</script>

<style scoped>

</style>
