<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Player Bets
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="Category Name">
                                Name
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Bet Meron
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Bet Wala
                            </vs-th>

                            <vs-th sort-key="Category Name">
                                Total Bets
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].user.name">
                                    {{ data[indextr].user.name }}
                                </vs-td>

                                <vs-td :data="data[indextr].bet_left">
                                    {{ data[indextr].bet_left }}
                                </vs-td>

                                <vs-td :data="data[indextr].bet_right">
                                    {{ data[indextr].bet_right }}
                                </vs-td>

                                <vs-td :data="data[indextr].bet_amount">
                                    {{ data[indextr].bet_amount }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "current-bets",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                passwordReset: false,
                form: {
                    'type' : 'Official',

                },
                roles: []
            }
        },

        mounted() {
            this.fetch();
            // this.fetchRoles();
        },

        methods: {

            fetch() {

                axios.get('/api/getPlayerBets')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
