<template>
    <div class="row mt-5">
        <div class="col-4 bg-danger">
            <div style="margin-left: -15px; margin-right: -15px; background-color: #d50000; padding: 5px">
                <h4 class="text-center text-white"><strong>PULA</strong></h4>
            </div>
            <div class="text-center">
                <h4 class="text-center text-white mt-1">
                    {{ this.form['left'] | decimal }}
                </h4>
                <p class="text-white">
                    PERCENT DIFFERENCE: {{ this.form['left_percent_difference'] | percentage }}
                </p>
                <p class="text-white">
                    GUARANTEED AGAINST 100: {{ this.form['left_percent_against'] | percentage }}
                </p>
                <p class="text-white">
                    WINNING ODDS: {{ this.form['left_odds'] | percentage }}
                </p>
                <p class="text-white">
                    WINNING ODDS LESS RAKE: {{ this.form['left_percent_less_rake'] | percentage }}
                </p>
            </div>
            <div class="text-center mb-2" v-if="!this.close">
                <button class="btn btn-warning btn-block" @click.prevent="matchWinner('left')"><i class="bx bx-check"></i> Pula Wins</button>
            </div>
        </div>
        <div class="col-4 bg-white ml-3">
            <div style="background-color: #E0E0E0; padding: 5px; margin-left: -15px; margin-right: -15px;">
                <h4 class="text-center" style="color: #212121">
                    <strong>PUTI</strong>
                </h4>
            </div>
            <div class="text-center">
                <h4 class="text-center mt-1" style="color: #212121">
                    {{ this.form['right'] | decimal }}
                </h4>
                <p style="color: black">
                    PERCENT DIFFERENCE: {{ this.form['right_percent_difference'] | percentage }}
                </p>
                <p style="color: black">
                    GUARANTEED AGAINST 100: {{ this.form['right_percent_against'] | percentage }}
                </p>
                <p style="color: black">
                    WINNING ODDS: {{ this.form['right_odds'] | percentage }}
                </p>
                <p style="color: black">
                    WINNING ODDS LESS RAKE: {{ this.form['right_percent_less_rake'] | percentage }}
                </p>
            </div>
            <div class="text-center mb-2" v-if="!this.close">
                <button class="btn btn-warning btn-block" @click="matchWinner('right')"><i class="bx bx-check"></i> Puti Wins</button>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center text-white">
                           {{ this.form['game_title'] }} #{{ this.form['game_number'] }}
                        </h4>
                        <form method="POST" id="transferForm" @submit.prevent="update" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="text-white">Camera Configuration</label>
                                <vs-select
                                    placeholder="Change Camera"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['camera_configuration_id']"
                                >
                                    <vs-select-item :key="1" :value="1" :text="'Camera 1'" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label class="text-white">Change Status</label>
                                <vs-select
                                    placeholder="Select Status"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['status']"
                                >
                                    <vs-select-item :key="status" :value="status" :text="status" v-for="status in statuses" />
                                </vs-select>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-success text-black-50" type="submit">Update Game Session</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center text-white">
                            Camera feed
                        </h6>
                    </div>
                </div>
            </div>
        </div>


        <template>
            <vs-popup title="Process Winner" :active.sync="win">
                <div>
                    <form id="update-user" @submit.prevent="saveWinner">
                        <h5 class="text-danger">Are you sure you want to process {{ this.winner }} winner?</h5>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Mark as Winner</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
    </div>

</template>


<script>
    import axios from "axios";
    export default {
        name: "create-game",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                win: false,
                winner: '',
                table: [],
                selected: [],
                form: {
                    'game_number' : 1,
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': 1,
                    'winner' : ''
                },
                statuses: [
                    'Pending',
                    'Open',
                    'Last Call',
                    'Closed',
                    'Completed'
                ],
                p_type: '',
                loaded: false,
                payment_data: [],
                close: false
            }
        },

        mounted() {
            this.getSession();

            // setInterval(() => {
                this.getBets()
            // }, 2500 );
        },

        methods: {

            getSession() {
                axios.get('/api/currentGameSession').then(response => {


                    this.form['id'] = response.data.id;
                    this.form['match_id'] = response.data.matches.id;
                    this.form['status'] = response.data.status;
                    this.form['camera_configuration_id'] = 1;
                    this.form['game_number'] = response.data.game_number;
                    this.form['game_title'] = response.data.game_title;
                    this.form['left'] = response.data.matches.left_bet;
                    this.form['right'] = response.data.matches.right_bet;
                    this.form['right_odds'] = response.data.matches.right_odds;
                    this.form['left_odds'] = response.data.matches.left_odds;
                    this.form['left_bet_percentage'] = response.data.matches.left_bet_percentage;
                    this.form['right_bet_percentage'] = response.data.matches.right_bet_percentage;
                    this.form['left_percent_difference'] = response.data.matches.left_percent_difference;
                    this.form['right_percent_difference'] = response.data.matches.right_percent_difference;
                    this.form['left_percent_against'] = response.data.matches.left_percent_against;
                    this.form['right_percent_against'] = response.data.matches.right_percent_against;
                    this.form['left_percent_less_rake'] = response.data.matches.left_percent_less_rake;
                    this.form['right_percent_less_rake'] = response.data.matches.right_percent_less_rake;
                    this.form['total_bet'] = response.data.matches.total_bet;
                    this.form['total_rake'] = response.data.matches.total_rake;
                    this.form['net_payout'] = response.data.matches.net_payout;

                }).catch(error => console.log(error))
            },

            getBets() {
                axios.get('/api/currentGameSession').then(response => {
                    console.log(response);


                    this.form['left'] = response.data.matches.left_bet;
                    this.form['right'] = response.data.matches.right_bet;

                }).catch(error => console.log(error))
            },

            update() {
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.getSession();
                        document.dispatchEvent(new CustomEvent('refreshSession'));


                    }).catch(error => console.log(error));
            },

            matchWinner(winner) {

                this.win = true;
                this.winner = winner;
            },

            saveWinner(){
                this.form['winner'] = this.winner;

                axios.patch('/api/matchWinner/' + this.form['match_id'], this.form)
                    .then(response => {
                        console.log(response);

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.getSession();
                        this.win = false;
                        // this.close = true;

                    }).catch(error => console.log(error));
            },
        }
    }
</script>

<style scoped>

</style>
