<template>
    <div style="margin-top:-45px;">
        <div v-if="this.form['id'] !== ''">
            <div class="row">
                <div class="col-md-3 p-1">
                    <div class="card">
                        <div class="card-header p-1" style="background:#5543FF;color:white;">
                            <div class="card-title" style="font-size:14px;font-weight:400;"><i class="fa fa-align-justify"></i> CURRENT BETS</div>
                        </div>
                        <div class="card-body p-0">
                            <div>
                                <div>
                                    <table class="table table-striped table-bordered" style="margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <th class="bg-gray-800 text-dark text-center">SIDE</th>
                                                <th class="bg-gray-800 text-dark text-center">BETS</th>
                                                <th class="bg-gray-800 text-dark text-center">ODDS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="wala-bg text-center">MERON</th>
                                                <td><strong>{{ this.bet['left'] | numeric }}</strong></td>
                                                <td class="text-danger"><strong v-if="this.bet['left']">{{ this.bet['left_odds'] | percentage }}</strong><strong v-else>0</strong></td>
                                               
                                            </tr> 
                                            <tr>
                                                <th class="meron-bg text-center">WALA</th>
                                                <td><strong>{{ this.bet['right'] | numeric }}</strong></td>
                                                <td class="text-danger"><strong v-if="this.bet['right']">{{ this.bet['right_odds'] | percentage }}</strong><strong v-else>0</strong></td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="meron-bg text-center">DRAW</th>
                                                <td><strong>{{ this.bet['middle'] | numeric}}</strong></td>
                                                <td class="text-danger"></td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="draw-bg text-center">Bet Count</th>
                                                <td colspan="3" class="text-danger text-center">
                                                    <span style="font-size:16px;">{{this.bet['right_count'] + this.bet['left_count'] + this.bet['middle_count']}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="draw-bg text-center">Winner</th>
                                                <td colspan="3" class="text-danger text-center blink-text">
                                                    <span style="font-size:16px;">{{ this.bet['winner_left']  }}{{ this.bet['winner_right'] }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-1" style="background:#5543FF;color:white;">
                            <div class="card-title" style="font-size:14px;font-weight:400;"><i class="fa fa-align-justify"></i> RESULTS</div>
                        </div>
                        <div class="card-body p-0 scrollable">
                            <table class="table table-bordered table-striped" style="width:100%;">
                                <tbody>
                                    <tr class="meron-bg">
                                        <th scope="row">MERON:</th>
                                        <th scope="row" colspan="2"><span id="meronTotal">{{ w_meron }}</span></th>
                                    </tr>
                                    <tr class="wala-bg">
                                        <th scope="row">WALA:</th>
                                        <th scope="row" colspan="2"><span id="walaTotal">{{ w_wala }}</span></th>
                                    </tr>
                                    <tr class="draw-bg">
                                        <th scope="row">DRAW:</th>
                                        <th scope="row" colspan="2"><span id="drawTotal">{{ w_draw }}</span></th>
                                    </tr>
                                    <tr class="cancelled-bg">
                                        <th scope="row">CANCELLED:</th>
                                        <th scope="row" colspan="2"><span id="cancelledTotal">{{ w_cancel }}</span></th>
                                    </tr>
                                    <tr style="background:rgb(47,53,58);">
                                        <th class="bg-gray-800 text-white">Fight #</th>
                                        <th class="bg-gray-800 text-white">Winner</th>
                                        <th class="bg-gray-800 text-white">Odds</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr v-for="(data,index) in trends" :key="index">
                                        <td v-if="trends[index].game_number != form['game_number']">{{trends[index].game_number}}</td>
                                        <td v-if="trends[index].game_number != form['game_number']">
                                            <div v-if="trends[index].matches.left_win">MERON</div>
                                            <div v-if="trends[index].matches.middle_win">DRAW</div>
                                            <div v-if="trends[index].matches.right_win">WALA</div>
                                            <div v-if="!trends[index].matches.left_win
                                            && !trends[index].matches.middle_win
                                            && !trends[index].matches.right_win">CANCELLED</div>
                                        </td>
                                        <td v-if="trends[index].game_number != form['game_number']">
                                            <div v-if="trends[index].matches.left_win">{{parseFloat(parseFloat(trends[index].matches.left_odds) * 100).toFixed(2)}}%</div>
                                            <div v-if="trends[index].matches.middle_win">0</div>
                                            <div v-if="trends[index].matches.right_win">{{parseFloat(parseFloat(trends[index].matches.right_odds) * 100).toFixed(2)}}%</div>
                                            <div v-if="!trends[index].matches.left_win
                                            && !trends[index].matches.middle_win
                                            && !trends[index].matches.right_win">0</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class='col-md-5 p-1'>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                Live Broadcast
                            </div>
                            <div class="float-right">
                                <vs-switch color="danger" v-model="broadcast" @click="broadcastSession()" vs-value="false">
                                    Broadcast
                                </vs-switch>
                            </div>
                        </div>
                        <div class='card-body'>
                            <div>
                                <div class="embed-responsive embed-responsive-16by9" v-if="player_type == 'iframe'">
                                    <iframe                                 
                                    class="embed-responsive-item" frameborder="0" :src="form['camera_url']" title="W3Schools Free Online Web Tutorials"></iframe>
                                </div>
                                <v-clappr
                                    el="player"
                                    refs="clappr_player"
                                    v-if="player_type == 'hls'"
                                    :source="source"
                                    :options="options"
                                    @init="oninit"
                                    @ready="onready"
                                    @play="onplay"
                                    @pause="onpause"
                                    @stop="onstop"
                                    @ended="onended"
                                    @fullscreen="onfullscreen"
                                    @resize="onresize"
                                    @seek="onseek"
                                    @timeupdate="ontimeupdate"
                                    @volumeupdate="onvolumeupdate"
                                    @error="onerror"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="marquee mt-1 bg-danger">
                                        <span class="text-white" v-if="show_maquee">{{ announcement_content['content'] }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-1">
                                    <button class="btn btn-primary btn-block" @click="announcement = true">Make Announcement</button>
                                </div>
                                <div class="col-sm-6 p-1">
                                    <button class="btn btn-primary btn-block" @click="clearAnnouncement = true">Clear Announcement</button>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                <div class="card-content">
                                                    <div class="col-md-12 mb-1">
                                                        <h5 class="text-center text-dark" style="text-transform: uppercase">Fight Trend</h5>
                                                    </div>
                                                    <div class="">
                                                        <div v-if="trends.length">
                                                            <table id="go_trend_table" class="trends_go table-sm no-padding table-responsive" style="overflow: auto !important;">
                                                                <tbody v-html="trend_html">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div v-else>
                                                            <h5 class="text-center text-dark mt-2">No Trends Available</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-1">
                    <div class="card">
                        <div class="card-header p-1" style="background:#5543FF;color:white;">
                            <div class="card-title" style="font-size:14px;font-weight:400;"><i class="fa fa-align-justify"></i> Fight Information</div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped table-bordered mb-0 p-0">
                                <tbody>
                                    <tr class="text-center">
                                        <td colspan="2">
                                            <strong>GAME TITLE</strong><br>
                                            {{this.form['game_title']}}
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td><strong>Fight #</strong></td>
                                        <td><strong>BETTING</strong></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>{{this.form['game_number']}}</td>
                                        <td>5</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td><strong>STATUS</strong></td>
                                        <td><strong>WINNER</strong></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="blink-text text-danger">{{ this.form['status'] | capitalize }}</td>
                                        <td class="text-danger text-center blink-text">{{ this.bet['winner_left']  }}{{ this.bet['winner_right'] }}</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td><strong>{{this.form['game_number']}}</strong></td>
                                        <td>
                                            <vs-button type="button" :disabled="this.form['status'] != 'Draw' && this.form['status'] != 'Completed' && this.form['status'] != 'Cancelled'" class="btn btn-block btn-info" @click="newGame">NEXT FIGHT</vs-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <vs-button :disabled="this.form['status'] != ''" type="filled" class="btn btn-block" href="/game/create">Start / Edit Day</vs-button>
                                        </td>
                                        <td>
                                            <vs-button :disabled="this.form['status'] != 'Pending'" text-color="#fff" color="warning" type="filled" class="btn btn-block" @click="skipMethod">SKIP GAME NUMBER</vs-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <td><vs-button :disabled="this.form['status'] != 'Pending' && this.form['status'] != 'Closed'" text-color="#fff" color="success" type="filled" class="btn btn-block" @click="openBetting = true">Open</vs-button></td>
                                        <td><vs-button :disabled="this.form['status'] !='Open' && this.form['status'] != 'Last Call'" type="button" class="btn btn-block btn-danger" @click="forceClosePopup = true">Close</vs-button></td>
                                    </tr>
                                    <tr>
                                        <td><vs-button :disabled="this.form['status'] != 'Open'" @click="lastCall" type="filled" text-color="#fff" color="warning" class="btn btn-block">Last Call</vs-button> </td>
                                        <td><vs-button @click="redeclaration" type="filled" text-color="#fff" class="btn btn-block">Redeclaration</vs-button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center p-1">
                                <strong>Declaration Controller</strong>
                            </div>
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <td><vs-button :disabled="this.form['status'] != 'Closed'" text-color="#fff" color="danger" type="filled" class="btn btn-block" @click.prevent="matchWinner('left')">MERON</vs-button></td>
                                        <td><vs-button :disabled="this.form['status'] != 'Closed'" text-color="#fff" color="primary" type="filled" class="btn btn-block" @click.prevent="matchWinner('right')">WALA</vs-button></td>
                                    </tr>
                                    <tr>
                                        <td><vs-button :disabled="this.form['status'] != 'Closed'" text-color="#fff" color="success" type="filled" class="btn btn-block" @click="ShowdrawPopup">DRAW</vs-button></td>
                                        <td><vs-button :disabled="this.form['status'] != 'Closed'" text-color="#fff" color="#9A9DA2" type="filled" class="btn btn-block" @click="cancelPopupMethod">CANCEL</vs-button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <template>
                <vs-popup title="Make Announcement" :active.sync="announcement">
                    <div>
                        <form @submit.prevent="">
                            <div class="form-group">
                                <label>Announcement</label>
                                <textarea class="form-control" rows="4" v-model="announcement_content['content']"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="saveAnnouncement">Make Announcement</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Skip Game Number" :active.sync="skipPopup">
                    <div>
                        <form @submit.prevent="">
                            <div class="form-group">
                                <label>Current Game Number right now is : "{{ form['game_number']}}"</label>
                                <input type="number" v-model="skipGameNumber" placeholder="Enter number you want to go to..." class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="update">Submit</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Open Betting" :active.sync="openBetting">
                    <div>
                        <form @submit.prevent="">
                            <input type="hidden" v-model="form['status']" value="Open" />
                            <p>Are you sure you want to open the betting for this fight?</p>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="open">Open Betting</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Draw Fight" :active.sync="drawPopup">
                    <div>
                        <form @submit.prevent="">
                            <input type="hidden" v-model="form['status']" value="Open" />
                            <p>Are you sure you want to mark this fight as draw?</p>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="drawGame">Mark as Draw</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Process Winner" :active.sync="win">
                    <div>
                        <form id="update-user" @submit.prevent="saveWinner">
                            <h5 :class="this.winner === 'left' ? 'text-danger' : 'text-warning'">ARE YOU SURE {{ this.winner === 'left' ? 'MERON' : 'WALA' }} ?</h5>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Mark as Winner</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="End Day" :active.sync="endDayPopup">
                    <div>
                        <form @submit.prevent="endDay">
                            <h5 class="text-danger">Are you sure you want to end day?</h5>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">End Day</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Cancel Current Game" :active.sync="cancelPopup">
                    <div>
                        <form @submit.prevent="cancelGame">
                            <h5 class="text-danger">Are you sure you want to cancel current game?</h5>
                            <div class="form-group">
                                <div class='col-md-12'>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-block" type="submit">Yes</button>
                                        </div>    
                                        <div class="col-md-6">
                                            <button class="btn btn-danger btn-block" type="button" @click="cancelPopup = false">No</button>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Clear Announcement" :active.sync="clearAnnouncement">
                    <div>
                        <h5 class="text-danger text-center">Announcement showed in player will be cleared?</h5>
                        <div class="form-group">
                            <div class="col-md-6" style="float:left">
                                <button class="btn btn-success btn-block" type="button" @click="removeAnnouncement">Yes</button>
                            </div>
                            <div class="col-md-6" style="float:left">
                                <button class="btn btn-danger btn-block" type="button" @click="clearAnnouncement = false">No</button>
                            </div>
                        </div>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Close Current Game" :active.sync="forceClosePopup">
                    <div>
                        <form @submit.prevent="forceClose">
                            <h5 class="text-danger">Are you sure you want to force close current betting?</h5>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button class="btn btn-success btn-block" type="submit">Yes</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-block" type="button" @click="forceClosePopup = false">No</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Redeclaration Previous Matches" :active.sync="redeclarationPopup">
                    <div>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class='text-center'>Game #</th>
                                    <th class='text-center'>Declared Winner</th>
                                    <th class='text-center'>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row,index) in redeclarationTable" :key="index">
                                    <td>{{ redeclarationTable[index].game_number }}</td>
                                    <td v-if="redeclarationTable[index].matches.match_status != 'Completed'">{{ redeclarationTable[index].status }}</td>
                                    <td v-else>
                                        <div v-if="redeclarationTable[index].matches.right_win === 1">Wala</div>
                                        <div v-if="redeclarationTable[index].matches.middle_win === 1">Draw</div>
                                        <div v-if="redeclarationTable[index].matches.left_win === 1">Meron</div>
                                        <div v-if="!redeclarationTable[index].matches.right_win
                                        && !redeclarationTable[index].matches.middle_win
                                        && !redeclarationTable[index].matches.left_win">Cancelled</div>
                                    </td>
                                    <td class="text-center">
                                        <div v-if="!redeclarationTable[index].redeclared">
                                            <div v-if="redeclarationTable[index].status == 'Completed'">
                                                <div v-if="redeclarationTable[index].bets.length > 0">
                                                    <vs-button v-if='redeclarationTable[index].matches.right_win' class="btn-sm vs-button-danger"
                                                    @click="ConfirmRevertDeclaration(row,'left')">
                                                        Meron
                                                    </vs-button>
                                                    <vs-button v-if='redeclarationTable[index].matches.left_win' class="btn-sm btn-primary"
                                                        @click="ConfirmRevertDeclaration(row,'right')">
                                                        Wala
                                                    </vs-button>
                                                    <vs-button v-if='!redeclarationTable[index].matches.middle_win' class="btn-sm btn-success"
                                                        color="success"
                                                        @click="ConfirmRevertDeclaration(row,'middle')">
                                                        Draw
                                                    </vs-button>
                                                    <vs-button v-if='redeclarationTable[index].matches.middle_win
                                                    || redeclarationTable[index].matches.left_win
                                                    || redeclarationTable[index].matches.right_win' class="btn-sm button-secondary"
                                                        @click="ConfirmRevertDeclaration(row,'cancel')">
                                                        Cancel
                                                    </vs-button>
                                                </div>
                                                <div v-else>
                                                    No Placed Bet Found !
                                                </div>
                                            </div>
                                            <div v-else>
                                                <vs-button class="btn-sm vs-button-danger"
                                                    @click="ConfirmRevertDeclaration(row,'left')">
                                                    Meron
                                                </vs-button>
                                                <vs-button class="btn-sm btn-primary"
                                                    @click="ConfirmRevertDeclaration(row,'right')">
                                                    Wala
                                                </vs-button>
                                                <vs-button class="btn-sm btn-success"
                                                    v-if="!redeclarationTable[index].matches.middle_win"
                                                    color="success"
                                                    @click="ConfirmRevertDeclaration(row,'middle')">
                                                    Draw
                                                </vs-button>
                                                <vs-button v-if='redeclarationTable[index].matches.middle_win' class="btn-sm button-secondary"
                                                    @click="ConfirmRevertDeclaration(row,'cancel')">
                                                    Cancel
                                                </vs-button>
                                            </div>
                                        </div> 
                                        <div v-else>
                                            'Cannot Redeclared Anymore'
                                        </div>

                                    </td>                                    
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Redeclaration Previous Matches" :active.sync="redeclarationPopupConfirmation">
                    <h4>Your selected Game number is {{ redeclarationSelected.game_number }}</h4>
                    <h4 v-if="this.redeclarationDeclared == 'Meron' || this.redeclarationDeclared == 'Wala'">
                        Declared winner in this Game is {{ this.redeclarationDeclared }}
                    </h4>
                    <div v-else>
                        <h4>
                            Declared Status in this game is <strong> {{ this.redeclarationDeclared }} </strong>
                        </h4>
                        <h4>
                            Are you sure you want to redeclare winner as 
                            <strong>
                                {{ (this.redeclarationWinner == 'right') ? 'Wala?':''  }}
                                {{ (this.redeclarationWinner == 'left') ? 'Meron?':''  }}
                                {{ (this.redeclarationWinner == 'middle') ? 'Draw?':''  }}
                            </strong>
                        </h4>
                    </div> 
                    <h5>Please Type <strong style="color:blue;">Confirm</strong> To execute the revert declaration</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="confirm" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block" @click="processRevertDeclaration" >Execute Revert Declaration</button>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Process Winner" :active.sync="upload">
                    <div>
                        <form enctype="multipart/form-data" @submit.prevent="uploadImage">
                            <div class="form-group">
                                <input type="file" class="form-control" v-on:change="onFileChange" name="attachment" required />

                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Upload Image</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
        </div>
        <div v-else>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-dark">PLEASE CREATE A GAME SESSION FIRST</h3>
                    <vs-button type="relief" style="color: white !important;" href="/game/create">Create Game Session</vs-button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from "axios";
    import $ from 'jquery';
    import vueAwesomeCountdown from 'vue-awesome-countdown'
    import VClappr from "v-clappr";
    export default {
        name: "game-interface",
        components: {
            VClappr
        },
        data() {
            return {
                trends: [],
                trend_html:'',
                trend_array:[],
                output:[],
                source:'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4',
                options: {
                    poster:
                        "https://truepic.net/wp-content/uploads/2020/04/Image-Thailand-Hot-Model-Nisa-Khamarat-Bikini-For-Songkran-Festival-TruePic.net_.jpg",
                    mute: false,
                    autoplay: false,
                    loop: false,
                    disable_keyboard_shortcuts: false,
                    disable_context_menu: true,
                    mediacontrol: { seekbar: "#E113D3", buttons: "#66B2FF" },
                    ga: {},
                    watermark: {}
                },
                show_maquee:false,
                w_wala:0,
                w_meron:0,
                w_draw:0,
                w_cancel:0,
                localclappr: null,
                player_type:'',
                disableNewGame: false,
                airSwitch: true,
                clearAnnouncement:false,
                autoPlay: false,
                announcement: false,
                openBetting: false,
                gameDay: false,
                drawPopup: false,
                edit: false,
                remove: false,
                create: false,
                win: false,
                skipPopup:false,
                playing: false,
                playStop: false,
                cancelPopup: false,
                forceClosePopup: false,
                winner: '',
                announcement_content: {},
                table: [],
                selected: [],
                betting: {
                    'betting_timer_color': 'white'
                },
                imgForm: {
                    'img_base' : ''
                },
                form: {
                    'id' : '',
                    'game_number' : '',
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': '',
                    'winner' : '',
                    'created_at' : '',
                    'camera_url':'',
                    'expected_games' : '',
                    'betting_timer' : [],
                    'game_timer' : [],
                    'last_call_timer' : [],
                    'game_timer_run' : '',
                    'betting_timer_run' : '',
                    'last_call_timer_run' : '',
                    'screensaver_id' : '',
                    'broadcast': ''
                },
                bet: {
                    'left': 0,
                    'right' : 0,
                    'left_odds' : 0,
                    'right_odds' : 0,
                    'left_count':0,
                    'middle_count':0,
                    'right_count':0,
                    'bets' : [],
                    'winner_left' : '',
                    'winner_right' : ''
                },
                statuses: [
                    'Pending',
                    'Open',
                    'Last Call',
                    'Closed',
                    'Completed'
                ],
                skipGameNumber: '',
                p_type: '',
                loaded: false,
                payment_data: [],
                close: false,
                upload: false,
                screensavers: [],
                selectedScreenSaver: '',
                broadcast: true,
                endDayPopup: false,
                reload_camera:true,
                redeclarationPopup:false,
                redeclarationTable:[],
                redeclarationSelected:{},
                redeclarationDeclared:'',
                redeclarationWinner:'',
                confirm:'',
                history_table:[],
                redeclarationPopupConfirmation:false,
            }
        },
        created() {
            this.getTrends();
            this.getSession();
            window.addEventListener("resize", this.myEventHandler);
            setTimeout(() =>{
                this.getScreenSaver();
            }, 2000);
            Pusher.logToConsole = false;
            let pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });
            let channel = pusher.subscribe('my-alpha');
            channel.bind('placebet-event', (response) => {
                console.log(response)
                this.bet['right'] = response.data.matches['right_bet'];
                this.bet['left'] = response.data.matches['left_bet'];
                this.bet['middle'] = response.data.matches['middle_bet'];
                this.bet['left_count'] = response.data.matches['left_count'];
                this.bet['right_count'] = response.data.matches['right_count'];
                this.bet['middle_count'] = response.data.matches['middle_count'];
                if(this.bet['right']){
                    this.bet['right_odds'] = response.data.matches['right_percent_less_rake'];
                }
                if(this.bet['left']){
                    this.bet['left_odds'] = response.data.matches['left_percent_less_rake'];
                }
                if(!response.data.matches['left_bet'] && !response.data.matches['right_bet'] && !response.data.matches['middle_bet']){
                    // this.playerBet['bet_name'] = 'None';
                    this.bet['left'] = 0;
                    this.bet['middle'] = 0;
                    this.bet['right'] = 0;
                    this.bet['right_count'] = 0;
                    this.bet['left_count'] = 0;
                    this.bet['middle_count'] = 0;
                }
            });
            channel.bind('announcement-event', (data) => {
                this.show_maquee = true;
            });
            channel.bind('announcement-clear', (data) => {
                this.show_maquee = false;
            });
            channel.bind('game-event', (data) => {
                setTimeout(() => {
                    this.getSession()
                }, 1500);
            });
        },
        methods: {
            myEventHandler(e){
                var aspectRatio = 9/16;
                var newWidth = document.getElementById('player').parentElement.offsetWidth;
                var newHeight = 2 * Math.round(newWidth * aspectRatio/2);
                this.localclappr.resize({width: newWidth, height: newHeight});
            },
            skipMethod(){
                if(this.form['status'] == 'Closed'){
                    this.$vs.notify({
                        'text' : 'Invalid Game status should be closed before you Skip the current game number !',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return
                }
                this.skipPopup = true;
            },
            oninit(clappr) {
                var aspectRatio = 9/16;
                var newWidth = document.getElementById('player').parentElement.offsetWidth;
                var newHeight = 2 * Math.round(newWidth * aspectRatio/2);
                clappr.resize({width: newWidth, height: newHeight});
                this.localclappr = clappr;
            },
            onready(event) {
            console.log("inside hook: onready", event);
            },
            onplay(event) {
            console.log("inside hook: onplay", event);
            },
            onpause(event) {
            console.log("inside hook: onpause", event);
            },
            onstop(event) {
            console.log("inside hook: onstop", event);
            },
            onended(event) {
            console.log("inside hook: onended", event);
            },
            onfullscreen(isBool) {
            console.log("player fullscreen?", isBool);
            },
            onresize(resize) {            
            console.log("Resized object", resize);
            },
            onseek(time) {
            console.log("on seek, time in seconds:", time);
            },
            ontimeupdate(progress) {
            // console.log("Progress of played video:", progress);
            },
            onvolumeupdate(volume) {
            console.log("Volume updated, current volume:", volume);
            },
            onerror(e) {
            console.log("le error:", e);
            },
            cancelPopupMethod(){
                if(this.form['status'] != 'Closed'){
                    this.$vs.notify({
                        'text' : 'Invalid Game status should be closed before you cancel the fight !',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return
                }
                this.cancelPopup = true;
            },
            // gamehistory(){
            //     axios.get('/api/gamehistory/'+this.form['game_session_id'])
            //     .then(response => {
            //         this.history_table = [...response.data];
            //         this.getTrends();
            //     })
            //     .catch(error => console.log(error))
            // },
            trend_table(){
                this.output.reverse();
                for( let i = 0 ; i < this.output.length; i++){
                    if(this.output[i].length < 2){
                        let s_val = this.output[i][0].toString();
                        let s_index = s_val.substring(0,1);
                        if( s_index == 3){
                            this.w_draw += 1;
                            $('.trends_go td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                     <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #28a745;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                </div>`);
                        }else if(s_index == 4){
                            this.w_cancel += 1;
                            $('.trends_go td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #9a9da2;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                </div>`);
                        }
                        else if(s_index == 2){
                            this.w_wala += 1;
                            $('.trends_go td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <span class="dot" 
                                        style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #0B4592;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                    </div>`);
                        }else if(s_index== 1){
                            this.w_meron += 1;
                            $('.trends_go td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                         <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #B31013;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                    </div>`);
                        }
                        $('.trends_go td:eq('+i+').trends').addClass('trends_border');
                    }else{
                        if(this.output.length > 0){
                            this.output[i].reverse();
                        }
                        for(let x =0; x < this.output[i].length; x++){
                            let result = this.output[i][x].toString();
                            let s_con = result.substring(0,1);
                            if( s_con == 3){
                                this.w_draw += 1;
                            $('.trends_go tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #28a745;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                </div>`);
                            }else if(s_con == 4){
                                this.w_cancel += 1;
                                $('.trends_go tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                   <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #9a9da2;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                </div>`);
                            }
                            else if(s_con == 2){
                                this.w_wala += 1;
                                $('.trends_go tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                           <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #0B4592;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                        </div>`);
                            }else if(s_con == 1){
                                this.w_meron += 1;
                                $('.trends_go tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                           <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #B31013;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                        </div>`);
                            }
                            $('.trends_go tr:eq('+x+') td:eq('+i+').trends').addClass('trends_border');
                        }
                    }
                }
                var element = document.getElementById("go_trend_table");
                element.scrollLeft = element.scrollWidth;
            },
            getTrends(){
                this.output =[];
                this.trend_array = [];
                this.trend_html = '';
                axios.get('/api/getTrends')
                .then(response => {                
                    let g = '';
                    this.trends = [...response.data];
                    //this.trend_array = [2,2,1,1,2,1,1,1,2,2,3,3]
                    /*
                    transform into = [[2,2],[1,1],[2],[1,1,1],[2,2],[3,3]]
                    */
                    for(let i =0; i < response.data.length; i++){
                        // console.log(parseInt(response.data[i].game_number))
                        if(response.data[i].matches.middle_win == 1){
                            this.trend_array.push(3+ response.data[i].game_number)
                        }else if(response.data[i].status == 'Cancelled'){
                            this.trend_array.push(4+ response.data[i].game_number)
                        }
                        else{
                            if(response.data[i].matches.left_win == 1){
                            this.trend_array.push(1+ response.data[i].game_number)
                            }else if(response.data[i].matches.right_win == 1){
                                this.trend_array.push(2+ response.data[i].game_number)
                            }
                        }
                    }
                    let key = null;
                    for(let x = 0; x < this.trend_array.length; x++){
                        if(x == 0){
                            this.output.push([this.trend_array[x]])
                        }else{
                            let val = this.trend_array[x].toString();
                            let get = val.substring(0,1);
                            // console.log(this.trend_array[x])
                            if(get == this.trend_array[x - 1].toString().substring(0,1)){
                                for(let j = 0 ; j < this.output.length; j ++){
                                    j
                                    if(j == this.output.length - 1){
                                        key = j;
                                        this.output[key].push(this.trend_array[x])
                                    }
                                }
                            }else{
                                this.output.push([this.trend_array[x]])
                            }

                        }
                    }
                    var longest = this.output.reduce(function (a, b) { return a.length > b.length ? a : b; });
                    // console.log(longest)
                    for(let x =0 ;x< longest.length ;x++){
                        g += '<tr>';
                        for(let i = 0; i < this.output.length; i++){
                            g += '<td class="trends"></td>';
                        }
                        g += '</tr>';
                    }
                    this.trend_html = g;
                    setTimeout(() => {
                    this.trend_table();
                    }, 1500);
                })
                .catch(error => console.log(error))
            },
            ConfirmRevertDeclaration(game_data,type){
                this.redeclarationPopup = false;
                this.redeclarationPopupConfirmation = true;
                if(game_data.matches.right_win){
                    this.redeclarationWinner = false;
                    this.redeclarationDeclared = 'Wala'
                }else if(game_data.matches.left_win){
                    this.redeclarationWinner = false;
                    this.redeclarationDeclared = 'Meron';
                }else{
                    this.redeclarationDeclared = game_data.status
                    this.redeclarationWinner = type;
                }
                this.redeclarationWinner = type;
                this.redeclarationSelected = game_data;
            },
            processRevertDeclaration(){
                console.log(this.redeclarationWinner)
                if(this.confirm !== 'Confirm'){
                    this.$vs.notify({
                        'text' : 'Invalid Confirmation please Type "Confirm" carefully',
                        'color' : 'warning',
                        'position' : 'top-right'
                    });
                    this.confirm = '';
                    return;
                }
                this.confirm = '';
                this.redeclarationPopupConfirmation = false;
                if(this.redeclarationWinner == 'left' || this.redeclarationWinner == 'right' || this.redeclarationWinner == 'middle' || this.redeclarationWinner == 'cancel'){
                    this.redeclaredwinner();
                    return
                }
                console.log('skipped')
                // axios.patch('/api/processRevertDeclaration',this.redeclarationSelected)
                // .then(response => {
                //     this.$vs.notify({
                //         'text' : response.data.message,
                //         'color' : response.data.type,
                //         'position' : 'top-right'
                //     });
                //     this.getTrends();
                // }).catch(error => console.log(error));
                

            },
            redeclaredwinner(){
                this.$vs.loading();
                this.form['winner'] = this.redeclarationWinner;
                this.form['game_number'] = this.redeclarationSelected.game_number;
                this.redeclarationPopup = false;
                axios.patch('/api/RedeclareMatchWinner/' + this.redeclarationSelected.id, this.form)
                    .then(response => {
                        this.disableNewGame = false;
                        this.win = false;
                        this.stopTimer()
                        this.getTrends();
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },
            redeclaration(){
                this.redeclarationTable = [];
                this.redeclarationPopup = true;
                axios.get('/api/GetPreviousMatch/'+this.form['game_session_id'])
                .then(response => {                    
                    this.redeclarationTable = [...response.data];
                }).catch(error => console.log(error));
            },
            removeAnnouncement(){
                this.clearAnnouncement = false;
                axios.post('/api/removeAnnouncement', this.announcement_content)
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                }).catch(error => console.log(error));
            },
            saveAnnouncement() {
                this.$vs.loading()
                this.show_maquee = true;
                axios.post('/api/makeAnnouncement', this.announcement_content)
                    .then(response => {
                        this.announcement = false;
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            uploadImage() {
                this.$vs.loading()

                this.imgForm['game_session_id'] = this.form['game_session_id'];
                this.imgForm['game_id'] = this.form['id'];

                axios.post('/api/uploadScreenSaver', this.imgForm)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.getScreenSaver();
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            broadcastSession() {
                this.$vs.loading()
                if(this.broadcast){
                    this.form['broadcast'] = 0;
                }else{
                    this.form['broadcast'] = 1;
                }
                axios.patch('/api/updateBroadcast/' + this.form['game_session_id'], this.form)
                    .then(response => {
                        this.$vs.loading.close();
                    }).catch(error => console.log(error));
            },

            getSession() {
                axios.get('/api/currentGameSession').then(response => {
                    this.player_type = response.data.session.player_type;
                    if(this.reload_camera){
                        if(this.player_type == 'hls'){
                            setTimeout(() => {
                                this.localclappr.configure({source: response.data.session.source_1});
                            }, 200);
                        }
                        this.form['camera_url'] = response.data.session.camera_url;
                    }
                    this.broadcast = response.data.session.session_live;
                    this.form['id'] = response.data.id;
                    this.form['match_id'] = response.data.matches.id;
                    this.form['status'] = response.data.status;
                    this.form['camera_configuration_id'] = 1;
                    this.form['game_number'] = response.data.game_number;
                    this.form['game_title'] = response.data.game_title;
                    this.bet['left'] = response.data.matches.left_bet;
                    this.bet['right'] = response.data.matches.right_bet;
                    this.bet['middle'] = response.data.matches.middle_bet;
                    this.bet['left_count'] = response.data.matches.left_count;
                    this.bet['right_count'] = response.data.matches.right_count;
                    this.bet['middle_count'] = response.data.matches.middle_count;
                    this.bet['right_odds'] = response.data.matches.right_odds || 0;
                    this.bet['left_odds'] = response.data.matches.left_odds || 0;
                    this.bet['bets'] = response.data.bets;
                    this.form['left_bet_percentage'] = response.data.matches.left_bet_percentage;
                    this.form['right_bet_percentage'] = response.data.matches.right_bet_percentage;
                    this.form['left_percent_difference'] = response.data.matches.left_percent_difference;
                    this.form['right_percent_difference'] = response.data.matches.right_percent_difference;
                    this.form['left_percent_against'] = response.data.matches.left_percent_against;
                    this.form['right_percent_against'] = response.data.matches.right_percent_against;
                    this.form['left_percent_less_rake'] = response.data.matches.left_percent_less_rake;
                    this.form['right_percent_less_rake'] = response.data.matches.right_percent_less_rake;
                    this.form['total_bet'] = response.data.matches.total_bet;
                    this.form['total_rake'] = response.data.matches.total_rake;
                    this.form['net_payout'] = response.data.matches.net_payout;
                    this.form['created_at'] = response.data.created_at;
                    this.form['expected_games'] = response.data.session.expected_game_number;
                    this.form['betting_timer'] = response.data.session.max_betting_time;
                    this.form['last_call_timer'] = response.data.session.last_call;
                    this.form['game_timer'] = response.data.session.max_game_time;
                    this.form['game_session_id'] = response.data.session.id;
                    this.bet['winner_left'] = response.data.matches.left_win === 1 ? 'Meron' : '';
                    this.bet['winner_right'] = response.data.matches.right_win === 1 ? 'Wala' : '';
                    this.selectedScreenSaver = response.data.session.screensaver_id;
                    // this.gamehistory();
                    this.$vs.loading.close();
                    
                }).catch(error => console.log(error))
            },

            secondsTimeSpanToHMS(s) {

                let h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                let m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds

            },

            cancelGame() {
                this.reload_camera = false;
                this.$vs.loading()

                this.stopTimer();
                this.form['status'] = 'Cancelled';
                axios.patch('/api/cancelGame/' + this.form['id'], this.form)
                    .then(response => {
                        this.cancelPopup = false;
                        this.getTrends();
                        this.disableNewGame = false;
                        this.openBetting = false;
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            drawGame() {                
                this.reload_camera = false;
                this.$vs.loading()

                this.stopTimer();
                this.form['status'] = 'Draw';
                axios.patch('/api/cancelGame/' + this.form['id'], this.form)
                    .then(response => {
                        this.disableNewGame = false;
                        this.openBetting = false;
                        this.drawPopup = false;
                        this.getTrends();
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            selectScreenSaver(id){
                this.$vs.loading()

                this.form['screensaver_id'] = id;
                axios.patch('/api/updateGameSession/' + this.form['game_session_id'], this.form)
                    .then(response => {
                        this.selectedScreenSaver = id;
                        this.getScreenSaver();
                        this.$vs.loading.close();
                    }).catch(error => console.log(error));
            },

            open() {
                this.$vs.loading()
                this.form['status'] = 'Open';
                this.playStop = false;
                this.disableNewGame = true;
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {
                        this.openBetting = false;
                        let b = this.form['betting_timer'];
                        let c = this.form['last_call_timer'];
                        let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                        let lastCallTime = (+c['hh']) * 60 * 60 + (+c['mm']) * 60 + (+c['ss']);
                        let vm = this;
                        // setTimeout(() => {
                        //     this.$vs.loading.close();
                        // }, 1000);
                        let bettingTimer = setInterval( () => {

                            bettingTime--;
                            this.form['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);


                            if (bettingTime === lastCallTime){
                                // vm.lastCall();
                                // this.betting['betting_timer_color'] = 'red';
                            }

                            if (bettingTime === 0){
                                clearInterval(bettingTimer);
                                // vm.forceClose();
                                if (this.autoPlay){
                                    this.startTimer();
                                }
                            }

                            if (this.playStop){
                                this.disableNewGame = false;
                                clearInterval(bettingTimer);
                            }
                        }, 1000 );
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                    }).catch(error => console.log(error));
            },

            update() {                
                console.log(this.skipGameNumber)
                console.log(this.form['game_number'])
                if(parseInt(this.skipGameNumber) <= parseInt(this.form['game_number'])){
                    this.$vs.notify({
                        'text' : 'Invalid input skip number should be greater than current game number',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return;
                }
                this.skipPopup = false;
                this.$vs.loading()
                this.form['game_number'] = this.skipGameNumber;
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {
                        document.dispatchEvent(new CustomEvent('refreshSession'));
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            stopTimer() {
                this.betting_timer = '';
                this.game_timer = '';
                this.playStop = true;
                this.playing = false;
                this.disableNewGame = false;

            },
            ShowdrawPopup(){
                if(this.form['status'] != 'Closed'){
                    this.$vs.notify({
                        'text' : 'Game should be closed before you declare a Draw',
                        'color' : 'warning',
                        'position' : 'top-right'
                    });
                    return;
                }
                this.drawPopup = true;
            },
            matchWinner(winner) {
                if(this.form['status'] != 'Closed'){
                    this.$vs.notify({
                        'text' : 'Game should be closed before you declare a winner',
                        'color' : 'warning',
                        'position' : 'top-right'
                    });
                    return;
                }
                this.win = true;
                this.winner = winner;
            },

            saveWinner(){
                this.reload_camera = false;

                this.$vs.loading();
                this.form['winner'] = this.winner;
                axios.patch('/api/matchWinner/' + this.form['match_id'], this.form)
                    .then(response => {
                        this.disableNewGame = false;
                        this.win = false;
                        this.stopTimer()
                        this.getTrends();
                            this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.getSession()
                    }).catch(error => console.log(error));
            },

            newGame() {
                this.form['status'] = 'Pending';
                this.$vs.loading();
                axios.post('/api/newGame', this.form)
                    .then(response => {
                        this.win = false;
                        this.playStop = false;
                        this.getSession();
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                    }).catch(error => console.log(error));
            },

            startTimer(){
                this.playStop = false;
                let vm = this;
                this.disableNewGame = true;

                let a = this.form['game_timer'];
                let b = this.form['betting_timer'];
                let gameTime = (+a['hh']) * 60 * 60 + (+a['mm']) * 60 + (+a['ss']);
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                this.playing = true;

                let gameTimer = setInterval( () => {

                    gameTime--;
                    this.form['game_timer_run'] = vm.secondsTimeSpanToHMS(gameTime);

                    if (gameTime === 0){
                        clearInterval(gameTimer);
                        this.playing = false;
                        this.disableNewGame = false;

                    }

                    if (this.playStop){
                        clearInterval(gameTimer);
                        this.disableNewGame = false;

                    }
                }, 1000 );

            },

            forceClose() {
                this.stopTimer();
                this.$vs.loading();
                this.form['status'] = 'Closed';
                this.show_maquee = false;
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {
                        this.disableNewGame = false;
                        this.forceClosePopup = false;
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            lastCall() {
                this.form['status'] = 'Last Call';
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    }).catch(error => console.log(error));
            },

            endDay() {
                axios.get('/api/endDay/')
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.disableNewGame = false;
                        window.location.href='/game/create';
                    }).catch(error => console.log(error));
            },
            getScreenSaver() {
                // console.log(this.form['game_session_id']);
                // axios.get('/api/getScreenSaver/' + this.form['game_session_id'])
                //     .then(response => {
                //         console.log(response.data);
                //         this.screensavers = [...response.data];

                //     }).catch(error => console.log(error));
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let image = new Image();
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.imgForm['img_base'] = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>
    .blink-text {
        animation: blink 1s linear infinite;
    }
    .button-secondary{
        background:gray !important;
        color: #fff !important;
    }
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }
    .scrollable {
        height: 700px;
        overflow-y: scroll;
        width: 100%;
    }
    .marquee {
        height: 20px;
        overflow: hidden;
        position: relative;
        background: #fefefe;
        color: #333;
    }
    
    .marquee span {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 2s linear infinite;
        -webkit-animation: scroll-left 2s linear infinite;
        animation: scroll-left 10s linear infinite;
    }
    
    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
    .table th, .table td{
        padding:8px !important;
    }
</style>
