<template>
    <div style="margin-top:-45px;">
        <div class="content-header">
            <h4>BETTING REPORTS MANAGEMENT</h4>
        </div>
        <div class="card mb-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="card-title">{{game_title | capitalize}}</h5>
                        <p class="card-text">{{game_created | formatDate}}</p>
                    </div>
                    <div class="col-sm-5">
                        <div class="brand-card-body">
                            <div><strong style="color:black;">Date Created</strong>
                                <div class="text-uppercase text-dark small">
                                    {{game_created | formatDate}}
                                </div>
                            </div>
                            <div>
                                <strong style="color:black;">Date Opened</strong>
                                <div class="text-uppercase text-dark small">
                                    {{game_open | formatDate}}
                                </div>
                            </div>
                            <div><strong style="color:black;">Date Closed</strong>
                                <div class="text-uppercase text-dark small">
                                    {{game_close | formatDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header" style="background:#5543FF"><strong class="text-white"><i class="fa fa-align-justify"></i> ARENA OVERVIEW </strong></div>
                <div class="card-group mb-0">
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{ total_profit | numeric }}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Rake </small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{ agent_profit | numeric }}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Agent Rake</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{ profit | numeric }}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Rake Without Agent</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{total_loading | numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Loading</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">{{total_load_withdrawal | numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Load Withdrawal</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">{{total_commission_cashout | numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Commission Cashout</small>
                        </div>
                    </div>
                </div>
                <div class="card-group mb-0">
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">?? </div> <small
                                class="text-muted text-uppercase font-weight-bold">*Must Total Player's Point</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value">{{player_actual_points|numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Actual Player's Point</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{ total_bets | numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Bets</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">??</div> <small
                                class="text-muted text-uppercase font-weight-bold">Rake Without Agent Commission</small>
                        </div>
                    </div>
                    <div class="card border-bottom-0">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">??</div> <small
                                class="text-muted text-uppercase font-weight-bold">Player Point Difference</small>
                        </div>
                    </div>
                </div>
                <div class="card-group mb-0">
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">122,184.84</div> <small
                                class="text-muted text-uppercase font-weight-bold">Initial Agent Commission</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{current_agent_commission | numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Agent Commission</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{total_processed_commission|numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Proccessed Commission</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">??</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total UN-Proccessed
                                Commission</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">??</div> <small
                                class="text-muted text-uppercase font-weight-bold">Commission Difference</small>
                        </div>
                    </div>
                </div>
                <div class="card-group mb-0">
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{total_draw_bet|numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Draws Bet</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-danger">??</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Less Bet</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-1 pt-1">
                            <div class="text-value text-success">{{total_draw_income|numeric}}</div> <small
                                class="text-muted text-uppercase font-weight-bold">Total Draws Income</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        :data="table"
                        stripe>
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    List Of Fights
                                </h3>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="name">
                                Fight Number
                            </vs-th>
                            <vs-th sort-key="username">
                                Winner
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Favorite
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Status
                            </vs-th>
                            <vs-th sort-key="redeclared">
                                Redeclared
                            </vs-th>
                            <vs-th sort-key="type">
                                Date Created
                            </vs-th>
                            <vs-th sort-key="name">
                                Actions
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td>
                                    {{data[indextr].game_number}}
                                </vs-td>
                                <vs-td>
                                    <div v-if="data[indextr].matches.left_win">Meron</div>
                                    <div v-if="data[indextr].matches.middle_win">Draw</div>
                                    <div v-if="data[indextr].matches.right_win">Wala</div>
                                    <div v-if="!data[indextr].matches.left_win
                                    && !data[indextr].matches.middle_win
                                    && !data[indextr].matches.right_win">Cancelled</div>
                                </vs-td>
                                <vs-td>
                                    ??
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].status}}
                                </vs-td>
                                <vs-td>
                                    <div v-if="data[indextr].redeclared">Yes</div>
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].created_at | formatDate}}
                                </vs-td>
                                <vs-td>
                                    <vs-button
                                            class="btn btn-sm" 
                                            color="primary" 
                                            text-color="#fff"
                                            :href="'/game/view-betting/'+data[indextr].id"
                                            type="filled" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp View Bets</vs-button>
                                </vs-td>
                            </vs-tr>
                        </template>
                        </vs-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        name: "game-reports",
        props: ['game_session_id'],
        data() {
            return {
                messages: 'test',
                total_profit:0,
                agent_profit:0,
                total_bets:0,
                profit:0,
                total_loading:0,
                current_agent_commission:0,
                current_agent_wallet:0,
                total_commission_cashout:0,
                total_load_withdrawal:0,
                player_actual_points:0,
                total_processed_commission:0,
                total_draw_bet:0,
                table:[],
                game_title:'',
                game_open:'',
                game_created:'',
                game_close:'',
                total_draw_income:0,
            }
        },
        mounted() {
            this.fetch()
        },
        methods: {
            currencyFormat(val){
                return val.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            },
            fetch() {
                axios.get('/api/getGameInfo/'+this.game_session_id)
                .then(response => {
                    this.game_title = response.data.game_info.game_title;
                    this.game_created = response.data.game_info.created_at;
                    this.game_open = response.data.game_info.date_opened;
                    this.game_close = response.data.game_info.date_closed;
                    this.table = response.data.game;
                    this.player_actual_points = response.data.player_actual_points;
                    this.total_processed_commission = response.data.total_processed_commission;
                    this.total_loading = response.data.total_loading;
                    this.total_load_withdrawal = response.data.total_load_withdrawal;
                    this.total_commission_cashout = response.data.total_commission_cashout;
                    this.current_agent_wallet = response.data.current_agent_wallet;
                    this.current_agent_commission = response.data.current_agent_commission;

                    for(let i = 0 ; i < response.data.game.length; i++){
                        //get total profit
                        if(response.data.game[i].bets.length > 0){
                            for(let x = 0; x < response.data.game[i].bets.length; x++){
                                this.total_profit += response.data.game[i].bets[x].bet_rake;
                                this.agent_profit += response.data.game[i].bets[x].bet_rake * 0.4;
                                this.profit += response.data.game[i].bets[x].bet_rake;
                                this.total_bets += response.data.game[i].bets[x].bet_right + response.data.game[i].bets[x].bet_left;
                                this.total_draw_bet += response.data.game[i].bets[x].bet_middle;
                                if(response.data.game[i].bets[x].bet_result != 'Draw'){
                                    this.total_draw_income += response.data.game[i].bets[x].bet_middle;
                                }
                            }
                        }
                    }
                }).catch(error => console.log(error))
            }
        }
    }

</script>

<style scoped>
    .brand-card-body {
        display: flex;
        flex-direction: row;
        padding: .75rem 0;
        text-align: center;
    }

    .brand-card-body>:not(:last-child) {
        border-right: 1px solid #c8ced3;
    }

    .brand-card-body>* {
        flex: 1;
        padding: .1875rem 0;
    }

</style>
