<template>

</template>

<script>



    export default {
        name: "game-test",

        data() {
            return {
                messages: [],
            }
        },

        mounted() {
            Pusher.logToConsole = true;

            let pusher = new Pusher('61fe5441d0e793b7dbae', {
                cluster: 'ap1'
            });

            let channel = pusher.subscribe('my-alpha');
            channel.bind('my-event', function(data) {
                console.log(data)
            });
        }

    }
</script>

<style scoped>

</style>
