<template>
    <div>
        <div v-if="this.form['id'] !== ''">
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-danger">
                        <div class="card-content">
                            <div class="card-body bg-player">
                                <h3 class="card-title text-white">Player: {{ this.bet['left'] }} ({{ this.bet['left_odds'] | percentage }})</h3>
                                <h5 v-if="this.bet['winner_left'] === 'Player'" class="text-white text-center blink-text">Winner!</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-banker">
                        <div class="card-content">
                            <div class="card-body">
                                <h3 class="card-title text-black">Banker: {{ this.bet['right'] }} ({{ this.bet['right_odds'] | percentage }})</h3>
                                <h5 v-if="this.bet['winner_right'] === 'Banker'" class="text-center blink-text" style="color: black">Winner!</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-white">
                        <div class="card-content">
                            <div class="card-body bg-primary">
                                <h3 class="card-title text-white">Players WATCHING: {{ this.bet['bets'].length }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-white">
                        <div class="card-content">
                            <div class="card-body bg-white">
                                <span class="card-title blink-text upp-status" style="color: red; font-size: 21px">STATUS: {{ this.form['status'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="card-title">
                                        Live Broadcast
                                        <div class="float-right">
                                            <vs-switch color="danger" v-model="broadcast" @click="broadcastSession()" vs-value="false">
                                                Broadcast
                                            </vs-switch>
                                        </div>
                                    </div>
                                    <iframe src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6>Deal number: {{ this.form['game_number'] }}</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <h6>Game Title: {{ this.form['game_title'] }}</h6>
                                            </div>
                                            <div class="col-md-6">
                                                <h6>Date: {{ this.form['created_at'] | dateonly  }}</h6>
                                            </div>
                                            <div class="col-md-6">
                                                <h6>Time: {{ this.form['created_at'] | timeonly  }}</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <h6>Expected Number of Deals: {{ this.form['expected_games'] }}</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <h6>Status: {{ this.form['status'] }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" @click="announcement = true">Make Announcement</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="card-title">Preview Monitor</div>
                                    <iframe src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-title">
                                SELECT SCREEN SAVER
                            </div>
                        </div>
                        <div class="col-4" v-for="screensaver in screensavers" :style="selectedScreenSaver === screensaver.id ? 'border: red 2px solid' : ''">
                            <img :src="screensaver.img_base" class="img img-fluid"  @click="selectScreenSaver(screensaver.id)" />
                        </div>
                        <div class="col-4">
                            <vs-button color="primary" size="medium" icon="add" @click="upload = true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <vs-button :disabled="this.form['status'] != ''" type="relief" style="color: white !important;" href="/game/create">Start / Edit Day</vs-button>
                        <!-- <vs-button :disabled="this.form['status'] != 'Draw' && this.form['status'] != 'Completed' && this.form['status'] != 'Cancelled'" type="relief" style="color: white" @click="newGame">New Game</vs-button> -->
                        <vs-button :disabled="this.form['status'] != 'Pending'" type="relief" style="color: white" @click="openBetting = true">Open Betting</vs-button>
                    </div>
                    <div class="form-group">
                        <vs-button :disabled="this.form['status'] !='Open' && this.form['status'] != 'Last Call'" type="relief" style="color: white" @click="forceClosePopup = true">Force Close Betting</vs-button>
                        <vs-button :disabled="this.form['status'] != 'Open' && this.form['status'] != 'Pending' && this.form['status'] != 'Last Call' && this.form['status'] != 'Closed'" type="relief" style="color: white" @click="cancelPopup = true">Cancel Game</vs-button>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="card">
                                <div class="card-body bg-primary">
                                    <label class="text-white">Betting Timer</label>
                                    <p :class="'text-' + this.betting['betting_timer_color']" v-if="this.form['betting_timer_run'] === ''">{{ this.form['betting_timer'].hh || '00' + ':' + this.form['betting_timer'].mm + ':' + this.form['betting_timer'].ss }}</p>
                                    <p :style="'color: '+ this.betting['betting_timer_color']" v-else>{{ this.form['betting_timer_run'] }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="card">
                                <div class="card-body bg-primary">
                                    <label class="text-white">Game Timer</label>
                                    <p class="text-white" v-if="this.form['game_timer_run'] === ''">{{ this.form['game_timer'].hh || '00' + ':' + this.form['game_timer'].mm + ':' + this.form['game_timer'].ss }}</p>
                                    <p class="text-white" v-else>{{ this.form['game_timer_run'] }}</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Auto Play</label>
                            <vs-switch color="danger" v-model="autoPlay">
                                <span slot="on">On</span>
                                <span slot="off">Off</span>
                            </vs-switch>
                        </div>
                        <div class="col-6" style="margin-left: -20px">
                            <vs-button class="danger" type="filled" icon="play_arrow" @click="startTimer()" v-if="!this.playing">Start</vs-button>
                            <vs-button class="danger" type="filled" icon="stop" @click="stopTimer()" v-else>Stop</vs-button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h3 class="card-title">Select Winner</h3>
                        </div>
                        <div class="col-md-4" style="padding-left:5px;padding-right:5px;">
                            <div class="card" @click.prevent="matchWinner('left')">
                                <div class="card-body bg-player">
                                    <h6 class="text-white text-center">PLAYER</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left:5px;padding-right:5px;" @click.prevent="matchWinner('right')">
                            <div class="card bg-banker">
                                <div class="card-body">
                                    <h6 class="text-black text-center">BANKER</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left:5px;padding-right:5px;" @click.prevent="drawPopup = true">
                            <div class="card">
                                <div class="card-body bg-primary">
                                    <h6 class="text-black text-center">TIE</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card" @click="endDayPopup = true">
                                <div class="card-body bg-primary">
                                    <h6 class="text-center text-white">END OF SHOE</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template>
                <vs-popup title="Make Announcement" :active.sync="announcement">
                    <div>
                        <form @submit.prevent="">
                            <div class="form-group">
                                <label>Announcement</label>
                                <textarea class="form-control" rows="4" v-model="announcement_content['content']"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="saveAnnouncement">Make Announcement</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>



            <!--modals -->
            <template>
                <vs-popup title="Open Betting" :active.sync="openBetting">
                    <div>
                        <form @submit.prevent="">
                            <input type="hidden" v-model="form['status']" value="Open" />
                            <p>Are you sure you want to open the betting for this game?</p>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="open">Open Betting</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Tie Game" :active.sync="drawPopup">
                    <div>
                        <form @submit.prevent="">
                            <input type="hidden" v-model="form['status']" value="Open" />
                            <p>Are you sure you want to mark this game as Tie?</p>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" @click.prevent="drawGame">Mark as Tie</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Process Winner" :active.sync="win">
                    <div>
                        <form id="update-user" @submit.prevent="saveWinner">
                            <h5 :class="this.winner === 'left' ? 'text-danger' : 'text-warning'">ARE YOU SURE {{ this.winner === 'left' ? 'Player' : 'Banker' }} ?</h5>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Mark as Winner</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="End Day" :active.sync="endDayPopup">
                    <div>
                        <form @submit.prevent="endDay">
                            <h5 class="text-danger">Are you sure you want to end day?</h5>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">End Day</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Cancel Current Game" :active.sync="cancelPopup">
                    <div>
                        <form @submit.prevent="cancelGame">
                            <h5 class="text-danger">Are you sure you want to cancel current game?</h5>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button class="btn btn-success btn-block" type="submit" @click="cancelPopup = false">Yes</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-block" type="button" @click="cancelPopup = false">No</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Close Current Game" :active.sync="forceClosePopup">
                    <div>
                        <form @submit.prevent="forceClose">
                            <h5 class="text-danger">Are you sure you want to force close current betting?</h5>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button class="btn btn-success btn-block" type="submit">Yes</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-block" type="button" @click="forceClosePopup = false">No</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup title="Process Winner" :active.sync="upload">
                    <div>
                        <form enctype="multipart/form-data" @submit.prevent="uploadImage">
                            <div class="form-group">
                                <input type="file" class="form-control" v-on:change="onFileChange" name="attachment" required />

                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Upload Image</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
        </div>
        <div v-else>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-white">PLEASE CREATE A GAME SESSION FIRST</h3>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from "axios";

    export default {
        name: "game-interface",

        data() {
            return {
                disableNewGame: false,
                airSwitch: true,
                autoPlay: false,
                announcement: false,
                openBetting: false,
                gameDay: false,
                drawPopup: false,
                edit: false,
                remove: false,
                create: false,
                win: false,
                playing: false,
                playStop: false,
                cancelPopup: false,
                forceClosePopup: false,
                winner: '',
                announcement_content: {},
                table: [],
                selected: [],
                betting: {
                    'betting_timer_color': 'white'
                },
                imgForm: {
                    'img_base' : ''
                },
                form: {
                    'id' : '',
                    'game_number' : '',
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': '',
                    'winner' : '',
                    'created_at' : '',
                    'expected_games' : '',
                    'betting_timer' : [],
                    'game_timer' : [],
                    'last_call_timer' : [],
                    'game_timer_run' : '',
                    'betting_timer_run' : '',
                    'last_call_timer_run' : '',
                    'screensaver_id' : '',
                    'broadcast': ''
                },
                bet: {
                    'left': 0,
                    'right' : 0,
                    'left_odds' : 0,
                    'right_odds' : 0,
                    'bets' : [],
                    'winner_left' : '',
                    'winner_right' : ''
                },
                statuses: [
                    'Pending',
                    'Open',
                    'Last Call',
                    'Closed',
                    'Completed'
                ],
                p_type: '',
                loaded: false,
                payment_data: [],
                close: false,
                upload: false,
                screensavers: [],
                selectedScreenSaver: '',
                broadcast: true,
                endDayPopup: false,
            }
        },

        created() {
            // this.$vs.loading()

            this.getSession();

            setTimeout(() =>{
                this.getScreenSaver();
                this.checkstatus();
            }, 2000);
            Pusher.logToConsole = true;

            let pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });

            let channel = pusher.subscribe('my-alpha');

            channel.bind('game-event', (data) => {
                setTimeout(() => {
                    this.getSession()
                }, 1500);
            });

            // setTimeout(() => {
            //     this.$vs.loading.close();
            // }, 1000);
        },

        methods: {
            checkstatus(){
                if(this.form['status'] == 'Tie'){
                    this.newGame();
                }
                console.log('tes')
            },

            saveAnnouncement() {
                this.$vs.loading()

                axios.post('/api/makeAnnouncement', this.announcement_content)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.announcement = false;
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);

                    }).catch(error => console.log(error));
            },

            uploadImage() {
                this.$vs.loading()

                this.imgForm['game_session_id'] = this.form['game_session_id'];
                this.imgForm['game_id'] = this.form['id'];

                axios.post('/api/uploadScreenSaver', this.imgForm)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.getScreenSaver();
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            broadcastSession() {
                this.$vs.loading()

                this.form['broadcast'] = this.broadcast;
                console.log('broadcast');
                axios.patch('/api/updateBroadcast/' + this.form['game_session_id'], this.form)
                    .then(response => {
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            getSession() {
                axios.get('/api/currentGameSession').then(response => {


                    this.form['id'] = response.data.id;
                    this.form['match_id'] = response.data.matches.id;
                    this.form['status'] = response.data.status;
                    this.form['camera_configuration_id'] = 1;
                    this.form['game_number'] = response.data.game_number;
                    this.form['game_title'] = response.data.game_title;
                    this.bet['left'] = response.data.matches.left_bet;
                    this.bet['right'] = response.data.matches.right_bet;
                    this.bet['right_odds'] = response.data.matches.right_odds || 0;
                    this.bet['left_odds'] = response.data.matches.left_odds || 0;
                    this.bet['bets'] = response.data.bets;
                    this.form['left_bet_percentage'] = response.data.matches.left_bet_percentage;
                    this.form['right_bet_percentage'] = response.data.matches.right_bet_percentage;
                    this.form['left_percent_difference'] = response.data.matches.left_percent_difference;
                    this.form['right_percent_difference'] = response.data.matches.right_percent_difference;
                    this.form['left_percent_against'] = response.data.matches.left_percent_against;
                    this.form['right_percent_against'] = response.data.matches.right_percent_against;
                    this.form['left_percent_less_rake'] = response.data.matches.left_percent_less_rake;
                    this.form['right_percent_less_rake'] = response.data.matches.right_percent_less_rake;
                    this.form['total_bet'] = response.data.matches.total_bet;
                    this.form['total_rake'] = response.data.matches.total_rake;
                    this.form['net_payout'] = response.data.matches.net_payout;
                    this.form['created_at'] = response.data.created_at;
                    this.form['expected_games'] = response.data.session.expected_game_number;
                    this.form['betting_timer'] = response.data.session.max_betting_time;
                    this.form['last_call_timer'] = response.data.session.last_call;
                    this.form['game_timer'] = response.data.session.max_game_time;
                    this.form['game_session_id'] = response.data.session.id;
                    this.bet['winner_left'] = response.data.matches.left_win === 1 ? 'Player' : '';
                    this.bet['winner_right'] = response.data.matches.right_win === 1 ? 'Banker' : '';
                    this.selectedScreenSaver = response.data.session.screensaver_id;


                }).catch(error => console.log(error))
            },

            secondsTimeSpanToHMS(s) {

                let h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                let m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds

            },

            cancelGame() {
                this.$vs.loading()

                this.stopTimer();
                this.form['status'] = 'Cancelled';
                axios.patch('/api/cancelGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.disableNewGame = false;
                        this.openBetting = false;
                        setTimeout(() => {
                            this.$vs.loading.close();
                            this.newGame();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            drawGame() {
                this.drawPopup = false;
                if(this.form['status'] != 'Closed'){
                    this.$vs.notify({
                            'text' : 'Game status should be closed before to mark as Tie !',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
                        return;
                }
                this.$vs.loading()

                this.stopTimer();
                this.form['status'] = 'Tie';
                axios.patch('/api/cancelGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.disableNewGame = false;
                        this.openBetting = false;
                        setTimeout(() => {
                            this.$vs.loading.close();
                            this.newGame();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            selectScreenSaver(id){
                this.$vs.loading()

                this.form['screensaver_id'] = id;
                axios.patch('/api/updateGameSession/' + this.form['game_session_id'], this.form)
                    .then(response => {
                        this.selectedScreenSaver = id;
                        this.getScreenSaver();
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            open() {
                this.$vs.loading()
                this.form['status'] = 'Open';
                this.playStop = false;
                this.disableNewGame = true;
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.openBetting = false;

                        let b = this.form['betting_timer'];
                        let c = this.form['last_call_timer'];
                        let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                        let lastCallTime = (+c['hh']) * 60 * 60 + (+c['mm']) * 60 + (+c['ss']);

                        let vm = this;
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                        let bettingTimer = setInterval( () => {

                            bettingTime--;
                            this.form['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);


                            if (bettingTime === lastCallTime){
                                vm.lastCall();
                                this.betting['betting_timer_color'] = 'red';
                            }

                            if (bettingTime === 0){
                                clearInterval(bettingTimer);
                                vm.forceClose();
                                if (this.autoPlay){
                                    this.startTimer();
                                }
                            }

                            if (this.playStop){
                                this.disableNewGame = false;
                                clearInterval(bettingTimer);
                            }
                        }, 1000 );

                    }).catch(error => console.log(error));
            },

            update() {
                this.$vs.loading()

                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        document.dispatchEvent(new CustomEvent('refreshSession'));
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);

                    }).catch(error => console.log(error));
            },

            stopTimer() {
                this.betting_timer = '';
                this.game_timer = '';
                this.playStop = true;
                this.playing = false;
                this.disableNewGame = false;

            },

            matchWinner(winner) {

                this.win = true;
                this.winner = winner;
            },

            saveWinner(){
                console.log('save winner')
                if(this.form['status'] != 'Closed'){
                    this.$vs.notify({
                            'text' : 'Cannot declare winner game status should be closed first',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
                    return;
                }
                this.$vs.loading();
                this.form['winner'] = this.winner;

                axios.patch('/api/matchWinner/' + this.form['match_id'], this.form)
                    .then(response => {
                        console.log(response);

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.disableNewGame = false;
                        this.win = false;
                        this.stopTimer()
                        setTimeout(() => {
                            this.$vs.loading.close();
                            this.newGame();
                        }, 1000);
                    }).catch(error => console.log(error));
            },

            newGame() {
                    this.$vs.loading();
                axios.post('/api/newGame', this.form)
                    .then(response => {
                        console.log(response);

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.win = false;
                        this.playStop = false;
                        window.location.reload(true);
                        // this.close = true;

                    }).catch(error => console.log(error));
            },

            startTimer(){
                this.playStop = false;
                let vm = this;
                this.disableNewGame = true;

                let a = this.form['game_timer'];
                let b = this.form['betting_timer'];
                let gameTime = (+a['hh']) * 60 * 60 + (+a['mm']) * 60 + (+a['ss']);
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                this.playing = true;

                let gameTimer = setInterval( () => {

                    gameTime--;
                    this.form['game_timer_run'] = vm.secondsTimeSpanToHMS(gameTime);

                    if (gameTime === 0){
                        clearInterval(gameTimer);
                        this.playing = false;
                        this.disableNewGame = false;

                    }

                    if (this.playStop){
                        clearInterval(gameTimer);
                        this.disableNewGame = false;

                    }
                }, 1000 );

            },

            forceClose() {

                this.$vs.loading();
                this.form['status'] = 'Closed';
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.disableNewGame = false;
                        this.forceClosePopup = false;
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);


                    }).catch(error => console.log(error));
            },

            lastCall() {
                this.form['status'] = 'Last Call';
                console.log('lastCall');
                axios.patch('/api/updateGame/' + this.form['id'], this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });



                    }).catch(error => console.log(error));
            },

            endDay() {
                if(this.form['status'] != 'Completed' && this.form['status'] != 'Cancelled' && this.form['status'] != 'Pending'){
                    this.$vs.notify({
                            'text' : 'Game status should be completed or cancelled before you end the game !',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
                        return;
                }
                this.$vs.loading();
                axios.get('/api/endDay/')
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.$vs.loading.close();

                        this.disableNewGame = false;

                        window.location.href='/game/create';

                    }).catch(error => console.log(error));
            },

            getScreenSaver() {

                console.log(this.form['game_session_id']);
                axios.get('/api/getScreenSaver/' + this.form['game_session_id'])
                    .then(response => {
                        console.log(response.data);
                        this.screensavers = [...response.data];

                    }).catch(error => console.log(error));

            },

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let image = new Image();
                let reader = new FileReader();
                let vm = this;

                reader.onload = (e) => {
                    vm.imgForm['img_base'] = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>

    .blink-text {
        animation: blink 1s linear infinite;
    }
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }
    .bg-banker{
        background-color:gold !important;
    }
    .bg-player{
        background-color:red !important;
    }
    .upp-status{
        text-transform: uppercase;
    }
</style>
