<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="active_arena">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Active Arena List
                                </h3>
                                <vs-button class="btn btn-sm mr-1" href="/game/create" color="success" text-color="#fff" type="filled" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp Add New Arena</vs-button>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="expected_game_number">
                                ID
                            </vs-th>
                            <vs-th sort-key="location">
                                Location
                            </vs-th>
                            <vs-th sort-key="source_1">
                                Source
                            </vs-th>
                            <vs-th sort-key="game_title">
                                Game Title
                            </vs-th>
                            <vs-th sort-key="left_label">
                                Left
                            </vs-th>
                            <vs-th sort-key="right_label">
                                Right
                            </vs-th>
                            <vs-th sort-key="player_type">
                                Player Type
                            </vs-th>
                            <vs-th sort-key="status">
                                Game Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                            <vs-th sort-key="description">
                                Action
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].expected_game_number">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].location">
                                    {{ data[indextr].location }}
                                </vs-td>
                                <vs-td :data="data[indextr].source_1">
                                    {{ data[indextr].source_1 }}
                                </vs-td>
                                <vs-td :data="data[indextr].game_title">
                                    {{ data[indextr].game_title }}
                                </vs-td>
                                <vs-td :data="data[indextr].left_label">
                                    {{ data[indextr].left_label }}
                                </vs-td>
                                <vs-td :data="data[indextr].right_label">
                                    {{ data[indextr].right_label }}
                                </vs-td>
                                <vs-td :data="data[indextr].player_type">
                                    {{ data[indextr].player_type }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">                                    
                                    {{ data[indextr].status }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at  | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <vs-button class="btn btn-sm" @click="edit = true" color="primary" text-color="#fff" type="filled" ><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp&nbsp Edit</vs-button>
                                    <vs-button
                                    v-if="data[indextr].status == 'Ongoing'" 
                                    class="btn btn-sm" 
                                    @click="endDayPopup = true" 
                                    color="danger" 
                                    text-color="#fff" 
                                    type="filled" ><i class="fa fa-times" aria-hidden="true"></i>&nbsp&nbspClose Arena</vs-button>
                                    <vs-button
                                    v-if="data[indextr].status == 'Pending'" 
                                    class="btn btn-sm" 
                                    @click="openPopup = true" 
                                    color="success" 
                                    text-color="#fff" 
                                    type="filled" ><i class="fa fa-check" aria-hidden="true"></i>&nbsp&nbspOpen Arena</vs-button>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable1">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="completed_arena">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    List of Closed/Ended Arena
                                </h3>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="expected_game_number">
                                ID
                            </vs-th>
                            <vs-th sort-key="game_title">
                                Game Title
                            </vs-th>
                            <vs-th sort-key="player_type">
                                Player Type
                            </vs-th>
                            <vs-th sort-key="status">
                                Game Status
                            </vs-th>
                            <vs-th sort-key="total_rake">
                                Game Total Rake
                            </vs-th>
                            <vs-th sort-key="date_opened">
                                Date Opened
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date Created
                            </vs-th>
                            <vs-th>
                                Action
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].expected_game_number">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].game_title">
                                    {{ data[indextr].game_title }}
                                </vs-td>
                                <vs-td :data="data[indextr].player_type">
                                    {{ data[indextr].player_type }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">                                    
                                    <span v-if="data[indextr].status == 'Ongoing'" class="badge badge-danger">{{ data[indextr].status }}</span>
                                    <span v-if="data[indextr].status == 'Completed'" class="badge badge-success">{{ data[indextr].status }}</span>
                                    <span v-if="data[indextr].status == 'Pending'" class="badge badge-warning">{{ data[indextr].status }}</span>
                                </vs-td>
                                <vs-td :data="data[indextr].total_rake">
                                    P {{ data[indextr].total_rake | decimal }}
                                </vs-td>
                                <vs-td :data="data[indextr].date_opened">
                                    {{ data[indextr].date_opened  | formatDate }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at  | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <vs-button
                                    class="btn btn-sm" 
                                    color="#00C9FF" 
                                    text-color="#fff"
                                    :href="'game/betting-reports/'+data[indextr].id"
                                    type="filled" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp Betting Reports</vs-button>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
        <template>
            <vs-popup title="Close Arena" :active.sync="endDayPopup">
                <div>
                    <h5 class="text-danger">Are you sure you want to close this arena?</h5>
                    <div class="text-center">
                        <button class="btn btn-primary" @click="endDay">Yes</button>
                        <button class="btn btn-danger" @click="endDayPopup = false">No</button>
                    </div>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Open Arena" :active.sync="openPopup">
                <div>
                    <h5 class="text-dark">Are you sure you want to Open this Arena?</h5><br/>
                    <div class="text-center">
                        <button class="btn btn-primary" @click="openArena">Yes</button>
                        <button class="btn btn-danger" @click="openPopup = false">No</button>
                    </div>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Edit Record" :active.sync="edit">
                <div>
                    <form id="update-user" @submit.prevent="update">
                        <div class="form-group">
                            <label class="text-dark">Game Title</label>
                            <input type="text" class="form-control" v-model="selected.game_title"  required />
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Game Location</label>
                            <input type="text" class="form-control" v-model="selected.location" />
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Player Type</label>
                            <vs-select
                                placeholder="Select Player Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                v-model="selected.player_type">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in playerType" />
                            </vs-select>
                        </div>
                        <div class="form-group" v-if="selected.player_type == 'iframe'">
                            <label class="text-dark">Iframe Source</label>
                            <input type="text" class="form-control" v-model="selected.camera_url"  required />
                        </div>
                        <div class="form-group" v-if="selected.player_type == 'hls'">
                            <label class="text-dark">Video Source</label>
                            <input type="text" class="form-control" v-model="selected.source_1"  required />
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Game number</label>
                            <input type="number" class="form-control" v-model="selected.game_start" required />
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Expected number of games</label>
                            <input type="number" class="form-control" v-model="selected.expected_game_number" required />
                        </div>
                        <div class="form-group float-right">
                            <button class="btn btn-success" type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
    </div>
</template>
<script>
import axios from "axios";
export default {
    name: "lobby-game",
    data() {
        return {
            view: false,
            remove: false,
            create: false,
            edit: false,
            endDayPopup:false,
            table: [],
            active_arena:[],
            completed_arena:[],
            openPopup:false,
            playerType:[
                'hls',
                'iframe',
            ],
            selected: [],
            selectedBets: [],
            form: {},
        }
    },
    mounted() {
        this.fetch()
    },
    methods: {
        endDay() {
            this.endDayPopup = false;
            axios.patch('/api/endDay/',this.selected)
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.fetch();
                }).catch(error => console.log(error));
        },
        openArena(){
            this.openPopup = false;
            axios.patch('/api/openArena',this.selected)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                if(response.data.type == 'success'){
                    this.fetch();
                }
            }).catch(error => console.log(error))
        },
        update(){
            axios.patch('/api/updateGameSession/'+this.selected.id, this.selected)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                this.fetch()
                this.edit = false;
            })
            .catch(error => console.log(error))
        },
        fetch() {
            axios.get('/api/getGameList')
            .then(response => {
                this.active_arena = [];
                this.completed_arena = [];
                this.completed_arena = [...response.data];
                this.table = [...response.data];
                this.active_arena = this.table.filter(function(el){
                    return el.status == 'Ongoing' || el.status == 'Pending'
                })
                console.log(this.active_arena)
                console.log(this.completed_arena)
            })
            .catch(error => console.log(error))
        },
    }
}
</script>

<style scoped>
.blink-text {
        animation: blink 1s linear infinite;
    }
</style>
