<template>
    <div>
        {{ this.walletBalance | decimal }}
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "player-bet",

        data() {
            return {
                walletBalance : 0
            }
        },

        mounted() {


            document.addEventListener('refreshWallet', () => {
                this.getWalletBalance();
            });
            this.getWalletBalance();

        },

        methods: {
            getWalletBalance() {
                axios.get('/api/getWalletBalance')
                    .then(response => {
                        this.walletBalance = response.data.wallet_balance;
                        console.log(this.walletBalance)
                    })
                    .catch(error => console.log(error))
            }
        }
    }
</script>

<style scoped>


</style>
