<template>
    <div  style="!important;background-size: cover;
    margin-top:-45px;
    margin-left: -16px;
    margin-right: -16px;" v-if="this.showGame">
        <loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="fullPage"></loading>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 mx-auto" style="padding:0 !important;" v-if="this.data['status'] === 'Open' || this.data['status'] === 'Pending' || this.data['status'] === 'Closed' || this.data['status'] === 'Last Call'">
                <div class="text-center">
                    <h4 class="text-center text-dark">{{ this.data['game_title'] }}</h4>
                </div>
                <div class="card" style="background: #0f0f0f; margin-bottom:10px;">
                    <div class="card-content">
                        <div class="" v-if="broadcast">
                            <div class="embed-responsive embed-responsive-16by9" v-if="player_type == 'iframe'">
                                <iframe                                 
                                class="embed-responsive-item" frameborder="0" :src="data['camera_url']" title="W3Schools Free Online Web Tutorials"></iframe>
                            </div>
                            <v-clappr
                            v-if="player_type == 'hls'"
                            el="player"
                            refs="clappr_player"
                            :source="source"
                            :options="options"
                            @init="oninit"
                            @ready="onready"
                            @play="onplay"
                            @pause="onpause"
                            @stop="onstop"
                            @ended="onended"
                            @fullscreen="onfullscreen"
                            @resize="onresize"
                            @seek="onseek"
                            @volumeupdate="onvolumeupdate"
                            @error="onerror"
                            />
                        </div>
                        <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                    </div>
<!--                    <div class="card-content" v-else>-->
<!--                        <img src="../../../images/no-credits.jpg" class="img img-fluid" />-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-12 mx-auto" style="background: transparent; border: none;padding:0 !important;" v-else>
                <div class="text-center">
                    <h4 class="text-center text-dark">READY FOR NEXT FIGHT</h4>
                </div>
                <div class="card" style="background: #0f0f0f; margin-bottom:10px;">
                    <div class="card-content">
                        <div class="" v-if="broadcast">
                            <div class="embed-responsive embed-responsive-16by9" v-if="player_type == 'iframe'">
                                <iframe                                 
                                class="embed-responsive-item" frameborder="0" :src="data['camera_url']" title="W3Schools Free Online Web Tutorials"></iframe>
                            </div>
                            <v-clappr
                                el="player"
                                refs="clappr_player"
                                v-if="player_type == 'hls'"
                                :source="source"
                                :options="options"
                                @init="oninit"
                                @ready="onready"
                                @play="onplay"
                                @pause="onpause"
                                @stop="onstop"
                                @ended="onended"
                                @fullscreen="onfullscreen"
                                @resize="onresize"
                                @seek="onseek"
                                @volumeupdate="onvolumeupdate"
                                @error="onerror"
                                />
                        </div>
                        <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="row" ref="dom">
                    <div class="col-md-12" v-if="announcementPopup">
                        <div class="text-center">
                            <h4 class="text-danger">Announcement</h4>
                        </div>
                        <div class="form-group text-center blink-text">
                            <h5>{{ this.announcement_information.charAt(0).toUpperCase() + this.announcement_information.slice(1)}}</h5>
                        </div>
                    </div>
                    <div class="col-md-12" v-if="winner">
                        <div class="col-12 text-center">
                            <h4>FIGHT RESULT: {{ this.data['winnerLive'] | capitalize}} WINS!</h4>
                            <h5 v-if="this.data['winnerStatus'] === 'Win'">You Won! {{ this.data['win_amount'] }} </h5>
                        </div>
                    </div>
                    <div class="col-md-12" v-if="draw">
                        <div class="col-12 text-center">
                            <h4>FIGHT RESULT: DRAW!</h4>
                        </div>
                    </div>
                    <div class="col-md-12" v-if="this.data['status'] !== 'Pending'">
                        <div class="text-center">
                            <h5 class="text-center text-dark">FIGHT #{{ this.data['game_number'] }}</h5>
                            <div v-if="this.data['status'] === 'Pending'">
                                <h3 class="text-center text-danger">{{ "STANDBY FOR NEXT FIGHT" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Closed'">
                                <h3 class="text-center text-danger">{{ "CLOSED" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Open'">
                                <h3 class="text-center text-success blink-text">{{ "OPEN FOR BETTING" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Last Call'">
                                <h3 class="text-center text-danger blink-text">{{ "LAST CALL" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Ongoing'">
                                <h3 class="text-center text-dark blink-text">{{ "FIGHT ONGOING" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Draw'">
                                <h3 class="text-center text-dark blink-text">{{ "FIGHT DRAW" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Cancelled'">
                                <h3 class="text-center text-danger">{{ "Cancelled" | capitalize }}</h3>
                            </div>
                            <div v-if="this.data['status'] === 'Completed'">
                                <h3 class="text-center text-dark">{{ "FIGHT COMPLETED" | capitalize }}</h3>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-12" v-if="this.data['status'] === 'Pending'">
                        <div class="text-center">
                            <h5 class="text-center text-dark">FIGHT #{{ this.data['game_number'] }}</h5>
                            <div v-if="this.data['status'] === 'Pending'">
                                <h3 class="text-center text-danger blink-text">{{ "STANDBY FOR NEXT FIGHT" | capitalize }}</h3>
                            </div>
                        </div>
                    </div>            
                    <div class="col-4 pr-0" style="padding-left:0.2em">
                        <div class="card"  @click="betplace('left')" >
                            <div class="meron" style="float: right; width: 100%;">
                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        {{ parseFloat(this.data['left']) * parseFloat(1) | decimal }} <br />
                                    </h4>
                                </div>

                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        <strong>MERON</strong>
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 2px">
                                <div>
                                    <div class="text-center text-dark font-auto" stye="margin-bottom:5px !important;">
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        {{ this.playerBet['bet_amount_left'] | decimal }}
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        PAYOUT:
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        {{ this.playerBet['bet_amount_left'] * parseFloat(this.data['left_odds']) | decimal }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-0">
                                <div class="text-center" v-if="this.data['status'] !== 'Closed'">
                                    <button style="font-size:11px" class="p-1 btn btn-bet btn-block" v-if="this.walletBalance > 0">+ BET MERON </button>
                                    <button style="font-size:11px" class="btn btn-bet btn-block p-1" v-else>NO CREDITS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding:0 0.5em 0 0.5em">
                        <div class="card"  @click="betplace('middle')" >
                            <div class="draw" style="float: right; width: 100%;">
                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        {{ parseFloat(this.data['middle']) * parseFloat(1) | decimal }} <br />
                                    </h4>
                                </div>

                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        <strong>DRAW</strong>
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 2px">
                                <div>
                                    <div class="text-center text-dark font-auto" stye="margin-bottom:5px !important;">
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        {{ this.playerBet['bet_amount_middle'] | decimal }}
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        PAYOUT:
                                    </div>
                                    <div class="text-center text-dark font-auto">
                                        1:8 = {{ this.playerBet['bet_amount_middle'] * 8 | decimal }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-0">
                                <div class="text-center" v-if="this.data['status'] !== 'Closed'">
                                    <button style="font-size:11px;" class="p-1 btn btn-bet btn-block" v-if="this.walletBalance > 0">+ BET DRAW</button>
                                    <button style="font-size:11px;" class="btn btn-bet btn-block p-1" v-else>NO CREDITS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pl-0" style="padding-right:0.2em">
                        <div class="card" @click="betplace('right')">
                            <div class="wala" style="width: 100%;">
                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        {{ parseFloat(this.data['right']) * parseFloat(1) | decimal }} <br />
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="text-center text-white font-auto">
                                        <strong>WALA</strong>
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 2px !important;">
                                <div class="text-center text-dark font-auto">
                                </div>
                                <div class="text-center text-dark font-auto">
                                    {{ this.playerBet['bet_amount_right'] | decimal }}</div>
                                <div class="text-center text-dark font-auto">
                                PAYOUT:
                                </div>
                                <div class="text-center text-dark font-auto">
                                    {{ this.playerBet['bet_amount_right'] * parseFloat(this.data['right_odds']) | decimal }}
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <div class="text-center" v-if="this.data['status'] !== 'Closed'">
                                    <button style="font-size:11px" class="p-1 btn btn-bet btn-block" v-if="this.walletBalance > 0">+ BET WALA </button>
                                    <button style="font-size:11px;" class="btn btn-bet btn-block p-1" v-else>NO CREDITS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:-18px;">
                        <div class="input-group mb-1">
                            <input type="number" :disabled="userType != 'Player'" ref="bet_amount" class="form-control" v-model="form['bet_amount']" placeholder="Enter Amount" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" @click="clear" type="button">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-12 text-center' v-if="userType == 'Player'">
                        <vs-button color="primary" @click="betUpdate(100)" type="relief">100</vs-button>
                        <vs-button color="primary" @click="betUpdate(500)"  type="relief">500</vs-button>
                        <vs-button color="primary" @click="betUpdate(1000)" type="relief">1,000</vs-button>
                        <vs-button color="primary" @click="betUpdate(5000)" type="relief">5,000</vs-button>
                        <vs-button color="primary" @click="betUpdate(10000)" type="relief">10,000</vs-button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-12 mt-1">
                <h5 class="text-center text-dark" style="text-transform: uppercase">Fight Trend</h5>
            </div>
            <div class="col-md-12" style="background: white">
                <div v-if="trends.length">
                    <table id="go_trend_table" class="table-sm no-padding table-responsive" style="overflow: auto">
                        <tbody v-html="trend_html">
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h5 class="text-center text-dark mt-2">No Trends Available</h5>
                </div>
                <div class="mt-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <h5 class="text-dark text-left" style="text-transform: uppercase">BET HISTORY</h5>
                            </div>
                            <div class="form-group" v-if="table.length">
                                <vs-table
                                pagination
                                max-items="8"
                                stripe
                                description
                                :data="table"
                                >
                                    <template slot="thead">
                                        <vs-th>#</vs-th>
                                        <vs-th>Win side</vs-th>
                                        <vs-th>Bet placed</vs-th>
                                        <vs-th>Status</vs-th>
                                        <vs-th>Payout | Rate</vs-th>
                                    </template>
                                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                            <vs-td :data="data[indextr].game_number">
                                                {{ data[indextr].games.game_number }}
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                                <div v-if="data[indextr].games.status === 'Completed'">
                                                    <p class="text-danger" v-if="data[indextr].matches.left_win === 1">MERON</p>
                                                    <p class="text-primary" v-if="data[indextr].matches.right_win === 1">WALA</p>
                                                    <p class="text-success" v-if="data[indextr].matches.middle_win === 1">DRAW</p>
                                                </div>
                                                <div v-else>
                                                    <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                </div>
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                            <p v-if="data[indextr].bet_left">MERON: {{ data[indextr].bet_left | decimal }}</p>
                                            <p v-if="data[indextr].bet_right">WALA: {{ data[indextr].bet_right | decimal}}</p>
                                            <p v-if="data[indextr].bet_middle">DRAW: {{ data[indextr].bet_middle | decimal}}</p>
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                                <div v-if="data[indextr].games.status === 'Completed' || data[indextr].games.status === 'Draw'">
                                                    <p class="text-success" v-if="data[indextr].bet_result == 'Win'">Win</p>
                                                    <p class="text-danger" v-else>{{ data[indextr].bet_result }}</p>
                                                </div>
                                                <div v-else>
                                                    <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                </div>
                                            </vs-td>
                                            <vs-td>
                                                {{ data[indextr].bet_payout | decimal }} ({{ data[indextr].bet_odds_less_rake | percentage }})
                                            </vs-td>
                                        </vs-tr>
                                    </template>
                                </vs-table>
                            </div>
                            <div class="form-group" v-else>
                                <p class="text-center">NO GAME HISTORY THIS DAY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <vs-popup classContent="popup-example" title="Bet Place To Wala" :active.sync="bet_right_pos">
            <div>
                <div>
                    <h5>Are you sure you want to place your bet into "WALA"?</h5>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary" @click="placeBet">Yes</button>
                    <button class="btn btn-danger" @click="bet_right_pos = false">Cancel</button>
                </div>
            </div>
        </vs-popup>
        <vs-popup classContent="popup-example" title="Bet Place To Draw" :active.sync="bet_middle_pos">
            <div>
                <div>
                    <h5>Are you sure you want to place your bet into "DRAW"?</h5>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary" @click="placeBet">Yes</button>
                    <button class="btn btn-danger" @click="bet_middle_pos = false">Cancel</button>
                </div>
            </div>
        </vs-popup>
        <vs-popup classContent="popup-example" title="Bet Place To Meron" :active.sync="bet_left_pos">
            <div>
                <div>
                    <h5>Are you sure you want to place your bet into "MERON"?</h5>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary" @click="placeBet">Yes</button>
                    <button class="btn btn-danger" @click="bet_left_pos = false">Cancel</button>
                </div>
            </div>
        </vs-popup>
        <!-- <template>
            <vs-popup title="ANNOUNCEMENT" :active.sync="announcementPopup">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <h3>{{ this.announcement_information }}</h3>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template> -->
        <template>
            <vs-popup title="Revert Declaration" :active.sync="revertAnnounce">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <h3>{{ this.revertMessage }}</h3>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
    </div>
    <div v-else>
        <div class="row" v-if="this.showNotice">
            <div class="col-md-12 text-center">
                <h3 class="text-dark">You need to have minimum atleast 100 Load/Points to play the game</h3>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    import fab from 'vue-fab'
    import $ from 'jquery';
    import Loading from 'vue-loading-overlay';
    import 'videojs-contrib-hls'
    import 'vue-loading-overlay/dist/vue-loading.css';
    import VClappr from "v-clappr";
    export default {
        name: "play-game",
        components: {
            fab,
            Loading,VClappr
        },
        data() {
            return {
                source:'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4',
                options: {
                    poster:
                        "https://truepic.net/wp-content/uploads/2020/04/Image-Thailand-Hot-Model-Nisa-Khamarat-Bikini-For-Songkran-Festival-TruePic.net_.jpg",
                    mute: false,
                    autoplay: false,
                    loop: false,
                    disable_keyboard_shortcuts: false,
                    disable_context_menu: true,
                    mediacontrol: { seekbar: "#E113D3", buttons: "#66B2FF" },
                    ga: {},
                    watermark: {}
                },
                localclappr: null,
                w_wala:0,
                w_meron:0,
                w_draw:0,
                w_cancel:0,
                left: false,
                winner: false,
                right: false,
                edit: false,
                remove: false,
                create: false,
                draw: false,
                bet_right_pos:false,
                bet_left_pos:false,
                bet_middle_pos:false,
                announcementPopup: false,
                revertAnnounce:false,
                showGame:false,
                showNotice:false,
                revertMessage:'',
                userType:'',
                table: [],
                selected: [],
                betting: {
                    'betting_timer' : [],
                    'game_timer' : [],
                    'last_call_timer' : [],
                    'game_timer_run' : '',
                    'betting_timer_run' : '',
                    'last_call_timer_run': '',
                    'betting_timer_color': 'white',
                },
                player_type:'',
                data: {
                    'game_number' : 1,
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': 1,
                    'left' : 0,
                    'right' : 0,
                    'middle':0,
                    'left_odds' : 0,
                    'right_odds' : 0,
                    'left_streak' : 0,
                    'right_streak' : 0,
                    'game_status': '',
                    'winner' : '',
                    'camera_url': '',
                    'winnerLive' : '',
                    'screensaver' : '',
                    'winnerStatus' : '',
                    'win_amount': 0

                },
                form: {
                    'bet_amount': ''
                },
                playerBet: {
                    'bet_name': 'None',
                    'bet_amount_left' : 0,
                    'bet_amount_right' : 0,
                    'bet_amount_middle':0
                },
                betClose: false,
                trends: [],
                wins: {
                    'left': 0,
                    'right': 0
                },
                streak: {
                    'position': '',
                    'count': 0
                },
                walletBalance: 0,
                broadcast: true,
                bgColor: '#778899',
                position: 'bottom-right',
                fabActions: [
                    {
                        name: 'messenger',
                        icon: 'send'
                    }
                ],
                trend_html:'',
                trend_array:[],
                output:[],
                session: false,
                announcement_information: '',
                totalRake: 0,
                showTimer: false,
                isLoading: false,
                fullPage: true,
                requesting: false,
            }
        },

        created() {
            this.getWalletBalance();
            this.userType = userType;
             window.addEventListener("resize", this.myEventHandler);
        },
        destroyed() {
            window.removeEventListener("resize", this.myEventHandler);
        },
        mounted() {        
            this.isLoading = true;
            Pusher.logToConsole = false;
            let pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });
            let channel = pusher.subscribe('my-alpha');
            channel.bind('game-event', (data) => {
                this.winner = false;
                this.draw = false;
                this.announcementPopup = true;
                if (!this.requesting){
                    this.getSession(false);
                }
            });
            channel.bind('declare-winner-event', (response) => {
                this.announcementPopup = false;
                this.w_wala= 0;
                this.w_meron= 0;
                this.w_draw= 0;
                this.w_cancel = 0;
                this.data['id'] = response.data.id;
                this.data['status'] = response.data.status;
                this.data['camera_configuration_id'] = 1;
                this.data['game_number'] = response.data.game_number;
                this.data['game_title'] = response.data.session.game_title;
                this.form['game_id'] = response.data.id;
                this.data['left'] = response.data.matches.left_bet;
                this.data['right'] = response.data.matches.right_bet;
                this.data['middle'] = response.data.matches.middle_bet;
                this.form['matches_id'] = response.data.matches.id;
                this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                if (this.data['status'] === 'Completed'){
                    this.data['winner'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                    this.data['winnerLive'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                } else {
                    this.data['winner'] = '';
                }
                this.betting['betting_timer'] = response.data.session.max_betting_time;
                this.betting['last_call_timer'] = response.data.session.last_call;
                this.betting['game_timer'] = response.data.session.max_game_time;
                this.broadcast = response.data.session.session_live == 1 ? true : false;
                document.dispatchEvent(new CustomEvent('refreshWallet'));
                setTimeout(() => {
                    if (this.data['status'] === 'Completed'){
                        this.winner = true;
                    }
                    if (this.data['status'] === 'Draw'){
                        this.draw = true;
                    }
                }, 1200);
            });
            channel.bind('new-game-event', (response) => {
                this.announcementPopup = false;
                this.winner = false;
                this.draw = false;
                this.playerBet['bet_name'] = 'None';
                this.playerBet['bet_amount_left'] = 0;
                this.playerBet['bet_amount_right'] = 0;
                this.playerBet['bet_amount_middle'] = 0;
                this.data['id'] = response.data.id;
                this.data['status'] = response.data.status;
                this.data['camera_configuration_id'] = 1;
                this.data['game_number'] = response.data.game_number;
                this.data['game_title'] = response.data.session.game_title;
                this.form['game_id'] = response.data.id;
                this.data['left'] = response.data.matches.left_bet;
                this.data['right'] = response.data.matches.right_bet;
                this.data['middle'] = response.data.matches.middle_bet;
                this.form['matches_id'] = response.data.matches.id;
                this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                if (this.data['status'] === 'Completed'){
                    this.data['winner'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                    this.data['winnerLive'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                } else {
                    this.data['winner'] = '';
                }
                this.betting['betting_timer'] = response.data.session.max_betting_time;
                this.betting['last_call_timer'] = response.data.session.last_call;
                this.betting['game_timer'] = response.data.session.max_game_time;
                this.broadcast = response.data.session.session_live == 1 ? true : false;

            });
            channel.bind('placebet-event', (response) => {
                if(!response.data.matches['left_bet'] && !response.data.matches['right_bet'] && !response.data.matches['middle_bet']){
                    this.playerBet['bet_name'] = 'None';
                    this.playerBet['bet_amount_left'] = 0;
                    this.playerBet['bet_amount_right'] = 0;
                    this.playerBet['bet_amount_middle'] = 0;
                }
                if(response.data.status == 'Closed'){
                    this.announcementPopup = false;
                    this.announcement_information = '';
                }
                this.generateUI(response)
            });
            channel.bind('revert-event', (data) => {
                this.revertAnnounce = true;
                this.revertMessage = data.message;
                document.dispatchEvent(new CustomEvent('refreshWallet'));
            });
            channel.bind('trends-event',(response) => {
                this.trends.unshift(response.data);
            });
            channel.bind('announcement-event', (data) => {
                this.announcement_information = data.message;
                this.announcementPopup = true;
                document.dispatchEvent(new CustomEvent('refreshWallet'));
            });
            channel.bind('announcement-clear', (data) => {
                document.dispatchEvent(new CustomEvent('refreshWallet'));
                this.announcement_information = '';
                this.announcementPopup = false;
            });
            channel.bind('winner-event', (data) => {
                this.w_wala= 0;
                this.w_meron= 0;
                this.w_draw= 0;
                this.w_cancel = 0;
                this.getSession(false);
                this.fetch();
                this.announcementPopup = false;
                document.dispatchEvent(new CustomEvent('refreshWallet'));
                setTimeout(() => {
                    if (this.data['status'] === 'Completed'){
                        this.winner = true;
                        // setTimeout(() => {
                        //     this.winner = false;
                        // }, 10000)
                    }
                    if (this.data['status'] === 'Draw'){
                        this.draw = true;
                        // this.trend_table();

                        //remove auto close
                        // setTimeout(() => {
                        //     this.draw = false;
                        // }, 5000)
                    }
                }, 1200);
            });
            setTimeout(() => {
                // this.myBet();
                this.isLoading = false;
            }, 800);
        },
        watch:{
            trend_html: function(val){
                if(val != ''){
                    setTimeout(() => {
                    this.trend_table();

            }, 1500);

                }
            },
            trends:function(response){
                this.output =[];
                this.trend_array = [];
                this.trend_html = '';
                let g = '';
                for(let i =0; i < response.length; i++){
                        // console.log(parseInt(response.data[i].game_number))
                        if(response[i].status == 'Draw'){
                            this.trend_array.push(3+ response[i].game_number)
                        }else if(response[i].status == 'Cancelled'){
                            this.trend_array.push(4+ response[i].game_number)
                        }
                        else{
                            if(response[i].matches.left_win == 1){
                            this.trend_array.push(1+ response[i].game_number)
                            }else if(response[i].matches.right_win == 1){
                                this.trend_array.push(2+ response[i].game_number)
                            }
                        }
                }
                let key = null;
                for(let x = 0; x < this.trend_array.length; x++){
                    if(x == 0){
                        this.output.push([this.trend_array[x]])
                    }else{
                        let val = this.trend_array[x].toString();
                        let get = val.substring(0,1);
                        // console.log(this.trend_array[x])
                        if(get == this.trend_array[x - 1].toString().substring(0,1)){
                            for(let j = 0 ; j < this.output.length; j ++){
                                j
                                if(j == this.output.length - 1){
                                    key = j;
                                    this.output[key].push(this.trend_array[x])
                                }
                            }
                        }else{
                            this.output.push([this.trend_array[x]])
                        }

                    }
                }
                var longest = this.output.reduce(function (a, b) { return a.length > b.length ? a : b; });
                // console.log(longest)
                for(let x =0 ;x< longest.length ;x++){
                    g += '<tr>';
                    for(let i = 0; i < this.output.length; i++){
                        g += '<td class="trends"></td>';
                    }
                    g += '</tr>';
                }
                this.trend_html = g;
            }
        },
        methods: {
            myEventHandler(e){
                var aspectRatio = 9/16;
                var newWidth = document.getElementById('player').parentElement.offsetWidth;
                var newHeight = 2 * Math.round(newWidth * aspectRatio/2);
                this.localclappr.resize({width: newWidth, height: newHeight});
            },
            clear(){
                this.form['bet_amount'] = '';
            },
            oninit(clappr) {
            var aspectRatio = 9/16;
            var newWidth = document.getElementById('player').parentElement.offsetWidth;
            var newHeight = 2 * Math.round(newWidth * aspectRatio/2);
            clappr.resize({width: newWidth, height: newHeight});
            this.localclappr = clappr;
            },
            onready(event) {
            console.log("inside hook: onready", event);
            },
            onplay(event) {
            console.log("inside hook: onplay", event);
            },
            onpause(event) {
            console.log("inside hook: onpause", event);
            },
            onstop(event) {
            console.log("inside hook: onstop", event);
            },
            onended(event) {
            console.log("inside hook: onended", event);
            },
            onfullscreen(isBool) {
            console.log("player fullscreen?", isBool);
            },
            onresize(resize) {            
            console.log("Resized object", resize);
            },
            onseek(time) {
            console.log("on seek, time in seconds:", time);
            },
            onvolumeupdate(volume) {
            console.log("Volume updated, current volume:", volume);
            },
            onerror(e) {
            console.log("le error:", e);
            },
            generateUI(response){
                this.data['id'] = response.data.id;
                this.data['status'] = response.data.status;
                this.data['camera_configuration_id'] = 1;
                this.data['game_number'] = response.data.game_number;
                this.data['game_title'] = response.data.session.game_title;
                this.form['game_id'] = response.data.id;
                this.data['left'] = response.data.matches.left_bet;
                this.data['right'] = response.data.matches.right_bet;
                this.data['middle'] = response.data.matches.middle_bet;
                this.form['matches_id'] = response.data.matches.id;
                this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                if (this.data['status'] === 'Completed'){
                    this.data['winner'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                    this.data['winnerLive'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                } else {
                    this.data['winner'] = '';
                }
                this.betting['betting_timer'] = response.data.session.max_betting_time;
                this.betting['last_call_timer'] = response.data.session.last_call;
                this.betting['game_timer'] = response.data.session.max_game_time;
                this.broadcast = response.data.session.session_live == 1 ? true : false;

                if (response.data.session.screensaver !== null){
                    this.data['screensaver'] = response.data.session.screensaver.img_base;
                }
            },
            trend_table(){
                this.output.reverse();
                for( let i = 0 ; i < this.output.length; i++){
                    if(this.output[i].length < 2){
                        let s_val = this.output[i][0].toString();
                        let s_index = s_val.substring(0,1);
                        if( s_index == 3){
                            this.w_draw += 1;
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                     <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #28a745;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                </div>`);
                        }else if(s_index == 4){
                            this.w_cancel += 1;
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #9a9da2;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                </div>`);
                        }
                        else if(s_index == 2){
                            this.w_wala += 1;
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <span class="dot" 
                                        style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #0B4592;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                    </div>`);
                        }else if(s_index== 1){
                            this.w_meron += 1;
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                         <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #B31013;border-radius: 50%;display: inline-block;">${s_val.substring(1)}</span>
                                    </div>`);
                        }
                        $('td:eq('+i+').trends').addClass('border');
                    }else{
                        if(this.output.length > 0){
                            this.output[i].reverse();
                        }
                        for(let x =0; x < this.output[i].length; x++){

                            let result = this.output[i][x].toString();
                            let s_con = result.substring(0,1);

                            if( s_con == 3){
                                this.w_draw += 1;
                            $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #28a745;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                </div>`);
                            }else if(s_con == 4){
                                this.w_cancel += 1;
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                   <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #9a9da2;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                </div>`);
                            }
                            else if(s_con == 2){
                                this.w_wala += 1;
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                           <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #0B4592;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                        </div>`);
                            }else if(s_con == 1){
                                this.w_meron += 1;
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                           <span class="dot" style="box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);padding: 3px 2px;color:white;height: 25px;min-width: 25px;background-color: #B31013;border-radius: 50%;display: inline-block;">${result.substring(1)}</span>
                                        </div>`);
                            }
                            $('tr:eq('+x+') td:eq('+i+').trends').addClass('border');
                        }
                    }
                }
                var element = document.getElementById("go_trend_table");
                element.scrollLeft = element.scrollWidth;
            },
            secondsTimeSpanToHMS(s) {
                let h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                let m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
            },
            openBettingTimer() {
                this.showTimer = true;
                let b = this.betting['betting_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                let vm = this;
                let bettingTimer = setInterval( () => {
                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);
                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },
            openGameTimer() {
                this.showTimer = true;
                let b = this.betting['game_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                let vm = this;
                let bettingTimer = setInterval( () => {
                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);
                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },
            lastCallBetting() {
                this.showTimer = true;
                let b = this.betting['last_call_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);
                let vm = this;
                let bettingTimer = setInterval( () => {
                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);
                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },
            getTotalRake(){
                axios.get('/api/getTotalRake')
                    .then(response => {
                        this.totalRake = response.data;
                        this.getSession();
                    })
                    .catch(error => console.log(error))
            },
            getAnnouncement() {
                axios.get('/api/getAnnouncement')
                    .then(response => {
                        if(response.data.status > 0){
                            this.announcement_information = response.data.content;
                            this.announcementPopup = true;
                        }
                    })
                    .catch(error => console.log(error))
            },
            getWalletBalance() {
                axios.get('/api/getWalletBalance')
                    .then(response => {
                        this.walletBalance = response.data.wallet_balance;
                        if(response.data.wallet_balance > 0){
                            this.showGame = true;
                            this.getAnnouncement();
                            this.getSession(true);
                            this.fetch();
                        }else{
                            this.showGame = false;
                            this.showNotice = true;
                        }
                    })
                    .catch(error => console.log(error))
            },
            fetch() {
                axios.get('/api/getGameHistory')
                    .then(response => {
                        this.table = [...response.data];
                        this.getTrends();
                    })
                    .catch(error => console.log(error))
            },
            gameSession() {
                axios.get('/api/checkSession')
                    .then(response => {
                        this.session = response.data;
                    })
                    .catch(error => console.log(error))
            },
            getTrends(){
                this.output =[];
                this.trend_array = [];
                this.trend_html = '';
                axios.get('/api/getTrends')
                .then(response => {
                    let g = '';
                    this.trends = [...response.data];
                    //this.trend_array = [2,2,1,1,2,1,1,1,2,2,3,3]
                    /*
                    transform into = [[2,2],[1,1],[2],[1,1,1],[2,2],[3,3]]
                    */
                    for(let i =0; i < response.data.length; i++){
                        // console.log(parseInt(response.data[i].game_number))
                        if(response.data[i].status == 'Draw'){
                            this.trend_array.push(3+ response.data[i].game_number)
                        }else if(response.data[i].status == 'Cancelled'){
                            this.trend_array.push(4+ response.data[i].game_number)
                        }
                        else{
                            if(response.data[i].matches.left_win == 1){
                            this.trend_array.push(1+ response.data[i].game_number)
                            }else if(response.data[i].matches.right_win == 1){
                                this.trend_array.push(2+ response.data[i].game_number)
                            }
                        }
                    }
                    let key = null;
                    for(let x = 0; x < this.trend_array.length; x++){
                        if(x == 0){
                            this.output.push([this.trend_array[x]])
                        }else{
                            let val = this.trend_array[x].toString();
                            let get = val.substring(0,1);
                            // console.log(this.trend_array[x])
                            if(get == this.trend_array[x - 1].toString().substring(0,1)){
                                for(let j = 0 ; j < this.output.length; j ++){
                                    j
                                    if(j == this.output.length - 1){
                                        key = j;
                                        this.output[key].push(this.trend_array[x])
                                    }
                                }
                            }else{
                                this.output.push([this.trend_array[x]])
                            }

                        }
                    }
                    var longest = this.output.reduce(function (a, b) { return a.length > b.length ? a : b; });
                    // console.log(longest)
                    for(let x =0 ;x< longest.length ;x++){
                        g += '<tr>';
                        for(let i = 0; i < this.output.length; i++){
                            g += '<td class="trends"></td>';
                        }
                        g += '</tr>';
                    }
                    this.trend_html = g;
                })
                .catch(error => console.log(error))
            },

            getWins(){
                axios.get('/api/getWins')
                    .then(response => {
                        this.wins['left'] = response.data.left;
                        this.wins['right'] = response.data.right;
                    })
                    .catch(error => console.log(error))
            },

            myBet() {
                axios.get('/api/getPlayerBet/' + this.form['game_id'])
                    .then(response => {

                        if (response.data){
                            this.playerBet['bet_amount_left'] = response.data.bet_left;
                            this.playerBet['bet_amount_right'] = response.data.bet_right;
                            this.playerBet['bet_amount_middle'] = response.data.bet_middle;
                            if (this.data['status'] === 'Completed') {
                                this.data['winnerStatus'] = response.data.bet_result;
                                this.data['win_amount'] = response.data.bet_payout;
                            }
                        }

                        this.requesting = false;

                        // this.fetch();

                    })
                    .catch(error => console.log(error))
            },

            betUpdate(amount){
                this.form['bet_amount'] = amount;
                this.playerBet['bet_amount'] = amount;
            },

            getSession(reload) {
                this.requesting = true;
                axios.get('/api/currentGameSession').then(response => {
                    if(reload){
                        this.player_type = response.data.session.player_type;
                        if(this.player_type == 'hls'){
                            setTimeout(() => {
                               this.localclappr.configure({source: response.data.session.source_1});
                            }, 200);
                            console.log(this.localclappr)
                        }
                        this.data['camera_url'] = response.data.session.camera_url;
                    }
                    this.data['id'] = response.data.id;
                    this.data['status'] = response.data.status;
                    this.data['camera_configuration_id'] = 1;
                    this.data['game_number'] = response.data.game_number;
                    this.data['game_title'] = response.data.session.game_title;
                    this.form['game_id'] = response.data.id;
                    this.data['left'] = response.data.matches.left_bet;
                    this.data['right'] = response.data.matches.right_bet;
                    this.data['middle'] = response.data.matches.middle_bet;
                    this.form['matches_id'] = response.data.matches.id;
                    this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                    this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                    if (this.data['status'] === 'Completed'){
                        this.data['winner'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                        this.data['winnerLive'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                    } else {
                        this.data['winner'] = '';
                    }
                    this.betting['betting_timer'] = response.data.session.max_betting_time;
                    this.betting['last_call_timer'] = response.data.session.last_call;
                    this.betting['game_timer'] = response.data.session.max_game_time;
                    this.broadcast = response.data.session.session_live == 1 ? true : false;

                    if (response.data.session.screensaver !== null){
                        this.data['screensaver'] = response.data.session.screensaver.img_base;
                    }
                    this.myBet();
                }).catch(error => console.log(error))
            },

            getStreak() {
                axios.get('/api/getStreak').then(response => {

                    this.data['left_streak'] = response.data.left_streak;
                    this.data['right_streak'] = response.data.right_streak;

                    this.getWins();

                }).catch(error => console.log(error))
            },

            placeBet(){
                this.bet_right_pos = false;
                this.bet_left_pos = false;
                this.bet_middle_pos = false;
                this.$refs.bet_amount.classList.remove('is-invalid')
                if(this.data['status'] != 'Open' && this.data['status'] != 'Last Call'){
                    this.$vs.notify({
                        'text' :'Game is already closed cannot Place Bet !',
                        'color' : 'danger',
                        'position' : 'top-left'
                    });
                    return;
                }
                this.$vs.loading()
                axios.post('/api/placeBet', this.form)
                    .then(response => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-left'
                        });


                        this.left = false;
                        this.right = false;

                        this.form['bet_amount'] = 0;
                        this.form['bet_position'] = '';
                        if(response.data.type == 'success'){
                            this.myBet();
                            document.dispatchEvent(new CustomEvent('refreshWallet'));
                        }
                    })
                    .catch(error => console.log(error))
            },

            betLeft() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')){
                    this.left = true;
                    this.form['bet_position'] = 'left';
                } else {
                    this.left = false;
                }
            },
            betplace(pos){
                if((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')){
                    if(this.form['bet_amount'] <= 0){
                        this.$refs.bet_amount.classList.add('is-invalid')
                        this.$vs.notify({
                            'text' : 'Please Enter Amount First',
                            'color' : 'danger',
                            'position' : 'top-left'
                        });
                    }
                    else if(pos == 'right'){
                        this.bet_right_pos = true;
                        this.form['bet_position'] = 'right';
                    }else if(pos == 'left'){
                        this.bet_left_pos = true;
                        this.form['bet_position'] = 'left';
                    }else if(pos == 'middle'){
                        this.bet_middle_pos = true;
                        this.form['bet_position'] = 'middle';
                    }
                }
            },
            betRight() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')) {
                    this.right = true;
                    this.form['bet_position'] = 'right';
                } else {
                    this.right = false;
                }

            },

            send(){
                window.open(
                    'https://m.me/chloe.shnapp.9',
                    '_blank'
                );
            },
        }
    }
</script>

<style scoped>
  .player {
    position: absolute !important;
    width: 100%;
    height: 60%;
  }
  .vjs-custom-skin {
    height: 60% !important;
  }

  .vjs-custom-skin .video-js {
    height: 60%;
  }

  @media (min-width: 576px) {
      .font-auto {
          font-size: 5vw !important;
          text-transform: upppercase;
      }
  }

  @media (min-width: 768px) {
      .font-auto {
          font-size: 2vw !important;
          text-transform: upppercase;
      }
  }

  @media (min-width: 992px) {
      .font-auto {
          font-size: 2vw !important;
          text-transform: upppercase;
      }
  }

  @media (min-width: 1200px) {
      .font-auto {
          font-size: 2vw !important;
          text-transform: upppercase;
      }
  }


    .fix-video-stream {
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 999;
        margin-left: -18px;
    }

    .btn-bet {
        font-weight:600;
        color: #fff !important;
        background-color: #00c9ff;
    }

    /* .text-dark {
        color: gold !important;
    } */

    .bg-left {
        border-bottom: 50px solid #555;
        border-left: 25px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 45px;
    }

    .bg-right {
        border-bottom: 50px solid #555;
        border-left: 0px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 45px;
    }

    .text-danger {
        color: red !important;
    }

    .blink-text {
        animation: blink 1s linear infinite;
    }
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }
    td.border{
        border:5px solid white;

    }
    .meron {
        box-shadow:inset 0px -1px 0px 0px #683f31;
        background:linear-gradient(to bottom, red 5%, red 100%);
        background-color:#f54818;
        border-radius:5px;
        border:1px solid #f54818;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ff4d00;
    }
    .meron:hover {
        background:linear-gradient(to bottom, red 5%, red 100%);
        background-color:#a82d14;
    }
    .meron:active {
        position:relative;
        top:1px;
    }
    .draw {
        box-shadow:inset 0px -1px 0px 0px #104409;
        background:linear-gradient(to bottom, green 5%, green 100%);
        background-color:#104409;
        border-radius:5px;
        border:1px solid green;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px green;
    }
    .draw:hover {
        background:linear-gradient(to bottom, green 5%, green 100%);
        background-color:green;
    }
    .draw:active {
        position:relative;
        top:1px;
    }
    .wala {
        box-shadow:inset 0px -1px 0px 0px rgb(26, 26, 80);
        background:linear-gradient(to bottom, blue 5%, blue 100%);
        background-color:blue;
        border-radius:5px;
        border:1px solid blue;
        display:inline-block;
        cursor:pointer;
        color:#333333;
        font-family:Arial;
        font-size:13px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px blue;
    }
    .wala:hover {
        background:linear-gradient(to bottom, blue 5%, blue 100%);
        background-color:blue;
    }
    .wala:active {
        position:relative;
        top:1px;
    }
</style>
