<template>
    <div style="!important;background-size: cover;
    margin-left: -16px;
    margin-right: -16px;">
        <loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="fullPage"></loading>
        <div class="row">
            <div class='col-md-8'>
                <div class="col-md-12" v-if="this.data['status'] === 'Open' || this.data['status'] === 'Pending' || this.data['status'] === 'Closed' || this.data['status'] === 'Last Call'">
                    <div class="text-center">
                        <h4 class="text-center text-gold">{{ this.data['game_title'] }}</h4>
                    </div>
                    <div class="card" style="background: #0f0f0f;">
                        <div class="card-content">
                            <!-- <video-player ref="videoPlayer"
                                class="vjs-custom-skin"
                                            :options="playerOptions"
                                            @play="onPlayerPlay($event)"
                                            @ready="onPlayerReady($event)">
                                </video-player> -->
                            <div class="embed-responsive embed-responsive-16by9" v-if="broadcast">
                                <iframe class="embed-responsive-item" frameborder="0" src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                            </div>
                            <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background: transparent; border: none" v-else>
                    <div class="text-center">
                        <h4 class="text-center text-gold">READY FOR NEXT DEAL</h4>
                    </div>
                    <div class="card" style="background: #0f0f0f;">
                        <div class="card-content">
                            <!-- <video-player ref="videoPlayer"
                                        class="vjs-custom-skin"
                                        :options="playerOptions"
                                        @play="onPlayerPlay($event)"
                                        @ready="onPlayerReady($event)">
                            </video-player> -->
                            <div class="embed-responsive embed-responsive-16by9" v-if="broadcast">
                                <iframe class="embed-responsive-item" frameborder="0" src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                            </div>
                            <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" ref="dom">
                        <div class="col-md-12" v-if="this.data['status'] !== 'Pending'">
                            <div class="text-center">
                                <div v-if="this.data['status'] === 'Closed'">
                                    <h3 class="text-center text-danger">{{ "CLOSED" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Open'">
                                    <h3 class="text-center text-success blink-text">{{ "OPEN FOR BETTING" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Last Call'">
                                    <h3 class="text-center text-gold blink-text">{{ "LAST CALL" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Ongoing'">
                                    <h3 class="text-center text-gold blink-text">{{ "GAME ONGOING" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Tie'">
                                    <h3 class="text-center text-gold blink-text">{{ "GAME TIE" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Cancelled'">
                                    <h3 class="text-center text-danger">{{ "Cancelled" | capitalize }}</h3>
                                </div>
                                <div v-if="this.data['status'] === 'Completed'">
                                    <h3 class="text-center text-white">{{ "GAME COMPLETED" | capitalize }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div v-if="this.walletBalance > 0" @click="betLeft" class="Banker" style="float: right; width: 145px;">
                                <div class="text-center">
                                    <h4 class="text-center" style="font-size: 26px; color: white">
                                        {{ parseFloat(this.data['left']) | decimal }} <br />
                                        {{ parseFloat(parseFloat(this.data['left_odds']) * 100).toFixed(2) }} %
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="text-center" style="color: white">
                                        <strong>优 | Player</strong>
                                        <hr>
                                        <strong>播放器</strong>
                                    </h4>
                                </div>
                                <div class="text-center"  v-if="this.data['status'] !== 'Closed'">
                                    <button class="btn btn-bet">SELECT</button>
                                </div>
                            </div>
                            <div v-else class="Banker" style="float: right; width: 145px;">
                                <div class="text-center">
                                    <h4 class="text-center" style="font-size: 26px; color: white !important;">
                                        {{ parseFloat(this.data['left']) | decimal }} <br />
                                        {{ parseFloat(parseFloat(this.data['left_odds']) * 100).toFixed(2) }} %
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="text-center" style="color: white">
                                        <strong>优 | Player</strong>
                                        <hr>
                                        <strong>播放器</strong>
                                    </h4>
                                </div>
                                <div class='text-center'>
                                    <button class="btn btn-bet" style="margin-left: 8px;">NO CREDITS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div @click="betRight" v-if="this.walletBalance > 0" class="Player" style="width: 145px;">
                                <div class="text-center">
                                    <h4 class="text-center" style="font-size: 26px; color: black">
                                        {{ parseFloat(this.data['right']) | decimal }} <br />
                                        {{ parseFloat(parseFloat(this.data['right_odds']) * 100).toFixed(2) }} %
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="text-center" style="color: black">
                                        <strong>庄 | Banker</strong>
                                        <hr>
                                        <strong>银行家</strong>
                                    </h4>
                                </div>
                                <div class="text-center" v-if="this.data['status'] !== 'Closed'">
                                    <button class="btn btn-bet" @click="betRight" v-if="this.walletBalance > 0">SELECT</button>
                                    <button class="btn btn-bet" style="margin-left: 8px;"  v-else>NO CREDITS</button>
                                </div>
                            </div>
                            <div v-else class="Player" style="width: 145px;">
                                <div class="text-center">
                                    <h4 class="text-center" style="font-size: 26px; color: black">
                                        {{ parseFloat(this.data['right']) | decimal }} <br />
                                        {{ parseFloat(parseFloat(this.data['right_odds']) * 100).toFixed(2) }} %
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="text-center" style="color: black">
                                        <strong>庄 | Banker</strong>
                                        <hr>
                                        <strong>银行家</strong>
                                    </h4>
                                </div>
                                <div class='text-center'>
                                    <button class="btn btn-bet" style="margin-left: 8px">NO CREDITS</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h4 class="text-white text-center mt-2 text-gold">Your Bet</h4>
                        </div>
                        <div class="col-6">
                            <div>
                                <p class="text-center text-white" style="margin-top: 8px; font-size: 26px;">
                                    <img src="/images/coins2.png" class="img" style="width: 20px" />
                                    {{ this.playerBet['bet_amount_left'] | decimal }}</p>
                                <p class="text-center text-white" style="margin-top: 8px; font-size: 26px">Player</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <p class="text-center text-white" style="margin-top: 8px; font-size: 26px">
                                    <img src="/images/coins2.png" class="img" style="width: 20px" />
                                    {{ this.playerBet['bet_amount_right'] | decimal }}</p>
                                <p class="text-center text-white" style="margin-top: 8px; font-size: 26px">Banker</p>
                            </div>
                        </div>
                        <div class="col-md-12" v-if="this.data['status'] === 'Completed'">
                            <h4 class="text-white text-center mt-2 text-white blink-text">Winner: {{ this.data['winner'] }}</h4>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="col-md-12 mt-2">
                                    <h5 class="text-center text-white">Game Trend</h5>
                                </div>
                                <div class="col-md-12" style="background: black">
                                    <div v-if="trends.length">
                                        <table class="game_trend_table table-sm no-padding table-responsive" style="overflow: auto">
                                            <tbody v-html="trend_html">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-else>
                                        <h5 class="text-center text-white mt-2">No Trends Available</h5>
                                    </div>
                                    <div class="mt-2">

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group" style="background: #212121 !important">
                                                    <h5 style="" class="text-white text-left" >BET HISTORY</h5>
                                                </div>
                                                <div class="form-group" v-if="table.length">
                                                    <vs-table
                                                    stripe
                                                    :data="table"
                                                    >
                                                        <template slot="thead">
                                                            <vs-th>#</vs-th>
                                                            <vs-th>Win side</vs-th>
                                                            <vs-th>Bet placed</vs-th>
                                                            <vs-th>Status</vs-th>
                                                            <vs-th>Payout | Rate</vs-th>
                                                        </template>
                                                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                                                <vs-td :data="data[indextr].game_number">
                                                                {{ data[indextr].games.game_number }}
                                                                </vs-td>
                                                                <vs-td :data="data[indextr].game_number">
                                                                    <div v-if="data[indextr].games.status === 'Completed'">
                                                                        <p class="text-danger" v-if="data[indextr].matches.left_win === 1">Banker</p>
                                                                        <p class="text-primary" v-else>Player</p>
                                                                    </div>
                                                                    <div v-else>
                                                                        <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                                    </div>
                                                                </vs-td>
                                                                <vs-td :data="data[indextr].game_number">
                                                                <p>{{ data[indextr].bet_left | decimal }}</p>
                                                                <p>{{ data[indextr].bet_right | decimal}}</p>
                                                                </vs-td>
                                                                <vs-td :data="data[indextr].game_number">
                                                                    <div v-if="data[indextr].games.status === 'Completed'">
                                                                        <p class="text-success" v-if="data[indextr].bet_result === 'Win'">Win</p>
                                                                        <p class="text-danger" v-else>Lose</p>
                                                                    </div>
                                                                    <div v-else>
                                                                        <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                                    </div>
                                                                </vs-td>
                                                                <vs-td>
                                                                    {{ data[indextr].bet_payout | decimal }} ({{ data[indextr].bet_odds_less_rake | percentage }})
                                                                </vs-td>
                                                            </vs-tr>
                                                        </template>
                                                    </vs-table>
                                                </div>
                                                <div class="form-group" v-else>
                                                    <p class="text-center">NO GAME HISTORY THIS DAY</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='card mt-2'>
                    <div class="card-header" style="border-bottom:1px solid gray;">
                        <p>Chat Box</p>
                    </div>
                    <div class='card-body' id="chat-message" style='height:687px;overflow: auto;'>
                        <div class="row" v-for="index in message_list" :key="index.id">
                            
                            <div style="width:100%;" v-if="user_id == index.user_id">
                                <div class="mt-1">
                                    <span class="message-data-name me"> {{index.name}}: </span><span class="message_message"> {{index.message}}</span>                                    
                                </div>
                            </div>
                            <div style="width:100%;" v-else>
                                <div class="mt-1" v-if="index.type === 1">
                                    <span class="message-data-name player_m"> Player_{{index.name}}: </span><span class="message_message"> {{index.message}}</span>
                                </div>
                                <div class="mt-1" v-if="index.type === 10">
                                    <span class="message-data-name csr"> CSR_{{index.name}}: <span class="message_message"> {{index.message}}</span></span>
                                </div>
                                <div class="mt-1" v-if="index.type === 2">
                                    <span class="message-data-name player_m"> Admin_{{index.name}}: </span><span class="message_message"> {{index.message}}</span>
                                </div>
                                <div class="mt-1" v-if="index.type === 9">
                                    <span class="message-data-name player_m"> Admin_OM_{{index.name}}: </span><span class="message_message"> {{index.message}}</span>
                                </div>
                                <div class="mt-1" v-if="index.type === 11">
                                    <span class="message-data-name driver"> Driver_{{index.name}}: </span><span class="message_message"> {{index.message}}</span>
                                </div>
                                
                            </div>                     
                        </div>               
                    </div>
                    <div class="card-footer" style='height:80px;'>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" v-model="message" @keyup.enter="send_message(message)" placeholder="Enter Your message" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" @click="send_message(message)" id="basic-addon2">Send</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <template>
            <vs-popup title="Make a bet" :active.sync="left">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" v-model="form['bet_amount']" />
                        </div>
                        <div class="form-group row" style="padding: 5px; display: flex; justify-content: center">
                            <button type="button" @click="betUpdate(100, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">100</button>
                            <button type="button" @click="betUpdate(500, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">500</button>
                            <button type="button" @click="betUpdate(1000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">1,000</button>
                            <button type="button" @click="betUpdate(5000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">5,000</button>
                            <button type="button" @click="betUpdate(10000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">10,000</button>
                            <button type="button" @click="betUpdate(20000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">20,000</button>
                            <button type="button" @click="betUpdate(50000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">50,000</button>
                            <button type="button" @click="betUpdate(100000, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">100,000</button>
                            <button type="button" @click="betUpdate(walletBalance, 'left')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">All in</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" @click.prevent="placeBet">Place your Bet</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Make a bet" :active.sync="right">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" v-model="form['bet_amount']" />
                        </div>
                        <div class="form-group row" style="padding: 5px; display: flex; justify-content: center">
                            <button type="button" @click="betUpdate(100, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">100</button>
                            <button type="button" @click="betUpdate(500, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">500</button>
                            <button type="button" @click="betUpdate(1000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">1,000</button>
                            <button type="button" @click="betUpdate(5000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">5,000</button>
                            <button type="button" @click="betUpdate(10000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">10,000</button>
                            <button type="button" @click="betUpdate(20000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">20,000</button>
                            <button type="button" @click="betUpdate(50000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">50,000</button>
                            <button type="button" @click="betUpdate(100000, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">100,000</button>
                            <button type="button" @click="betUpdate(walletBalance, 'right')" class="btn btn-success mr-1 mb-1" style="width:90px;font-size: 12px">All in</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" @click.prevent="placeBet">Place your Bet</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Announcement!!!" :active.sync="announcementPopup">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <h3>{{ this.announcement_information }}</h3>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup :title="'We Have a Winner to Deal #'+this.data['game_number']+'!'" :active.sync="winner">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h4>GAME RESULT! {{ this.data['winner'] }} WINS!</h4>
                            <h5 v-if="this.data['winnerStatus'] === 'Win'">You Won! {{ this.data['win_amount'] }} </h5>
                        </div>
                    </div>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Uh oh.." :active.sync="draw">
                <div>
                    <div class="row">
                        <div class="col-12 drew">
                            <h4>GAME IS TIE!</h4>
                        </div>
                    </div>
                </div>
            </vs-popup>
        </template>
        <fab
            :position="position"
            :bg-color="bgColor"
            :actions="fabActions"
            @messenger="send"
            main-icon="help"
        />
    </div>

</template>

<script>
    import axios from "axios";
    import fab from 'vue-fab'
    import $ from 'jquery';
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'videojs-contrib-hls'
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HLSCore from '@core-player/playcore-hls';
    import { EVENTS } from 'vue-core-video-player'
    import {videoPlayer} from 'vue-videojs7'

    export default {
        name: "play-game",
        components: {
            fab,
            Loading,videoPlayer
        },
        data() {
            return {
                playerOptions: {
                    autoplay: true,
                    muted: true,
                    controls: true,
                    controlBar: {
                      timeDivider: false,
                      durationDisplay: false
                    }
                },
                user_id:'',
                user_type:'',
                message:'',
                message_list:[],
                left: false,
                winner: false,
                right: false,
                antiSpam:false,
                edit: false,
                remove: false,
                create: false,
                draw: false,
                announcementPopup: false,
                table: [],
                selected: [],
                betting: {
                    'betting_timer' : [],
                    'game_timer' : [],
                    'last_call_timer' : [],
                    'game_timer_run' : '',
                    'betting_timer_run' : '',
                    'last_call_timer_run': '',
                    'betting_timer_color': 'white',
                },
                data: {
                    'game_number' : 1,
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': 1,
                    'left' : 0,
                    'right' : 0,
                    'left_odds' : 0,
                    'right_odds' : 0,
                    'left_streak' : 0,
                    'right_streak' : 0,
                    'game_status': '',
                    'winner' : '',
                    'screensaver' : '',
                    'winnerStatus' : '',
                    'win_amount': 0

                },
                form: {
                    'bet_amount': ''
                },
                playerBet: {
                    'bet_name': 'None',
                    'bet_amount_left' : 0,
                    'bet_amount_right' : 0
                },
                betClose: false,
                trends: [],
                wins: {
                    'left': 0,
                    'right': 0
                },
                streak: {
                    'position': '',
                    'count': 0
                },
                walletBalance: 0,
                broadcast: true,
                bgColor: '#778899',
                position: 'bottom-right',
                fabActions: [
                    {
                        name: 'messenger',
                        icon: 'send'
                    }
                ],
                trend_html:'',
                trend_array:[],
                output:[],
                session: false,
                announcement_information: '',
                totalRake: 0,
                showTimer: false,
                isLoading: false,
                fullPage: true,
                requesting: false,
                HLSCore
            }
        },

        created() {
            this.getTotalRake();
            this.getWalletBalance();
            this.fetch();
            this.get_message();
        },
        computed: {
            player () {
            return this.$refs.videoPlayer.player
            }
        },
        mounted() {
            this.user_id = document.querySelector("meta[name='user_id']").getAttribute('content');
            const src = 'https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8'
            this.playVideo(src)
            this.isLoading = true;

            Pusher.logToConsole = false;

            let pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });

            let channel = pusher.subscribe('my-alpha');
            channel.bind('chat-event', (data) => {
                console.log(data)
                this.message_list.push(data.chat_message)
                var element = document.getElementById("chat-message");
                setTimeout(() => {
                    element.scrollTop = element.scrollHeight;
                    this.antiSpam = false;
                }, 500);
            });
            channel.bind('game-event', (data) => {
                if (!this.requesting){
                    this.getSession();
                }
            });
            channel.bind('announcement-event', (data) => {
                this.getAnnouncement();
            });

            channel.bind('winner-event', (data) => {
                this.getSession();
                this.fetch();
                document.dispatchEvent(new CustomEvent('refreshWallet'));

                setTimeout(() => {
                    if (this.data['status'] === 'Completed'){
                        this.winner = true;
                        // this.trend_table();
                        setTimeout(() => {
                            this.winner = false;
                        }, 3000)
                    }

                    if (this.data['status'] === 'Tie'){
                        this.draw = true;
                        // this.trend_table();

                        //remove auto close
                        setTimeout(() => {
                            this.draw = false;
                        }, 3000)
                    }
                }, 1200);
            });

            //rake->session->walletBalance->mybet->fetch->trends->wins->streak

            setTimeout(() => {
                this.myBet();
                this.isLoading = false;


            }, 800);


        },
        watch:{
            trend_html: function(val){
                if(val != ''){
                    setTimeout(() => {
                    this.trend_table();

            }, 1500);

                }
            }
        },

        methods: {
            send_message(){
                if(this.message == ''){
                    this.$vs.notify({
                        'text' :'Game is already closed cannot Place Bet !',
                        'color' : 'danger',
                        'position' : 'top-left'
                    });
                    return;
                }
                if(this.antiSpam){
                    return;
                }
                this.antiSpam = true;
                axios.post('/api/send_message',{'message':this.message})
                .then(response => {
                    this.message = '';
                    this.get_message();
                });
            },
            get_message(){
                
                axios.get('/api/get_message')
                .then(response => {
                    this.message_list = [];
                    this.message_list = [...response.data];
                    console.log(this.message_list)
                    var element = document.getElementById("chat-message");
                    setTimeout(() => {
                        element.scrollTop = element.scrollHeight;
                        this.antiSpam = false;
                    }, 500);
                });
            },
            videoTimeUpdated(){
                console.log('timeupdate false')
            },
            onPlayerPlay (player) {
                console.log('player play!', player)
                this.player.off("timeupdate",function(){
                console.log('remove')
            })
            },
            onPlayerReady (player) {
                console.log('player ready!', player)
                this.player.muted();
                this.player.play()
            },
            playVideo: function (source) {
            const video = {
                withCredentials: false,
                type: 'application/x-mpegurl',
                src: source
            }
            // this.player.reset() // in IE11 (mode IE10) direct usage of src() when <src> is already set, generated errors,
            // this.player.src(video)
            // this.player.muted();
            // this.player.play();
            // this.player.play()
            },
            trend_table(){

                console.log(this.trend_array)

                for( let i = 0 ; i < this.output.length; i++){
                    if(this.output[i].length < 2){
                        if( this.output[i][0] == 3){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <img src="../../../images/draw.png" style="width: 25px; max-width: 25px">
                                </div>`);
                        }else if(this.output[i][0] == 2){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <img src="../../../images/banker.png" style="width: 25px; max-width: 25px">
                                    </div>`);
                        }else if(this.output[i][0] == 1){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <img src="../../../images/player.png" style="width: 25px; max-width: 25px" >
                                    </div>`);
                        }
                        $('td:eq('+i+').trends').addClass('border');
                    }else{
                        for(let x =0; x < this.output[i].length; x++){
                            let result = this.output[i][x];
                            if( this.output[i][x] == 3){
                            $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <img src="../../../images/draw.png" style="width: 25px; max-width: 25px">
                                </div>`);
                            }else if(this.output[i][x] == 2){
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                            <img src="../../../images/banker.png" style="width: 25px; max-width: 25px">
                                        </div>`);
                            }else if(this.output[i][x] == 1){
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                            <img src="../../../images/player.png" style="width: 25px; max-width: 25px" >
                                        </div>`);
                            }
                            $('tr:eq('+x+') td:eq('+i+').trends').addClass('border');
                        }
                    }

                }
            },
            secondsTimeSpanToHMS(s) {
                let h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                let m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
            },
            openBettingTimer() {
                this.showTimer = true;
                let b = this.betting['betting_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            openGameTimer() {
                this.showTimer = true;
                let b = this.betting['game_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            lastCallBetting() {
                this.showTimer = true;
                let b = this.betting['last_call_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            getTotalRake(){
                axios.get('/api/getTotalRake')
                    .then(response => {
                        this.totalRake = response.data;
                        this.getSession();
                    })
                    .catch(error => console.log(error))
            },

            getAnnouncement() {
                axios.get('/api/getAnnouncement')
                    .then(response => {
                        this.announcement_information = response.data.content;
                        this.announcementPopup = true;
                        setTimeout(() => {
                            this.announcementPopup = false;
                        }, 5000);
                    })
                    .catch(error => console.log(error))
            },

            getWalletBalance() {
                axios.get('/api/getWalletBalance')
                    .then(response => {
                        this.walletBalance = response.data.wallet_balance;
                        this.myBet();
                    })
                    .catch(error => console.log(error))
            },

            fetch() {

                axios.get('/api/getGameHistory')
                    .then(response => {
                        this.table = [...response.data];
                        this.getTrends();
                    })
                    .catch(error => console.log(error))
            },

            gameSession() {

                axios.get('/api/checkSession')
                    .then(response => {
                        this.session = response.data;
                    })
                    .catch(error => console.log(error))
            },

            getTrends(){
                this.output =[];
                this.trend_array = [];
                this.trend_html = '';
                axios.get('/api/getTrends')
                    .then(response => {
                        let g = '';
                        this.trends = [...response.data];

                        //this.trend_array = [2,2,1,1,2,1,1,1,2,2,3,3]
                        /*
                        transform into = [[2,2],[1,1],[2],[1,1,1],[2,2],[3,3]]
                        */
                        for(let i =0; i < response.data.length; i++){
                            if(response.data[i].status == 'Tie'){
                                this.trend_array.push(3)
                            }else{
                                if(response.data[i].matches.left_win == 1){
                                this.trend_array.push(1)
                                }else if(response.data[i].matches.right_win == 1){
                                    this.trend_array.push(2)
                                }
                            }
                        }
                        let key = null;
                        console.log(this.trend_array.reverse())
                        
                        for(let x = 0; x < this.trend_array.length; x++){
                            
                            if(x == 0){
                                this.output.push([this.trend_array[x]])
                                console.log('-')
                            }else{
                                 let j = (this.output.length > 0 ? this.output.length - 1: 0);
                                 if(this.trend_array[x] === 1){
                                    let found = this.output[j].find(el => el == this.trend_array[x]);
                                    let find2 = this.output[j].find(el => el == 2);
                                    let find3 = this.output[j].find(el => el == 3);
                                    if(found != undefined && find2 == undefined){
                                        this.output[j].push(this.trend_array[x])
                                    }
                                    else if(find3 != undefined && find2 == undefined){
                                        this.output[j].push(this.trend_array[x])
                                    }
                                    else{
                                        this.output.push([this.trend_array[x]])
                                    }
                                }else if(this.trend_array[x] === 2){
                                    let found = this.output[j].find(el => el == this.trend_array[x]);
                                    let find1 = this.output[j].find(el => el == 1);
                                    let find3 = this.output[j].find(el => el == 3);
                                    if(found != undefined && find1 == undefined){
                                        this.output[j].push(this.trend_array[x])
                                    }
                                    else if(find3 != undefined && find1 == undefined){
                                        this.output[j].push(this.trend_array[x])
                                    }
                                    else{
                                        this.output.push([this.trend_array[x]])
                                    }
                                }else if(this.trend_array[x] === 3){
                                    this.output[j].push(this.trend_array[x])
                                }
                                // if(this.trend_array[x] == this.trend_array[x - 1] || this.trend_array[x] == 3 || this.trend_array[x-1] == 3){
                                //     for(let j = 0 ; j < this.output.length; j ++){
                                //         if(j == this.output.length - 1){
                                //              this.output[j].push(this.trend_array[x])
                                //         }
                                //     }
                                // }
                                // else{
                                //     console.log('ffffffffff'+this.trend_array[x])
                                //     this.output.push([this.trend_array[x]])
                                // }

                            }
                        }
                        console.log(this.output)
                        var longest = this.output.reduce(function (a, b) { return a.length > b.length ? a : b; });
                        for(let x =0 ;x< longest.length ;x++){
                            g += '<tr>';
                            for(let i = 0; i < this.output.length; i++){
                                g += '<td class="trends"></td>';
                            }
                            g += '</tr>';
                        }
                        this.trend_html = g;

                    })
                    .catch(error => console.log(error))
            },

            getWins(){
                axios.get('/api/getWins')
                    .then(response => {
                        this.wins['left'] = response.data.left;
                        this.wins['right'] = response.data.right;
                    })
                    .catch(error => console.log(error))
            },

            myBet() {
                axios.get('/api/getPlayerBet/' + this.form['game_id'])
                    .then(response => {

                        if (response.data){
                            this.playerBet['bet_amount_left'] = response.data.bet_left;
                            this.playerBet['bet_amount_right'] = response.data.bet_right;
                            this.data['winnerStatus'] = response.data.bet_result;
                            this.data['win_amount'] = response.data.bet_payout;
                        }

                        this.requesting = false;

                        // this.fetch();

                    })
                    .catch(error => console.log(error))
            },

            betUpdate(amount, type){
                this.form['bet_amount'] = amount;
                this.playerBet['bet_amount'] = amount;
                this.playerBet['bet_name'] = type;
                this.form['bet_position'] = type;
            },

            getSession() {
                this.requesting = true;
                axios.get('/api/currentGameSession').then(response => {
                    this.data['id'] = response.data.id;
                    this.data['status'] = response.data.status;
                    this.data['camera_configuration_id'] = 1;
                    this.data['game_number'] = response.data.game_number;
                    this.data['game_title'] = response.data.game_title;
                    this.form['game_id'] = response.data.id;
                    this.data['left'] = response.data.matches.left_bet;
                    this.data['right'] = response.data.matches.right_bet;
                    this.form['matches_id'] = response.data.matches.id;
                    this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                    this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                    this.data['winner'] = response.data.matches.left_win === 1 ? 'Player' : 'Banker';
                    this.betting['betting_timer'] = response.data.session.max_betting_time;
                    this.betting['last_call_timer'] = response.data.session.last_call;
                    this.betting['game_timer'] = response.data.session.max_game_time;
                    this.broadcast = response.data.session.session_live == 1 ? true : false;

                    console.log(this.broadcast)
                    if (response.data.session.screensaver !== null){
                        this.data['screensaver'] = response.data.session.screensaver.img_base;
                    }
                    this.myBet();


                }).catch(error => console.log(error))
            },

            getStreak() {
                axios.get('/api/getStreak').then(response => {

                    this.data['left_streak'] = response.data.left_streak;
                    this.data['right_streak'] = response.data.right_streak;

                    this.getWins();

                }).catch(error => console.log(error))
            },

            placeBet(){
                this.left = false;
                this.right = false;
                if(this.data['status'] != 'Open'){
                    this.$vs.notify({
                        'text' :'Game is already closed cannot Place Bet !',
                        'color' : 'danger',
                        'position' : 'top-left'
                    });
                    return;
                }
                this.$vs.loading()
                axios.post('/api/placeBet', this.form)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-left'
                        });


                        this.left = false;
                        this.right = false;

                        this.form['bet_amount'] = 0;
                        this.form['bet_position'] = '';
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                        document.dispatchEvent(new CustomEvent('refreshWallet'));
                        this.myBet();
                    })
                    .catch(error => console.log(error))
            },

            betLeft() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')){
                    this.left = true;
                    this.form['bet_position'] = 'left';
                } else {
                    this.left = false;
                }
            },

            betRight() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')) {
                    this.right = true;
                    this.form['bet_position'] = 'right';
                } else {
                    this.right = false;
                }

            },

            send(){
                window.open(
                    'https://m.me/chloe.shnapp.9',
                    '_blank'
                );
            },
        }
    }
</script>

<style scoped>
    .vs-table--tbody-table tr.chat-td{
        background:transparent !important;
    }
    .message-data-time {
        font-size:12px;
        color: #B3B6BC;
        padding-left: 6px;
    }
    #chat-message span{
        margin-right:5px;
    }
    .message-data-name{
        text-transform: capitalize;
        font-size:12px;
    }
    .player_m{
        color:yellow;
        padding:3px;
        border-radius:5px;
    }
    .driver{
        padding:3px;
        border-radius:5px;
        background-color:green;
    }
    .me{
        padding:3px;
        border-radius:5px;
        background-color:#94C2ED;
    }
    .csr{
        padding:3px;
        border-radius:5px;
        background-color: pink;
        color:black;
    }
    .message_p {
        background: #ebebeb none repeat scroll 0 0;
        color: #646464;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 14px;
        border-radius: 3px;
        margin-bottom: 30px;
        padding: 5px 10px 5px 12px;
        position: relative;
        width: 100%;
    }
    .message_p:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #ebebeb;
        border-width: 10px;
        margin-left: -10px;
    }
    .message_right {
        background: #94C2ED none repeat scroll 0 0;
        color: #ffffff;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 14px;
        border-radius: 3px;
        margin-bottom: 30px;
        padding: 5px 10px 5px 12px;
        position: relative;
        width: 100%;
    }
    .message_right:after {
        bottom: 100%;
        left: 90%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #94C2ED;
        border-width: 10px;
        margin-left: -10px;
    }
    .player {
        position: absolute !important;
        width: 100%;
        height: 60%;
    }
    .vjs-custom-skin {
        height: 60% !important;
    }
    .vjs-custom-skin .video-js {
        height: 60%;
    }
    .fix-video-stream {
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 999;
        margin-left: -18px;
    }
    .btn-bet {
        font-size: 14px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: gold !important;
        background-color: black;
        border-radius: 50px !important;
    }
    .text-gold {
        color: gold !important;
    }
    .bg-left {
        border-bottom: 50px solid #555;
        border-left: 25px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 45px;
    }
    .bg-right {
        border-bottom: 50px solid #555;
        border-left: 0px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 45px;
    }
    .text-danger {
        color: red !important;
    }
    .blink-text {
        animation: blink 1s linear infinite;
    }
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }
    td.border{
        border:5px solid white;

    }
    .Banker {
        width:100% !important;
        box-shadow:inset 0px 1px 0px -50px #e64a17;
        background:linear-gradient(to bottom, #ff3700 5%, #ff2b00 100%);
        background-color:#ff3700;
        border-radius:50px;
        border:1px solid #ff2f05;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #f2530e;
    }
    .Banker:hover {
        background:linear-gradient(to bottom, #ff2b00 5%, #ff3700 100%);
        background-color:#ff2b00;
    }
    .Banker:active {
        position:relative;
        top:1px;
    }
    .Player {
        width:100% !important;
        box-shadow:inset 0px 1px 0px -50px #9fb4f2;
        /* background-color:#005cfa; */
        background-color:#BEAD0A;
        border-radius:10px;
        /* border:1px solid #0040ff; */
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        /* text-shadow:0px 1px 0px #0048ff; */
        text-shadow:0px 1px 0px #BEAD0A;
    }
    .Player:hover {
        /* background-color:#0073ff; */
        background-color:#BEAD0A;
    }
    .Player:active {
        position:relative;
        top:1px;
    }
    .game_trend_table{
        direction: ltr;
    }
</style>
