<template>

    <div  style="!important;background-size: cover;
    margin-left: -16px;
    margin-right: -16px;">
        <loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="fullPage"></loading>
        <div class="row">
            <div class="col-md-12 mx-auto mt-2" v-if="this.data['status'] === 'Open' || this.data['status'] === 'Pending' || this.data['status'] === 'Closed' || this.data['status'] === 'Last Call'">
                <div class="text-center">
                    <h4 class="text-center text-gold">{{ this.data['game_title'] }}</h4>
<!--                    <h5 class="text-center text-gold">FIGHT #{{ this.data['game_number'] }}</h5>-->
                </div>
                <div class="card" style="background: #0f0f0f;">
                    <div class="card-content">
                        <div class="embed-responsive embed-responsive-16by9" v-if="broadcast">
                            <iframe class="embed-responsive-item" frameborder="0" src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                        </div>
                        <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                    </div>
<!--                    <div class="card-content" v-else>-->
<!--                        <img src="../../../images/no-credits.jpg" class="img img-fluid" />-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-12 mx-auto mt-2" style="background: transparent; border: none" v-else>
                <div class="text-center">
                    <h4 class="text-center text-gold">READY FOR NEXT FIGHT</h4>
                </div>
                <div class="card" style="background: #0f0f0f;">
                    <div class="card-content">
                        <div class="embed-responsive embed-responsive-16by9" v-if="broadcast">
                            <iframe class="embed-responsive-item" frameborder="0" src="/250" title="W3Schools Free Online Web Tutorials"></iframe>
                        </div>
                        <img :src="this.data['screensaver']" v-else class="img-fluid" style="max-width: 100% !important">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ref="dom">
            <div class="col-md-12" v-if="this.data['status'] !== 'Pending'">
                <div class="text-center">
                    <div v-if="this.data['status'] === 'Closed'">
                        <h3 class="text-center text-danger">{{ "CLOSED" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Open'">
                        <h3 class="text-center text-success blink-text">{{ "OPEN FOR BETTING" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Last Call'">
                        <h3 class="text-center text-gold blink-text">{{ "LAST CALL" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Ongoing'">
                        <h3 class="text-center text-gold blink-text">{{ "FIGHT ONGOING" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Draw'">
                        <h3 class="text-center text-gold blink-text">{{ "FIGHT DRAW" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Cancelled'">
                        <h3 class="text-center text-danger">{{ "Cancelled" | capitalize }}</h3>
                    </div>
                    <div v-if="this.data['status'] === 'Completed'">
                        <h3 class="text-center text-white">{{ "FIGHT COMPLETED" | capitalize }}</h3>
                    </div>
                </div>
<!--                <div class="text-center" v-if="showTimer">-->
<!--                    <h6 class="text-center text-success" v-if="this.walletBalance > 0">-->
<!--                        {{ this.betting['betting_timer_run'] }}-->
<!--                    </h6>-->
<!--                </div>-->
            </div>
            <div class="col-6">
                <div v-if="this.walletBalance > 0" @click="betLeft" class="meron" style="float: right; width: 145px;">
                    <div class="text-center text-white">
                        <h4 class="text-center" style="font-size: 5vw;">
                            {{ parseFloat(this.data['left']) * parseFloat(3) | decimal }} <br />
                            {{ parseFloat(parseFloat(this.data['left_odds']) * 100).toFixed(2) }} %
                        </h4>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center" style="font-size: 5vw;">
                            <strong>MERON</strong>
                        </h4>
                    </div>
                    <div class="text-center"  v-if="this.data['status'] !== 'Closed'">
                        <button class="btn btn-bet">SELECT</button>
                    </div>
                </div>
                <div v-else class="meron" style="font-size: 5vw; float: right; width: 145px;">
                    <div class="text-center text-white">
                        <h4 class="text-center" style="font-size: 5vw;">
                            {{ parseFloat(this.data['left']) * parseFloat(3) | decimal }} <br />
                            {{ parseFloat(parseFloat(this.data['left_odds']) * 100).toFixed(2)  }} %
                        </h4>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center text-white">
                            <strong>MERON</strong>
                        </h4>
                    </div>

                    <button class="btn btn-bet" style="margin-left: 8px">NO CREDITS</button>
                </div>
            </div>
            <div class="col-6">
                <div @click="betRight" v-if="this.walletBalance > 0" class="wala" style="width: 145px;">
                    <div class="text-center text-white">
                        <h4 class="text-center" style="font-size: 5vw;">
                            {{ parseFloat(this.data['right']) * parseFloat(3) | decimal }} <br />
                            {{ parseFloat(parseFloat(this.data['right_odds']) * 100).toFixed(2) }} %
                        </h4>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center text-white">
                            <strong>WALA</strong>
                        </h4>
                    </div>
                    <div class="text-center" v-if="this.data['status'] !== 'Closed'">
                        <button class="btn btn-bet" @click="betRight" v-if="this.walletBalance > 0">SELECT</button>
                        <button class="btn btn-bet" style="margin-left: 8px" v-else>NO CREDITS</button>
                    </div>
                </div>
                <div v-else class="wala" style="width: 145px;">
                    <div class="text-center text-white">
                        <h4 class="text-center" style="font-size: 5vw;">
                            {{ parseFloat(this.data['right']) * parseFloat(3)  | decimal }} <br />
                            {{ parseFloat(parseFloat(this.data['right_odds']) * 100).toFixed(2) }} %
                        </h4>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center text-white">
                            <strong>WALA</strong>
                        </h4>
                    </div>
                    <button class="btn btn-bet" style="margin-left: 8px">NO CREDITS</button>
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="text-white text-center mt-2 text-gold">Your Bet</h4>
            </div>
            <div class="col-6">
                <div>
                    <p class="text-center text-white" style="margin-top: 8px; font-size: 5vw">
                        <img src="/images/diamond.png" class="img" style="width: 20px" />
                        {{ this.playerBet['bet_amount_left'] | decimal }}</p>
                        
                    <p class="text-center text-white" style="margin-top: 8px; font-size: 4vw">MERON</p>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p class="text-center text-white" style="margin-top: 8px; font-size: 5vw">
                        <img src="/images/diamond.png" class="img" style="width: 20px" />
                        {{ this.playerBet['bet_amount_right'] | decimal }}</p>
                    <p class="text-center text-white" style="margin-top: 8px; font-size: 4vw">WALA</p>
                </div>
            </div>
            <div class="col-md-12" v-if="this.data['status'] === 'Completed'">
                <h4 class="text-white text-center mt-2 text-white blink-text">Winner: {{ this.data['winner'] }}</h4>
            </div>
        </div>
        <div>
            <div class="col-md-12 mt-2">
                <h5 class="text-center text-white">Fight Trend </h5>
            </div>
            <div class="col-md-12" style="background: black">
                <div v-if="trends.length">
                    <table class="table-sm no-padding table-responsive" style="overflow: auto">
                        <tbody v-html="trend_html">

                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h5 class="text-center text-white mt-2">No Trends Available</h5>
                </div>
                <div class="mt-2">

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="background: #212121 !important">
                                <h5 style="" class="text-white text-left" >BET HISTORY</h5>
                            </div>
                            <div class="form-group" v-if="table.length">
                                <vs-table
                                stripe
                                :data="table"
                                >
                                    <template slot="thead">
                                        <vs-th>#</vs-th>
                                        <vs-th>Win side</vs-th>
                                        <vs-th>Bet placed</vs-th>
                                        <vs-th>Status</vs-th>
                                        <vs-th>Payout | Rate</vs-th>
                                    </template>
                                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                            <vs-td :data="data[indextr].game_number">
                                            {{ data[indextr].games.game_number }}
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                                <div v-if="data[indextr].games.status === 'Completed'">
                                                    <p class="text-danger" v-if="data[indextr].matches.left_win === 1">WALA</p>
                                                    <p class="text-primary" v-else>MERON</p>
                                                </div>
                                                <div v-else>
                                                    <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                </div>
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                            <p>{{ data[indextr].bet_left | decimal }}</p>
                                            <p>{{ data[indextr].bet_right | decimal}}</p>
                                            </vs-td>
                                            <vs-td :data="data[indextr].game_number">
                                                <div v-if="data[indextr].games.status === 'Completed'">
                                                    <p class="text-success" v-if="data[indextr].bet_result === 'Win'">Win</p>
                                                    <p class="text-danger" v-else>Lose</p>
                                                </div>
                                                <div v-else>
                                                    <p class="text-danger">{{ data[indextr].games.status }}</p>
                                                </div>
                                            </vs-td>
                                            <vs-td>
                                                {{ data[indextr].bet_payout | decimal }} ({{ data[indextr].bet_odds_less_rake | percentage }})
                                            </vs-td>
                                        </vs-tr>
                                    </template>
                                </vs-table>
                            </div>
                            <div class="form-group" v-else>
                                <p class="text-center">NO GAME HISTORY THIS DAY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template>
            <vs-popup title="Make a bet" :active.sync="left">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" v-model="form['bet_amount']" />
                        </div>
                        <div class="form-group row" style="padding: 10px">
                            <button type="button" @click="betUpdate(200, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">200</button>
                            <button type="button" @click="betUpdate(300, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">300</button>
                            <button type="button" @click="betUpdate(400, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">400</button>
                            <button type="button" @click="betUpdate(500, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">500</button>
                            <button type="button" @click="betUpdate(600, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">600</button>
                            <button type="button" @click="betUpdate(700, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">700</button>
                            <button type="button" @click="betUpdate(800, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">800</button>
                            <button type="button" @click="betUpdate(900, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">900</button>
                            <button type="button" @click="betUpdate(1000, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">1000</button>
                            <button type="button" @click="betUpdate(2000, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">2000</button>
                            <button type="button" @click="betUpdate(5000, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">5000</button>
                            <button type="button" @click="betUpdate(8000, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">8000</button>
                            <button type="button" @click="betUpdate(10000, 'left')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">10000</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" @click.prevent="placeBet">Place your Bet</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Make a bet" :active.sync="right">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" v-model="form['bet_amount']" />
                        </div>
                        <div class="form-group row" style="padding: 10px">
                            <button type="button" @click="betUpdate(200, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">200</button>
                            <button type="button" @click="betUpdate(300, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">300</button>
                            <button type="button" @click="betUpdate(400, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">400</button>
                            <button type="button" @click="betUpdate(500, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">500</button>
                            <button type="button" @click="betUpdate(600, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">600</button>
                            <button type="button" @click="betUpdate(700, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">700</button>
                            <button type="button" @click="betUpdate(800, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">800</button>
                            <button type="button" @click="betUpdate(900, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">900</button>
                            <button type="button" @click="betUpdate(1000, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">1000</button>
                            <button type="button" @click="betUpdate(2000, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">2000</button>
                            <button type="button" @click="betUpdate(5000, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">5000</button>
                            <button type="button" @click="betUpdate(8000, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">8000</button>
                            <button type="button" @click="betUpdate(10000, 'right')" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" style="font-size: 12px">10000</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" @click.prevent="placeBet">Place your Bet</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Announcement!!!" :active.sync="announcementPopup">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <h3>{{ this.announcement_information }}</h3>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="We Have a Winner!" :active.sync="winner">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h4>FIGHT ENDED! {{ this.data['winner'] }} WINS!</h4>
                            <h5 v-if="this.data['winnerStatus'] === 'Win'">You Won! {{ this.data['win_amount'] }} </h5>
                        </div>
                    </div>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Uh oh.." :active.sync="draw">
                <div>
                    <div class="row">
                        <div class="col-12 drew">
                            <h4>FIGHT IS DRAW!</h4>
                        </div>
                    </div>
                </div>
            </vs-popup>
        </template>
        <fab
            :position="position"
            :bg-color="bgColor"
            :actions="fabActions"
            @messenger="send"
            main-icon="help"
        />
    </div>

</template>

<script>
    import axios from "axios";
    import fab from 'vue-fab'
    import $ from 'jquery';
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'videojs-contrib-hls'
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HLSCore from '@core-player/playcore-hls';
    import { EVENTS } from 'vue-core-video-player'
    import {videoPlayer} from 'vue-videojs7'

    export default {
        name: "play-game",
        components: {
            fab,
            Loading,videoPlayer
        },
        data() {
            return {
                playerOptions: {
                    autoplay: true,
                    controls: true,
                    controlBar: {
                      timeDivider: false,
                      durationDisplay: false
                    }
                  },
                left: false,
                winner: false,
                right: false,
                edit: false,
                remove: false,
                create: false,
                draw: false,
                announcementPopup: false,
                table: [],
                selected: [],
                betting: {
                    'betting_timer' : [],
                    'game_timer' : [],
                    'last_call_timer' : [],
                    'game_timer_run' : '',
                    'betting_timer_run' : '',
                    'last_call_timer_run': '',
                    'betting_timer_color': 'white',
                },
                data: {
                    'game_number' : 1,
                    'status' : '',
                    'game_title' : '',
                    'camera_configuration_id': 1,
                    'left' : 0,
                    'right' : 0,
                    'left_odds' : 0,
                    'right_odds' : 0,
                    'left_streak' : 0,
                    'right_streak' : 0,
                    'game_status': '',
                    'winner' : '',
                    'screensaver' : '',
                    'winnerStatus' : '',
                    'win_amount': 0

                },
                form: {
                    'bet_amount': ''
                },
                playerBet: {
                    'bet_name': 'None',
                    'bet_amount_left' : 0,
                    'bet_amount_right' : 0
                },
                betClose: false,
                trends: [],
                wins: {
                    'left': 0,
                    'right': 0
                },
                streak: {
                    'position': '',
                    'count': 0
                },
                walletBalance: 0,
                broadcast: true,
                bgColor: '#778899',
                position: 'bottom-right',
                fabActions: [
                    {
                        name: 'messenger',
                        icon: 'send'
                    }
                ],
                trend_html:'',
                trend_array:[],
                output:[],
                session: false,
                announcement_information: '',
                totalRake: 0,
                showTimer: false,
                isLoading: false,
                fullPage: true,
                requesting: false,
                HLSCore
            }
        },

        created() {
            this.getTotalRake();
            this.getWalletBalance();
            this.fetch();
        },
        computed: {
            // player () {
            // return this.$refs.videoPlayer.player
            // }
        },
        mounted() {
            const src = '/stream/cam.m3u8'
            // this.playVideo(src)
            this.isLoading = true;

            Pusher.logToConsole = false;

            let pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });

            let channel = pusher.subscribe('my-alpha');

            channel.bind('game-event', (data) => {
                if (!this.requesting){
                    this.getSession();
                }
            });
            channel.bind('announcement-event', (data) => {
                this.getAnnouncement();
            });

            channel.bind('winner-event', (data) => {
                this.getSession();
                this.fetch();
                document.dispatchEvent(new CustomEvent('refreshWallet'));

                setTimeout(() => {
                    if (this.data['status'] === 'Completed'){
                        this.winner = true;
                        // this.trend_table();
                        setTimeout(() => {
                            this.winner = false;
                        }, 3000)
                    }

                    if (this.data['status'] === 'Draw'){
                        this.draw = true;
                        // this.trend_table();

                        //remove auto close
                        setTimeout(() => {
                            this.draw = false;
                        }, 5000)
                    }
                }, 1200);
            });

            //rake->session->walletBalance->mybet->fetch->trends->wins->streak

            setTimeout(() => {
                this.myBet();
                this.isLoading = false;


            }, 800);


        },
        watch:{
            trend_html: function(val){
                if(val != ''){
                    setTimeout(() => {
                    this.trend_table();

            }, 1500);

                }
            }
        },

        methods: {
            // onPlayerPlay (player) {
            //     console.log('player play!', player)
            // },
            // onPlayerReady (player) {
            //     console.log('player ready!', player)
            //     this.player.muted();
            //     this.player.play()
            // },
            // playVideo: function (source) {
            // const video = {
            //     withCredentials: false,
            //     type: 'application/x-mpegurl',
            //     src: source
            // }
            // this.player.reset() // in IE11 (mode IE10) direct usage of src() when <src> is already set, generated errors,
            // this.player.src(video)
            // this.player.muted();
            // this.player.play();
            // // this.player.play()
            // },
            trend_table(){

                console.log(this.trend_array)

                for( let i = 0 ; i < this.output.length; i++){
                    if(this.output[i].length < 2){
                        if( this.output[i][0] == 3){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <img src="../../../images/white.png" style="width: 25px; max-width: 25px">
                                </div>`);
                        }else if(this.output[i][0] == 2){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <img src="../../../images/blue-bet.png" style="width: 25px; max-width: 25px">
                                    </div>`);
                        }else if(this.output[i][0] == 1){
                            $('td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                        <img src="../../../images/red-bet.png" style="width: 25px; max-width: 25px" >
                                    </div>`);
                        }
                        $('td:eq('+i+').trends').addClass('border');
                    }else{
                        for(let x =0; x < this.output[i].length; x++){
                            let result = this.output[i][x];
                            if( this.output[i][x] == 3){
                            $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                    <img src="../../../images/white.png" style="width: 25px; max-width: 25px">
                                </div>`);
                            }else if(this.output[i][x] == 2){
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                            <img src="../../../images/blue-bet.png" style="width: 25px; max-width: 25px">
                                        </div>`);
                            }else if(this.output[i][x] == 1){
                                $('tr:eq('+x+') td:eq('+i+').trends').append(`<div style="position: relative; text-align: center">
                                            <img src="../../../images/red-bet.png" style="width: 25px; max-width: 25px" >
                                        </div>`);
                            }
                            $('tr:eq('+x+') td:eq('+i+').trends').addClass('border');
                        }
                    }

                }
            },


            secondsTimeSpanToHMS(s) {

                let h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                let m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds

            },

            openBettingTimer() {
                this.showTimer = true;
                let b = this.betting['betting_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            openGameTimer() {
                this.showTimer = true;
                let b = this.betting['game_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            lastCallBetting() {
                this.showTimer = true;
                let b = this.betting['last_call_timer'];
                let bettingTime = (+b['hh']) * 60 * 60 + (+b['mm']) * 60 + (+b['ss']);

                let vm = this;
                let bettingTimer = setInterval( () => {

                    bettingTime--;
                    this.betting['betting_timer_run'] = vm.secondsTimeSpanToHMS(bettingTime);

                    if (bettingTime === 0){
                        clearInterval(bettingTimer);
                        this.showTimer = false;
                    }
                }, 1000 );
            },

            getTotalRake(){
                axios.get('/api/getTotalRake')
                    .then(response => {
                        this.totalRake = response.data;
                        this.getSession();
                    })
                    .catch(error => console.log(error))
            },

            getAnnouncement() {
                axios.get('/api/getAnnouncement')
                    .then(response => {
                        this.announcement_information = response.data.content;
                        this.announcementPopup = true;
                    })
                    .catch(error => console.log(error))
            },

            getWalletBalance() {
                axios.get('/api/getWalletBalance')
                    .then(response => {
                        this.walletBalance = response.data.wallet_balance;
                        this.myBet();
                    })
                    .catch(error => console.log(error))
            },

            fetch() {

                axios.get('/api/getGameHistory')
                    .then(response => {
                        this.table = [...response.data];
                        this.getTrends();
                    })
                    .catch(error => console.log(error))
            },

            gameSession() {

                axios.get('/api/checkSession')
                    .then(response => {
                        this.session = response.data;
                    })
                    .catch(error => console.log(error))
            },

            getTrends(){
                this.output =[];
                this.trend_array = [];
                this.trend_html = '';
                axios.get('/api/getTrends')
                    .then(response => {
                        let g = '';
                        this.trends = [...response.data];

                        //this.trend_array = [2,2,1,1,2,1,1,1,2,2,3,3]
                        /*
                        transform into = [[2,2],[1,1],[2],[1,1,1],[2,2],[3,3]]
                        */
                        for(let i =0; i < response.data.length; i++){
                            console.log(response.data[i].status)
                            if(response.data[i].status == 'Draw'){
                                this.trend_array.push(3)
                            }else{
                                if(response.data[i].matches.left_win == 1){
                                this.trend_array.push(1)
                                }else if(response.data[i].matches.right_win == 1){
                                    this.trend_array.push(2)
                                }
                            }
                        }
                        let key = null;
                        for(let x = 0; x < this.trend_array.length; x++){
                            if(x == 0){
                                this.output.push([this.trend_array[x]])
                            }else{
                                if(this.trend_array[x] == this.trend_array[x - 1]){
                                    for(let j = 0 ; j < this.output.length; j ++){
                                        if(j == this.output.length - 1){
                                            key = j;
                                            this.output[key].push(this.trend_array[x])
                                        }
                                    }
                                }else{
                                    this.output.push([this.trend_array[x]])
                                }

                            }
                        }
                        var longest = this.output.reduce(function (a, b) { return a.length > b.length ? a : b; });
                        console.log(longest)
                        for(let x =0 ;x< longest.length ;x++){
                            g += '<tr>';
                            for(let i = 0; i < this.output.length; i++){
                                g += '<td class="trends"></td>';
                            }
                            g += '</tr>';
                        }
                        this.trend_html = g;

                    })
                    .catch(error => console.log(error))
            },

            getWins(){
                axios.get('/api/getWins')
                    .then(response => {
                        this.wins['left'] = response.data.left;
                        this.wins['right'] = response.data.right;
                    })
                    .catch(error => console.log(error))
            },

            myBet() {
                axios.get('/api/getPlayerBet/' + this.form['game_id'])
                    .then(response => {

                        if (response.data){
                            this.playerBet['bet_amount_left'] = response.data.bet_left;
                            this.playerBet['bet_amount_right'] = response.data.bet_right;
                            this.data['winnerStatus'] = response.data.bet_result;
                            this.data['win_amount'] = response.data.bet_payout;
                        }

                        this.requesting = false;

                        // this.fetch();

                    })
                    .catch(error => console.log(error))
            },

            betUpdate(amount, type){
                this.form['bet_amount'] = amount;
                this.playerBet['bet_amount'] = amount;
                this.playerBet['bet_name'] = type;
                this.form['bet_position'] = type;
            },

            getSession() {
                this.requesting = true;
                axios.get('/api/currentGameSession').then(response => {
                    this.data['id'] = response.data.id;
                    this.data['status'] = response.data.status;
                    this.data['camera_configuration_id'] = 1;
                    this.data['game_number'] = response.data.game_number;
                    this.data['game_title'] = response.data.game_title;
                    this.form['game_id'] = response.data.id;
                    this.data['left'] = response.data.matches.left_bet;
                    this.data['right'] = response.data.matches.right_bet;
                    this.form['matches_id'] = response.data.matches.id;
                    this.data['left_odds'] = response.data.matches.left_percent_less_rake;
                    this.data['right_odds'] = response.data.matches.right_percent_less_rake;
                    this.data['winner'] = response.data.matches.left_win === 1 ? 'Meron' : 'Wala';
                    this.betting['betting_timer'] = response.data.session.max_betting_time;
                    this.betting['last_call_timer'] = response.data.session.last_call;
                    this.betting['game_timer'] = response.data.session.max_game_time;
                    this.broadcast = response.data.session.session_live == 1 ? true : false;

                    console.log(this.broadcast)
                    if (response.data.session.screensaver !== null){
                        this.data['screensaver'] = response.data.session.screensaver.img_base;
                    }
                    this.myBet();


                }).catch(error => console.log(error))
            },

            getStreak() {
                axios.get('/api/getStreak').then(response => {

                    this.data['left_streak'] = response.data.left_streak;
                    this.data['right_streak'] = response.data.right_streak;

                    this.getWins();

                }).catch(error => console.log(error))
            },

            placeBet(){
                this.left = false;
                this.right = false;
                if(this.data['status'] != 'Open'){
                    this.$vs.notify({
                        'text' :'Game is already closed cannot Place Bet !',
                        'color' : 'danger',
                        'position' : 'top-left'
                    });
                    return;
                }
                this.$vs.loading()
                axios.post('/api/placeBet', this.form)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-left'
                        });


                        this.left = false;
                        this.right = false;

                        this.form['bet_amount'] = 0;
                        this.form['bet_position'] = '';
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1000);
                        document.dispatchEvent(new CustomEvent('refreshWallet'));
                        this.myBet();
                    })
                    .catch(error => console.log(error))
            },

            betLeft() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')){
                    this.left = true;
                    this.form['bet_position'] = 'left';
                } else {
                    this.left = false;
                }
            },

            betRight() {
                if ((this.data['status'] === 'Open' || this.data['status'] === 'Last Call')) {
                    this.right = true;
                    this.form['bet_position'] = 'right';
                } else {
                    this.right = false;
                }

            },

            send(){
                window.open(
                    'https://m.me/chloe.shnapp.9',
                    '_blank'
                );
            },
        }
    }
</script>

<style scoped>
  .player {
    position: absolute !important;
    width: 100%;
    height: 60%;
  }
  .vjs-custom-skin {
    height: 60% !important;
  }

  .vjs-custom-skin .video-js {
    height: 60%;
  }
    .fix-video-stream {
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 999;
        margin-left: -18px;
    }

    .btn-bet {
        font-size: 14px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: gold !important;
        background-color: black;
        border-radius: 50px !important;
    }

    .text-gold {
        color: gold !important;
    }

    .bg-left {
        border-bottom: 50px solid #555;
        border-left: 25px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 45px;
    }

    .bg-right {
        border-bottom: 50px solid #555;
        border-left: 0px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 45px;
    }

    .text-danger {
        color: red !important;
    }

    .blink-text {
        animation: blink 1s linear infinite;
    }
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }
    td.border{
        border:5px solid white;

    }
    .meron {
        box-shadow:inset 0px -1px 0px 0px #ad7461;
        background:linear-gradient(to bottom, red 5%, red 100%);
        background-color:#f54818;
        border-radius:5px;
        border:1px solid #802311;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ff4d00;
    }
    .meron:hover {
        background:linear-gradient(to bottom, red 5%, red 100%);
        background-color:#a82d14;
    }
    .meron:active {
        position:relative;
        top:1px;
    }
    .wala {
        box-shadow:inset 0px -1px 0px 0px blue;
        background:linear-gradient(to bottom, blue 5%, blue 100%);
        background-color:blue;
        border-radius:5px;
        border:1px solid black;
        display:inline-block;
        cursor:pointer;
        color:#333333;
        font-family:Arial;
        font-size:13px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px blue;
    }
    .wala:hover {
        background:linear-gradient(to bottom, blue 5%, blue 100%);
        background-color:blue;
    }
</style>
