<template>
    <div style="margin-top:-45px;">
        <div class="content-header">
            <h4>BETTING REPORTS MANAGEMENT</h4>
            <h5>ARENA NAME: <span class="text-danger">{{game_title}}</span> | Fight Number: <span
                    class="text-danger">{{game_number}}</span></h5>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-group mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-value">{{bet_left | numeric}}</div><small
                                class="text-muted text-uppercase font-weight-bold">TOTAL MERON BETS</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-value">{{bet_right | numeric}}</div><small
                                class="text-muted text-uppercase font-weight-bold">TOTAL WALA BETS</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-value text-danger">{{ bet_left + bet_right | numeric}}</div><small
                                class="text-muted text-uppercase font-weight-bold">Total Bets</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-value text-danger">{{total_rake | numeric}}</div><small
                                class="text-muted text-uppercase font-weight-bold">Total RAKE</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12'>
                <div class="card">
                    <div class="card-body">
                        <vs-table
                        pagination
                        max-items="10"
                        search
                        :data="table"
                        stripe>
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    List Of Bets
                                </h3>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="name">
                                User ID
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Bet Placed Meron
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Bet Placed Draw
                            </vs-th>
                            <vs-th sort-key="redeclared">
                                Bet Placed Wala
                            </vs-th>
                            <vs-th sort-key="type">
                                Bet Result
                            </vs-th>
                            <vs-th sort-key="type">
                                Bet Payout
                            </vs-th>
                            <vs-th sort-key="name">
                                Date
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td>
                                    {{data[indextr].user_id}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].user.username}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].bet_left}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].bet_middle}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].bet_right}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].bet_result}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].bet_payout}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].created_at}}
                                </vs-td>
                            </vs-tr>
                        </template>
                        </vs-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    props: ['data'],
    data() {
        return {
            game_number: 0,
            game_title: '',
            bet_left:0,
            bet_middle:0,
            bet_right:0,
            total_rake:0,
            table:[],
        }
    },
    mounted() {
        this.game_number = this.data.game_number
        this.game_title = this.data.game_title;
        this.fetch();
    },methods:{
        fetch(){
            axios.get('/api/view-betting/'+this.data.id)
            .then(response => {
                this.bet_left = response.data.matches.left_bet;
                this.bet_middle = response.data.matches.middle_bet;
                this.bet_right = response.data.matches.right_bet;
                this.total_rake = response.data.matches.total_rake;
                this.table = response.data.bets;
            }).catch(error => console.log(error))
        }
    }
}
</script>
