<template>
    <div class="col-md-12">        
        <div class="row mt-2">
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                <i class="bx bx-wallet font-medium-5"></i>
                            </div>
                            <div class="text-muted line-ellipsis">Rake Percentage</div>
                            <h3 class="mb-0">{{ rake_percent * 100}}%</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                <i class="bx bx-wallet font-medium-5"></i>
                            </div>
                            <div class="text-muted line-ellipsis">Total Commission</div>
                            <h3 class="mb-0">₱ {{ (total_commission ? currencyFormat(total_commission):0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                <i class="bx bx-wallet font-medium-5"></i>
                            </div>
                            <div class="text-muted line-ellipsis">Referral Link</div>
                            <!-- <input type="text" readonly id="referral"  v-model="referral_link" class="form-control" /> -->
                            <div class="input-group">
                                <input :disabled="true" type="text" ref="referral_copy" class="form-control" :value="referral_link" placeholder="Referral" aria-label="Referral" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" type="button" @click="copyReferral">Copy Link</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template>
            <div class="card">
                <div class="card-body">
                    <vs-table
                    v-model="selected"
                    pagination
                    max-items="10"
                    stripe
                    :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    My Downline
                                </h3>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="type">
                                Type
                            </vs-th>
                            <vs-th sort-key="agent_rate">
                                Agent Rate
                            </vs-th>
                            <vs-th sort-key="agent_commission_balance">
                                Agent Commission Balance
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    <div v-if="data[indextr].type == 'Master Agent'">
                                        Master agent
                                    </div>
                                    <div v-if="data[indextr].type == 'Gold Agent'">
                                        Gold Agent
                                    </div>
                                    <div v-if="data[indextr].type == 'Silver Agent'">
                                        Silver Agent
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].agent_rate">
                                    {{ data[indextr].agent_rate * 100 }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_commission_balance">
                                    {{ (data[indextr].agent_commission_balance ? currencyFormat(data[indextr].agent_commission_balance):0) }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import axios from "axios";
import moment from 'moment';

export default {
    data(){
        return {
            selected:[],
            rake_percent:0,
            total_commission:0,
            referral_link:'',
            table:[],
        }
    },
    mounted () {
        this.rake_percent = userRate;
        this.total_commission = userCommission;
        this.referral_link = agentRefferal;
        this.getDownline();
    },
    methods: {
        currencyFormat(val){
            console.log(val)
            return val.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        },
        getDownline(){
            axios.get('/api/agentDownline')
            .then(response => {
                this.table = [...response.data];
            }).catch(error => { console.log(error) });
        },
        copyReferral(){
            let copyText = this.$refs.referral_copy;
            var range;
            if (document.selection) {
                range = document.body.createTextRange();
                range.moveToElementText(this.$refs.referral_copy);
                range.select();
            } else if (window.getSelection) {
                range = document.createRange();
                range.selectNode(this.$refs.referral_copy);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
            }
            document.execCommand("copy");
        }
    }
}
</script>
