<template>
    <div class="col-md-12">        
        <div class="row mt-2">
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="money" size="75px" color="white" bg="#BB86FC" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">Total Current Wallet Cash</div>
                                        <h3 class="mb-0">₱ {{ (total_wallet_cash ? currencyFormat(total_wallet_cash):0) }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success" onclick="window.location.href='/user/onlinePlayers'">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="accessibility" size="75px" color="white" bg="#6200EE" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">Total Players Online</div>
                                        <h3 class="mb-0">{{ total_players_online }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="monetization_on" size="75px" color="white" bg="#BB86FC" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">Average Bets / Game</div>
                                        <h3 class="mb-0">₱ {{ (average_bets_per_game ? currencyFormat(average_bets_per_game):0) }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="supervisor_account" size="75px" color="white" bg="#6200EE" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">Total Players Registered</div>
                                        <h3 class="mb-0">{{ total_players_registered }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="person_add_disabled" size="75px" color="white" bg="#BB86FC" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">Inactive Players</div>
                                        <h3 class="mb-0">{{ inactive_players }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="person_add" color="#ffffff" size="75px" bg="#6200EE" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="line-ellipsis">New Players Today</div>
                                        <h3 class="mb-0">{{ new_players_today }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Incoming/Outgoing Money ( {{ new Date().toLocaleString('en-US', { month: 'long' }) }} )</h4>
                    </div>
                    <div class="card-content">
                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-6">
                                    <p class="mb-0 mt-1">Cash In</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#B04298" round></vs-icon>
                                        <span>₱ {{ (total_cashin ? currencyFormat(total_cashin):0) }}</span>
                                    </h2>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0 mt-1">Cash Out</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#3552BF" round></vs-icon>
                                        <span>₱ {{ (total_cashout ? currencyFormat(total_cashout):0) }}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>                 
                        <line-chart :chart-data="datacollection" :options="{responsive: true, maintainAspectRatio: false}"></line-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profits ( {{ new Date().toLocaleString('en-US', { month: 'long' }) }} )</h4>
                    </div>
                    <div class="card-content">
                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0 mt-1">Total Profits</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#B04298" round></vs-icon>
                                        <span>₱ {{ (total_profit ? currencyFormat(total_profit):0) }}</span>
                                        <span v-if="profit_percentage != NaN">
                                            <span style="font-size:16px;color:#EA5455;font-weight:400;" v-if="profit_percentage < 0">
                                                <i class="fa fa-arrow-down"></i>
                                                <span style="font-size:12px;color:#EA5455;">{{ Math.abs(profit_percentage).toFixed(2) }}%</span>
                                            </span>
                                            <span style="font-size:16px;color:#17C671;font-weight:400;" v-else>
                                                <i class="fa fa-arrow-up"></i>
                                                <span style="font-size:12px;color:#17C671;">{{ Math.abs(profit_percentage).toFixed(2) }}%</span>
                                            </span>
                                        </span>
                                    </h2>                                    
                                </div>
                            </div>
                        </div>                 
                        <bar-chart :chart-data="rakecollection" :options="{responsive: true, maintainAspectRatio: false}"></bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content">
                        <template lang="html">
                            <div>
                                <vs-table class="topplayer" style="overflow:visible; !important" :data="PlayersTable">
                                <template slot="header">
                                    <div class="card-header">
                                        <h3>
                                    Top Players
                                    </h3>
                                    </div>
                                </template>
                                <template slot="thead">
                                    <vs-th>
                                    Rank
                                    </vs-th>
                                    <vs-th>
                                    Load
                                    </vs-th>
                                    <vs-th>
                                    Bet
                                    </vs-th>
                                    <vs-th>
                                    Win
                                    </vs-th>                                    
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
                                        <vs-td v-if="data[indextr].rank == 1">
                                            <div class="quiz-medal">
                                                <div class="quiz-medal__circle quiz-medal__circle--gold">
                                                    <span>
                                                    {{ data[indextr].rank }}
                                                    </span>
                                                </div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                                            </div>
                                        </vs-td>
                                        <vs-td v-if="data[indextr].rank == 2">
                                            <div class="quiz-medal">
                                                <div class="quiz-medal__circle quiz-medal__circle--silver">
                                                    <span>
                                                    {{ data[indextr].rank }}
                                                    </span>
                                                </div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                                            </div>
                                        </vs-td>
                                        <vs-td v-if="data[indextr].rank == 3">
                                            <div class="quiz-medal">
                                                <div class="quiz-medal__circle quiz-medal__circle--bronze">
                                                    <span>
                                                    {{ data[indextr].rank }}
                                                    </span>
                                                </div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                                            </div>
                                        </vs-td>
                                        <vs-td v-if="data[indextr].rank == 4">
                                            <div class="quiz-medal">
                                                <div class="quiz-medal__circle quiz-medal__circle--bronze">
                                                    <span>
                                                    {{ data[indextr].rank }}
                                                    </span>
                                                </div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                                            </div>
                                        </vs-td>
                                        <vs-td v-if="data[indextr].rank == 5">
                                            <div class="quiz-medal">
                                                <div class="quiz-medal__circle quiz-medal__circle--bronze">
                                                    <span>
                                                    {{ data[indextr].rank }}
                                                    </span>
                                                </div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                                            </div>
                                        </vs-td>
                                        <vs-td :data="data[indextr].load">
                                            {{ data[indextr].load }}
                                        </vs-td>
                                        <vs-td :data="data[indextr].bet">
                                            {{ data[indextr].bet }}
                                        </vs-td>
                                        <vs-td :data="data[indextr].win">
                                            {{ data[indextr].win }}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                                </vs-table>
                            </div>
                            </template>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Recent Cash in</h4>

                        <div data-simplebar="init" style="max-height: 335px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
                            <div class="timeline-alt pb-0">
                                <div class="timeline-item" v-for="(row,index) in recent_acitivites" :key="index">
                                    <!-- <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i> -->
                                    <img src="https://img.icons8.com/dusk/20/000000/receive-cash.png"/>
                                    <div class="timeline-item-info">
                                        <a href="/topup" class="text-info font-weight-bold mb-1 d-block">{{recent_acitivites[index].users.name}}</a>
                                        <small>Requested Cash in Ref#: “{{recent_acitivites[index].reference_number}}”</small>
                                        <p class="mb-0 pb-2">
                                            <small class="text-muted">{{recent_acitivites[index].created_at | formatDate}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 587px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 306px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div> <!-- end slimscroll -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Funds Accounts</h4>
                    </div>
                    <div class="card-body">
                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="text-muted mb-0 mt-1">Total Funds</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" :bg="highest_color" round></vs-icon>
                                        <span>₱ {{ (total_funds ? currencyFormat(total_funds):0) }}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>                 
                        <doughnut-chart :chart-data="bankcollection" :options="{responsive: true, maintainAspectRatio: false}"></doughnut-chart>
                        <div class="chart-widget-list">
                            <p v-for="(row,index) in doughnut_type" :key="index">
                               <vs-icon size="12px" :bg="doughnut_bg_color[index]" square></vs-icon> {{ doughnut_type[index] }}
                                <span class="float-right">₱ {{ doughnut_data[index] ? currencyFormat(doughnut_data[index]):0 }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import LineChart from './line-chart.js'
import BarChart from './bar-chart.js'
import DoughnutChart from './doughnut-chart.js'
import axios from "axios";
import moment from 'moment';

export default {
    components: {
        LineChart,BarChart,DoughnutChart
    },
    data(){
        return {
        datacollection:null,
        rakecollection:null,
        cashin:[],
        total_wallet_cash:0,
        total_players_online:0,
        average_bets_per_game:0,
        total_players_registered:0,
        inactive_players:0,
        new_players_today:0,
        date_count:0,
        date_labels:[],
        cashin_data:[],
        bankcollection:[],
        total_cashin:0,
        total_cashout:0,
        total_profit:0,
        total_funds:0,
        cashout_data:[],
        PlayersTable:[],
        highest_color:'',
        rake_data:[],
        doughnut_type:[],
        doughnut_data:[],
        doughnut_bg_color:['#4BC0C0','#FF6384','#36A2EB','#B04298','#FF9F40','#FFCD56'],
        doughnut_index:0,
        recent_acitivites:[],
        profit_past:0,
        profit_present:0,
        profit_percentage:0,
        }
    },
    mounted () {
        this.date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
        for(let i = 0 ; i < this.date_count + 1; i++){
            this.date_labels.push(`Day ${i}`);
            this.cashin_data.push(0);
            this.cashout_data.push(0);
            this.rake_data.push(0);
        }
        this.fetchCard()
    },
    methods: {
        currencyFormat(val){
            return val.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        },
        fetchCard(){
            axios.get('/api/fetchCardDashboard')
            .then(response => {
                console.log(response.data)
                this.recent_acitivites = [...response.data['recent_activities']];
                this.total_wallet_cash = response.data['total_wallet_cash'];
                this.total_players_online = response.data['total_players_online'];
                this.average_bets_per_game = response.data['average_bets_per_game'];
                this.total_players_registered = response.data['total_players_registered'];
                this.inactive_players = response.data['inactive_players'];
                this.new_players_today = response.data['new_players_today'];
                if(response.data['cashin'].length > 0){
                    for(let i = 0; i < response.data['cashin'].length; i++){
                    this.total_cashin += response.data['cashin'][i].amount;
                    this.cashin_data[moment(response.data['cashin'][i].created_at).format("Do").replace(/\D/g,'')] += response.data['cashin'][i].amount;
                }
                }                
                if(response.data['cashout'].length > 0){
                    for(let i = 0; i < response.data['cashout'].length; i++){
                        this.total_cashout += response.data['cashout'][i].withdrawal_amount;
                        this.cashout_data[moment(response.data['cashout'][i].created_at).format("Do").replace(/\D/g,'')] += response.data['cashout'][i].withdrawal_amount;
                    }
                }
                this.datacollection = {
                    labels: this.date_labels,
                    datasets: [
                        {
                            label: 'Cash In',
                            backgroundColor: '#B04298',
                            pointHoverBackgroundColor:'#ffffff',
                            borderCapStyle: 'round',
                            data: this.cashin_data
                        },
                        {
                            label: 'Cash Out',
                            pointHoverBackgroundColor:'#ffffff',
                            borderCapStyle: 'round',
                            backgroundColor: '#3E61E4',
                            data: this.cashout_data,
                        }
                    ]
                }
                console.log(moment().date() + 'today')
                if(response.data['rake_data'].length > 0){
                    for(let i = 0; i < response.data['rake_data'].length; i++){                    
                        let total = response.data['rake_data'][i].bet_amount * response.data['total_partner_rake'];
                        this.total_profit += parseInt(total);
                        this.rake_data[moment(response.data['rake_data'][i].created_at).format("Do").replace(/\D/g,'')] += parseInt(total);
                    }
                    // this.profit_present = (169291 / 169553) * 100 - 100;
                    for(let i = this.rake_data.length - 1 ; i > 0; i--){
                        if(this.profit_present <= 0){
                            this.profit_present = this.rake_data[i]
                        }else if(this.profit_past <= 0){
                            this.profit_past = this.rake_data[i];
                        }

                    }
                    if(this.profit_past <= 0){
                        this.profit_percentage = 0;
                    }else{
                        this.profit_percentage = (this.profit_present / this.profit_past) * 100 - 100;
                    }
                    console.log(this.profit_percentage)
                }                
                this.rakecollection = {
                    labels: this.date_labels,
                    datasets: [
                        {
                            label: 'Rake In',
                            backgroundColor: '#B04298',
                            data: this.rake_data
                        }
                    ]
                }
                if(response.data['top_player_load'].length > 0){
                    for(let i = 0 ; i < 5; i++){
                        this.PlayersTable.push(
                            {
                                'rank': i + 1,
                                'load':(response.data['top_player_load'][i] != undefined) ? response.data['top_player_load'][i].name:'',
                                'bet': (response.data['top_player_bet'][i] != undefined) ? response.data['top_player_load'][i].name:'',
                                'win': (response.data['top_player_winner'][i] != undefined) ? response.data['top_player_load'][i].name:'',
                            }
                        )
                    }
                }                
                if(response.data['bank_funds'].length > 0){
                    for( let i = 0 ; i < response.data['bank_funds'].length; i++){
                        if(this.doughnut_type.indexOf(response.data['bank_funds'][i].account_type) === -1){
                            this.doughnut_type.push(response.data['bank_funds'][i].account_type)
                            this.doughnut_data.push(0)
                        }
                        this.doughnut_index = this.doughnut_type.indexOf(response.data['bank_funds'][i].account_type)
                        this.total_funds += response.data['bank_funds'][i].balance
                        this.doughnut_data[this.doughnut_index] += response.data['bank_funds'][i].balance
                    }

                }
                this.highest_color = this.doughnut_bg_color[this.doughnut_data.indexOf(Math.max(...this.doughnut_data))];
                this.bankcollection = {
                    labels: this.doughnut_type,
                    datasets: [
                        {
                            backgroundColor:this.doughnut_bg_color,
                            data: this.doughnut_data
                        }
                    ]
                }

            }).catch(error => console.log(error))

        },
    }
}
</script>

<style scoped>
.vs-table--content{
    overflow: visible;
}
.small {
  max-width: 800px;
  /* max-height: 500px; */
  margin:  50px auto;
}
.chart-widget-list p{
    border-bottom: 1px solid gray;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}
.con-pagination-table{
    display: none !important;
}
.quiz-medal {
  position: relative;
}
.quiz-medal__circle {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: white;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  border-width: 0.2em;
  border-style: solid;
  z-index: 1;
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 2px 2px 0 #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}
.quiz-medal__circle.quiz-medal__circle--gold {
  box-shadow: inset 0 0 0 #b67d05, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #fadd40;
  text-shadow: 0 0 4px #9d6c04;
  background: linear-gradient(to bottom right, #f9ad0e 50%, #e89f06 50%);
}
.quiz-medal__circle.quiz-medal__circle--silver {
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 0px 0px 4px #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}
.quiz-medal__circle.quiz-medal__circle--bronze {
  box-shadow: inset 0 0 0 #955405, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #f7bb23;
  text-shadow: 0 0 4px #7d4604;
  background: linear-gradient(to bottom right, #df7e08 50%, #c67007 50%);
}
.quiz-medal__ribbon {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 6px 10px;
  width: 0;
  height: 14px;
  top: 38px;
}
.quiz-medal__ribbon--left {
  border-color: #fc402d #fc402d transparent #fc402d;
  /* left: 8px; */
  transform: rotate(20deg) translateZ(-32px);
}
.quiz-medal__ribbon--right {
  left: 25px;
  border-color: #f31903 #f31903 transparent #f31903;
  transform: rotate(-20deg) translateZ(-48px);
}
.chart-content-bg{background-color:#f9f9fd;}
/* .chart-content-bg{background-color:#1E2022;} */
/*! CSS Used from: https://coderthemes.com/hyper/saas/assets/css/icons.min.css */

.bg-primary-lighten{background-color:rgba(114,124,245,.25)!important;}
.bg-info-lighten{background-color:rgba(57,175,209,.25)!important;}
.timeline-alt{padding:20px 0;position:relative;}
.timeline-alt .timeline-item{position:relative;}
.timeline-alt .timeline-item:before{background-color:#f1f3fa;bottom:0;content:"";left:9px;position:absolute;top:20px;width:2px;z-index:0;}
.timeline-alt .timeline-item .timeline-icon{float:left;height:20px;width:20px;border-radius:50%;border:2px solid transparent;font-size:12px;text-align:center;line-height:16px;background-color:#fff;}
.timeline-alt .timeline-item .timeline-item-info{margin-left:30px;}
[data-simplebar]{position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit;}
.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0;}
.simplebar-offset{direction:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch;}
.simplebar-content-wrapper{direction:inherit;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none;}
.simplebar-content-wrapper::-webkit-scrollbar{display:none;}
.simplebar-content:after,.simplebar-content:before{content:' ';display:table;}
.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none;}
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0;}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1;}
.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden;}
.simplebar-scrollbar{position:absolute;right:2px;width:5px;min-height:10px;}
.simplebar-scrollbar:before{position:absolute;content:'';background:#a2adb7;border-radius:7px;left:0;right:0;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear;}
.simplebar-track.simplebar-vertical{top:0;width:11px;}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px;}
.simplebar-track.simplebar-horizontal{left:0;height:11px;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px;}
.bg-primary-lighten{background-color:rgba(114,124,245,.25)!important;}
.bg-info-lighten{background-color:rgba(57,175,209,.25)!important;}
.timeline-alt{padding:20px 0;position:relative;}
.timeline-alt .timeline-item{position:relative;}
.timeline-alt .timeline-item:before{background-color:#404954;bottom:0;content:"";left:9px;position:absolute;top:20px;width:2px;z-index:0;}
.timeline-alt .timeline-item .timeline-icon{float:left;height:20px;width:20px;border-radius:50%;border:2px solid transparent;font-size:12px;text-align:center;line-height:16px;background-color:#fff;}
.timeline-alt .timeline-item .timeline-item-info{margin-left:30px;}
[data-simplebar]{position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit;}
.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0;}
.simplebar-offset{direction:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch;}
.simplebar-content-wrapper{direction:inherit;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none;}
.simplebar-content-wrapper::-webkit-scrollbar{display:none;}
.simplebar-content:after,.simplebar-content:before{content:' ';display:table;}
.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none;}
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0;}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1;}
.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden;}
.simplebar-scrollbar{position:absolute;right:2px;width:5px;min-height:10px;}
.simplebar-scrollbar:before{position:absolute;content:'';background:#a2adb7;border-radius:7px;left:0;right:0;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear;}
.simplebar-track.simplebar-vertical{top:0;width:11px;}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px;}
.simplebar-track.simplebar-horizontal{left:0;height:11px;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px;}
/*! CSS Used fontfaces */

</style>