<template>
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    Your Play Statistics for the month of ( {{ new Date().toLocaleString('en-US', { month: 'long' }) }} )
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="money" size="75px" bg="#BC1254" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Total Wins</div>
                                        <h3 class="mb-0">{{ total_wins }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="accessibility" size="75px" bg="#B04298" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Total Loses</div>
                                        <h3 class="mb-0">{{ total_loses }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="monetization_on" size="75px" bg="#BC1254" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Winning Average</div>
                                        <h3 class="mb-0">{{ average_winning.toFixed(2) }}%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="supervisor_account" size="75px" bg="#B04298" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Total Cash Winning</div>
                                        <h3 class="mb-0">₱ {{ currencyFormat(total_cash_wins) }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="person_add_disabled" size="75px" bg="#BC1254" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Total Cash Loses</div>
                                        <h3 class="mb-0">₱ {{ currencyFormat(total_cash_loses) }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 dashboard-users-success">
                <div class="card text-center">
                    <div class="card-content">
                        <div class="card-body py-1">
                            <div class="row">
                                <div class="col-5">
                                    <vs-icon icon="person_add" size="75px" bg="#B04298" round></vs-icon>
                                </div>
                                <div class="col-7">
                                    <div class="text-center" style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:center;">
                                        <div class="text-muted line-ellipsis">Cash Winning Average</div>
                                        <h3 class="mb-0">{{ cash_average_winning.toFixed(2) }}%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cash Stats</h4>
                    </div>
                    <div class="card-content">
                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-6">
                                    <p class="text-muted mb-0 mt-1">Cash Win</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#B04298" round></vs-icon>
                                        <span>₱ {{ (total_cash_wins ? currencyFormat(total_cash_wins):0) }}</span>
                                    </h2>
                                </div>
                                <div class="col-6">
                                    <p class="text-muted mb-0 mt-1">Cash Loss</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#3552BF" round></vs-icon>
                                        <span>₱ {{ (total_cash_loses ? currencyFormat(total_cash_loses):0) }}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>                 
                        <line-chart :chart-data="datacollection" :options="{responsive: true, maintainAspectRatio: false}"></line-chart>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profits ( {{ new Date().toLocaleString('en-US', { month: 'long' }) }} )</h4>
                    </div>
                    <div class="card-content">
                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="text-muted mb-0 mt-1">Total Profits</p>
                                    <h2 class="font-weight-normal">
                                        <vs-icon size="12px" bg="#B04298" round></vs-icon>
                                        <span>₱ {{ (total_profit ? currencyFormat(total_profit):0) }}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>                 
                        <bar-chart :chart-data="rakecollection" :height="150"></bar-chart>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</template>

<script>

import LineChart from './line-chart.js'
import BarChart from './bar-chart.js'
import DoughnutChart from './doughnut-chart.js'
import axios from "axios";
import moment from 'moment';

export default {
    components: {
        LineChart,BarChart,DoughnutChart
    },
    data(){
        return {
        datacollection:null,
        rakecollection:null,
        cashin:[],
        total_wins:0,
        total_loses:0,
        average_winning:0,
        total_cash_wins:0,
        total_cash_loses:0,
        cash_average_winning:0,
        date_count:0,
        date_labels:[],
        win_cash:[],
        bankcollection:[],
        total_cashin:0,
        total_cashout:0,
        total_profit:0,
        total_funds:0,
        lose_cash:[],
        PlayersTable:[],
        highest_color:'',
        rake_data:[],
        doughnut_type:[],
        doughnut_data:[],
        doughnut_bg_color:['#4BC0C0','#FF6384','#36A2EB','#B04298','#FF9F40','#FFCD56'],
        doughnut_index:0,
        recent_acitivites:[],
        }
    },
    mounted () {
        this.date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
        for(let i = 0 ; i < this.date_count + 1; i++){
            this.date_labels.push(`Day ${i}`);
            this.win_cash.push(0);
            this.lose_cash.push(0);
            this.rake_data.push(0);
        }
        this.fetchCard()
    },
    methods: {
        currencyFormat(val){
            return val.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        },
        fetchCard(){
            axios.get('/api/fetchplaystats')
            .then(response => {                
                for(let i = 0 ; i < response.data.length; i++){
                    if(response.data[i].bet_result == 'Win'){
                        this.total_wins += 1;
                        this.total_cash_wins += response.data[i].bet_payout;
                        this.win_cash[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')] += response.data[i].bet_payout;
                    }
                    if(response.data[i].bet_result == 'Loss'){
                        this.total_loses += 1;
                        this.total_cash_loses += response.data[i].bet_amount;
                        this.lose_cash[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')] += response.data[i].bet_amount;
                    }
                }
                let ave_win = this.total_wins / (this.total_wins + this.total_loses) * 100;
                let cash_ave_win = this.total_cash_wins / (this.total_cash_wins + this.total_cash_loses) * 100
                this.average_winning = (ave_win ? ave_win:0);
                this.cash_average_winning = (cash_ave_win ? cash_ave_win:0);
                this.datacollection = {
                    labels: this.date_labels,
                    datasets: [
                        {
                            label: 'Win Cash',
                            backgroundColor: '#B04298',
                            pointHoverBackgroundColor:'#ffffff',
                            borderCapStyle: 'round',
                            data: this.win_cash
                        },
                        {
                            label: 'Lose Cash',
                            pointHoverBackgroundColor:'#ffffff',
                            borderCapStyle: 'round',
                            backgroundColor: '#3E61E4',
                            data: this.lose_cash,
                        }
                    ]
                }

            }).catch(error => console.log(error))

        },
    }
}
</script>

<style scoped>
.vs-table--content{
    overflow: visible;
}
.small {
  max-width: 800px;
  /* max-height: 500px; */
  margin:  50px auto;
}
.chart-widget-list p{
    border-bottom: 1px solid gray;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}
.con-pagination-table{
    display: none !important;
}
.quiz-medal {
  position: relative;
}
.quiz-medal__circle {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: white;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  border-width: 0.2em;
  border-style: solid;
  z-index: 1;
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 2px 2px 0 #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}
.quiz-medal__circle.quiz-medal__circle--gold {
  box-shadow: inset 0 0 0 #b67d05, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #fadd40;
  text-shadow: 0 0 4px #9d6c04;
  background: linear-gradient(to bottom right, #f9ad0e 50%, #e89f06 50%);
}
.quiz-medal__circle.quiz-medal__circle--silver {
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 0px 0px 4px #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}
.quiz-medal__circle.quiz-medal__circle--bronze {
  box-shadow: inset 0 0 0 #955405, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #f7bb23;
  text-shadow: 0 0 4px #7d4604;
  background: linear-gradient(to bottom right, #df7e08 50%, #c67007 50%);
}
.quiz-medal__ribbon {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 6px 10px;
  width: 0;
  height: 14px;
  top: 38px;
}
.quiz-medal__ribbon--left {
  border-color: #fc402d #fc402d transparent #fc402d;
  /* left: 8px; */
  transform: rotate(20deg) translateZ(-32px);
}
.quiz-medal__ribbon--right {
  left: 25px;
  border-color: #f31903 #f31903 transparent #f31903;
  transform: rotate(-20deg) translateZ(-48px);
}
.chart-content-bg{background-color:#f9f9fd;}
/*! CSS Used from: https://coderthemes.com/hyper/saas/assets/css/icons.min.css */

.bg-primary-lighten{background-color:rgba(114,124,245,.25)!important;}
.bg-info-lighten{background-color:rgba(57,175,209,.25)!important;}
.timeline-alt{padding:20px 0;position:relative;}
.timeline-alt .timeline-item{position:relative;}
.timeline-alt .timeline-item:before{background-color:#f1f3fa;bottom:0;content:"";left:9px;position:absolute;top:20px;width:2px;z-index:0;}
.timeline-alt .timeline-item .timeline-icon{float:left;height:20px;width:20px;border-radius:50%;border:2px solid transparent;font-size:12px;text-align:center;line-height:16px;background-color:#fff;}
.timeline-alt .timeline-item .timeline-item-info{margin-left:30px;}
[data-simplebar]{position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit;}
.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0;}
.simplebar-offset{direction:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch;}
.simplebar-content-wrapper{direction:inherit;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none;}
.simplebar-content-wrapper::-webkit-scrollbar{display:none;}
.simplebar-content:after,.simplebar-content:before{content:' ';display:table;}
.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none;}
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0;}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1;}
.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden;}
.simplebar-scrollbar{position:absolute;right:2px;width:5px;min-height:10px;}
.simplebar-scrollbar:before{position:absolute;content:'';background:#a2adb7;border-radius:7px;left:0;right:0;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear;}
.simplebar-track.simplebar-vertical{top:0;width:11px;}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px;}
.simplebar-track.simplebar-horizontal{left:0;height:11px;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px;}
.bg-primary-lighten{background-color:rgba(114,124,245,.25)!important;}
.bg-info-lighten{background-color:rgba(57,175,209,.25)!important;}
.timeline-alt{padding:20px 0;position:relative;}
.timeline-alt .timeline-item{position:relative;}
.timeline-alt .timeline-item:before{background-color:#404954;bottom:0;content:"";left:9px;position:absolute;top:20px;width:2px;z-index:0;}
.timeline-alt .timeline-item .timeline-icon{float:left;height:20px;width:20px;border-radius:50%;border:2px solid transparent;font-size:12px;text-align:center;line-height:16px;background-color:#fff;}
.timeline-alt .timeline-item .timeline-item-info{margin-left:30px;}
[data-simplebar]{position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit;}
.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0;}
.simplebar-offset{direction:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch;}
.simplebar-content-wrapper{direction:inherit;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none;}
.simplebar-content-wrapper::-webkit-scrollbar{display:none;}
.simplebar-content:after,.simplebar-content:before{content:' ';display:table;}
.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none;}
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0;}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1;}
.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden;}
.simplebar-scrollbar{position:absolute;right:2px;width:5px;min-height:10px;}
.simplebar-scrollbar:before{position:absolute;content:'';background:#a2adb7;border-radius:7px;left:0;right:0;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear;}
.simplebar-track.simplebar-vertical{top:0;width:11px;}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px;}
.simplebar-track.simplebar-horizontal{left:0;height:11px;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto;}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px;}
/*! CSS Used fontfaces */

</style>