<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Bank Accounts
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                               Transaction Code
                            </vs-th>
                            <vs-th sort-key="name">
                               Debit
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Credit
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Transaction Details
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Date & Time
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].transaction_code">
                                    {{ data[indextr].transaction_code }}
                                </vs-td>
                                <vs-td :data="data[indextr].debit">
                                    {{ data[indextr].debit }}
                                </vs-td>
                                <vs-td :data="data[indextr].credit">
                                    {{ data[indextr].credit }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_details">
                                    {{ data[indextr].transaction_details }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "bank-details",

        data() {
            return {
                id: '',
                table: [],
                selected: [],
            }
        },

        mounted() {
            this.id = window.location.href.split('/').pop();
            this.fetch()
        },

        methods: {
            fetch() {

                axios.get('/api/getBankTransactions/' + this.id)
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
