<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Fund Accounts
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Provider / Bank Name
                            </vs-th>
                            <vs-th sort-key="name">
                                Fund Category
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Account Name / Personnel Name
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Account Number / Contact Number
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Available Balance
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Status
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Date & Time
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].bank_name">
                                    {{ data[indextr].bank_name === null ? data[indextr].account_type : data[indextr].bank_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].category">
                                    {{ data[indextr].category }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_name">
                                    {{ data[indextr].account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_number">
                                    {{ data[indextr].account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].balance">
                                    {{ data[indextr].balance | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].balance">
                                    <vs-checkbox v-model="data[indextr].status" color="danger" @change="changeAvailability(data[indextr].id)">Availability</vs-checkbox>
                                </vs-td>
                                <vs-td :data="data[indextr].balance">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                                   title="Edit Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="edit"/>

                                        <vs-button class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                                   title="View Transactions" @click="viewTransaction(data[indextr].id)"
                                                   vs-type="border" size="small" icon="money"/>

                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Delete Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="delete"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <div class="form-group">
                                <label>Account Type</label>
                                <vs-select
                                    placeholder="Select Account Type"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['account_type']"
                                >
                                    <vs-select-item :key="payment_type.text" :value="payment_type.text" :text="payment_type.text" v-for="payment_type in payment_types" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['account_type'] === 'Bank'">
                                <label>Bank</label>
                                <input type="text" class="form-control" v-model="form['bank_name']" required />
                            </div>
                            <div class="form-group">
                                <label>Fund Category</label>
                                <vs-select
                                    placeholder="Select Fund Category"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['category']"
                                >
                                    <vs-select-item :key="category.text" :value="category.text" :text="category.text" v-for="category in categories" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['category'] === 'Agent Account'">
                                <label>Agent</label>
                                <vs-select
                                    placeholder="Select Agent"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['user_id']"
                                >
                                    <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label v-if="form['account_type'] === 'Bank'">Account Name </label>
                                <label v-else>Personnel Name </label>
                                <input type="text" class="form-control" v-model="form['account_name']" required />
                            </div>
                            <div class="form-group">
                                <label v-if="form['account_type'] === 'Bank'">Account Number</label>
                                <label v-else>Contact Number</label>
                                <input type="text" class="form-control" v-model="form['account_number']" required />
                            </div>
                            <div class="form-group" v-if="form['account_type'] === 'Bank' || form['account_type'] === 'Gcash' || form['account_type'] === 'PayMaya'">
                                <label>Opening Balance</label>
                                <input type="text" class="form-control" v-model="form['balance']" required />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" class="form-control" v-model="selected.bank_name" required />
                            </div>
                            <div class="form-group">
                                <label>Fund Category</label>
                                <vs-select
                                    placeholder="Select Fund Category"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="selected.category"
                                >
                                    <vs-select-item :key="category.text" :value="category.text" :text="category.text" v-for="category in categories" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="selected.category === 'Agent Account'">
                                <label>Agent</label>
                                <vs-select
                                    placeholder="Select Agent"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="selected.user_id"
                                >
                                    <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label>Account Name</label>
                                <input type="text" class="form-control" v-model="selected.account_name" required />
                            </div>
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control" v-model="selected.account_number" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this record?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "bank-accounts",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                transactions: [],
                transaction_modal: false,
                agents: [],
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },
                ],
                categories : [
                    {
                        'text' : 'Partner'
                    },
                    {
                        'text' : 'Service Provider'
                    },
                    {
                        'text' : 'Game Account'
                    },
                    {
                        'text' : 'Agent Account'
                    }
                ]
            }
        },

        mounted() {
            this.fetch()
            this.getAgents();
        },

        methods: {
            getAgents() {

                axios.get('/api/getAgents')
                    .then(response => {
                        this.agents = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
            changeAvailability(data){
                axios.get('/api/activateBankAccount/'+data)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },
            fetch() {
                axios.get('/api/getBankAccounts')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
            viewTransaction(id) {
                window.location.href = "/configuration/banks/"+ id
            },
            store() {
                axios.post('/api/createBankAccount', this.form)
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.form = {};
                    this.fetch();
                    this.create = false;
                }).catch(error => console.log(error));
            },

            update() {

                axios.patch('/api/updateBankAccount/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {
                axios.delete('/api/deleteBankAccount/' + this.selected.id)
                .then(response => {
                    this.remove = false;
                    this.fetch();
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                })
                .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
