/* =================================
 Temlate Name : Miscoo
 Author Name : autworks
 Date: 08/10/2020
 Version: 1.0
 =================================

/* =================================
 css index
 =================================
 *. typography
 *. section title
 *. preloader
 *. scroll to top button
 *. normalize
 1. header
 2. Breadcrump
 3. banner
 4. limelight feature
 5. About
 6. Service
 7. Portfolio
 8. Call to action
 9. Testimonial
 10. Team
 11. News
 12. Brand
 13. Contact
 14. Footer & copyright
 15. About second part
 16. Service page
 17. Service Details
 18. Sidebar
 19. Blog
 20. Contact
 21. Appointment

================================= */
/*==========================================
    typography
===========================================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&amp;display=swap");
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
}

a {
  display: inline-block;
  transition: 0.3s;
}

.overflow-hidden {
  overflow: hidden;
}

/*==========================================
    template default button
==========================================*/
.def-btn {
  display: inline-block;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 35px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in;
}
.def-btn.def-small {
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}
.def-btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #ff4b2b, #ff416c);
  z-index: -1;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.def-btn:hover {
  color: #fff;
}
.def-btn:hover:after {
  opacity: 1;
}

/*==========================================
    section title
==========================================*/
.heading {
  text-align: center;
  margin-bottom: 70px;
}
.heading h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}
.heading p {
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: -8px;
}

.c-white {
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .row.reorder-xs {
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl;
  }

  .row.reorder-xs > [class*=col-] {
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .row.homepage-about-xs {
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl;
  }

  .row.homepage-about-xs > [class*=col-] {
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr;
  }
}
/*==========================================
    Preloader
==========================================*/
.preloader {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #09111f;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preloader img {
  width: 400px;
}

/*==========================================
    normalize
==========================================*/
html {
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #3f3c57;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a {
  line-height: 1.3;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

p {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #283659;
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
}

/*input and button type focus outline disable*/
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

/**
 * 5.0 - Alignments
 */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes rubber {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rubber-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animation-3 {
  0% {
    transform: translateX(5px) translateY(5px);
  }
  50% {
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    transform: translateX(5px) translateY(5px);
  }
}
@keyframes animation-4 {
  0% {
    transform: translateX(5px) translateY(-5px);
  }
  50% {
    transform: translateX(-5px) translateY(5px);
  }
  100% {
    transform: translateX(5px) translateY(-5px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes popping-up {
  0% {
    width: 90px;
    height: 90px;
  }
  50% {
    width: 65px;
    height: 65px;
  }
  100% {
    width: 90px;
    height: 90px;
  }
}
.header {
  background: #2a2a2a;
  z-index: 11;
  padding: 0 100px;
  transition: all 0.3s ease-in;
}
.header.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.46);
}
.header.header-fixed .top-header {
  display: none;
}
.header.header-fixed .logo img {
  width: 130px;
}
.header .logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 100px;
}
.header .logo:after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 500px;
  background: #fff;
  opacity: 0.1;
}
.header .logo img {
  width: 190px;
  transition: all 0.3s ease-in;
}
.header .top-header .top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header .top-header .top-right form.part-searchBar {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0 15px 30px;
}
.header .top-header .top-right form.part-searchBar input {
  border: none;
  background: transparent;
  color: #999;
  font-family: "Oswald", sans-serif;
}
.header .top-header .top-right form.part-searchBar input:placeholder {
  color: #999;
}
.header .top-header .top-right form.part-searchBar input:focus ~ button {
  color: #ff4647;
}
.header .top-header .top-right form.part-searchBar button {
  background: transparent;
  border: none;
  color: #999;
  transition: all 0.3s ease-in;
}
.header .top-header .top-right .buttons {
  margin-right: 30px;
}
.header .top-header .top-right .buttons a {
  font-size: 15px;
  line-height: 100%;
  margin-left: 25px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
.header .top-header .top-right .buttons a:hover {
  color: #ff4647;
}
.header .bottom-header .navbar {
  padding: 0;
}
.header .bottom-header .navbar .navbar-nav {
  position: relative;
}
.header .bottom-header .navbar .navbar-nav:after {
  position: absolute;
  content: "";
  left: -100px;
  top: 0;
  width: 9999px;
  background: #fff;
  opacity: 0.1;
  height: 1px;
}
.header .bottom-header .navbar .navbar-nav .nav-item {
  padding: 25px 20px;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .nav-link {
  margin-right: 30px;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .nav-link:after {
  border: none;
  width: 12px;
  height: 12px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  top: 50%;
  margin-top: -5px;
  position: absolute;
  margin-left: 10px;
  -webkit-clip-path: polygon(100% 28%, 100% 54%, 50% 100%, 0 55%, 0 26%, 50% 74%);
          clip-path: polygon(100% 28%, 100% 54%, 50% 100%, 0 55%, 0 26%, 50% 74%);
  transition: all 0.3s ease-in;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: 0;
  transition: all 0.3s ease-in;
  padding: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover, .header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active {
  color: #fff;
  background: #fff;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover:after, .header .bottom-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active:after {
  opacity: 1;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.header .bottom-header .navbar .navbar-nav .nav-item.dropdown:hover .nav-link:after {
  transform: rotate(180deg);
}
.header .bottom-header .navbar .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
.header .bottom-header .navbar .navbar-nav .nav-item .nav-link {
  padding: 5px 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
}
.header .bottom-header .navbar .navbar-nav .nav-item .nav-link:before {
  position: absolute;
  content: "";
  left: -22px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 2px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  border-radius: 50px;
  transition: all 0.3s ease-in;
}
.header .bottom-header .navbar .navbar-nav .nav-item .nav-link.active:before {
  width: 30px;
}
.header .bottom-header .navbar .navbar-nav .nav-item:hover .nav-link:before {
  width: 30px;
}
.header .bottom-header .navbar .nav-btn {
  height: 40px;
  line-height: 38px;
  margin-left: 10px;
  background: #111111;
}
.header .bottom-header .navbar .nav-btn:hover {
  background: transparent;
}

.banner {
  background: url("../img/cockfighting.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  z-index: -1;
}
.banner .banner-txt {
  text-align: center;
  padding-top: 200px;
}
.banner .banner-txt h4 {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 18px;
  letter-spacing: 3px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  font-weight: 700;
}
.banner .banner-txt h1 {
  font-size: 70px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 37px;
}

.about {
  padding: 0 0 160px;
  background: #111;
}
.about .part-txt {
  position: relative;
  z-index: 2;
}
.about .part-txt.right {
  margin-left: 50px;
  margin-right: -50px;
}
.about .part-txt h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 16px;
}
.about .part-txt h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 16px;
}
.about .part-txt p {
  font-size: 16px;
  line-height: 28px;
  color: #ababab;
  margin-bottom: 20px;
}
.about .part-txt p span {
  display: block;
  font-style: italic;
  color: #a5a5a5;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: -20px;
  position: relative;
  z-index: 2;
}
.about .part-txt p span:after {
  position: absolute;
  content: "";
  left: -15px;
  top: 0;
  right: -15px;
  height: 100%;
  background: #242424;
  z-index: -1;
}
.about .part-txt a {
  margin-top: 12px;
}
.about .part-img .single-img {
  width: 890px;
  height: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.about .part-img img {
  width: 100%;
}
.about .part-img .play-button {
  display: inline-block;
  width: 65px;
  height: 65px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  padding-left: 6px;
  transform: translateX(-15%) translateY(-80%);
}
.about .part-img .play-button:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90px;
  height: 90px;
  background: -webkit-linear-gradient(130deg, #ffffff, #000000);
  opacity: 0.3;
  z-index: -1;
  border-radius: 50%;
}
.about .part-img .play-button:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 65px;
  height: 65px;
  background: -webkit-linear-gradient(130deg, #554aff, #034298);
  z-index: -1;
  border-radius: 50%;
}
.about .part-img .play-button svg {
  width: 25px;
}
.about .part-img .play-button:hover:after {
  animation: popping-up 2s infinite;
}

.feature {
  background: #242424;
  position: relative;
  z-index: 2;
  margin-bottom: 180px;
  border-radius: 5px;
  z-index: 2;
}
.feature:after {
  position: absolute;
  content: "";
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  border-radius: 5px;
}
.feature:before {
  position: absolute;
  content: "";
  background: #242424;
  left: -15px;
  top: 0px;
  right: -15px;
  bottom: 0px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
.feature .row .col-xl-3:last-child .single-feature:after {
  display: none;
}
.feature .single-feature {
  text-align: center;
  position: relative;
  padding: 40px 0;
}
.feature .single-feature:after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  height: 50px;
  transform: translateY(-50%);
  background: #fff;
  width: 1px;
  opacity: 0.1;
}
.feature .single-feature .part-icon {
  display: inline-block;
  height: 90px;
  margin-bottom: 23px;
}
.feature .single-feature .part-icon img {
  width: auto;
  height: 100%;
}
.feature .single-feature h4.feature-title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.feature .single-feature .def-btn {
  color: #a5a5a5;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  text-transform: capitalize;
}
.feature .single-feature .def-btn:after {
  position: absolute;
  content: "";
  left: 0px;
  right: 1px;
  top: 0px;
  bottom: 1px;
  background: #242424;
  opacity: 1;
  border-top: dashed orangered 1px;
}
.feature .single-feature .def-btn:hover {
  color: #fff;
}
.feature .single-feature .def-btn:hover:after {
  opacity: 0;
}
.feature .single-feature .def-btn svg {
  width: 22px;
  margin-left: 10px;
}

.iq-feature {
  background: #242424;
  position: relative;
  overflow: hidden;
  padding: 120px 0 90px;
}
.iq-feature .part-text {
  margin-bottom: 100px;
  position: relative;
}
.iq-feature .part-text:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  right: calc( 100% + 80px );
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
}
.iq-feature .part-text:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  right: calc( 100% + 80px );
  background: url("../img/bg.png") center center repeat;
  z-index: 1;
  background-size: 100%;
  opacity: 0.3;
}
.iq-feature .part-text h2 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 28px;
  font-weight: 600;
}
.iq-feature .part-text p {
  color: #999;
  line-height: 28px;
}
.iq-feature .part-text a {
  margin-top: 18px;
}
.iq-feature .part-img {
  margin-bottom: 100px;
  position: relative;
  margin-right: 10px;
}
.iq-feature .part-img img {
  width: 100%;
}
.iq-feature .part-img .part-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.18);
}
.iq-feature .part-img .part-video .play-button {
  display: inline-block;
  width: 65px;
  height: 65px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  padding-left: 6px;
}
.iq-feature .part-img .part-video .play-button:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90px;
  height: 90px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  opacity: 0.4;
  z-index: -1;
  border-radius: 50%;
}
.iq-feature .part-img .part-video .play-button:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 65px;
  height: 65px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  z-index: -1;
  border-radius: 50%;
}
.iq-feature .part-img .part-video .play-button svg {
  width: 25px;
}
.iq-feature .part-img .part-video .play-button:hover:after {
  animation: popping-up 2s infinite;
}
.iq-feature .part-features .single-feature {
  background: url("../img/banner-bg-2.jpg") center center no-repeat;
  background-size: cover;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 19px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
}
.iq-feature .part-features .single-feature:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #111;
  opacity: 0.95;
}
.iq-feature .part-features .single-feature .icon {
  width: auto;
  height: 60px;
  margin-bottom: 22px;
}
.iq-feature .part-features .single-feature h3.title {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 16px;
}
.iq-feature .part-features .single-feature p {
  color: #ababab;
  line-height: 28px;
}

.games {
  padding: 120px 0 90px;
  background: #111;
}
.games .game-menu .nav .nav-item .nav-link {
  background: #242424;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px 30px;
  line-height: 100%;
  align-items: center;
  display: flex;
  position: relative;
  transition: all 0.3s ease-in;
}
.games .game-menu .nav .nav-item .nav-link:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  transition: all 0.3s ease-in;
}
.games .game-menu .nav .nav-item .nav-link.active {
  padding-left: 35px;
}
.games .game-menu .nav .nav-item .nav-link.active:after {
  width: 5px;
}
.games .game-menu .nav .nav-item .nav-link span {
  display: inline-block;
}
.games .game-menu .nav .nav-item .nav-link span.icon {
  margin-right: 15px;
}
.games .game-menu .nav .nav-item .nav-link span.icon svg {
  width: 20px;
  height: 20px;
}
.games .game-menu .nav .nav-item .nav-link span.icon svg path {
  fill: #ff4647;
}
.games .game-menu .nav .nav-item:last-child .nav-link {
  border-bottom: none;
}
.games .all-games .single-game {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.games .all-games .single-game .part-img img {
  width: 100%;
  opacity: 0.7;
}
.games .all-games .single-game .part-img .icon-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 110px;
  transform: translateY(-50%) translateX(-50%);
  filter: drop-shadow(7px 7px 9px #000);
  opacity: 1;
}
.games .all-games .single-game .part-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-left: 30px;
  padding-top: 30px;
}
.games .all-games .single-game .part-text:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background: #242424;
  z-index: -1;
  transform: rotate(28deg) translateY(-20%) translateX(-130%);
  transition: all 0.3s ease-in;
}
.games .all-games .single-game .part-text:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 80%;
  height: 150%;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  z-index: -1;
  transform: rotate(25deg) translateY(-15%) translateX(120%);
  transition: all 0.3s ease-in;
}
.games .all-games .single-game .part-text h4.game-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: -7px;
  margin-bottom: 25px;
  position: relative;
  left: -100%;
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
}
.games .all-games .single-game .part-text a {
  position: relative;
  left: -100%;
  transition: all 0.3s ease-in;
  transition-delay: 0.4s;
}
.games .all-games .single-game:hover .part-text h4.game-title, .games .all-games .single-game:hover .part-text a {
  left: 0;
}
.games .all-games .single-game:hover .part-text:after {
  transform: rotate(28deg) translateY(-20%) translateX(-40%);
}
.games .all-games .single-game:hover .part-text:before {
  transform: rotate(25deg) translateY(-15%) translateX(30%);
}

.section-title {
  margin-bottom: 62px;
  text-align: center;
}
.section-title.style-2 p {
  color: #ababab;
}
.section-title h2 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.section-title p {
  color: #999;
  line-height: 28px;
}

.partner {
  background: #242424;
  padding: 120px 0;
}
.partner .part-text h2.title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
.partner .part-text p {
  color: #999;
  line-height: 28px;
}
.partner .part-text a {
  margin-top: 16px;
}
.partner .part-partner-logo .single-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.partner .part-partner-logo .single-logo a {
  display: inline-block;
  width: 90px;
}
.partner .part-partner-logo .single-logo a img {
  width: 100%;
  filter: grayscale(100) brightness(1) drop-shadow(0px 0px 0px #111);
  transition: all 0.3s ease-in;
}
.partner .part-partner-logo .single-logo:hover a img {
  filter: grayscale(100) brightness(1) drop-shadow(2px 10px 10px #111);
}
.partner .part-partner-logo .col-xl-4:nth-last-child(1n+4) .single-logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.partner .part-partner-logo .col-xl-4:nth-child(3n+0) .single-logo {
  border-right: 0;
}

.news {
  padding: 120px 0 80px;
  background: #111;
  overflow: hidden;
}
.news .news-container {
  position: relative;
}
.news .news-container:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  left: calc( 100% - 150px );
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
}
.news .news-container:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  left: calc( 100% - 150px );
  background: url("../img/bg.png") center center repeat;
  z-index: 1;
  background-size: 100%;
  opacity: 0.3;
}
.news.blog-page {
  background: #242424;
  padding-bottom: 120px;
  overflow: visible;
}
.news.blog-page .single-news .part-text {
  background: #313131;
}
.news.blog-page .single-news .part-text p {
  color: #ababab;
}
.news .single-news {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
.news .single-news .part-img img {
  width: 100%;
}
.news .single-news .part-text {
  padding: 40px;
  padding-top: 31px;
  background: #242424;
}
.news .single-news .part-text h3.title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 34px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}
.news .single-news .part-text p {
  color: #999;
  line-height: 28px;
}
.news .single-news .part-text a {
  margin-top: 16px;
}
.news .blog-filter-area {
  background: #313131;
  margin-bottom: 50px;
  padding: 30px;
}
.news .blog-filter-area .blog-search form {
  position: relative;
}
.news .blog-filter-area .blog-search form input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 50px;
  width: 100%;
  padding: 0 30px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 15px;
  background: #242424;
  letter-spacing: 0.5px;
}
.news .blog-filter-area .blog-search form input::placeholder {
  text-transform: capitalize;
  font-weight: 400;
}
.news .blog-filter-area .blog-search form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.news .blog-filter-area .filtering .dropdown button {
  background: #242424;
  border: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding-left: 30px;
  font-weight: 400;
}
.news .blog-filter-area .filtering .dropdown button:after {
  display: none;
}
.news .blog-filter-area .filtering .dropdown button:before {
  width: 14px;
  height: 14px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -7px;
  -webkit-clip-path: polygon(100% 28%, 100% 54%, 50% 100%, 0 55%, 0 26%, 50% 74%);
          clip-path: polygon(100% 28%, 100% 54%, 50% 100%, 0 55%, 0 26%, 50% 74%);
}
.news .blog-filter-area .filtering .dropdown .dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-top: 0;
  border: 0;
  margin-left: 2px;
}
.news .blog-filter-area .filtering .dropdown .dropdown-menu .dropdown-item {
  letter-spacing: 0.5px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  transition: 0s;
  text-transform: capitalize;
}
.news .blog-filter-area .filtering .dropdown .dropdown-menu .dropdown-item:active {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  color: #fff;
}
.news .misco-pagination {
  margin-top: 30px;
}
.news .misco-pagination ul li a {
  width: 50px;
  height: 50px;
  background: #313131;
  color: #fff;
  line-height: 50px;
  text-align: center;
  margin-right: 6px;
}
.news .misco-pagination ul li a.active {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
}
.news .misco-pagination ul li a.active:hover {
  color: #fff;
}
.news .misco-pagination ul li a:hover {
  color: #ff4b2b;
}

.payment-gateway {
  padding: 120px 0;
  background: #242424;
}
.payment-gateway .part-text h2.title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
.payment-gateway .part-text p {
  color: #999;
  line-height: 28px;
}
.payment-gateway .part-text a {
  margin-top: 16px;
}
.payment-gateway .all-gateways img {
  filter: grayscale(1);
  opacity: 0.6;
}

.testimonial {
  padding: 120px 0;
  background: #111;
}
.testimonial .testimonial-slider .disabled {
  display: none;
}
.testimonial .testimonial-slider .owl-dots {
  text-align: center;
  line-height: 0;
  margin-top: 40px;
}
.testimonial .testimonial-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #ff4647;
  display: inline-block;
  border-radius: 50px;
  margin-right: 6px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  opacity: 0.6;
}
.testimonial .testimonial-slider .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.testimonial .testimonial-slider .owl-dots .owl-dot.active {
  opacity: 1;
}
.testimonial .testimonial-slider .owl-item.active .single-testimonial .part-img {
  transform: scale(1);
  opacity: 1;
}
.testimonial .testimonial-slider .owl-item.active .single-testimonial .part-text:after {
  width: 350px;
  top: -85px;
  bottom: -40px;
  transform: translateX(-50%) rotateY(0deg);
  opacity: 1;
}
.testimonial .single-testimonial {
  text-align: center;
}
.testimonial .single-testimonial .part-img {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  border: 2px dashed rgba(255, 70, 71, 0.5);
  border-radius: 50%;
  padding: 5px;
  position: relative;
  z-index: 4;
  margin-bottom: 31px;
  transform: scale(0.8);
  transition: all 0.3s ease-in;
  transition-delay: 0.4s;
  opacity: 0;
}
.testimonial .single-testimonial .part-img img {
  width: 100%;
  border-radius: 50%;
}
.testimonial .single-testimonial .part-text {
  position: relative;
  z-index: 2;
  margin-bottom: 32px;
}
.testimonial .single-testimonial .part-text:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%) rotateY(180deg);
  background: #242424;
  width: 300px;
  top: -45px;
  bottom: 0px;
  opacity: 1;
  z-index: -1;
  transition: all 0.3s ease-in;
  transition-delay: 0.4s;
  opacity: 0;
}
.testimonial .single-testimonial .part-text .icon-for-quot {
  font-size: 45px;
  margin-bottom: 27px;
  color: #ff4647;
  opacity: 0.8;
  font-style: italic;
}
.testimonial .single-testimonial .part-text p {
  font-size: 24px;
  line-height: 38px;
  font-style: italic;
  position: relative;
  padding-bottom: 31px;
  margin-bottom: 35px;
  color: #999;
}
.testimonial .single-testimonial .part-text p:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #ff4647;
  width: 100px;
  bottom: 0;
}
.testimonial .single-testimonial .part-text span {
  display: block;
}
.testimonial .single-testimonial .part-text span.position {
  font-size: 16px;
  margin-bottom: 5px;
  color: #999;
}
.testimonial .single-testimonial .part-text span.user-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.contact {
  background: #242424;
  padding: 120px 0;
  overflow: hidden;
}
.contact .container-contact {
  position: relative;
}
.contact .container-contact:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  right: calc( 100% - 150px );
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
}
.contact .container-contact:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 9999px;
  width: 999px;
  right: calc( 100% - 150px );
  background: url("../img/bg.png") center center repeat;
  z-index: 1;
  background-size: 100%;
  opacity: 0.3;
}
.contact .bg-tamim {
  background: #2a2a2a;
  padding: 50px 0;
  position: relative;
  z-index: 10;
}
.contact .part-form form input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0 30px;
  height: 60px;
  margin-bottom: 10px;
  color: #fff;
  border: 1px solid rgba(153, 153, 153, 0.26);
  transition: all 0.3s ease-in;
}
.contact .part-form form input:focus {
  border: 1px solid rgba(153, 153, 153, 0.26);
}
.contact .part-form form input::placeholder {
  color: #999;
}
.contact .part-form form textarea {
  width: 100%;
  background: transparent;
  border: none;
  padding: 17px 30px;
  height: 170px;
  margin-bottom: 10px;
  color: #999;
  border: 1px solid rgba(153, 153, 153, 0.26);
  transition: all 0.3s ease-in;
}
.contact .part-form form textarea:focus {
  border: 1px solid rgba(153, 153, 153, 0.26);
}
.contact .part-form form textarea::placeholder {
  color: #999;
}
.contact .part-form form .submit-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.contact .part-address .addressing .single-address {
  margin-bottom: 31px;
}
.contact .part-address .addressing .single-address h4 {
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -7px;
  margin-bottom: 15px;
}
.contact .part-address .addressing .single-address p {
  color: #999;
  line-height: 30px;
}

.footer .footer-top {
  background: #111;
  padding: 120px 0 115px;
}
.footer .about-widget a.logo {
  display: inline-block;
  width: 150px;
  margin-bottom: 32px;
}
.footer .about-widget a.logo img {
  width: 100%;
}
.footer .about-widget p {
  color: #ababab;
  line-height: 28px;
}
.footer .about-widget .social-links {
  margin-top: 32px;
}
.footer .about-widget .social-links ul li {
  display: inline-block;
}
.footer .about-widget .social-links ul li a {
  display: inline-block;
  background: #242424;
  color: #ff4647;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 6px;
}
.footer .about-widget .social-links ul li a.active, .footer .about-widget .social-links ul li a:hover {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  color: #fff;
}
.footer .link-widget h4.title {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin-top: -9px;
  margin-bottom: 23px;
  letter-spacing: 0;
}
.footer .link-widget ul li {
  padding: 5px 0;
}
.footer .link-widget ul li a {
  display: inline-block;
  color: #ababab;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  transition: all 0.3s ease-in;
}
.footer .link-widget ul li a:hover {
  color: #ff4647;
}
.footer .newsletter-widget h4.title {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin-top: -9px;
  margin-bottom: 15px;
  letter-spacing: 0;
}
.footer .newsletter-widget .newsletter-form {
  position: relative;
  z-index: 2;
  padding-bottom: 1px;
  margin-bottom: 25px;
}
.footer .newsletter-widget .newsletter-form:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 51px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  z-index: -1;
  opacity: 0.5;
}
.footer .newsletter-widget .newsletter-form input {
  background: #111;
  border: none;
  width: 100%;
  padding: 0 90px 0 0;
  height: 50px;
  color: #999;
}
.footer .newsletter-widget .newsletter-form .def-btn {
  border: none;
  outline: none;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}
.footer .newsletter-widget p {
  color: #ababab;
  line-height: 28px;
}
.footer .copyright-area {
  background: #242424;
  text-align: center;
  padding: 25px 0;
}
.footer .copyright-area p {
  color: #999;
  margin-bottom: 0;
  line-height: 28px;
}
.footer .copyright-area p a {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
}

.breadcrumb-miscoo {
  background: url("../img/breadcrumb-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.breadcrumb-miscoo .breadcrumb-img img {
  position: absolute;
  width: 500px;
  top: -250px;
  left: -250px;
  opacity: 0.7;
}
.breadcrumb-miscoo .breadcrumb-img img:nth-child(2) {
  left: auto;
  right: -250px;
}
.breadcrumb-miscoo .breadcrumb-img img:nth-child(3) {
  left: auto;
  width: 260px;
  right: -120px;
  top: auto;
  bottom: -120px;
}
.breadcrumb-miscoo .breadcrumb-img img:nth-child(4) {
  width: 260px;
  left: -120px;
  top: auto;
  bottom: -120px;
}
.breadcrumb-miscoo:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
  opacity: 0.65;
  z-index: -2;
}
.breadcrumb-miscoo .breadcrumb-content {
  padding: 80px 0;
  text-align: center;
}
.breadcrumb-miscoo .breadcrumb-content h2.title {
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fff;
  margin-top: -8px;
  margin-bottom: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}
.breadcrumb-miscoo .breadcrumb-content p {
  color: #bbb;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
}
.breadcrumb-miscoo .breadcrumb-content ul {
  margin-top: 32px;
}
.breadcrumb-miscoo .breadcrumb-content ul li {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 30px;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.breadcrumb-miscoo .breadcrumb-content ul li a {
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumb-miscoo .breadcrumb-content ul li:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #313131;
  z-index: -1;
}
.breadcrumb-miscoo .breadcrumb-content ul li.arrow {
  padding: 10px 20px;
}

.blog-details {
  background: #242424;
  padding: 120px 0;
}
.blog-details .part-post {
  background: #313131;
  padding-bottom: 28px;
}
.blog-details .part-post .part-img {
  position: relative;
}
.blog-details .part-post .part-img:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
  opacity: 0.5;
}
.blog-details .part-post .part-img img {
  width: 100%;
}
.blog-details .part-post .part-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #242424;
  margin-top: 50px;
  margin-bottom: 42px;
  margin: 50px 50px 0;
}
.blog-details .part-post .part-meta .left-side ul {
  display: flex;
}
.blog-details .part-post .part-meta .left-side ul li {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-size: 15px;
}
.blog-details .part-post .part-meta .left-side ul li span {
  display: inline-block;
  color: #fff;
}
.blog-details .part-post .part-meta .left-side ul li span.icon {
  margin-right: 10px;
}
.blog-details .part-post .part-meta .right-side ul {
  display: flex;
}
.blog-details .part-post .part-meta .right-side ul li {
  padding: 0 30px;
  text-align: center;
  position: relative;
}
.blog-details .part-post .part-meta .right-side ul li:after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 40px;
  background: #263b45;
}
.blog-details .part-post .part-meta .right-side ul li:last-child:after {
  display: none;
}
.blog-details .part-post .part-meta .right-side ul li span {
  display: block;
}
.blog-details .part-post .part-meta .right-side ul li span.icon {
  font-size: 16px;
  color: #ff464c;
  margin-bottom: 3px;
}
.blog-details .part-post .part-meta .right-side ul li span.text {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}
.blog-details .part-post .part-text {
  padding: 50px;
  padding-bottom: 0;
}
.blog-details .part-post .part-text h2.title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 50px;
  margin-top: -2px;
  margin-bottom: 24px;
}
.blog-details .part-post .part-text p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 32px;
}
.blog-details .part-post .part-text .text-with-img {
  margin-top: 31px;
  margin-bottom: 32px;
}
.blog-details .part-post .part-text .text-with-img .text-img {
  width: 100%;
  padding-right: 10px;
}
.blog-details .part-comment {
  padding: 50px;
  background: #313131;
  margin-top: 40px;
  padding-bottom: 42px;
}
.blog-details .part-comment h3.title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 24px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}
.blog-details .part-comment .all-comments .single-comment {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}
.blog-details .part-comment .all-comments .single-comment:last-child {
  margin-bottom: 0;
}
.blog-details .part-comment .all-comments .single-comment.reply {
  padding-left: 100px;
}
.blog-details .part-comment .all-comments .single-comment .part-user {
  width: 100px;
  margin-right: 30px;
}
.blog-details .part-comment .all-comments .single-comment .part-user img {
  width: 100%;
}
.blog-details .part-comment .all-comments .single-comment .part-comment-text span {
  display: block;
}
.blog-details .part-comment .all-comments .single-comment .part-comment-text span.user-name {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #fff;
  margin-top: -5px;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
}
.blog-details .part-comment .all-comments .single-comment .part-comment-text span.date-of-comment {
  color: #999;
  font-size: 15px;
  margin-bottom: 16px;
}
.blog-details .part-comment .all-comments .single-comment .part-comment-text p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  margin-bottom: 0;
}
.blog-details .part-comment .all-comments .single-comment button.reply-comment {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  color: #fff;
  border: none;
  height: 40px;
  width: 120px;
  position: absolute;
  right: 0;
  top: 0px;
  outline: none;
  cursor: pointer;
}
.blog-details .part-comment .all-comments .single-comment button.reply-comment:hover {
  background: -webkit-linear-gradient(130deg, #ff4b2b, #ff416c);
}
.blog-details .part-comment .all-comments .single-comment button.reply-comment i {
  margin-right: 6px;
}
.blog-details .comment-form {
  padding: 50px;
  background: #313131;
  margin-top: 40px;
}
.blog-details .comment-form h3.title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  margin-bottom: 38px;
}
.blog-details .comment-form form input {
  width: 100%;
  border: 1px solid #242424;
  background: transparent;
  height: 50px;
  padding: 0 30px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
  background: #242424;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
}
.blog-details .comment-form form input::placeholder {
  color: #c0c5c7;
}
.blog-details .comment-form form textarea {
  width: 100%;
  border: 1px solid #242424;
  background: transparent;
  height: 260px;
  padding: 13px 30px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
  background: #242424;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
}
.blog-details .comment-form form textarea::placeholder {
  color: #c0c5c7;
}
.blog-details .comment-form form .submit-btn {
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  color: #fff;
  height: 50px;
  padding: 0 35px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}
.blog-details .comment-form form .submit-btn:hover {
  background: -webkit-linear-gradient(130deg, #ff4b2b, #ff416c);
}
.blog-details .comment-form form .submit-btn i {
  margin-left: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .breadcrumb-miscoo .breadcrumb-content h2.title {
    font-size: 24px;
    line-height: 34px;
    margin-top: -9px;
    margin-bottom: 18px;
  }

  .breadcrumb-miscoo .breadcrumb-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .breadcrumb-miscoo .breadcrumb-img {
    display: none;
  }

  .breadcrumb-miscoo .breadcrumb-content ul li {
    font-size: 15px;
  }

  .breadcrumb-miscoo .breadcrumb-content {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .breadcrumb-miscoo .breadcrumb-content h2.title {
    font-size: 28px;
    line-height: 38px;
    margin-top: -8px;
    margin-bottom: 18px;
  }

  .breadcrumb-miscoo .breadcrumb-content p {
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    display: inline-block;
  }

  .breadcrumb-miscoo .breadcrumb-img {
    display: none;
  }

  .breadcrumb-miscoo .breadcrumb-content ul li {
    font-size: 15px;
  }

  .breadcrumb-miscoo .breadcrumb-content {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcrumb-miscoo .breadcrumb-img img {
    width: 450px;
  }

  .breadcrumb-miscoo .breadcrumb-content h2.title {
    font-size: 34px;
    line-height: 44px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .news .blog-filter-area .blog-search form {
    margin-bottom: 10px;
  }

  .news .blog-filter-area {
    padding: 15px;
    padding-bottom: 5px;
  }

  .news .blog-filter-area .filtering .dropdown {
    margin-bottom: 10px;
  }

  .news .misco-pagination {
    margin-top: 0;
  }

  .news .misco-pagination ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .news.blog-page {
    padding-bottom: 50px;
  }

  .blog-details .part-post .part-meta {
    display: none;
  }

  .blog-details .part-post .part-meta .left-side {
    display: none;
  }

  .blog-details .part-post {
    background: transparent;
    padding-bottom: 0;
  }

  .blog-details .part-post .part-text {
    padding: 0;
  }

  .blog-details .part-post .part-text h2.title {
    font-size: 24px;
    line-height: 34px;
    margin-top: -9px;
    margin-bottom: 14px;
  }

  .blog-details .part-post .part-img {
    margin-bottom: 30px;
  }

  .blog-details .part-post .part-text .text-with-img {
    margin-top: 21px;
    margin-bottom: 0;
  }

  .blog-details .part-post .part-text .text-with-img .text-img {
    margin-bottom: 20px;
  }

  .blog-details .part-post .part-text p {
    line-height: 28px;
  }

  .blog-details {
    padding: 50px 0;
  }

  .blog-details .part-comment {
    padding: 20px;
  }

  .blog-details .part-comment .all-comments .single-comment {
    display: block;
  }

  .blog-details .part-comment .all-comments .single-comment .part-user {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .blog-details .part-comment .all-comments .single-comment .part-comment-text p {
    line-height: 28px;
  }

  .blog-details .part-comment .all-comments .single-comment button.reply-comment {
    position: relative;
    margin-top: 30px;
  }

  .blog-details .part-comment .all-comments .single-comment.reply {
    padding-left: 0;
  }

  .blog-details .comment-form {
    padding: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .news .blog-filter-area {
    background: transparent;
  }

  .news .blog-filter-area .blog-search form {
    margin-bottom: 10px;
  }

  .news .blog-filter-area {
    padding: 0;
  }

  .news .blog-filter-area .filtering .dropdown {
    margin-bottom: 10px;
  }

  .news .misco-pagination {
    margin-top: 0;
  }

  .news .misco-pagination ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  .news.blog-page {
    padding-bottom: 50px;
  }

  .blog-details .part-post .part-meta {
    display: none;
  }

  .blog-details .part-post .part-meta .left-side {
    display: none;
  }

  .blog-details .part-post .part-text h2.title {
    font-size: 30px;
    line-height: 40px;
    margin-top: -9px;
    margin-bottom: 14px;
  }

  .blog-details .part-post .part-img {
    margin-bottom: 30px;
  }

  .blog-details .part-post .part-text .text-with-img {
    margin-top: 21px;
    margin-bottom: 0;
  }

  .blog-details .part-post .part-text .text-with-img .text-img {
    margin-bottom: 20px;
  }

  .blog-details .part-post .part-text p {
    line-height: 28px;
  }

  .blog-details {
    padding: 50px 0;
  }

  .blog-details .part-comment .all-comments .single-comment {
    display: block;
  }

  .blog-details .part-comment .all-comments .single-comment .part-user {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .blog-details .part-comment .all-comments .single-comment .part-comment-text p {
    line-height: 28px;
  }

  .blog-details .part-comment .all-comments .single-comment button.reply-comment {
    position: relative;
    margin-top: 30px;
  }

  .blog-details .part-comment .all-comments .single-comment.reply {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news .blog-filter-area {
    background: transparent;
    padding: 0;
  }

  .news .misco-pagination {
    margin-top: 0;
  }

  .news.blog-page {
    padding-bottom: 50px;
  }

  .blog-details .part-post .part-meta {
    display: none;
  }

  .blog-details .part-post .part-meta .left-side {
    display: none;
  }

  .blog-details .part-post .part-text h2.title {
    font-size: 30px;
    line-height: 40px;
    margin-top: -9px;
    margin-bottom: 14px;
  }

  .blog-details .part-post .part-img {
    margin-bottom: 30px;
  }

  .blog-details .part-post .part-text .text-with-img {
    margin-top: 21px;
    margin-bottom: 0;
  }

  .blog-details .part-post .part-text .text-with-img .text-img {
    margin-bottom: 20px;
  }

  .blog-details .part-post .part-text p {
    line-height: 28px;
  }

  .blog-details {
    padding: 50px 0;
  }

  .blog-details .part-comment .all-comments .single-comment .part-comment-text p {
    line-height: 28px;
  }

  .blog-details .part-comment .all-comments .single-comment.reply {
    padding-left: 40px;
  }
}