<template>
    <div>
        <div class="card">
            <div class="card-body">
                <vs-table
                    v-model="selected"
                    pagination
                    max-items="10"
                    search
                    stripe
                    :data="table">
                    <template slot="header">
                        <div class="d-flex align-items-center justify-content-between w-100 add-account">
                            <h3>
                                Banker Accounts
                            </h3>
                        </div>
                        <div class="float-right">
                            <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                        title="Create Record" @click="create = true"
                                        vs-type="border" size="small" icon="add"/>
                        </div>
                    </template>
                    <template slot="thead">
                        <vs-th sort-key="bank_name">
                            Provider / Bank Name
                        </vs-th>
                        <vs-th sort-key="limit_bet">
                            Limit Bet Per Player
                        </vs-th>
                        <vs-th sort-key="limit_bet">
                            Overall Limit Bet/game
                        </vs-th>
                        <vs-th sort-key="category">
                            Fund Category
                        </vs-th>
                        <vs-th sort-key="account_name">
                            Account Name / Personnel Name
                        </vs-th>
                        <vs-th sort-key="account_number">
                            Account Number / Contact Number
                        </vs-th>
                        <vs-th sort-key="Balance">
                            Available Balance
                        </vs-th>
                        <vs-th sort-key="created_at">
                            Date & Time
                        </vs-th>
                        <vs-th sort-key="banker">
                            Banker Status
                        </vs-th>
                        <vs-th>
                            Action
                        </vs-th>
                    </template>

                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                            <vs-td :data="data[indextr].bank_name">
                                {{ data[indextr].bank_name === null ? data[indextr].account_type : data[indextr].bank_name }}
                            </vs-td>
                            <vs-td :data="data[indextr].limit_bet">
                                {{ data[indextr].limit_bet | numeric }}
                                <template slot="edit">
                                    <vs-input v-model="data[indextr].limit_bet" v-on:change="changeLimitBet(data[indextr].id,data[indextr].limit_bet)" class="inputx"/>
                                </template>
                            </vs-td>
                            <vs-td :data="data[indextr].total_limit_bet">
                                {{ data[indextr].total_limit_bet | numeric }}
                                <template slot="edit">
                                    <vs-input v-model="data[indextr].total_limit_bet" v-on:change="changeTotalLimitBet(data[indextr].id,data[indextr].total_limit_bet)" class="inputx"/>
                                </template>
                            </vs-td>
                            <vs-td :data="data[indextr].category">
                                {{ data[indextr].category }}
                            </vs-td>
                            <vs-td :data="data[indextr].account_name">
                                {{ data[indextr].account_name }}
                            </vs-td>
                            <vs-td :data="data[indextr].account_number">
                                {{ data[indextr].account_number }}
                            </vs-td>
                            <vs-td :data="data[indextr].balance">
                                {{ data[indextr].balance | numeric }}
                            </vs-td>
                            <vs-td :data="data[indextr].created_at">
                                {{ data[indextr].created_at | formatDate }}
                            </vs-td>
                            <vs-td :data="data[indextr].balance">
                            <vs-checkbox v-model="data[indextr].banker" @change="changeBankerStatus(data[indextr].id,data[indextr].banker)" color="danger">Enabled</vs-checkbox>
                           
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].balance">
                                <vs-checkbox v-model="data[indextr].rake" @change="changeRakestatus(data[indextr].id,data[indextr].banker)" color="danger">Enabled</vs-checkbox>
                            </vs-td> -->
                            <vs-td>
                                <div class="d-flex">
                                    <vs-dropdown vs-custom-content vs-trigger-click>
                                        <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                        <vs-dropdown-menu>
                                            <vs-dropdown-item divider @click="cashin = true">
                                            Topup Banker
                                            </vs-dropdown-item>
                                            <vs-dropdown-item divider @click="edit = true">
                                            Edit Record
                                            </vs-dropdown-item>
                                            <vs-dropdown-item divider @click="view(data[indextr].id)">
                                            View Record
                                            </vs-dropdown-item>
                                            <vs-dropdown-item divider @click="remove = true">
                                            Delete Banker
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <vs-table
                pagination
                search
                stripe
                :data="topup_table"
                >
                    <template slot="header">
                        <div class="d-flex align-items-center justify-content-between w-100 add-account">
                            <h3>
                                Banker Topup History
                            </h3>
                        </div>
                    </template>
                    <template slot="thead">
                        <vs-th sort-key="banker_id">
                            Banker ID#
                        </vs-th>
                        <vs-th sort-key="bank_name">
                            Provider / Bank Name
                        </vs-th>
                        <vs-th sort-key="limit_bet">
                            Account Name / Personnel Name
                        </vs-th>
                        <vs-th sort-key="category">
                            Account Number / Contact Number
                        </vs-th>
                        <vs-th sort-key="request_by">
                            Processed By
                        </vs-th>
                        <vs-th sort-key="account_name">
                            Topup Amount
                        </vs-th>
                        <vs-th sort-key="status">
                            Status
                        </vs-th>
                        <vs-th sort-key="decline_reason">
                            Decline Reason
                        </vs-th>
                        <vs-th sort-key="created_at">
                            Date Created
                        </vs-th>
                    </template>
                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                            <vs-td :data="data[indextr].banker_id">
                                {{data[indextr].banker_id}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_name">
                                {{data[indextr].banker.account_name}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_name">
                                {{data[indextr].banker.account_name}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_number">
                                {{data[indextr].banker.account_number}}
                            </vs-td>
                            <vs-td>
                                <div v-if="data[indextr].processed_by">
                                    {{data[indextr].processed_by.username}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                <strong>{{data[indextr].amount | numeric}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <span v-if="data[indextr].status == 'Approved'" class="badge badge-success">{{data[indextr].status}}</span>
                                <span v-if="data[indextr].status == 'Pending'" class="badge badge-warning">{{data[indextr].status}}</span>
                                <span v-if="data[indextr].status == 'Declined'" class="badge badge-danger">{{data[indextr].status}}</span>
                                
                            </vs-td>
                            <vs-td :data="data[indextr].decline_reason">
                                {{data[indextr].decline_reason}}
                            </vs-td>
                            <vs-td :data="data[indextr].created_at">
                                {{data[indextr].created_at | formatDate}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
            </div>
        </div>
        <template>
            <vs-popup title="Banker Record" :active.sync="show_record">
               <div class="banker_record">
                   <vs-table pagination
                    max-items="10"
                    stripe
                    :data="record_table">
                        <template slot="thead">
                            <vs-th sort-key="created_at">
                                Date Created
                            </vs-th>
                            <vs-th sort-key="game_number">
                                Game #
                            </vs-th>
                            <vs-th sort-key="middle_win">
                                Status
                            </vs-th>
                            <vs-th sort-key="id">
                                Win Side
                            </vs-th>
                            <vs-th sort-key="claim">
                                Total IN
                            </vs-th>
                            <vs-th sort-key="pay">
                                Total Out
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td>
                                    {{data[indextr].created_at | formatDate}}
                                </vs-td>
                                <vs-td>
                                    {{data[indextr].game_number}}
                                </vs-td>
                                <vs-td>
                                    <div v-if="data[indextr].middle_win">Pay</div>
                                    <div v-else>Claim</div>
                                </vs-td>
                                <vs-td>
                                    <span class="badge badge-success" v-if="data[indextr].middle_win">Draw</span>
                                    <span class="badge badge-danger" v-if="data[indextr].left_win">Meron</span>
                                    <span class="badge badge-primary" v-if="data[indextr].right_win">Wala</span>
                                    <span class="badge badge-secondary" v-if="!data[indextr].left_win && !data[indextr].right_win && !data[indextr].middle_win">Cancelled</span>
                                </vs-td>
                                <vs-td>
                                    <div v-if="data[indextr].middle_win">0</div>
                                    <div v-else>{{data[indextr].claim | numeric}}</div>
                                </vs-td>
                                <vs-td>
                                    <div v-if="data[indextr].middle_win">{{data[indextr].pay | numeric}}</div>
                                    <div v-else>0</div>
                                </vs-td>
                                <vs-td>
                                    <vs-button class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                        title="Game Record" @click="view_game_record(data[indextr].game_id)"
                                        vs-type="border" icon="search"/>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                    <vs-popup title="Game Record" :active.sync="game_record">
                        <vs-table pagination
                        max-items="10"
                        stripe
                        :data="game_table">
                            <template slot="thead">
                                <vs-th sort-key="category">
                                    Username
                                </vs-th>
                                <vs-th sort-key="limit_bet">
                                    Wallet Balance
                                </vs-th>
                                <vs-th sort-key="limit_bet">
                                    Banker Claim
                                </vs-th>
                                <vs-th sort-key="limit_bet">
                                    Banker Pay
                                </vs-th>
                                <vs-th sort-key="limit_bet">
                                    Play Status
                                </vs-th>
                            </template>
                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                    <vs-td>
                                        {{data[indextr].username}}
                                    </vs-td>
                                    <vs-td>
                                        {{data[indextr].wallet_balance}}
                                    </vs-td>
                                    <vs-td>
                                        <div v-if="!data[indextr].middle_win">{{data[indextr].bet_middle | numeric}}</div>
                                    </vs-td>
                                    <vs-td>
                                        <div v-if="data[indextr].middle_win">{{data[indextr].bet_payout | numeric}}</div>
                                    </vs-td>
                                    <vs-td>
                                        <div v-if="data[indextr].middle_win">WIN</div>
                                        <div v-else>LOSE</div>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-popup>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Create Record" :active.sync="create">
                <div>
                    <form id="createForm" ref="createForm" @submit.prevent="store">
                        <div class="form-group">
                            <label>Bank</label>
                            <input type="text" class="form-control" v-model="form['bank_name']" required />
                        </div>
                        <div class="form-group">
                            <label>Fund Category</label>
                            <input type="text" class="form-control" :disabled="true" v-model="form['category']"/>
                        </div>
                        <div class="form-group" v-if="form['category'] === 'Agent Account'">
                            <label>Agent</label>
                            <vs-select
                                placeholder="Select Agent"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%"
                                required
                                v-model="form['user_id']"
                            >
                                <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                        </div>
                        <div class="form-group">
                            <label v-if="form['account_type'] === 'Bank'">Account Name </label>
                            <label v-else>Personnel Name </label>
                            <input type="text" class="form-control" v-model="form['account_name']" required />
                        </div>
                        <div class="form-group">
                            <label v-if="form['account_type'] === 'Bank'">Account Number</label>
                            <label v-else>Contact Number</label>
                            <input type="text" class="form-control" v-model="form['account_number']" required />
                        </div>
                        <div class="form-group">
                            <label>Opening Balance</label>
                            <input type="number" class="form-control" v-model="form['balance']" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Save Record</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup title="Edit Record" :active.sync="edit">
                <div>
                    <form id="update-user" @submit.prevent="edit_info">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <input type="text" class="form-control" v-model="selected.bank_name" required />
                        </div>
                        <div class="form-group">
                            <label>Fund Category</label>
                            <input type="text" class="form-control" :disabled="true" :value="selected.category" />
                        </div>
                        <div class="form-group" v-if="selected.category === 'Agent Account'">
                            <label>Agent</label>
                            <vs-select
                                placeholder="Select Agent"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%"
                                required
                                v-model="selected.user_id"
                            >
                                <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                        </div>
                        <div class="form-group">
                            <label>Account Name</label>
                            <input type="text" class="form-control" v-model="selected.account_name" required />
                        </div>
                        <div class="form-group">
                            <label>Account Number</label>
                            <input type="text" class="form-control" v-model="selected.account_number" required />
                        </div>
                        <!-- <div class="form-group">
                            <label>Balance</label>
                            <input type="number" class="form-control" v-model="selected.balance" required />
                        </div> -->
                        <div class="form-group float-right">
                            <button class="btn btn-success" type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                <div>
                    <div>
                        <h5>Are you sure you want to delete this record?</h5>
                    </div>
                    <div class="text-center mt-2">
                        <button class="btn btn-primary" @click="destroy">Yes</button>
                        <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                    </div>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup classContent="popup-example" title="Topup Banker" :active.sync="cashin">
                <div>
                    <form @submit.prevent="topup_store">
                        <div class="form-group">
                            <label>Amount:</label>
                            <input class="form-control" type="number" v-model="topup['amount']" required/>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Details</label>
                            <textarea class="form-control" v-model="topup['details']" rows="3" required></textarea>
                        </div>
                        <div class="form-group float-right">
                            <button class="btn btn-success" type="submit"> Submit</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
    </div>
</template>
<script>
import axios from "axios";
export default {
    data(){
        return{
            selected:[],
            create:false,
            edit:false,
            remove:false,
            show_record:false,
            topup_table:[],
            cashin:false,
            topup:{'status':'Pending'},
            game_record:false,
            game_table:[],
            record_table:[],
            table:[],
            form:{
                'category':'Banker',
                'account_type':'Bank'
            },
            checkbox:false,
        }
    },
    mounted(){
        this.fetch()
        this.fetchhistory()
    },
    methods:{
        view_game_record(game_id){
            this.game_record = true;
            this.game_table = [];
            axios.get('/api/banker_game_details/'+game_id)
            .then(response => {
                this.game_table = response.data
            }).catch(error => console.log(error))
        },
        view(id){
            this.show_record=true;
            this.record_table=[];
            axios.get('/api/banker_details/'+id)
            .then(response => {
                this.record_table = response.data;
            }).catch(error => console.log(error))
        },
        changeLimitBet(id,val){
            this.update(id,{limit_bet:val,type:'limit_bet'});
        },
        changeTotalLimitBet(id,val){
             this.update(id,{total_limit_bet:val,type:'total_limit_bet'});
        },
        changeBankerStatus(id,val){
            this.update(id,{banker:val,type:'banker'});
        },
        changeRakestatus(id,val){
            this.update(id,{rake:val,type:'rake'});
        },
        topup_store(){
            this.cashin = false;
            this.topup['banker_id'] = this.selected.id
            axios.post('/api/BankerTopup',this.topup)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                if(response.data.type == 'success'){
                    this.fetch();
                }
                this.topup = {'status':'Pending'};
            }).catch(error => console.log(error))
        },
        store(){
            axios.post('/api/createBankAccount', this.form)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                this.fetch();
                this.form = {
                    'category':'Banker',
                    'account_type':'Bank'
                },
                this.create = false;

            }).catch(error => console.log(error));
        },
        edit_info(){
            this.edit = false;
            axios.patch('/api/updateBankAccount/'+this.selected.id, this.selected)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
            })
            .catch(error => console.log(error))
        },
        destroy() {
            this.remove = false;
            if(this.selected.banker > 0){
                this.$vs.notify({
                    'text' : 'This banker is currently active cannot delete it !',
                    'color' : 'danger',
                    'position' : 'top-right'
                });
                return;
            }
            axios.delete('/api/deleteBankAccount/' + this.selected.id)
            .then(response => {
                this.fetch();
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
            })
            .catch(error => console.log(error))
        },
        update(id,object){
            axios.patch('/api/activateBanker/'+id,object)
            .then(response => {
                if(response.data.type != 'success'){
                    this.$vs.notify({
                        'text' :response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-left'
                    });
                    this.fetch();
                }else{
                    this.$vs.notify({
                        'text' :response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-left'
                    });
                }
            }).catch(error => console.log(error))
        },
        fetch(){
            axios.get('/api/getBankerAccounts')
            .then(response => {
                this.table = [...response.data];
                console.log(response);
            })
            .catch(error => console.log(error))
        },
        fetchhistory(){
            axios.get('/api/BankerTopupRequestHistory')
            .then(response => {
                this.topup_table = response.data
            }).catch(error => console.log(error))
        },
    }
}
</script>
<style scoped>
.banker_record .vs-table--tbody-table .tr-values td {
    padding:2px !important;
}
</style>>