<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Roles and Permissions
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" href="/configuration/roles/create"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="description">
                                Role
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td>
                                    <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                               title="Edit Record" :href="'/configuration/roles/' + data[indextr].id + '/edit'"
                                               vs-type="border" size="small" icon="edit"/>

                                    <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                               title="Delete Record" @click="remove = true"
                                               vs-type="border" size="small" icon="delete"/>

                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this record?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "roles",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {


            fetch() {

                axios.get('/api/getRoles')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deleteRoles/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
