<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Withdrawal Template Management
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="account_name">
                                Account Name
                            </vs-th>
                            <vs-th sort-key="account_number">
                                Account Number
                            </vs-th>

                            <vs-th sort-key="payment_type">
                                Payment Type
                            </vs-th>
                            <vs-th sort-key="bank_type">
                                Bank Type
                            </vs-th>
                            <vs-th sort-key="account_name">
                                Actions
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].account_name">
                                    {{ data[indextr].account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_number">
                                    {{ data[indextr].account_number }}
                                </vs-td>

                                <vs-td :data="data[indextr].payment_type">
                                    {{ data[indextr].payment_type }}
                                </vs-td>

                                <vs-td :data="data[indextr].bank_type">
                                    {{ data[indextr].bank_type }}
                                </vs-td>

                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                                   title="Edit Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="edit"/>
                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Delete Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="delete"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup title="Edit Record" :active.sync="passwordReset">
                    <div>
                        <form @submit.prevent="update">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Account Name</label>
                                <input type="text" class="form-control" v-model="selected.account_name" required />
                            </div>
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control" v-model="selected.account_number" required />
                            </div>
                            <div class="form-group">
                               <label class="text-white">Select Payment Type</label>
                                <vs-select
                                    placeholder="Select Template"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="selected['payment_type']">
                                    <vs-select-item :key="payment.text" :value="payment.text" :text="payment.text" v-for="payment in payment_types" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="selected['payment_type'] == 'Bank'">
                                <label>Bank Type</label>
                                <input type="text" class="form-control" v-model="selected.bank_type"/>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this record?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "manageWithTemplate",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                passwordReset: false,                
                form: {
                    'type' : 'Official',

                },
                roles: [],
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },
                ],
            }
        },
        mounted() {
            this.fetch();
            this.fetchRoles();
        },
        methods: {
            update() {
                axios.patch('/api/updateWithTemplate/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()
                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            fetchRoles() {

                axios.get('/api/getRoles')
                    .then(response => {
                        this.roles = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
            fetch() {

                axios.get('/api/getWithdrawalTemplate')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {

                axios.post('/api/createUsers', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form = {};

                    }).catch(error => console.log(error));

            },



            destroy() {

                axios.delete('/api/deleteWithTemplate/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
