<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    My Cashout Lists
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                ID
                            </vs-th>
                            <vs-th sort-key="account_type">
                                Account Name
                            </vs-th>
                            <vs-th sort-key="sender_name">
                                Account Number
                            </vs-th>
                            <vs-th sort-key="payment_type">
                                Payment Type
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="decline_reason">
                                Decline Reason
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                            <vs-th>
                                Actions
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data">
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_name">
                                    {{ data[indextr].account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_number">
                                    {{ data[indextr].account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].payment_type">
                                    {{ data[indextr].payment_type }}
                                </vs-td>
                                <vs-td :data="data[indextr].withdrawal_amount">
                                    {{ data[indextr].withdrawal_amount }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                </vs-td>
                                <vs-td :data="data[indextr].decline_reason">
                                    {{ data[indextr].decline_reason }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td :data="data[indextr].id">
                                    <vs-button class="btn-drop" @click="cancel = true" size="small" icon="cancel" v-if="data[indextr].status == 'Pending'"></vs-button>                                   
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                    <template>
                        <vs-popup classContent="popup-example" title="Cancel Request" :active.sync="cancel">
                            <div>
                                <div>
                                    <h5>Are you sure you want to Cancel this Cashout Request?</h5>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-primary" @click="cancel_cashout">Yes</button>
                                    <button class="btn btn-secondary" >Cancel</button>
                                </div>
                            </div>
                        </vs-popup>
                    </template>
                    <template>
                        <vs-popup classContent="popup-example" title="View Request" :active.sync="view">
                            <div class="form-group">
                                <label></label>
                            </div>
                        </vs-popup>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        name: "my-cashout",
        data() {
            return {
                table:[],
                view:false,
                selected:[],
                cancel:false,
                form:{}
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get('/api/getmywithdrawal')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response.data);
                })
                .catch(error => console.log(error))
            },
            cancel_cashout(val){
                this.cancel = false;
                this.form['with_id'] = this.selected.id;
                axios.post('/api/cancel_mycashout',this.form)
                .then(response => {
                    console.log(response.data)
                    this.fetch();
                    this.form = {};
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    if(response.data.type == 'success'){
                        document.dispatchEvent(new CustomEvent('refreshWallet'));
                    }
                })
                .catch(error => error.log(error))
            }
        }
    }
</script>

<style scoped>

</style>
