<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div>
                <div class="card">
                    <div class="card-body bg-danger ">
                        <h6 class="text-center text-white">
                            Withdrawal Form
                        </h6>
                        <form method="POST" id="transferForm" @submit.prevent="requestWithdrawal" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="text-white">Amount</label>
                                <input type="number" class="form-control" v-model="form['withdrawal_amount']" name="amount" required />
                            </div>
                            <div class="form-group">
                                <label class="text-white">Select Withdrawal Template</label>
                                <vs-select
                                    placeholder="Select Template"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['withdrawal_template_id']"
                                >
                                    <vs-select-item :key="withdrawal.id" :value="withdrawal.id" :text="withdrawal.account_name + ' - ' + withdrawal.account_number + ' (' + withdrawal.payment_type + ')'" v-for="withdrawal in withdrawalTemplate" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-success" type="submit" >Submit Cash-out Request</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-primary" type="button" @click="create=true">Create Cash-out Template</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <template>
            <vs-popup title="Make a bet" :active.sync="create">
                <div>
                    <form @submit.prevent="">
                        <div class="form-group">
                            <label class="text-white">Account Name</label>
                            <input type="text" class="form-control" v-model="withdrawalForm['account_name']" />
                        </div>
                        <div class="form-group">
                            <label class="text-white">Account Number</label>
                            <input type="text" class="form-control" v-model="withdrawalForm['account_number']" />
                        </div>
                        <div class="form-group" v-if="withdrawalForm['payment_type'] === 'Bank'">
                            <label class="text-white">Bank</label>
                            <input type="text" class="form-control" v-model="withdrawalForm['bank_type']" />
                        </div>
                        <div class="form-group">
                            <label class="text-white">Select Payment Type</label>
                            <vs-select
                                placeholder="Select Template"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%"
                                required
                                v-model="withdrawalForm['payment_type']">
                                <vs-select-item :key="payment.text" :value="payment.text" :text="payment.text" v-for="payment in payment_types" />
                            </vs-select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" @click.prevent="createWithdrawalTemplate">Create Template</button>
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>

    </div>

</template>

<script>
    import axios from "axios";
    export default {
        name: "withdrawal-agent",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {
                    'withdrawal_template_id' : ''
                },
                withdrawalForm: {},
                p_type: '',
                loaded: false,
                withdrawalTemplate: [],
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },
                ],

            }
        },

        mounted() {
            this.fetch()
        },

        methods: {

            fetch() {

                axios.get('/api/getWithdrawalTemplate')
                    .then(response => {
                        this.withdrawalTemplate = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },



            createWithdrawalTemplate() {

                axios.post('/api/createWithdrawalTemplate', this.withdrawalForm)
                    .then(response => {
                        console.log(response);
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.form['withdrawal_template_id'] = response.data.id;

                        this.fetch();
                    }).catch(error => console.log(error))

            },


            requestWithdrawal() {
                axios.post('/api/createWithdrawalAgent', this.form)
                    .then(response => {
                        console.log(response);

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.form = {};


                    }).catch(error => console.log(error));

            },
        }
    }
</script>

<style scoped>

</style>
