<template>
    <div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Reminders!</h5>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <p>1. Cash-out will be processed immediately in 1 day</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center text-dark">
                                Withdrawal Form
                            </h6>
                            <form method="POST" id="transferForm" @submit.prevent="requestWithdrawal" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label class="text-dark">Amount</label>
                                    <input type="number" class="form-control" v-model="form['withdrawal_amount']" name="amount" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark">Select Withdrawal Template</label>
                                    <vs-select
                                        placeholder="Select Template"
                                        class="selectExample"
                                        label-placeholder="Autocomplete"
                                        autocomplete
                                        style="width: 100%"
                                        required
                                        v-model="form['withdrawal_template_id']"
                                    >
                                        <vs-select-item :key="withdrawal.id" :value="withdrawal.id" :text="withdrawal.account_name + ' - ' + withdrawal.account_number + ' (' + withdrawal.payment_type + ')'" v-for="withdrawal in withdrawalTemplate" />
                                    </vs-select>
                                </div>
                                <div class="form-group" v-if="this.userType == 'Player' || this.userType == 'Gold Agent' || this.userType == 'Silver Agent'">
                                    <label class="text-dark">Select your Agents</label>
                                    <vs-select
                                        placeholder="Select Agents"
                                        class="selectExample"
                                        label-placeholder="Autocomplete"
                                        autocomplete
                                        style="width: 100%"
                                        required
                                        v-model="form['agent_id']">
                                        <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                                    </vs-select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-success" type="submit" >Submit Cash-out Request</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary" type="button" @click="create=true">Create Cash-out Template</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-block btn-info" type="button" href="/withdrawal/manageWithTemplate">Manage Cash-out Template</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <template>
                <vs-popup title="Withdrawal Template" :active.sync="create">
                    <div>
                        <form  @submit.prevent="createWithdrawalTemplate">
                            <div class="form-group">
                                <label class="text-dark">Account Name</label>
                                <input type="text" class="form-control" v-model="withdrawalForm['account_name']" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Account Number</label>
                                <input type="text" class="form-control" v-model="withdrawalForm['account_number']" required />
                            </div>
                            <div class="form-group" v-if="withdrawalForm['payment_type'] === 'Bank'">
                                <label class="text-dark">Bank</label>
                                <input type="text" class="form-control" v-model="withdrawalForm['bank_type']" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Select Payment Type</label>
                                <vs-select
                                    placeholder="Select Template"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="withdrawalForm['payment_type']">
                                    <vs-select-item :key="payment.text" :value="payment.text" :text="payment.text" v-for="payment in payment_types" />
                                </vs-select>
                            </div>                            
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Create Template</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
        </div>

    </div>


</template>

<script>
    import axios from "axios";
    export default {
        name: "withdrawal-request",
        data() {
            return {
                edit: false,
                remove: false,
                reminder: true,
                create: false,
                manage:false,
                table: [],
                selected: [],
                form: {
                    'withdrawal_template_id' : '',
                    'type': 'Wallet'
                },
                userType: userType,
                withdrawalForm: {},
                p_type: '',
                loaded: false,
                userType:'',
                agents:[],
                withdrawalTemplate: [],
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },
                ],

            }
        },
        mounted() {
            this.userType = userType;
            this.fetch()
            this.getmyagents()
        },
        methods: {
            fetch() {
                axios.get('/api/getWithdrawalTemplate')
                .then(response => {
                    this.withdrawalTemplate = [...response.data];
                    console.log(response);
                })
                .catch(error => console.log(error))
            },
            getmyagents(){
                axios.get('/api/getmyagents')
                .then(response => {
                    console.log(response.data)
                    this.agents = [...response.data]
                    // console.log(this.agents)
                })
                .catch(error => console.log(error))
            },
            createWithdrawalTemplate() {
                axios.post('/api/createWithdrawalTemplate', this.withdrawalForm)
                .then(response => {
                    console.log(response);
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.withdrawalForm = {};
                    this.create = false;
                    this.form['withdrawal_template_id'] = response.data.id;
                    this.fetch();
                }).catch(error => console.log(error))
            },
            requestWithdrawal() {
                if(this.userType === 'Player' || this.userType == 'Silver Agent' || this.userType == 'Gold Agent'){
                    this.PlayerWithdrawal();
                }else{
                    this.AgentWithdrawal();
                }
            },
            PlayerWithdrawal(){
                console.log(this.form)
                this.$vs.loading();
                axios.post('/api/playerWithdrawal', this.form)
                .then(response => {
                    this.$vs.loading.close();
                    this.create = false;
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.form = {};
                }).catch(error => console.log(error));
            },
            AgentWithdrawal(){
                this.$vs.loading();
                axios.post('/api/createWithdrawal', this.form)
                .then(response => {
                    this.$vs.loading.close();
                    this.create = false;
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.form = {};
                }).catch(error => console.log(error));
            }
        }
    }
</script>

<style scoped>

</style>
