<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Pending Withdrawal
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Player Name
                            </vs-th>
                            <vs-th sort-key="name">
                                Player Balance
                            </vs-th>
                            <vs-th sort-key="name">
                                Player Contact
                            </vs-th>
                            <vs-th sort-key="account_type">
                                Withdrawal Type
                            </vs-th>
                            <vs-th sort-key="sender_name">
                                Account Name
                            </vs-th>
                            <vs-th sort-key="sender_contact">
                                Account Number
                            </vs-th>
                            <vs-th sort-key="reference_number">
                                Withdrawal Reference Number (CRN)
                            </vs-th>
                            <vs-th sort-key="reference_number">
                                Withdrawal Type
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data">
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.wallet_balance">
                                    {{ data[indextr].users.wallet_balance }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.contact_number">
                                    {{ data[indextr].users.contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].payment_type">
                                   {{ data[indextr].payment_type }} {{ data[indextr].bank_type !== null ? data[indextr].bank_type : ""}}
                                </vs-td>
                                <vs-td :data="data[indextr].account_name">
                                    {{ data[indextr].account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_number">
                                    {{ data[indextr].account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].reference_number">
                                    {{ data[indextr].reference_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].withdrawal_amount">
                                    {{ data[indextr].withdrawal_amount | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>

                                        <vs-button class="mr-1" color="success" @click="edit = true"
                                                   vs-type="border" size="small" icon="check"/>

                                        <vs-button color="danger"  @click="remove = true"
                                                   vs-type="border" size="small" icon="cancel"/>

                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup title="Process Withdrawal" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <h5 class="text-danger">Are you sure you want to process this Withdrawal?</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6><strong>Amount</strong> {{ selected.withdrawal_amount | numeric }}</h6>
                                    </div>
                                    <div class="form-group">
                                        <h6>Account Name: {{ selected.account_name}}</h6>
                                        <h6>Account Number: {{ selected.account_number }}</h6>
                                        <h6 v-if="selected.payment_type === 'Bank'">Bank: {{ selected.bank_type }}</h6>
                                        <h6 v-else>Payment Type: {{ selected.payment_type }}</h6>
                                        <h6><strong>Reference Number: </strong> {{ selected.reference_number }}</h6>
                                    </div>
                                    <div class="form-group">
                                        <label>Select Source Funds</label>
                                        <vs-select
                                            placeholder="Select Source Funds"
                                            class="selectExample"
                                            label-placeholder="Autocomplete"
                                            autocomplete
                                            style="width: 100%"
                                            required
                                            v-model="form['source_fund_id']">
                                            <vs-select-item :key="payment.id" :value="payment.id" :text="payment.account_name + ' - ' + payment.account_number + '(' + payment.account_type + ', Balance: ' + payment.balance + ')'" v-for="payment in bankAccounts" />
                                        </vs-select>
                                    </div>
                                    <div class="form-group">
                                        <label>Processing Fee</label>
                                        <input type="number" class="form-control" v-model="form['processing_fee']" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success btn-block" type="submit">Process Withdrawal</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Decline Withdrawal" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to decline this Withdrawal?</h5>
                            <div class="form-group">
                                <label>Reason</label>
                                <vs-select
                                    placeholder="Select Reason"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['decline_template_id']"
                                >
                                    <vs-select-item :key="template.id" :value="template.id" :text="template.description" v-for="template in decline_templates" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['decline_template_id'] === 1">
                                <label>Please Specify: </label>
                                <textarea class="form-control" v-model="form['decline_reason']"></textarea>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-warning" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "withdrawal-recent",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                override: false,
                bankAccounts: [],
                decline_templates: []
            }
        },

        mounted() {
            this.fetch();
            this.fetchSource();
            this.fetchTemplate();
        },

        methods: {
            fetch() {

                axios.get('/api/getRecentWithdrawal')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            fetchTemplate() {

                axios.get('/api/getDeclineTemplate')
                    .then(response => {
                        this.decline_templates = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            fetchSource() {

                axios.get('/api/getBankAccounts')
                    .then(response => {
                        this.bankAccounts = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {

                axios.post('/api/createPaymentMethods', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form['name'] = '';
                        this.form['contact_number'] = '';
                        this.form['payment_type'] = '';

                    }).catch(error => console.log(error));

            },

            update() {
                // return;
                this.$vs.loading();
                this.selected['source_fund_id'] = this.form['source_fund_id'];

                axios.patch('/api/updateWithdrawal/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                        this.fetch();
                    })
                    .catch(error => console.log(error))
            },

            destroy() {
                console.log(this.form)
                this.remove = false;
                this.$vs.loading();
                

                axios.patch('/api/declineWithdrawal/' + this.selected.id, this.form)
                    .then(response => {                        
                        this.fetch();
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
