<template>
    <li class="dropdown dropdown-notification nav-item mr-2">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
            <i class="ficon feather icon-bell"></i>
            <span class="badge badge-pill badge-danger badge-up">{{ this.notifications.length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
            <li class="dropdown-menu-header">
                <div class="dropdown-header px-1 py-75 d-flex justify-content-between">
                    <span class="notification-title">{{ this.notifications.length }} new Notification</span>
                    <span class="text-bold-400 cursor-pointer" @click="markAll">Mark all as read</span>
                </div>
            </li>
            <li class="scrollable-container media-list">
                <a :href="notification.module_url" class="d-flex justify-content-between cursor-pointer" v-for="notification in notifications">
                    <div class="media d-flex align-items-center border-0">
                        <div class="media-body">
                            <h6 class="media-heading">{{ notification.notification_content }}</h6>
                            <small class="notification-text">{{ notification.created_at | calendar }}</small>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</template>

<script>
    import axios from "axios";

    export default {
        name: "notification-content",

        data() {
            return {
                notifications: [],
                notificationCount: 0
            }
        },

        mounted() {

            Pusher.logToConsole = false;

            var pusher = new Pusher('002306bf0e7a497ae599', {
                cluster: 'ap1'
            });

            var channel = pusher.subscribe('my-alpha');
            channel.bind('notification-event', (data) => {
                this.getNotification();
            });

            this.getNotification();

        },

        methods: {
            getNotification(){
                axios.get('/api/getNotification')
                    .then(response => {
                        this.notifications = response.data;
                    })
                    .catch(error => console.log(error))
            },

            markAll(){
                axios.post('/api/markAllRead')
                    .then(response => {
                        this.getNotification();
                    })
                    .catch(error => console.log(error))
            }
        }
    }
</script>

<style scoped>

</style>
