<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center text-dark">
                            Fund Transfer Form
                        </h6>
                        <form method="POST" id="transferForm" @submit.prevent="fundTransfer" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="text-dark">Source Account: </label>
                                <vs-select
                                    placeholder="Select Receiver"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['from_id']"
                                >
                                    <vs-select-item :key="payment_type.id" :value="payment_type.id" :text="payment_type.account_type + ' - ' + payment_type.account_name + ' (' + payment_type.account_number + ', Balance: ' + payment_type.balance + ')'" v-for="payment_type in payment_data" />
                                </vs-select>
                            </div>

                            <div class="form-group">
                                <label class="text-dark">Destination Type: </label>
                                <vs-select
                                    placeholder="Select Destination Type"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    @change="fetchSource()"
                                    v-model="p_type">
                                    <vs-select-item :key="payment.value" :value="payment.value" :text="payment.value" v-for="payment in payment_types" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Destination Account: </label>
                                <vs-select
                                    placeholder="Select Receiver"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['to_id']"
                                >
                                    <vs-select-item :key="payment_type.id" :value="payment_type.id" :text="payment_type.account_type + ' - ' + payment_type.account_name + ' (' + payment_type.account_number + ', Balance: ' + payment_type.balance + ')'" v-for="payment_type in payment_data_source" v-if="payment_type.id !== form['from_id']" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Amount</label>
                                <input type="number" class="form-control" v-model="form['amount']" name="amount" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Reference Number</label>
                                <input type="text" class="form-control" v-model="form['reference_number']" name="reference_number" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Attachment</label>
                                <input type="file" class="form-control" ref="fileupload" v-on:change="onFileChange" name="attachment" required />
                            </div>
                            <div class="form-group">
                                <label class="text-dark">Notes</label>
                                <textarea class="form-control" name="notes" v-model="form['reason']" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-success" type="submit" >Submit Fund Transfer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "funds-request",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                p_type: '',
                loaded: false,
                payment_data: [],
                payment_data_source: [],
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },
                ],
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {

            fetch() {

                axios.get('/api/getAllPaymentMethods')
                    .then(response => {
                        this.payment_data = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            fetchSource(type) {

                console.log(this.p_type);
                axios.get('/api/getPaymentMethodByType/' + this.p_type)
                    .then(response => {
                        this.payment_data_source = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },


            fundTransfer() {
                this.$vs.loading();
                axios.post('/api/createFundTransfer', this.form)
                    .then(response => {
                        console.log(response);

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.form = {};
                        setTimeout(() => {
                            this.$vs.loading.close();
                            window.location.reload(true);
                        }, 1500);
                    }).catch(error => console.log(error));

            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    if(files[0].size >= 2000000){
                		this.$vs.notify({
                            'text' : 'Files is too large 2mb allowed only',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
                return this.$refs.fileupload.value = '';
                }
               if(files[0].type != 'image/png' && files[0].type != 'image/jpeg'){
                		this.$vs.notify({
                            'text' : 'Invalid file type image only',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
               return this.$refs.fileupload.value = '';
                }
                this.createImage(files[0]);
            },
            createImage(file) {
                let image = new Image();
                let reader = new FileReader();
                let vm = this;

                reader.onload = (e) => {
                    vm.form['attachment'] = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>

</style>
