<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Fund Transfer Logs
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Transaction ID
                            </vs-th>
                            <vs-th sort-key="account_type">
                                From Provider/Bank
                            </vs-th>
                            <vs-th sort-key="sender_name">
                                From Account Name
                            </vs-th>
                            <vs-th sort-key="sender_contact">
                                From Account Number
                            </vs-th>
                            <vs-th sort-key="reference_number">
                                To Provider / Bank
                            </vs-th>
                            <vs-th sort-key="account_name">
                                To Account Name
                            </vs-th>
                            <vs-th sort-key="account_number">
                                To Account Number
                            </vs-th>
                            <vs-th sort-key="amount">
                                Provider / Bank Reference Number
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="requested_by">
                                Requested By
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].transaction_code">
                                    {{ data[indextr].transaction_code }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.bank_name">
                                    {{ data[indextr].transaction_from.bank_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.account_name">
                                    {{ data[indextr].transaction_from.account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.account_number">
                                    {{ data[indextr].transaction_from.account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.bank_name">
                                    {{ data[indextr].transaction_to.bank_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.account_name">
                                    {{ data[indextr].transaction_to.account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.account_number">
                                    {{ data[indextr].transaction_to.account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].reference_number">
                                    {{ data[indextr].reference_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                    <div v-if="data[indextr].status === 'Declined'">
                                        {{ data[indextr].decline_template !== null ?  data[indextr].decline_template.description : ''}}
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up-recent",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                decline_templates: [],
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {
            fetch() {

                axios.get('/api/getFunds')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
