<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Pending Fund Transfer
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Transaction ID
                            </vs-th>
                            <vs-th sort-key="account_type">
                                From Provider/Bank
                            </vs-th>
                            <vs-th sort-key="sender_name">
                                From Account Name
                            </vs-th>
                            <vs-th sort-key="sender_contact">
                               From Account Number
                            </vs-th>
                            <vs-th sort-key="reference_number">
                                To Provider / Bank
                            </vs-th>
                            <vs-th sort-key="account_name">
                                To Account Name
                            </vs-th>
                            <vs-th sort-key="account_number">
                               To Account Number
                            </vs-th>
                            <vs-th sort-key="amount">
                                Provider / Bank Reference Number
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="requested_by">
                                Requested By
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].transaction_code">
                                    {{ data[indextr].transaction_code }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.bank_name">
                                    {{ data[indextr].transaction_from.bank_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.account_name">
                                    {{ data[indextr].transaction_from.account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_from.account_number">
                                    {{ data[indextr].transaction_from.account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.bank_name">
                                    {{ data[indextr].transaction_to.bank_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.account_name">
                                    {{ data[indextr].transaction_to.account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].transaction_to.account_number">
                                    {{ data[indextr].transaction_to.account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].reference_number">
                                    {{ data[indextr].reference_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                                   title="Edit Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="check"/>

                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Delete Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="cancel"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup title="Process Fund Transfer" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <h5 class="text-danger">Are you sure you want to process this Fund Transfer?</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6><strong>Reference Number: </strong> {{ selected.reference_number }}</h6>
                                        <h6><strong>Amount</strong> {{ selected.amount | numeric }}</h6>
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <h6><strong>Attachment</strong></h6>
                                                <img :src="selected.attachment" style="width: 80%" class="img-responsive center-block">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Processing Fee</label>
                                            <input type="number" class="form-control" v-model="form['processing_fee']" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-danger" @click="destroy">Decline Fund Transfer</button>
                                <button class="btn btn-success" type="submit">Approve Fund Transfer</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Decline Cash-in" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to decline this Fund Transfer?</h5>
                            <div class="form-group">
                                <label>Reason</label>
                                <vs-select
                                    placeholder="Select Reason"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['decline_template_id']"
                                >
                                    <vs-select-item :key="template.id" :value="template.id" :text="template.description" v-for="template in decline_templates" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['decline_template_id'] === 1">
                                <label>Please Specify: </label>
                                <textarea class="form-control" v-model="form['decline_reason']"></textarea>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-warning" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up-recent",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                override: false,
                decline_templates: [],
            }
        },

        mounted() {
            this.fetch()
            this.fetchTemplate()
        },

        methods: {
            fetch() {

                axios.get('/api/getPendingFunds')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            fetchTemplate() {

                axios.get('/api/getDeclineTemplate')
                    .then(response => {
                        this.decline_templates = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },


            update() {

                this.$vs.loading();
                this.selected['processing_fee'] = this.form['processing_fee'];
                axios.patch('/api/updateFundTransfer/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1500);
                        this.fetch();
                    })
                    .catch(error => console.log(error))
            },

            destroy() {
                this.$vs.loading();

                axios.patch('/api/declineFundTransfer/' + this.selected.id, this.form)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 1500);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
