<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Payment Types
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>

                            <vs-th sort-key="Category Name">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="Payment Type">
                                Payment Type
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].email">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].payment_type">
                                    {{ data[indextr].payment_type }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                                   title="Edit Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="edit"/>

                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Delete Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="delete"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Payment Type</label>
                                <vs-select
                                    placeholder="Select Payment Type"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%" required
                                    v-model="form['payment_type']"
                                >
                                    <vs-select-item :key="payment_type.value" :value="payment_type.value" :text="payment_type.text" v-for="payment_type in payment_types" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="selected.name" required />
                            </div>
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" v-model="selected.contact_number" required />
                            </div>
                            <div class="form-group">
                                <label>Payment Type </label>
                                <vs-select
                                    placeholder="Select Payment Type"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%" required
                                    v-model="form['payment_type']"
                                >

                                    <vs-select-item :is-selected.sync="payment_type.text == selected.payment_type" :key="payment_type.value" :value="payment_type.value" :text="payment_type.text" v-for="payment_type in payment_types" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this record?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "payment-methods",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },

                ]
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {
            fetch() {

                axios.get('/api/getPaymentMethods')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {

                axios.post('/api/createPaymentMethods', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form['name'] = '';
                        this.form['contact_number'] = '';
                        this.form['payment_type'] = '';

                    }).catch(error => console.log(error));

            },

            update() {


                axios.patch('/api/updatePaymentMethods/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deletePaymentMethods/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
