<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Filter From</label>
                                <input type="datetime-local" class="form-control" v-model="form['from']" name="filter_from" />
                            </div>
                            <div class="col-md-4">
                                <label>Filter To</label>
                                <input type="datetime-local" class="form-control" v-model="form['to']" name="filter_to" />
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary mx-auto" style="margin-top: 30px" type="submit" @click.prevent="filterDate">Filter</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" id="contentTable">
                        <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            :data="table">
                            <template slot="header">
                                <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                    <h3>
                                        Agent Commission Report
                                    </h3>
                                    <download-csv
                                        class="btn btn-primary btn-sm mr-5"
                                        :data   = "table">
                                        Export data as csv
                                    </download-csv>
                                </div>
                            </template>

                            <template slot="thead">
                                <vs-th sort-key="agent_name">
                                    Agent Name
                                </vs-th>
                                <vs-th sort-key="type">
                                    Agent Type
                                </vs-th>
                                <vs-th sort-key="rate">
                                    Commission Percentage
                                </vs-th>
                                <vs-th sort-key="agent_commision">
                                    Total Commission
                                </vs-th>

                            </template>

                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                    <vs-td :data="data[indextr].agent_name">
                                        {{ data[indextr].agent_name }}
                                    </vs-td>
                                    <vs-td :data="data[indextr].type">
                                       {{data[indextr].type}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].rate">
                                        {{ data[indextr].rate * 100 }} %
                                    </vs-td>
                                    <vs-td :data="data[indextr].agent_commision">
                                        P {{data[indextr].agent_commision.toFixed(2)}}
                                    </vs-td>
                                    <template slot="expand">
                                        <div class="con-expand-users">
                                            <vs-table :data="table">
                                                <template slot="thead">
                                                    <vs-th sort-key="Agent Name">
                                                        Type
                                                    </vs-th>
                                                </template>
                                                <template class="table-hover">
                                                    <vs-tr>
                                                        <vs-td>
                                                            Agents
                                                        </vs-td>
                                                        <template slot="expand">
                                                            <div class="con-expand-users">
                                                                <vs-table :data="table">
                                                                    <template slot="thead">
                                                                        <vs-th sort-key="agent_name">
                                                                            Agent Name
                                                                        </vs-th>
                                                                        <vs-th sort-key="type">
                                                                            Agent Type
                                                                        </vs-th>
                                                                        <vs-th sort-key="rate">
                                                                            Commission Percentage
                                                                        </vs-th>
                                                                        <vs-th sort-key="agent_commission">
                                                                            Total Commission
                                                                        </vs-th>
                                                                    </template>
                                                                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                                        <vs-tr :data="tr" :key="td" v-for="(tr, td) in table[table.indexOf(row)].rows.master" >
                                                                            <vs-td :data="table[table.indexOf(row)].rows.master[td].agent_name">
                                                                                {{ table[table.indexOf(row)].rows.master[td].agent_name }}
                                                                            </vs-td>
                                                                            <vs-td :data="table[table.indexOf(row)].rows.master[td].type">
                                                                               {{table[table.indexOf(row)].rows.master[td].type}}
                                                                            </vs-td>
                                                                            <vs-td :data="table[table.indexOf(row)].rows.master[td].rate">
                                                                                {{ table[table.indexOf(row)].rows.master[td].rate * 100 }} %
                                                                            </vs-td>
                                                                            <vs-td :data="table[table.indexOf(row)].rows.master[td].agent_commision">
                                                                                P {{table[table.indexOf(row)].rows.master[td].agent_commision.toFixed(2)}}
                                                                            </vs-td>
                                                                            <template slot="expand">
                                                                                <div class="con-expand-users">
                                                                                    <vs-table :data="table">
                                                                                        <template slot="thead">
                                                                                            <vs-th sort-key="Agent Name">
                                                                                                Type
                                                                                            </vs-th>
                                                                                        </template>
                                                                                        <template class="table-hover">
                                                                                            <vs-tr>
                                                                                                <vs-td>
                                                                                                    Sub Agents
                                                                                                </vs-td>
                                                                                                <template slot="expand">
                                                                                                    <div class="con-expand-users">
                                                                                                        <vs-table :data="table">
                                                                                                            <template slot="thead">
                                                                                                                <vs-th sort-key="Agent Name">
                                                                                                                    Sub Agent Name
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Agent Name">
                                                                                                                    Agent Type
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Category Name">
                                                                                                                    Commission Percentage
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Category Name">
                                                                                                                    Total Commission
                                                                                                                </vs-th>
                                                                                                            </template>
                                                                                                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                                                                                <vs-tr :data="tr3" :key="td3" v-for="(tr3, td3) in table[table.indexOf(row)].rows.master[td].rows.agent" >
                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].agent_name">
                                                                                                                        {{ table[table.indexOf(row)].rows.master[td].rows.agent[td3].agent_name }}
                                                                                                                    </vs-td>
                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].type">
                                                                                                                        {{table[table.indexOf(row)].rows.master[td].rows.agent[td3] }}
                                                                                                                    </vs-td>
                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].rate">
                                                                                                                        {{ table[table.indexOf(row)].rows.master[td].rows.agent[td3].rate * 100 }} %
                                                                                                                    </vs-td>
                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].agent_commision">
                                                                                                                        P {{table[table.indexOf(row)].rows.master[td].rows.agent[td3].agent_commision.toFixed(2)}}
                                                                                                                    </vs-td>
                                                                                                                    <template slot="expand">
                                                                                                                        <div class="con-expand-users">
                                                                                                                            <vs-table :data="table">
                                                                                                                                <template slot="thead">
                                                                                                                                    <vs-th sort-key="Agent Name">
                                                                                                                                        Name
                                                                                                                                    </vs-th>
                                                                                                                                    <vs-th sort-key="Agent Name">
                                                                                                                                        Bet Amount
                                                                                                                                    </vs-th>
                                                                                                                                    <vs-th sort-key="Category Name">
                                                                                                                                        Bet Result
                                                                                                                                    </vs-th>
                                                                                                                                    <vs-th sort-key="Category Name">
                                                                                                                                        Bet Commision
                                                                                                                                    </vs-th>
                                                                                                                                </template>
                                                                                                                                <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                                                                                                <vs-tr :data="tr4" :key="td4" v-for="(tr4, td4) in table[table.indexOf(row)].rows.master[td].rows.agent[td3].players" >
                                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].name">
                                                                                                                                        {{ table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].name }}
                                                                                                                                    </vs-td>
                                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].bet_amount">
                                                                                                                                        {{ table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].bet_amount }}
                                                                                                                                    </vs-td>
                                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].bet_result">
                                                                                                                                        {{ table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].bet_result }}
                                                                                                                                    </vs-td>
                                                                                                                                    <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].agent_commission_payout">
                                                                                                                                        P {{table[table.indexOf(row)].rows.master[td].rows.agent[td3].players[td4].agent_commission_payout.toFixed(2)}}
                                                                                                                                    </vs-td>
                                                                                                                                </vs-tr>
                                                                                                                                </template>
                                                                                                                            </vs-table>
                                                                                                                        </div>
                                                                                                                    </template>
                                                                                                                </vs-tr>
                                                                                                            </template>
                                                                                                        </vs-table>
                                                                                                    </div>
                                                                                                </template>
                                                                                            </vs-tr>
                                                                                            <vs-tr>
                                                                                                <vs-td>
                                                                                                    Players
                                                                                                </vs-td>
                                                                                                <template slot="expand">
                                                                                                    <div class="con-expand-users">
                                                                                                        <vs-table :data="table">
                                                                                                            <template slot="thead">
                                                                                                                <vs-th sort-key="Agent Name">
                                                                                                                    Name
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Agent Name">
                                                                                                                    Bet Amount
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Category Name">
                                                                                                                    Bet Result
                                                                                                                </vs-th>
                                                                                                                <vs-th sort-key="Category Name">
                                                                                                                    Bet Commision
                                                                                                                </vs-th>
                                                                                                            </template>
                                                                                                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                                                                            <vs-tr :data="tr10" :key="td10" v-for="(tr10, td10) in table[table.indexOf(row)].rows.master[td].rows.players" >
                                                                                                                <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.players[td10].name">
                                                                                                                    {{ table[table.indexOf(row)].rows.master[td].rows.players[td10].name }}
                                                                                                                </vs-td>
                                                                                                                <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.players[td10].bet_amount">
                                                                                                                    {{ table[table.indexOf(row)].rows.master[td].rows.players[td10].bet_amount }}
                                                                                                                </vs-td>
                                                                                                                <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.players[td10].bet_result">
                                                                                                                    {{ table[table.indexOf(row)].rows.master[td].rows.players[td10].bet_result }}
                                                                                                                </vs-td>
                                                                                                                <vs-td :data="table[table.indexOf(row)].rows.master[td].rows.players[td10].agent_commission_payout">
                                                                                                                    P {{table[table.indexOf(row)].rows.master[td].rows.players[td10].agent_commission_payout.toFixed(2)}}
                                                                                                                </vs-td>
                                                                                                            </vs-tr>
                                                                                                            </template>
                                                                                                        </vs-table>
                                                                                                    </div>
                                                                                                </template>
                                                                                            </vs-tr>
                                                                                        </template>
                                                                                    </vs-table>
                                                                                </div>
                                                                            </template>
                                                                        </vs-tr>
                                                                    </template>
                                                                </vs-table>
                                                            </div>
                                                        </template>
                                                    </vs-tr>
                                                    <vs-tr>
                                                        <vs-td>
                                                            Players
                                                        </vs-td>
                                                        <template slot="expand">
                                                            <div class="con-expand-users">
                                                                <vs-table :data="table">
                                                                    <template slot="thead">
                                                                        <vs-th sort-key="Agent Name">
                                                                            Name
                                                                        </vs-th>
                                                                        <vs-th sort-key="Agent Name">
                                                                            Bet Amount
                                                                        </vs-th>
                                                                        <vs-th sort-key="Category Name">
                                                                            Bet Result
                                                                        </vs-th>
                                                                        <vs-th sort-key="Category Name">
                                                                            Bet Commision
                                                                        </vs-th>
                                                                    </template>
                                                                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                                                                    <vs-tr :data="tr1" :key="td1" v-for="(tr1, td1) in table[table.indexOf(row)].rows.players" >
                                                                        <vs-td :data="table[table.indexOf(row)].rows.players[td1].name">
                                                                            {{ table[table.indexOf(row)].rows.players[td1].name }}
                                                                        </vs-td>
                                                                        <vs-td :data="table[table.indexOf(row)].rows.players[td1].bet_amount">
                                                                            {{ table[table.indexOf(row)].rows.players[td1].bet_amount }}
                                                                        </vs-td>
                                                                        <vs-td :data="table[table.indexOf(row)].rows.players[td1].bet_result">
                                                                            {{ table[table.indexOf(row)].rows.players[td1].bet_result }}
                                                                        </vs-td>
                                                                        <vs-td :data="table[table.indexOf(row)].rows.players[td1].agent_commission_payout">
                                                                            P {{table[table.indexOf(row)].rows.players[td1].agent_commission_payout.toFixed(2)}}
                                                                        </vs-td>
                                                                    </vs-tr>
                                                                    </template>
                                                                </vs-table>
                                                            </div>
                                                        </template>
                                                    </vs-tr>
                                                </template>
                                            </vs-table>
                                        </div>
                                    </template>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from "axios";
    import { GChart } from 'vue-google-charts'

    export default {
        name: "agent-commission",
        components: {
            GChart
        },
        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                selected: [],
                form: {},
                descriptionItems: [10,15,100],
                totalPartnerRake: 0,
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                rake: 0,
                chartData: [
                    // ['Partner', 'Rake'],
                    // ['2014', 1000]
                ],
                chartOptions: {
                    chart: {
                        title: 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    }
                }
            }
        },

        mounted() {
            this.fetchAgentCommission()
        },

        methods: {

            fetchAgentCommission() {
                axios.get('/api/getAgentCommission')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
            filterDate(){
                axios.post('/api/getAgentCommissionFilter',this.form)
                    .then(response => {
                        this.table = [];
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))

            }
        }
    }
</script>

<style scoped>

</style>
