<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Session History
                                </h3>
                            </div>

                        </template>

                        <template slot="thead">
                            <vs-th sort-key="description">
                                Game Number
                            </vs-th>
                            <vs-th sort-key="description">
                                Game Title
                            </vs-th>
                            <vs-th sort-key="description">
                                Meron
                            </vs-th>
                            <vs-th sort-key="description">
                                Wala
                            </vs-th>
                            <vs-th sort-key="description">
                                Total
                            </vs-th>
                            <vs-th sort-key="description">
                                Total Rake
                            </vs-th>
                            <vs-th sort-key="description">
                                Net Payout
                            </vs-th>
                            <vs-th sort-key="description">
                                Date & Time
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].game_number">
                                    {{ data[indextr].game_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].game_title">
                                    {{ data[indextr].game_title }}
                                </vs-td>
                                <vs-td :data="data[indextr].matches.left_bet">
                                    <p>Rate: {{ data[indextr].matches.left_bet | decimal }} <br />
                                    Odds: {{ data[indextr].matches.left_odds | percentage }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].matches.right_bet">
                                    <p>Rate: {{ data[indextr].matches.right_bet  | decimal }} <br />
                                    Odds: {{ data[indextr].matches.right_odds | percentage }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].matches.total_bet">
                                    <p>{{ data[indextr].matches.total_bet  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].matches.total_rake">
                                    <p>{{ data[indextr].matches.total_rake  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].matches.net_payout">
                                    <p>{{ data[indextr].matches.net_payout  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].matches.net_payout">
                                    <p>{{ data[indextr].created_at  | formatDate }}</p>
                                </vs-td>
                                <template slot="expand">
                                    <div class="con-expand-users">

                                        <table class="table table-responsive text-dark">
                                           <thead>
                                           <tr>
                                               <th class="mr-2">Name</th>
                                               <th>Bet Meron</th>
                                               <th>Bet Wala</th>
                                               <th>Result</th>
                                               <th>Rake</th>
                                               <th>Before Balance</th>
                                               <th>Payout</th>
                                               <th>After Balance</th>
                                           </tr>
                                           </thead>
                                            <tbody>
                                                <tr v-for="bets in data[indextr].bets" v-if="bets.user">
                                                    <td class="mr-5">{{ bets.user.name }}</td>
                                                    <td>{{ bets.bet_left }}</td>
                                                    <td>{{ bets.bet_right }}</td>
                                                    <td>{{ bets.bet_result }}</td>
                                                    <td>{{ bets.bet_rake }}</td>
                                                    <td>{{ bets.before_balance }}</td>
                                                    <td>{{ bets.bet_payout }}</td>
                                                    <td>{{ bets.after_balance }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </template>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "game-history",

        data() {
            return {
                view: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                selectedBets: [],
                form: {},
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {
            fetch() {

                axios.get('/api/getSessionHistory')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            // viewHistory(game_id) {
            //
            //     window.location.href='/game/betHistory/' + game_id;
            //
            // },
        }
    }
</script>

<style scoped>

</style>
