<template>
    <div class="row mt-5">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Filter From:</label>
                                <input type="datetime-local" v-model="from" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label>Filter To:</label>
                                <input type="datetime-local" v-model="to" class="form-control">
                            </div>
                        </div>
                        <div class="row" v-if="this.reload == true">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>Gcash</h3>
                                    </div>
                                    <div class="">
                                        <GChart
                                    type="LineChart"
                                    :data="chartData"
                                    :options="chartOptions"
                                    />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>PayMaya</h3>
                                    </div>
                                    <div class="">
                                        <GChart
                                        type="LineChart"
                                        :data="PaymayaChartData"
                                        :options="PaymayaChartOptions"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="this.reload == true">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>Bank</h3>
                                    </div>
                                    <div class="">
                                        <GChart
                                    type="LineChart"
                                    :data="BankChartData"
                                    :options="BankChartOptions"
                                    />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>ML</h3>
                                    </div>
                                    <div class="">
                                        <GChart
                                        type="LineChart"
                                        :data="MLChartData"
                                        :options="MLChartOptions"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="this.reload == true">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>Cebuana</h3>
                                    </div>
                                    <div class="">
                                        <GChart
                                    type="LineChart"
                                    :data="CebuanaChartData"
                                    :options="CebuanaChartOptions"
                                    />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Cash Out Report
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="Category Name">
                                Source
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Total No.
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Total Amount
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Ave. Approval
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].partner_name">
                                    {{ data[indextr].account_type }}
                                </vs-td>

                                <vs-td :data="data[indextr].rake_percent">
                                    {{ data[indextr].total_no }}
                                </vs-td>

                                <vs-td :data="data[indextr].rake_percent">
                                    P {{ data[indextr].total.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].rake_percent">
                                    {{ data[indextr].ave_approval.toFixed(3) * 100  }}%
                                </vs-td>
                                <template slot="expand">
                                    <div class="con-expand-users">

                                        <table class="table table-responsive text-dark">
                                           <thead>
                                           <tr>
                                               <th class="mr-2">Name</th>
                                               <th>Contact Number</th>
                                               <th>Amount</th>
                                               <th>Status</th>
                                               <th>Date</th>
                                           </tr>
                                           </thead>
                                           <div v-if="data[table.indexOf(row)].users.length <= 0" class="text-center">No players available</div>
                                            <tbody>
                                                <tr v-for="users in data[table.indexOf(row)].users">
                                                    <td class="mr-5">{{ users.name }}</td>
                                                    <td> {{ users.contact_number }}</td>
                                                    <td>P {{ users.withdrawal_amount.toFixed(2) }}</td>
                                                    <td> {{ users.status }}</td>
                                                    <td> {{ users.created_at | formatDate }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </template>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import moment from 'moment';
    import { GChart } from 'vue-google-charts'

    export default {
        name: "total-rake",
        components: {
            GChart
        },
        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                from:'',
                to:'',
                table: [],
                selected: [],
                reload: false,
                form: {
                    'role_id' : '1'
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                rake: 0,
                chartData: [
                     ['Time', 'Total Amount'],
                ],
                chartOptions: {
                    chart: {
                        title: 'Gcash Performance',
                        subtitle: 'Gcash Cash in Reports',
                    }
                }
                ,PaymayaChartData:[
                    ['Days','Total Amount']
                ],
                PaymayaChartOptions:{
                    chart: {
                        title: 'Paymaya Performance',
                        subtitle:'Paymaya Cash In reports'
                    }
                }
                ,BankChartData:[
                    ['Days','Total Amount']
                ],
                BankChartOptions:{
                    chart: {
                        title: 'Bank Performance',
                        subtitle:'Bank Cash In reports'
                    }
                }
                ,MLChartData:[
                    ['Days','Total Amount']
                ],
                MLChartOptions:{
                    chart: {
                        title: 'ML Performance',
                        subtitle:'ML Cash In reports'
                    }
                },
                CebuanaChartData:[
                    ['Days','Total Amount']
                ],
                CebuanaChartOptions:{
                    chart: {
                        title: 'Cebuana Performance',
                        subtitle:'Cebuana Cash In reports'
                    }
                }
            }
        },

        mounted() {
            this.fetchBets();
            this.gcashChart();
            this.paymayaChart();
            this.bankChart();
            this.mlChart();
            this.CebuanaChart();
            setTimeout(() => {
                this.fetchPartner();
            }, 1500);
        },
        watch:{
            from: function(val){
                if(this.to != '' && val != ''){
                    this.filtered();
                }
            },
            to: function(val){
                if(this.from != '' && val != ''){
                    this.filtered();
                }
            }
        },
        methods: {
            filtered(){
                axios.post('/api/getCashOutReportsFiltered',{from:this.from,to:this.to})
                    .then(response => {
                        if(response.data){
                            this.table =[];
                            this.table = [...response.data];
                        }
                    })
                    .catch(error => console.log(error))
                    this.gcashChart({from:this.from,to:this.to});
                    this.paymayaChart({from:this.from,to:this.to});
                    this.mlChart({from:this.from,to:this.to});
                    this.CebuanaChart({from:this.from,to:this.to});
                    this.bankChart({from:this.from,to:this.to});
            },
            gcashChart(filter){
                this.chartData = [];
                this.chartData.push(['Days','Total Amount']);
                if(filter){
                    var ax = axios.post('/api/getCashOutChartPOST/Gcash',{from:filter.from,to:filter.to})
                }
                else{
                    var ax = axios.get('/api/getCashOutChart/Gcash')
                }
                ax.then(response => {
                        let date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
                        for(let i = 1 ; i < date_count + 1; i++){
                            this.chartData.push([`Day ${i}`,0]);
                        }
                        for(let i = 0; i < response.data.length; i++){
                        this.chartData[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')][1] += response.data[i].withdrawal_amount;
                    }
                        this.reload = true;

                    })
                    .catch(error => console.log(error))
            },
            paymayaChart(filter){
                this.PaymayaChartData = [];
                this.PaymayaChartData.push(['Days','Total Amount']);
                if(filter){
                    var ax = axios.post('/api/getCashOutChartPOST/PayMaya',{from:filter.from,to:filter.to})
                }
                else{
                    var ax = axios.get('/api/getCashOutChart/PayMaya')
                }
                ax.then(response => {
                    let date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
                    for(let i = 1 ; i < date_count + 1; i++){
                        this.PaymayaChartData.push([`Day ${i}`,0]);
                    }
                    for(let i = 0; i < response.data.length; i++){
                        this.PaymayaChartData[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')][1] += response.data[i].withdrawal_amount;
                    }
                    this.reload = true;
                })
            },
            mlChart(filter){
                this.MLChartData = [];
                this.MLChartData.push(['Days','Total Amount']);
                if(filter){
                    var ax = axios.post('/api/getCashOutChartPOST/ML',{from:filter.from,to:filter.to})
                }
                else{
                    var ax = axios.get('/api/getCashOutChart/ML')
                }
                ax.then(response => {
                    let date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
                    for(let i = 1 ; i < date_count + 1; i++){
                        this.MLChartData.push([`Day ${i}`,0]);
                    }
                    for(let i = 0; i < response.data.length; i++){
                        this.MLChartData[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')][1] += response.data[i].withdrawal_amount;
                    }
                        this.reload = true;
                })
            },
            CebuanaChart(filter){
                this.CebuanaChartData = [];
                this.CebuanaChartData.push(['Days','Total Amount']);
                if(filter){
                    var ax = axios.post('/api/getCashOutChartPOST/Cebuana',{from:filter.from,to:filter.to})
                }
                else{
                    var ax = axios.get('/api/getCashOutChart/Cebuana')
                }
                ax.then(response => {
                    let date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
                    for(let i = 1 ; i < date_count + 1; i++){
                        this.CebuanaChartData.push([`Day ${i}`,0]);
                    }
                    for(let i = 0; i < response.data.length; i++){
                        this.CebuanaChartData[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')][1] += response.data[i].withdrawal_amount;
                    }
                        this.reload = true;
                })
            },
            bankChart(filter){
                this.BankChartData = [];
                this.BankChartData.push(['Days','Total Amount']);
                if(filter){
                    var ax = axios.post('/api/getCashOutChartPOST/Bank',{from:filter.from,to:filter.to})
                }
                else{
                    var ax = axios.get('/api/getCashOutChart/Bank')
                }
                ax.then(response => {
                    let date_count = new Date(new Date().getFullYear(), new Date().getMonth() +1, 0).getDate();
                    for(let i = 1 ; i < date_count + 1; i++){
                        this.BankChartData.push([`Day ${i}`,0]);
                    }
                    for(let i = 0; i < response.data.length; i++){
                        this.BankChartData[moment(response.data[i].created_at).format("Do").replace(/\D/g,'')][1] += response.data[i].withdrawal_amount;
                    }
                        this.reload = true;
                })

            },
            fetchPartner() {

                axios.get('/api/getCashOutReports')
                    .then(response => {
                        this.reload = true;
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            fetchBets() {

                axios.get('/api/getBets')
                    .then(response => {
                        this.rake = response.data;
                    })
                    .catch(error => console.log(error))
            },

        }
    }
</script>

<style scoped>

</style>
