<template>
    <div>
        <div class="card mt-2">
            <div class="card-header bg-primary">
                <h3 class="text-white">{{ report_title }}</h3>
            </div>
            <div class="card-content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a v-bind:class="(details_show)?'nav-link active':'nav-link'" aria-disabled="true" role="tab" aria-controls="report_details" aria-selected="true">Report Details</a>
                    </li>
                    <li class="nav-item" >
                        <a v-bind:class="(column_show)?'nav-link active':'nav-link'" role="tab" aria-controls="select_columns" aria-selected="false">Select Columns</a>
                    </li>
                    <li class="nav-item">
                        <a v-bind:class="(filter_show)?'nav-link active':'nav-link'" role="tab" aria-controls="filter" aria-selected="false">Filter</a>
                    </li>
                </ul>
            </div>
            <div class="card-body pt-0">
                <div class="tab-content" id="myTabContent">
                    <div v-bind:class="(details_show)?'show active tab-pane fade':'tab-pane fade'" id="report_details" role="report_details" aria-labelledby="report_details-tab">
                        <div class='col-md-6'>
                            <label for="reportname">Report Name: <span class="text-danger">( required )</span></label>
                            <div class="form-group">
                                <input ref="reportname" type="text" v-model="form['report_name']" placeholder="Enter Report Name" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="primarymodule">Primary Module: <span class="text-danger">( required )</span></label>
                                <vs-select
                                    placeholder="Select Primary Module"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    @change="relation"
                                    v-model="form['primary_module']"
                                    style="width: 100%" required>
                                <vs-select-item :key="data.table" :value="data.table" :text="data.text" v-for="data in primary_schema" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label for="relatedmodule">Select Related Modules: <span class="text-danger">( MAX 2 )</span></label>
                                <vs-select
                                id="relatedmodule"
                                placeholder="Select Related Modules"
                                multiple
                                autocomplete
                                max-selected="2"
                                class="selectExample"
                                @change="getRelatedColumns"
                                style="width: 100%"
                                v-model="form['related_module']"
                                >
                                <vs-select-item :key="index" :value="data.table" :text="data.text" v-for="(data,index) in related_module" />
                                </vs-select>
                            </div>
                            <label for="reportdescription">Report Descriptions: <span class="text-danger">( required )</span></label>
                            <div class="form-group">
                                <input type="text" required v-model="form['report_description']" id="reportdescription" placeholder="Enter Report Descriptions" class="form-control" />
                            </div>
                        </div>
                        <div class='col-md-12 text-right'>
                            <button class="btn btn-primary btn-sm" @click="next('details')">Next</button>
                        </div>
                    </div>
                    <div v-bind:class="(column_show)?'show active tab-pane fade':'tab-pane fade'" id="select_columns" role="tabpanel" aria-labelledby="select_columns-tab">
                        <div class="form-group">
                            <label for="selectedcolumns">Select Columns: <span class="text-danger">( MAX 25 )</span></label>
                            <vs-select
                            id="selectedcolumns"
                            placeholder="Select Columns"
                            multiple
                            autocomplete
                            max-selected="25"
                            class="selectExample"
                            style="width: 100%"
                            required
                            v-model="form['selected_column']"
                            >
                            <div :key="index" v-for="(item,index) in getColumns">
                                <vs-select-group :title="item.title" v-if="item.group">
                                    <vs-select-item :key="index" :value="item.column" :text="item.text" v-for="(item,index) in item.group"/>
                                </vs-select-group>
                            </div>
                            </vs-select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="groupby">Group By:</label>
                                <div class="form-group" :key="index" v-for="(item,index) in form['group_by']">
                                    <vs-select
                                    placeholder="Select Column"
                                    autocomplete
                                    max-selected="1"
                                    class="selectExample"
                                    style="width: 100%"
                                    v-model="form['group_by'][index]['column']"
                                    >
                                    <div :key="index" v-for="(item,index) in getColumns">
                                        <vs-select-item :value="false" :text="'None'" v-if="index == 0"/>
                                        <vs-select-group :title="item.title" v-if="item.group">
                                            <vs-select-item :key="index" :value="item.column" :text="item.text" v-for="(item,index) in item.group" />
                                        </vs-select-group>
                                    </div>
                                    </vs-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="sortby">Sort Order:</label>
                                <div class="from-group" :key="index" v-for="(item,index) in form['group_by']">
                                    <div style="display: flex;">
                                        <div class="mt-1" style="display:inline-block;">
                                            <div class="form-group">
                                                <vs-radio v-model="form['group_by'][index]['sort_order']" :vs-value="index+'ASC'">Ascending</vs-radio>
                                            </div>
                                        </div>
                                        <div class="mt-1" style="display:inline-block;width:100%;">
                                            <div class='form-group'>
                                                <vs-radio v-model="form['group_by'][index]['sort_order']" :vs-value="index+'DESC'">Descending</vs-radio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" v-if="this.getColumns.length > 0">
                            <label>Calculations:</label>
                            <table class='table table-striped'>
                                <thead>
                                    <tr>
                                        <th>Column</th>
                                        <th>Sum</th>
                                        <th>Average</th>
                                        <th>Lowest Value</th>
                                        <th>Highest Value</th>
                                    </tr>
                                </thead>
                                <tbody :key="index" v-for="(item,index) in getColumns">
                                    <tr :key="index" :value="row.column" :text="row.text" v-for="(row,index) in item.group">
                                        <td v-if="row.calculations">{{ row.text }}</td>
                                        <td v-if="row.calculations"><vs-checkbox :value="hasValue(row.column,'sum')" @change="setValue(row.column,'sum',row.text)"></vs-checkbox></td>
                                        <td v-if="row.calculations"><vs-checkbox :value="hasValue(row.column,'ave')" @change="setValue(row.column,'ave',row.text)"></vs-checkbox></td>
                                        <td v-if="row.calculations"><vs-checkbox :value="hasValue(row.column,'min')" @change="setValue(row.column,'min',row.text)"></vs-checkbox></td>
                                        <td v-if="row.calculations"><vs-checkbox :value="hasValue(row.column,'max')" @change="setValue(row.column,'max',row.text)"></vs-checkbox></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='col-md-12 text-right'>
                            <button class="btn btn-danger btn-sm" @click="back('column')">Back</button>
                            <button class="btn btn-primary btn-sm" @click="next('column')">Next</button>
                        </div>
                    </div>
                    <div v-bind:class="(filter_show)?'show active tab-pane fade':'tab-pane fade'" id="filter" role="tabpanel" aria-labelledby="filter-tab">
                        <button @click="addCondition" type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp &nbspAdd Condition
                        </button><br>
                        <label><strong>All Conditions</strong>(All conditions must be met)</label>
                        <div>
                            <div class='form-group mb-0' :key="ind" v-for="(item,ind) in form['condition']" style="display:flex;flex-direction: row;align-items: center;justify-content: center;">
                                <div class="mb-1 pr-1 w-100">
                                    <vs-select
                                    placeholder="Select Field"
                                    autocomplete
                                    max-selected="1"
                                    class="selectExample"
                                    style="width: 100%"
                                    v-model="form['condition'][ind]['column']"
                                    >
                                    <div :key="index" v-for="(item,index) in getColumns">
                                        <vs-select-group :title="item.title" v-if="item.group">
                                            <vs-select-item :key="index" :value="item.column" :text="item.text" v-for="(item,index) in item.group"/>
                                        </vs-select-group>
                                    </div>
                                    </vs-select>
                                </div>
                                <div class="mb-1 pr-1 w-100">
                                    <vs-select
                                        placeholder="Select Operator"
                                        label-placeholder="Autocomplete"
                                        autocomplete
                                        v-model="form['condition'][ind]['operator']"
                                        style="width: 100%" required>
                                    <vs-select-item :key="data" :value="data" :text="data" v-for="data in operator" />
                                    </vs-select>
                                </div>
                                <div class="mb-1 pr-1 w-100">
                                    <div v-if="form['condition'][ind]['column'] != null">
                                        <div v-if="form['condition'][ind]['column'].split('.')[1] != 'created_at'">
                                            <div v-if="form['condition'][ind]['operator'] != 'Between' && form['condition'][ind]['operator'] != 'Not Between'">
                                                <input type="text"
                                                v-model="form['condition'][ind]['value']" class="form-control" />
                                            </div>
                                            <div v-else>
                                                <div class="d-flex">
                                                    <input type="text"
                                                    placeholder="From"
                                                    v-model="form['condition'][ind]['between1']" class="form-control" />
                                                    <input type="text"
                                                    placeholder="To"
                                                    v-model="form['condition'][ind]['between2']" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div class="d-flex " v-if="form['condition'][ind]['operator'] == 'Between' || form['condition'][ind]['operator'] == 'Not Between'">
                                                <input type="date"
                                                v-model="form['condition'][ind]['between1']" class="form-control" />
                                                <input type="date"
                                                v-model="form['condition'][ind]['between2']" class="form-control" />
                                            </div>
                                            <input type="date"
                                            v-else
                                            v-model="form['condition'][ind]['value']" class="form-control" />
                                        </div>
                                    </div>
                                    <div v-else>
                                        <input type="text"
                                        v-model="form['condition'][ind]['value']" class="form-control" />
                                    </div>
                                </div>
                                <div class="mb-1" v-if="ind > 0">
                                    <vs-button small="size" class="btn" color="danger" @click="remove(ind)" text-color="#fff"><vs-icon icon="delete"></vs-icon></vs-button>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12 text-right'>
                            <button class="btn btn-danger btn-sm" @click="back('filter')">Back</button>
                            <button class="btn btn-success btn-sm" @click="checknow">Generate Now</button>
                            <button class="btn btn-primary btn-sm" @click="update">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                    <download-csv
                                    class="btn btn-primary btn-sm mr-5 text-right"
                                    :data   = "generated_table">
                                    Export data as csv
                                </download-csv>
            </div>
            <div class="card-body">
                <div v-if="final_calculation_table.length > 0">
                    <table class="table table-striped w100">
                        <thead>
                                <tr>
                                    <th>Column</th>
                                    <th>Sum</th>
                                    <th>Average</th>
                                    <th>Lowest Value</th>
                                    <th>Highest Value</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, indextr) in final_calculation_table" :key="indextr" >
                                <td>{{final_calculation_table[indextr].column_name}}</td>
                                <td>{{final_calculation_table[indextr].Sum | numeric}}</td>
                                <td>{{final_calculation_table[indextr].Avg | numeric}}</td>
                                <td>{{final_calculation_table[indextr].Min | numeric}}</td>
                                <td>{{final_calculation_table[indextr].Max | numeric}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <vs-table
                pagination
                max-items="10"
                search
                stripe
                :data="generated_table">
                <template slot="header">
                    <div class="d-flex align-items-center justify-content-between w-100 add-account">
                        <h3>
                            Generated Report
                        </h3>
                    </div>
                </template>
                <template slot="thead">
                    <vs-th v-for="element in generated_column" :key="element.column" >
                        {{ element.column_text }}
                    </vs-th>
                </template>
                <template slot-scope="{data}" ref="table-body" class="table-hover">
                    <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                        <vs-td v-for="element in generated_column" :key="element.column">
                            {{data[indextr][element.column]}}
                        </vs-td>
                    </vs-tr>
                </template>
                </vs-table>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
export default{
    data(){
        return{
            deletePopup:false,
            report_title:'',
            radio1:'',
            radio2:'',
            radio3:'',
            delete_id:0,
            show_generated_table:false,
            report_form:false,
            edit_form:false,
            create:false,
            selected:[],
            details_form:true,
            column_form:false,
            filter_form:false,
            details_show:true,
            column_show:false,
            filter_show:false,
            table:[],
            generated_table:[],
            generated_column:[],
            related_module:[],
            generated_form:[],
            operator:[
                'None',
                'Equals',
                'Greater Than',
                'Less than',
                'Less Than Equal To',
                'Greater Than Equal To',
                'Not Equal To',
                'Starts With',
                'Between',
                'Not Between',
                'Ends With',
                'Contains',
                'Does Not Contains',
                'Is Empty',
                'Is Not Empty'
            ],
            id:0,
            first:false,
            form:{
                'report_name':'',
                'report_description':'',
                'primary_module':'',
                'selected_column':[],
                'related_module':[],
                'calculations':{
                    'sum':[],
                    'ave':[],
                    'min':[],
                    'max':[]
                },
                'group_by':[
                    {'column':'','sort_order':false},
                    {'column':'','sort_order':false},
                    {'column':'','sort_order':false}
                ],
                'condition':[
                    {'column':'','operator':'None','value':'','between1':'','between2':''},
                ]
            },
            primary_schema:[{
                    'text':'Users',
                    'table':'users'
                },{
                    'text':'Banker Topup',
                    'table':'banker_topup'
                },{
                    'text':'Bets',
                    'table':'bets'
                },{
                    'text':'Games',
                    'table':'games'
                },{
                    'text':'Matches',
                    'table':'matches'
                },
                {
                    'text':'Game Sessions',
                    'table':'game_sessions'  
                },{
                    'text':'Bank Accounts',
                    'table':'bank_accounts'
                },{
                    'text':'Announcements',
                    'table':'announcements'
                },{
                    'text':'Chat Messages',
                    'table':'chat_message'
                },{
                    'text':'Players Cash-In',
                    'table':'topups_player'
                },{
                    'text':'Players Cash-Out',
                    'table':'withdrawals_players'
                }
            ],
            relation_schema:{
                'matches':[{
                    'text':'Games',
                    'table':'games',
                    'primary_key':'matches.game_id',
                    'related_key':'games.id'
                },{
                    'text':'Bets',
                    'table':'bets',
                    'primary_key':'matches.id',
                    'related_key':'bets.matches_id'
                }],
                'games':[{
                    'text':'Matches',
                    'table':'matches',
                    'primary_key':'games.id',
                    'related_key':'matches.game_id'
                },{
                    'text':'Bets',
                    'table':'bets',
                    'primary_key':'games.id',
                    'related_key':'bets.game_id'
                }],
                'game_sessions':[{
                    'text':'Games',
                    'table':'games',
                    'primary_key':'game_sessions.id',
                    'related_key':'games.game_session_id'
                }],
                'banker_topup':[{
                    'text':'Bank Accounts',
                    'table':'bank_accounts',
                    'primary_key':'banker_topup.banker_id',
                    'related_key':'bank_accounts.id'
                }],
                'users': [{
                    'text':'Sessions',
                    'table':'sessions',
                    'primary_key':'users.id',
                    'related_key':'sessions.user_id'
                },{
                    'text':'User Logs',
                    'table':'user_logs',
                    'primary_key':'users.id',
                    'related_key':'user_logs.user_id'
                },{
                    'text':'Players Cash-Out',
                    'table':'withdrawals_players',
                    'primary_key':'users.id',
                    'related_key':'withdrawals_players.user_id'
                },{
                    'text':'Players Cash-In',
                    'table':'topups_player',
                    'primary_key':'users.id',
                    'related_key':'topups_player.user_id'
                },{
                    'text':'User Bets',
                    'table':'bets',
                    'primary_key':'users.id',
                    'related_key':'bets.user_id'
                },{
                    'text':'Message',
                    'table':'chat_message',
                    'primary_key':'users.id',
                    'related_key':'chat_message.user_id'
                },{
                    'text':'User Withdrawal Templates',
                    'table':'withdrawal_templates',
                    'primary_key':'users.id',
                    'related_key':'withdrawal_templates.user_id'
                }],
                'bank_accounts':[{
                        'text':'Bank Transactions',
                        'table':'bank_transactions',
                        'primary_key':'bank_accounts.id',
                        'related_key':'bank_transactions.bank_id'
                    },{
                        'text':'Topups',
                        'table':'topups',
                        'primary_key':'bank_accounts.id',
                        'related_key':'topups.payment_id'
                    },{
                        'text':'Withdrawals',
                        'table':'withdrawals',
                        'primary_key':'bank_accounts.id',
                        'related_key':'withdrawals.source_fund_id'
                }],
                'bets':[{
                        'text':'Games',
                        'table':'games',
                        'primary_key':'bets.game_id',
                        'related_key':'games.id'
                    },{
                        'text':'Game Matches',
                        'table':'matches',
                        'primary_key':'bets.matches_id',
                        'related_key':'matches.id'
                    },{
                        'text':'Users',
                        'table':'users',
                        'primary_key':'bets.user_id',
                        'related_key':'users.id'

                }],
                'chat_message':[{
                    'text':'Users',
                    'table':'users',
                    'primary_key':'chat_message.user_id',
                    'related_key':'users.id'
                }],
                'topups':[{
                        'text':'Users',
                        'table':'users',
                        'primary_key':'topups.user_id',
                        'related_key':'users.id'
                    },{
                        'text':'Payments',
                        'table':'bank_accounts',
                        'primary_key':'topups.payment_id',
                        'related_key':'bank_accounts.id'
                        
                    },{
                        'text':'Approved By',
                        'table':'users',
                        'primary_key':'topups.approved_by',
                        'related_key':'users.id'
                    },{
                        'text':'Transactions Details',
                        'table':'bank_transactions',
                        'primary_key':'topups.transaction_code',
                        'related_key':'bank_transactions.transaction_code'
                }],
                'topups_player':[{
                        'text':'Players Topup',
                        'table':'users',
                        'primary_key':'topups_player.user_id',
                        'related_key':'users.id'
                },{
                    'text':'Agents Topup Transactions',
                    'table':'users',
                    'primary_key':'topups_player.agent_id',
                    'related_key':'users.id'
                }],
                'withdrawals':[{
                    'text':'Users',
                    'table':'users',
                    'primary_key':'withdrawals.user_id',
                    'related_key':'users.id'
                },{
                    'text':'Bank Accounts',
                    'table':'bank_accounts',
                    'primary_key':'withdrawals.source_fund_id',
                    'related_key':'bank_accounts.id'
                }]
            },
            column_schema:{
                'game_sessions':[{
                    'title':'Game Sessions',
                    'group':[{
                        'text':'ID',
                        'column':'game_sessions.id'
                    },{
                        'text':'Game Start',
                        'column':'game_sessions.game_start'
                    },{
                        'text':'HLS Source',
                        'column':'game_sessions.source_1'
                    },{
                        'text':'Status',
                        'column':'game_sessions.status'
                    },{
                        'text':'Session Live',
                        'column':'game_sessions.session_live'
                    },{
                        'text':'Location',
                        'column':'game_sessions.location'
                    },{
                        'text':'Iframe URL (camera url)',
                        'column':'game_sessions.camera_url'
                    },{
                        'text':'Player Type',
                        'column':'game_sessions.player_type'
                    },{
                        'text':'Date Created',
                        'column':'game_sessions.created_at'
                    }]
                }],
                'banker_topup':[{
                    'title':'Banker Topups',
                    'group':[{
                        'text':'ID',
                        'column':'banker_topup.id'
                    },{
                        'text':'Banker ID',
                        'column':'banker_topup.banker_id'
                    },{
                        'text':'details',
                        'column':'banker_topup.details'
                    },{
                        'text':'Topup Amount',
                        'column':'banker_topup.amount',
                        'calculations':true,
                    },{
                        'text':'Request BY (User ID)',
                        'column':'banker_topup.request_by'
                    },{
                        'text':'Processed BY (User ID)',
                        'column':'banker_topup.processed_by'
                    },{
                        'text':'Topup Status',
                        'column':'banker_topup.status'
                    },{
                        'text':'Decline Reason',
                        'column':'banker_topup.decline_reason'
                    },{
                        'text':'Date Created',
                        'column':'banker_topup.created_at'
                    }]
                }],
                'topups_player':[{
                    'title':'Players Cash In',
                    'group':[{
                        'text':'User ID',
                        'column':'topups_player.user_id'
                    },{
                        'text':'Agent Id',
                        'column':'topups_player.agent_id',
                    },{
                        'text':'Amount',
                        'column':'topups_player.amount',
                        'calculations':true,
                    },{
                        'text':'Status',
                        'column':'topups_player.status'
                    },{
                        'text':'Details',
                        'column':'topups_player.details'
                    },{
                        'text':'Remarks',
                        'column':'topups_player.remarks'
                    },{
                        'text':'Withdrawal Template Date Created',
                        'column':'topups_player.created_at'
                    }]
                }],
                'withdrawal_templates':[{
                    'title':'Withdrawal Templates',
                    'group':[{
                        'text':'User ID',
                        'column':'withdrawal_templates.user_id'
                    },{
                        'text':'Account Name',
                        'column':'withdrawal_templates.account_name',
                    },{
                        'text':'Account Number',
                        'column':'withdrawal_templates.account_number'
                    },{
                        'text':'Payment Type',
                        'column':'withdrawal_templates.payment_type'
                    },{
                        'text':'Bank Type',
                        'column':'withdrawal_templates.bank_type'
                    },{
                        'text':'Withdrawal Template Date Created',
                        'column':'withdrawal_templates.created_at'
                    }]
                }],
                'matches':[{
                    'title':'Matches',
                    'group':[{
                        'text':'Match ID',
                        'column':'matches.id'
                    },{
                        'text':'Game ID',
                        'column':'matches.game_id'
                    },{
                        'text':'Left Win',
                        'column':'matches.left_win',
                        'calculations':true,
                    },{
                        'text':'Right Win',
                        'column':'matches.right_win',
                        'calculations':true,
                    },{
                        'text':'Left Bet',
                        'column':'matches.left_bet',
                        'calculations':true,
                    },{
                        'text':'Middle Bet',
                        'column':'matches.middle_bet',
                        'calculations':true,
                    },{
                        'text':'Right Bet',
                        'column':'matches.right_bet',
                        'calculations':true,
                    },{
                        'text':'Left Odds',
                        'column':'matches.left_odds',
                        'calculations':true,
                    },{
                        'text':'Right Odds',
                        'column':'matches.right_odds',
                        'calculations':true,
                    },{
                        'text':'Net Payout',
                        'column':'matches.net_payout',
                        'calculations':true,
                    },{
                        'text':'Draw Net Payout',
                        'column':'matches.draw_net_payout',
                        'calculations':true,
                    },{
                        'text':'Match Status',
                        'column':'matches.status'
                    },{
                        'text':'Match Date Created',
                        'column':'matches.created_at'
                    },{
                        'text':'Match Total Bet',
                        'column':'matches.total_bet',
                        'calculations':true,
                    },{
                        'text':'Match Total draw bet',
                        'column':'matches.total_draw_bet',
                        'calculations':true,
                    },{
                        'text':'Match Total Rake',
                        'column':'matches.total_rake',
                        'calculations':true,
                    },{
                        'text':'Match Left Bet Percentage',
                        'column':'matches.left_bet_percentage',
                        'calculations':true,
                    },{
                        'text':'Match Right Bet Percentage',
                        'column':'matches.right_bet_percentage',
                        'calculations':true,
                    },{
                        'text':'Match Left Percentage Difference',
                        'column':'matches.left_percent_difference',
                        'calculations':true,
                    },{
                        'text':'Match Right Percentage Difference',
                        'column':'matches.right_percent_difference',
                        'calculations':true,
                    },{
                        'text':'Match Left Percent Less rake',
                        'column':'matches.left_percent_less_rake',
                        'calculations':true,
                    },{
                        'text':'Match Right Percent Less rake',
                        'column':'matches.right_percent_less_rake',
                        'calculations':true,
                    },{
                        'text':'Match Left Percent Against',
                        'column':'matches.left_percent_against',
                        'calculations':true,
                    },{
                        'text':'Match Right Percent Against',
                        'column':'matches.right_percent_against',
                        'calculations':true,
                    }]
                }],
                'games':[{
                    'title':'Games',
                    'group':[{
                        'text':'Game ID',
                        'column':'games.id'
                    },{
                        'text':'Game Session ID',
                        'column':'games.game_session_id'
                    },{
                        'text':'Game Number',
                        'column':'games.game_number'
                    },{
                        'text':'Game Title',
                        'column':'games.game_title'
                    },{
                        'text':'Created By',
                        'column':'games.created_by'
                    },{
                        'text':'Game Status',
                        'column':'games.status'
                    },{
                        'text':'Game Date Created',
                        'column':'games.created_at'
                    }]
                }],
                'users':[{
                    'title':'Users',
                    'group':[{
                        'text':'User ID',
                        'column':'users.id'
                    },{
                        'text':'Full Name',
                        'column':'users.name'
                    },{
                        'text':'Username',
                        'column':'users.username'
                    },{
                        'text':'Email Address',
                        'column':'users.email'
                    },{
                        'text':'Contact Number',
                        'column':'users.contact_number'
                    },{
                        'text':'Wallet Balance',
                        'column':'users.wallet_balance',
                        'calculations':true,
                    },{
                        'text':'Agent Commission Balance',
                        'column':'users.agent_commission_balance',
                        'calculations':true,
                    },{
                        'text':'Date Created',
                        'column':'users.created_at'
                    },{
                        'text':'User Type',
                        'column':'users.type'
                    },{
                        'text':'Agent Rate',
                        'column':'users.agent_rate',
                        'calculations':true,
                    },{
                        'text':'Status',
                        'column':'users.status'
                    },{
                        'text':'Facebook Profile URL',
                        'column':'users.fb_url'
                    }]
                }],
                'user_logs':[{
                    'title':'User Logs',
                    'group':[{
                        'text':'User Logs ID',
                        'column':'user_logs.id'
                    },{
                        'text':'User ID',
                        'column':'user_logs.user_id'
                    },{
                        'text':'Type',
                        'column':'user_logs.type'
                    },{
                        'text':'Content',
                        'column':'user_logs.content'
                    },{
                        'text':'Date Created',
                        'column':'user_logs.created_at'
                    }]
                }],
                'withdrawals_players':[{
                    'title':'Players Withdrawals',
                    'group':[{
                        'text':'Withdrawals ID',
                        'column':'withdrawals_players.id'
                    },{
                        'text':'User ID',
                        'column':'withdrawals_players.user_id'
                    },{
                        'text':'Agent ID',
                        'column':'withdrawals_players.agent_id'
                    },{
                        'text':'Withdrawal Amount',
                        'column':'withdrawals_players.withdrawal_amount',
                        'calculations':true,
                    },{
                        'text':'Processing Fees',
                        'column':'withdrawals_players.processing_fee',
                        'calculations':true,
                    },{
                        'text':'Status',
                        'column':'withdrawals_players.status'
                    },{
                        'text':'Date Created',
                        'column':'withdrawals_players.created_at'
                    },{
                        'text':'Account Name',
                        'column':'withdrawals_players.account_name'
                    },{
                        'text':'Account Number',
                        'column':'withdrawals_players.account_number'
                    },{
                        'text':'Reference Number',
                        'column':'withdrawals_players.reference_number'
                    },{
                        'text':'Processed By (ID)',
                        'column':'withdrawals_players.processed_by'
                    },{
                        'text':'Source Fund (ID)',
                        'column':'withdrawals_players.source_fund_id'
                    },{
                        'text':'Decline Reason',
                        'column':'withdrawals_players.decline_reason'
                    },{
                        'text':'Type',
                        'column':'withdrawals_players.type'
                    },{
                        'text':'Bank Type',
                        'column':'withdrawals_players.bank_type'
                    },{
                        'text':'Payment Type',
                        'column':'withdrawals_players.payment_type'
                    }]
                }],
                'topups':[{
                    'title':'Topup',
                    'group':[{
                        'text':'Topup ID',
                        'column':'topups.id'
                    },{
                        'text':'User ID',
                        'column':'topups.user_id'
                    },{
                        'text':'Payment ID',
                        'column':'topups.payment_id'
                    },{
                        'text':'Topup Amount',
                        'column':'topups.amount',
                        'calculations':true,
                    },{
                        'text':'Sender Name',
                        'column':'topups.sender_name'
                    },{
                        'text':'Attachments (SS)',
                        'column':'topups.attachment'
                    },{
                        'text':'Notes',
                        'column':'topups.notes'
                    },{
                        'text':'Reference Number',
                        'column':'topups.reference_number'
                    },{
                        'text':'Date Created',
                        'column':'topups.created_at'
                    },{
                        'text':'Status',
                        'column':'topups.status'
                    },{
                        'text':'Approved By (ID)',
                        'column':'topups.approved_by'
                    },{
                        'text':'Sender Contact',
                        'column':'topups.sender_contact'
                    },{
                        'text':'Decline Reason',
                        'column':'topups.decline_reason'
                    },{
                        'text':'Transaction Codes',
                        'column':'topups.transaction_code'
                    }]
                }],
                'sessions':[{
                    'title':'User Session',
                    'group':[{
                        'text':'Session ID',
                        'column':'sessions.id'
                    },{
                        'text':'User ID',
                        'column':'sessions.user_id'
                    },{
                        'text':'User Ip Address',
                        'column':'sessions.ip_address'
                    },{
                        'text':'User Agent',
                        'column':'sessions.user_agent'
                    },{
                        'text':'User Payloads',
                        'column':'sessions.payload'
                    },{
                        'text':'User Last Activity',
                        'column':'sessions.last_activity'
                    }]
                }],
                'chat_message':[{
                    'title':'Chat Messages',
                    'group':[{
                        'text':'Chat ID',
                        'column':'chat_message.id'
                    },{
                        'text':'User ID',
                        'column':'chat_message.user_id'
                    },{
                        'text':'Name',
                        'column':'chat_message.name'
                    },{
                        'text':'Chat Messages',
                        'column':'chat_message.message'
                    },{
                        'text':'Date Created',
                        'column':'chat_message.created_at'
                    }]
                }],
                'bets':[{
                    'title':'Bets',
                    'group':[{
                        'text':'Bet ID',
                        'column':'bets.id'
                    },{
                        'text':'Game ID',
                        'column':'bets.game_id'
                    },{
                        'text':'Matches ID',
                        'column':'bets.matches_id'
                    },{
                        'text':'User ID',
                        'column':'bets.user_id'
                    },{
                        'text':'Bet Left',
                        'column':'bets.bet_left',
                        'calculations':true,
                    },{
                        'text':'Bet Middle',
                        'column':'bets.bet_middle',
                        'calculations':true,
                    },{
                        'text':'Bet Right',
                        'column':'bets.bet_right',
                        'calculations':true,
                    },
                    {
                        'text':'Bet Amount',
                        'column':'bets.bet_amount',
                        'calculations':true,
                    },{
                        'text':'Bet Odds',
                        'column':'bets.bet_odds',
                        'calculations':true,
                    },{
                        'text':'Bet Result',
                        'column':'bets.bet_result'
                    },{
                        'text':'Bet Winnings',
                        'column':'bets.bet_winnings'
                    },{
                        'text':'Date Created',
                        'column':'bets.created_at'
                    },{
                        'text':'Bet Rake',
                        'column':'bets.bet_rake',
                        'calculations':true,
                    },{
                        'text':'Bet Payout',
                        'column':'bets.bet_payout',
                        'calculations':true,
                    },{
                        'text':'Player Before Recevied Bet Prize',
                        'column':'bets.before_balance',
                        'calculations':true,
                    },{
                        'text':'Player After Received Bet Prize',
                        'column':'bets.after_balance',
                        'calculations':true,
                    },{
                        'text':'Player Agent Commission',
                        'column':'bets.agent_commission',
                        'calculations':true,
                    },{
                        'text':'Player Agent Commission Payout',
                        'column':'bets.agent_commission_payout',
                        'calculations':true,
                    },{
                        'text':'Less Odd Rake',
                        'column':'bets.bet_less_odds_rake',
                        'calculations':true,
                    }]
                }],
                'bank_accounts':[{
                    'title':'Bank Accounts',
                    'group':[{
                        'text':'Bank ID',
                        'column':'bank_accounts.id'
                    },{
                        'text':'Bank Name',
                        'column':'bank_accounts.bank_name'
                    },{
                        'text':'Bank Account Name',
                        'column':'bank_accounts.account_name'
                    },{
                        'text':'Bank Account Number',
                        'column':'bank_accounts.account_number'
                    },{
                        'text':'Bank Balance',
                        'column':'bank_accounts.balance',
                        'calculations':true,
                    },{
                        'text':'Bank Date Created',
                        'column':'bank_accounts.created_at'
                    },{
                        'text':'Account Type',
                        'column':'bank_accounts.account_type'
                    },{
                        'text':'Bank Status',
                        'column':'bank_accounts.status'
                    },{
                        'text':'Category',
                        'column':'bank_accounts.category'
                    },{
                        'text':'User ID',
                        'column':'bank_accounts.user_id'
                    }]
                }],
                'bank_transactions':[{
                    'title':'Bank transactions',
                    'group':[{
                        'text':'Bank Transaction ID',
                        'column':'bank_transactions.id'
                    },{
                        'text':'Bank ID',
                        'column':'bank_transactions.bank_id'
                    },{
                        'text':'Bank Debit',
                        'column':'bank_transactions.debit',
                        'calculations':true,
                    },{
                        'text':'Bank Credit',
                        'column':'bank_transactions.credit',
                        'calculations':true,
                    },{
                        'text':'Bank Transaction Code',
                        'column':'bank_transactions.transaction_code'
                    },{
                        'text':'Bank Transaction Details',
                        'column':'bank_transactions.transaction_details'
                    },{
                        'text':'Bank Transaction Created',
                        'column':'bank_transactions.created_at'
                    }]
                }],
                'announcements':[{
                    'title':'Announcements',
                    'group':[{
                        'text':'ID',
                        'column':'announcements.id'
                    },{
                        'text':'Content',
                        'column':'announcements.content'
                    },{
                        'text':'Status',
                        'column':'announcements.status'
                    },{
                        'text':'Date Created',
                        'column':'announcements.created_at'
                    }]
                }]
            },
            getColumns:[],
            generated_calculation_table:[],
            generated_calculation_column:[],
            final_calculation_table:[],
        }
    },
    watch:{
            generated_table:function(val){
                this.generated_column = [];
                for(let x = 0; x < Object.keys(val[0]).length; x++){
                    var generated_column_name = Object.keys(val[0])[x];
                    var generated_column_text = generated_column_name.replace('_',' ');
                    this.generated_column.push(
                        {
                            column:generated_column_name,
                            column_text:generated_column_text.charAt(0).toUpperCase() + generated_column_text.slice(1)
                        })
                }
                console.log(this.generated_column)
            },
            generated_calculation_table:function(val){
                this.final_calculation_table =[];
                if(val.length <= 0){
                    return
                }
                for(let i = 0 ; i < Object.keys(val[0]).length; i++){
                    console.log(val[0][Object.keys(val[0])[i]] + ' = '+ Object.keys(val[0])[i] + ' = '+ Object.keys(val[0])[i].substr(0,3))
                    var check = this.final_calculation_table.find((value) => {
                        return value.column_name == Object.keys(val[0])[i].substring(4);
                    });
                    if(!check){
                        this.final_calculation_table.push({
                            column_name:Object.keys(val[0])[i].substring(4),
                            Sum:0,
                            Avg:0,
                            Min:0,
                            Max:0,
                        });
                        var index = this.final_calculation_table.findIndex(x => x.column_name == Object.keys(val[0])[i].substring(4));
                        this.final_calculation_table[index][Object.keys(val[0])[i].substr(0,3)] = val[0][Object.keys(val[0])[i]]
                    }else{
                        var index = this.final_calculation_table.findIndex(x => x.column_name == Object.keys(val[0])[i].substring(4));
                        this.final_calculation_table[index][Object.keys(val[0])[i].substr(0,3)] = val[0][Object.keys(val[0])[i]]
                    }
                }
                console.log(this.final_calculation_table)
            },
        },
    created(){
        this.getReportTemplate(window.location.href.split('/').splice(-1)[0]);
    },
    methods: {
        getReportTemplate(id){
            axios.get('/api/ReportTemplate/'+id)
            .then(response => {
                this.id = response.data.id
                console.log(JSON.parse(response.data.report_data))
                this.report_title = response.data.report_name.charAt(0).toUpperCase() + response.data.report_name.slice(1)
                let json = JSON.parse(response.data.report_data);
                // this.form = json;
                this.form['report_name'] = JSON.parse(response.data.report_data).report_name
                this.form['report_description'] = JSON.parse(response.data.report_data).report_description
                this.form['primary_module'] = JSON.parse(response.data.report_data).primary_module.table
                this.form['calculations']= JSON.parse(response.data.report_data).calculations
                this.form['group_by']= JSON.parse(response.data.report_data).group_by
                this.form['condition']= JSON.parse(response.data.report_data).condition
                this.form['selected_column']= JSON.parse(response.data.report_data).selected_column
                
                for(let i = 0 ; i < JSON.parse(response.data.report_data).related_module.length; i++){
                    this.form['related_module'].push(JSON.parse(response.data.report_data).related_module[i].table)
                }
                console.log(this.form)
                this.first = true;
            }).catch(error => console.log(error))
        },
        hasValue(column,type){
            return this.form['calculations'][type].find((value) => {
                return value.column == column;
            });
        },
        remove(index){
                this.form['condition'].splice(index, 1);
        },
        addCondition(){
            this.form['condition'].push({'column':'','operator':'None','value':''});
        },
        checknow(){
            this.first = true;
            var related = this.form['related_module']
            console.log(related)
            var array = this.form;
            var related_column_reform = [];
            for(let i =0 ; i < related.length; i++){
                for(let x = 0 ; x < this.relation_schema[this.form['primary_module']].length ; x++){
                    if(this.relation_schema[this.form['primary_module']][x].table == related[i]){
                        related_column_reform.push(this.relation_schema[this.form['primary_module']][x])
                    }
                }
            }
            for(let i = 0 ; i < this.primary_schema.length ; i++){
                if(this.primary_schema[i].table == this.form['primary_module']){
                    array['new_primary_module'] = this.primary_schema[i]
                }
            }
            array['related_column_reform'] = related_column_reform
            console.log(array)
            axios.post('/api/advancequeryEdited',array)
            .then(response => {
                if(response.data.length < 0){
                    this.$vs.notify({
                        'text' : 'Invalid Entry Cannot generate Report',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                }else{
                    this.show_generated_table = true;
                    this.generated_calculation_table =[];
                    this.generated_calculation_table = response.data.calculations
                    this.generated_table = response.data.result;
                }
            }).catch(error => console.log(error))
        },
        setValue(field,type,column_name){
            var append = true;
            var index =null;
            console.log(field)
            for(let i = 0 ; i < this.form['calculations'][type].length; i++){
                if(this.form['calculations'][type][i]['column'] == field){
                    index = i;
                    append = false;
                }
            }
            if(append){
                console.log(append)
                this.form['calculations'][type].push({'column':field,'text':column_name})
            }else{
                this.form['calculations'][type].splice(index,1);
            }
        },
        relation(){
            if(!this.first){
                this.form['related_module'] = [];
                this.form['selected_column'] = [];
            }
            this.first = false;
            this.related_module = [];
            this.getColumns = [];
            this.getColumns = this.column_schema[this.form['primary_module']]
            this.related_module = this.relation_schema[this.form['primary_module']];
        },
        getRelatedColumns(){
            this.getColumns.splice(1);
            if(this.form['related_module']){
                for(let i = 0 ; i < this.form['related_module'].length; i++){
                    this.getColumns.push(this.column_schema[this.form['related_module'][i]][0])
                }
            }
        },
        back(e){
            if(e == 'column'){
                this.details_show = true;
                this.column_show = false;
                this.filter_show = false;
            }else if(e == 'filter'){
                this.details_show = false;
                this.column_show = true;
                this.filter_show = false;
            }
        },
        next(e){
            console.log(e)
            console.log(this.form)
            if(e == 'details'){
                if(!this.form['report_name']){
                    this.alert('Report Name is Required');
                }else if(!this.form['primary_module']){
                    this.alert('Primary Module is Required');

                }else if(!this.form['report_description']){
                    this.alert('Report Description is Required');
                }else{
                    this.column_show = true;
                    this.column_form = true;
                    this.details_show = false;
                    this.filter_show = false;
                }
            }else if(e == 'column'){
                if(!this.form['selected_column'].length){
                    this.alert('Select Column is Required')
                }else{
                    this.column_show = false;
                    this.filter_form = true;
                    this.details_show = false;
                    this.filter_show = true;
                    console.log('column show')
                }
                console.log(this.filter_show)
            }
        },
        update(){
            var new_form = {};
            new_form['related_module'] = [];
            new_form['report_name'] = this.form['report_name'];
            new_form['group_by'] = this.form['group_by'];
            new_form['report_description'] = this.form['report_description'];
            new_form['condition'] = this.form['condition'];
            new_form['calculations'] = this.form['calculations'];
            new_form['selected_column'] = this.form['selected_column'];
            for(let i = 0 ; i < this.primary_schema.length; i++){
                if(this.primary_schema[i].table == this.form['primary_module']){
                    new_form['primary_module'] = this.primary_schema[i];
                }
            }
            for(let i = 0 ; i < this.form['related_module'].length; i++){
                for(let x = 0 ; x < this.relation_schema[this.form['primary_module']].length; x++){
                    if(this.form['related_module'][i] == this.relation_schema[this.form['primary_module']][x].table){
                        new_form['related_module'].push(this.relation_schema[this.form['primary_module']][x])
                    }
                }
            }
            var form = {
                report_data:new_form,
                report_name:this.form['report_name'],
                report_description:this.form['report_description']
            }
            console.log(form)
            axios.patch('/api/ReportTemplate/'+this.id,form
            
            )
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
            }).catch(error => console.log(error))
        },
        alert(message){
            this.$vs.notify({
                'text' : message,
                'color' : 'danger',
                'position' : 'top-right'
            });
        },
    }
}
</script>