<template>
    <div class="row mt-5">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Filter From:</label>
                    <input type="datetime-local" v-model="from" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Filter To:</label>
                    <input type="datetime-local" v-model="to" class="form-control">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Funds Account Reports
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="Category Name">
                                Bank Name
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Account Name
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Account Number
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Balance
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Account Type
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Category
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Date Registered
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].bank_name">
                                    {{ data[indextr].bank_name }}
                                </vs-td>

                                <vs-td :data="data[indextr].account_name">
                                    {{ data[indextr].account_name }}
                                </vs-td>

                                <vs-td :data="data[indextr].account_number">
                                     {{ data[indextr].account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].balance">
                                    P {{ data[indextr].balance  }}
                                </vs-td>
                                <vs-td :data="data[indextr].account_type">
                                    {{ data[indextr].account_type  }}
                                </vs-td>
                                <vs-td :data="data[indextr].category">
                                    {{ data[indextr].category  }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate}}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import moment from 'moment';
    import { GChart } from 'vue-google-charts'

    export default {
        name: "total-rake",
        components: {
            GChart
        },
        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                from:'',
                to:'',
                table: [],
                selected: [],
                form: {
                    'role_id' : '1'
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                rake: 0,
               
            }
        },

        mounted() {
            this.fetchBets();
            setTimeout(() => {
                this.fetchPartner();
            }, 1500);
        },
        watch:{
            from: function(val){
                if(this.to != '' && val != ''){
                    this.filtered();
                }
            },
            to: function(val){
                if(this.from != '' && val != ''){
                    this.filtered();
                }
            }
        },
        methods: {
            filtered(){
                axios.post('/api/getFundsAccountsReportsFiltered',{from:this.from,to:this.to})
                    .then(response => {
                        console.log(response.data)
                        if(response.data){
                            this.table =[];
                            this.table = [...response.data];
                        }                        
                    })
                    .catch(error => console.log(error))
            },
           
            fetchPartner() {

                axios.get('/api/getFundsAccountsReports')
                    .then(response => {
                        console.log(response.data)
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            fetchBets() {

                axios.get('/api/getBets')
                    .then(response => {
                        this.rake = response.data;
                    })
                    .catch(error => console.log(error))
            },

        }
    }
</script>

<style scoped>

</style>
