<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Filter From</label>
                                <input type="datetime-local" class="form-control" v-model="form['from']" name="filter_from" />
                            </div>
                            <div class="col-md-4">
                                <label>Filter To</label>
                                <input type="datetime-local" class="form-control" v-model="form['to']" name="filter_to" />
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary mx-auto" style="margin-top: 30px" type="submit" @click.prevent="filterDate">Filter</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" id="contentTable">
                        <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            :data="table">
                            <template slot="header">
                                <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                    <h3>
                                        Rake Report
                                    </h3>
                                </div>
                            </template>

                            <template slot="thead">
                                <vs-th sort-key="Category Name">
                                    Partner Name
                                </vs-th>
                                <vs-th sort-key="Category Name">
                                    Rake Percent
                                </vs-th>
                                <vs-th sort-key="Category Name">
                                    Total Rake
                                </vs-th>

                            </template>

                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                    <vs-td :data="data[indextr].partner_name">
                                        {{ data[indextr].partner_name }}
                                    </vs-td>

                                    <vs-td :data="data[indextr].rake_percent">
                                        {{ data[indextr].rake_percent * 100 }} %
                                    </vs-td>

                                    <vs-td :data="data[indextr].rake_percent">
                                        P {{ parseFloat(parseFloat(rake) * (parseFloat(data[indextr].rake_percent) / parseFloat(totalPartnerRake))).toFixed(2) }}
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </div>
                    <div class="card-footer">
                        <h5>Total Rake: {{ parseFloat(this.rake).toFixed(2) }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from "axios";
    import { GChart } from 'vue-google-charts'

    export default {
        name: "total-rake",
        components: {
            GChart
        },
        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                selected: [],
                form: {},
                descriptionItems: [10,15,100],
                totalPartnerRake: 0,
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                rake: 0,
                chartData: [
                    // ['Partner', 'Rake'],
                    // ['2014', 1000]
                ],
                chartOptions: {
                    chart: {
                        title: 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    }
                }
            }
        },

        mounted() {
            this.fetchBets();
            this.fetchPartnerTotal();

            setTimeout(() => {
                this.fetchPartner();
            }, 1500);
        },

        methods: {



            fetchPartner() {

                axios.get('/api/getPartnerList')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            fetchPartnerTotal() {

                axios.get('/api/getPartnerTotal')
                    .then(response => {
                        this.totalPartnerRake = response.data
                    })
                    .catch(error => console.log(error))
            },

            fetchBets() {

                axios.get('/api/getBets')
                    .then(response => {
                        this.rake = response.data;
                    })
                    .catch(error => console.log(error))
            },

            filterDate() {
                axios.post('/api/filterBets', this.form)
                .then(response => {
                    this.rake = response.data
                    console.log(this.rake)
                }).catch(error => console.log(error))
            },
            currentMonth() {
                axios.post('/api/currentMonth')
                .then(response => {
                    this.rake = response.data
                    console.log(this.rake)
                }).catch(error => console.log(error))
            }

        }
    }
</script>

<style scoped>

</style>
