<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="50"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agent Hierarchy
                                </h3>
                                <download-csv
                                    class="btn btn-primary btn-sm mr-5"
                                    :data   = "table">
                                    Export data as csv
                                </download-csv>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="Category Name">
                                User ID
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Agent id
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Master Agent
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Gold Sub Agent
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Silver Sub Agent
                            </vs-th>
                            <vs-th sort-key="Category Name">
                               Player
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr]['User ID'] }}
                                </vs-td>

                                <vs-td :data="data[indextr].agent_id">
                                    {{ data[indextr]['Agent ID'] }}
                                </vs-td>

                                <vs-td :data="data[indextr].wallet_balance">
                                    {{data[indextr]["Master Agent"]}}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{data[indextr]["Gold Agent"]}}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{data[indextr]["Silver Agent"]}}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{data[indextr]["Player"]}}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    // import moment from 'moment';
    import { GChart } from 'vue-google-charts'

    export default {
        props:['id'],
        name: "user-report",
        components: {
            GChart
        },
        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                from:'',
                to:'',
                selected: [],
                form: {
                    'role_id' : '1'
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                rake: 0,
               
            }
        },

        mounted() {
            this.fetchBets();
            setTimeout(() => {
                this.fetchPartner();
            }, 1500);
        },
        watch:{
            from: function(val){
                if(this.to != '' && val != ''){
                    this.filtered();
                }
            },
            to: function(val){
                if(this.from != '' && val != ''){
                    this.filtered();
                }
            }
        },
        methods: {
            // formatdate(value){
            //     if(value == ''){
            //         return '';
            //     }
            //     return moment(value).format("MMM DD YYYY h:mm a")
            // },
            filtered(){
                axios.post('/api/getUserReportsFiltered',{from:this.from,to:this.to})
                    .then(response => {
                        console.log(response.data)
                        if(response.data){
                            this.table =[];
                            this.table = [...response.data];
                        }                        
                    })
                    .catch(error => console.log(error))
            },
           
            fetchPartner() {

                axios.get('/api/getUserReports/'+this.id)
                    .then(response => {
                        console.log(response.data)
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            fetchBets() {

                axios.get('/api/getBets')
                    .then(response => {
                        this.rake = response.data;
                    })
                    .catch(error => console.log(error))
            },

        }
    }
</script>

<style scoped>

</style>
