<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        description
                        :description-items="descriptionItems"
                        description-title="Registries"
                        description-connector="of"
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Players/Agents List
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>

                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="type">
                                Type
                            </vs-th>
                            <vs-th sort-key="agent_rate">
                                Agent Rate
                            </vs-th>
                            <vs-th sort-key="agent_commission_balance">
                                Commission
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                              Wallet Balance
                            </vs-th>
                            <vs-th sort-key="name">
                                Online Status
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>

                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_rate">
                                    {{ data[indextr].agent_rate * 100 }} %
                                </vs-td>
                                <vs-td :data="data[indextr].agent_commission_balance">
                                    {{ data[indextr].agent_commission_balance }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance }}
                                </vs-td>
                                <vs-td :data="data[indextr].session">
                                    <div v-if="data[indextr].session">
                                        Online
                                    </div>
                                    <div v-else>
                                        Offline
                                    </div>
                                </vs-td>

                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <input type="hidden" v-model="form['type']" value="Player" />
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="text" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "agent-players",

        data() {
            return {
                id: '',
                edit: false,
                remove: false,
                create: false,
                promote: false,
                table: [],
                selected: [],
                form: {
                    'agent_id' : '',
                    'role_id' : 1
                },
                descriptionItems: [10,15,100],
            }
        },

        mounted() {
            this.id = window.location.href.split('/').splice(-1)[0];
            this.fetch();

            console.log(this.id);
        },

        methods: {
            fetch() {

                axios.get('/api/getAgentPlayers/' + this.id)
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {
                this.form['agent_id'] = this.id;
                axios.post('/api/createUsers', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form = {};

                    }).catch(error => console.log(error));

            },

            update() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            promoteUser() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.promoteForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
