<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        description
                        :description-items="descriptionItems"
                        description-title="Registries"
                        description-connector="of"
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agent List
                                </h3>
                                <download-csv
                                    class="btn btn-primary btn-sm mr-5"
                                    :data   = "table">
                                    Export data as csv
                                </download-csv>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="id">
                                Agent ID
                            </vs-th>
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="agent_commission_balance">
                                Agent Commission Balance
                            </vs-th>
                            <vs-th sort-key="agent_rate">
                                Agent Commission
                            </vs-th>
                            <vs-th sort-key="name">
                                Lead Agent
                            </vs-th>
                            <vs-th sort-key="type">
                                Type
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>
                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_commission_balance">
                                    {{ data[indextr].agent_commission_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_rate">
                                    {{ data[indextr].agent_rate }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent.name"  v-if="data[indextr].agent">
                                    {{ data[indextr].agent.name }}
                                </vs-td>
                                 <vs-td v-else>
                                   NO AGENT
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{data[indextr].type}}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">
                                        <vs-dropdown vs-custom-content vs-trigger-click>
                                            <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                            <!-- <a href="#">Hola mundo</a> -->

                                            <vs-dropdown-menu>
                                                <vs-dropdown-item @click="edit = true">
                                                Edit Record
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider v-if="selected.type != 'Master Agent'" @click="transfer = true">
                                                Transfer Agent
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="passwordReset = true">
                                                Change Password
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="playerBets(data[indextr].id)">
                                                Check player bets
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="walletHistory(data[indextr].id)">
                                                Wallet History
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider :href="'/user/view-agent-players/' + data[indextr].id">
                                                View Agent Players
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider v-if="selected.type == 'Master Agent'" :href="'/reports/user_report/' + data[indextr].id">
                                                View Agent Hierarchy
                                                </vs-dropdown-item>
                                                <vs-dropdown-item v-if="data[indextr].type != 'Silver Agent'" divider :href="'/user/view-agent-downline/' + data[indextr].id">
                                                View Agent Downline
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="demote = true">
                                                Demote To Player
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="remove = true">
                                                Deactivate Account
                                                </vs-dropdown-item>
                                            </vs-dropdown-menu>
                                        </vs-dropdown>
                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Transfer Agent" :active.sync="transfer">
                    <div>
                        <form @submit.prevent="transferUser">
                            <h5>Transfer this agent to another agent?</h5>
                            <div class="form-group">
                              <label>Agent Type</label>
                              <vs-select
                                  placeholder="Select Type"
                                  class="selectExample"
                                  label-placeholder="Autocomplete"
                                  autocomplete
                                  style="width: 100%" required
                                  @change="fetchtransferUser"
                                  v-model="transferForm['type']">
                                  <vs-select-item :key="type" :value="type" :text="type" v-for="type in check(selected.type)" />
                              </vs-select>
                            </div>
                          <div class="form-group" v-if="agents[0]">
                            <label>Agents</label>
                            <vs-select
                                placeholder="Select Agent List"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required                                
                                v-model="transferForm['agent_id']"
                                >
                              <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                          </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" @click="remove=false" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" value="test" v-model="form['email']" required />
                            </div>
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" v-model="form['username']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" v-model="form['contact_number']" required />
                            </div>

                            <div class="form-group">
                            <label>Select Type</label>
                            <vs-select
                                placeholder="Select Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                @change="fetchUser"
                                style="width: 100%" required
                                v-model="form['type']">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in userType" />
                            </vs-select>
                          </div>
                            <div class="form-group" v-if="form['type'] == 'Master Agent'">
                                <label>Rate in decimal</label>
                                <input type="text" class="form-control" placeholder="Decimal" v-model="form['agent_rate']" required />
                            </div>
                            <div v-else class="form-group">
                                <label>Rate in Percentage</label>
                                <vs-select
                                    placeholder="Select Agent Rate"
                                    class="selectExample"
                                    required
                                    style="width: 100%"
                                    v-model="selected_rate">
                                <vs-select-item :key="item.value" :value="item.value" 
                                :text="item.value * 100 + '%('+form['type']+') - '+item.diff * 100+'%('+selected_parent_agent+')'" 
                                v-for="item in percent" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['type'] !== 'Master Agent'">
                                <label>Lead Agent</label>
                                <vs-select
                                    placeholder="Select Agent"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%" required
                                    v-model="form['agent_id']">
                                    <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                                </vs-select>
                            </div>
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input id="fb_url"
                                       type="text"
                                       class="form-control"
                                       v-model="form['fb_url']"
                                       autofocus>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="selected.name" required />
                            </div>
                            <!-- <div class="form-group">
                                <label>Agent Rate in Decimal</label>
                                <input type="text" class="form-control" v-model="selected.agent_rate" name="agent_rate" />
                            </div> -->
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="promote">
                    <div>
                        <form @submit.prevent="promoteUser">
                            <input type="text" v-model="promoteForm['type']" value="Silver Agent" />
                            <h5>Are you sure you want to promote this user to agent?</h5>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="passwordReset">
                    <div>
                        <form @submit.prevent="updatePassword">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this user?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup classContent="popup-example" title="Demote Record" :active.sync="demote">
                    <div>
                        <div>
                            <h5>Are you sure you want to Demote this user to player?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="DemoteToPlayer(selected.id)">Yes</button>
                            <button class="btn btn-secondary" @click="demote = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "players",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                demote:false,
                transfer:false,
                selected_rate:0,
                table: [],
                selected: [],
                percent:[{
                    'value':0.25,
                    'diff':0.75,
                },
                {
                    'value':0.50,
                    'diff':0.50,
                },{
                    'value':0.75,
                    'diff':0.25,
                }
                ],
                transferForm:{
                    'agent_id':'',
                },
                agents:[],
                form: {
                    'type': '',
                    'role_id' : 1
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                userType: [
                  'Master Agent',
                  'Gold Agent',
                  'Silver Agent'
                ],
                passwordReset: false,
                agents: [],
                type:'',
                selected_parent_agent:'',
            }
        },

        mounted() {
            this.fetch()
            this.type = userType;
        },
        watch:{
            transfer:function(val){
                if(val == false){
                    this.agents = [];
                    this.transferForm = {
                        'type':'',
                        'agent_id':'',
                    }
                }
            }
        },
        methods: {
            check(val){
                
                if(val == 'Gold Agent'){
                    return ['Gold Agent'];
                }else if(val == 'Silver Agent'){
                    return ['Silver Agent'];
                }

            },
            fetchtransferUser(){
                console.log(this.transferForm)
                this.agents = [];
                if(this.transferForm['type'] == ''){
                    return;
                }
                this.selected_parent_agent = '';
                console.log(this.transferForm['type'])
                let type = '';
                if(this.transferForm['type'] == 'Gold Agent'){
                    type = 'Master Agent';
                    this.selected_parent_agent = 'Master Agent';
                }else if(this.transferForm['type'] == 'Silver Agent'){
                    type = 'Gold Agent';
                    this.selected_parent_agent = 'Gold Agent';
                }
                axios.post('/api/getSelectedAgent',{type:type})
                  .then(response => {
                    this.agents = [...response.data];
                    console.log(agents);
                  })
                  .catch(error => console.log(error))
            },
            DemoteToPlayer(id){
                this.demote = false;
                axios.patch('/api/DemoteToPlayer',{'user_id':id})
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                }).catch(error => console.log(error))
            },
            playerBets(id) {
                window.location.href='playerBets/' + id;
            },
            walletHistory(id) {
                window.location.href='walletHistory/' + id;
            },
            transferUser(){
                this.transfer = false;
                if(this.transferForm['agent_id'] == ''){
                    return
                }
                axios.patch('/api/transferUser/'+this.selected.id, this.transferForm)
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.fetch()
                })
                .catch(error => console.log(error))
            },

            changeAvailability(data){
                axios.get('/api/agentBypassLimit/'+data)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            fetch() {

                axios.get('/api/getAgents')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            fetchUser() {
                this.agents = []
                this.form['agent_id'] = ''
                let type = '';
                this.selected_parent_agent = '';
                if(this.form['type'] == 'Gold Agent'){
                    type = 'Master Agent';
                    this.selected_parent_agent = 'Master Agent';
                }else if(this.form['type'] == 'Silver Agent'){
                    type = 'Gold Agent';
                    this.selected_parent_agent = 'Gold Agent';
                }else{
                    return;
                }
                axios.post('/api/getPlayerByType',{type:type})
                    .then(response => {
                        this.agents = [...response.data];
                        console.log(this.agents);
                    })
                    .catch(error => console.log(error))
            },


            store() {
                if(this.form['agent_rate'] >= 0.05){
                    this.$vs.notify({
                        'text' : 'Agent Rate should not be greater than 5%',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return
                }
                if(this.form['agent_id']){
                    var get = this.agents.find((x) => {
                        return x.id == this.form['agent_id']
                    });
                    this.form['agent_rate'] = get.agent_rate * this.selected_rate;
                    console.log(get.agent_rate)
                }
                this.create = false;
                axios.post('/api/createUsers', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();


                        this.form = {
                            'type':'Silver Agent',
                            'role_id' : 1
                        };

                    }).catch(error => console.log(error));

            },

            update() {
                if(this.selected.agent_rate > 0.05){
                    this.$vs.notify({
                        'text' : 'Agent Rate shouldn`t be greater than 5%',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return;
                }
                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            updatePassword() {

                this.selected['password'] = this.form['password'];

                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()

                        this.passwordReset = false;
                    })
                    .catch(error => console.log(error))
            },

            promoteUser() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.promoteForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
