<template>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
          <div class="card-title">Agent Commission Blance: <strong>P {{ this.commission }}</strong></div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <div class="form-group">
              <label>Enter Amount To Transfer</label>
              <input type="text" class="form-control" v-model="form['amount']" required>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-warning" @click="popup = true">Transfer to wallet</button>
            </div>
          </div>
          <vs-popup title="Transfer commission amount" :active.sync="popup">
            <div>
                <div>
                    <h5>Are you sure you want to transfer your commission to your wallet?</h5>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary" @click="store">Yes</button>
                    <button class="btn btn-secondary" @click="popup = false">Cancel</button>
                </div>
            </div>
          </vs-popup>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "wallet-transfer",

  data() {
    return {
      popup:false,
      commission:0,
      form: {
          'amount':0
      },
      players: []
    }
  },

  mounted() {
    this.fetch()
  },

  methods: {
    fetch() {
      axios.get('/api/getCommission')
          .then(response => {
            this.commission = response.data;
          })
          .catch(error => console.log(error))
    },

    store() {
        this.popup = false;
        if(this.form['amount'] <= 0){
            this.$vs.notify({
                'text' : 'Please enter amount to transfer',
                'color' : 'danger',
                'position' : 'top-right'
            });
            return;
        }else if(this.form['amount'] > this.commission){
            this.$vs.notify({
                'text' : 'Invalid request insufficient balance',
                'color' : 'danger',
                'position' : 'top-right'
            });
            this.form['amount'] = 0;
            return;
        }
      axios.post('/api/transferCommission', this.form)
      .then(response => {
        console.log(response);
        this.$vs.notify({
          'text' : response.data.message,
          'color' : response.data.type,
          'position' : 'top-right'
        });
        this.form['amount'] = 0;
        this.fetch();

        document.dispatchEvent(new CustomEvent('refreshWallet'));
        this.form['user_id'] = '';
        this.form = {};

      }).catch(error => console.log(error));
    }
  }
}
</script>

<style scoped>

</style>
