<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Deactivated User List
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>

                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="type">
                                type
                            </vs-th>
                            <vs-th sort-key="deleted_at">
                                Deleted Date
                            </vs-th>
                            <vs-th sort-key="id">
                                Actions
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>

                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td>
                                    {{ data[indextr].type }}
                                </vs-td>  
                                <vs-td>
                                    {{ data[indextr].deleted_at | formatDate }}
                                </vs-td>                             

                                <vs-td>
                                    <vs-button class="btn-drop" @click="remove = true" size="small" icon="restore_from_trash"></vs-button>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup classContent="popup-example" title="Restore Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to Restore this User?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="restore">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "users",

        data() {
            return {
                remove: false,
                table: [],
                selected: [],
                passwordReset: false,
                form: {},
                roles: []
            }
        },

        mounted() {
            this.fetch();
        },

        methods: {
            restore(){
                this.remove = false;
                this.form = this.selected;
                axios.post('/api/restoreAccount',this.form)
                .then(response => {
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                    this.fetch();
                })
                .catch(error => console.log(error))
            },
            fetch() {

                axios.get('/api/getDeactivatePlayers')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
