<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            description
                            :description-items="descriptionItems"
                            description-title="Registries"
                            description-connector="of"
                            :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    My New Player List
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="email">
                                Email
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="agent_rate">
                                Agent Rate
                            </vs-th>
                            <vs-th sort-key="type">
                                User Type
                            </vs-th>
                            <vs-th sort-key="session">
                                Online Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date Registered
                            </vs-th>
                            <vs-th>
                                Actions
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].email">
                                    {{ data[indextr].email }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_rate">
                                    {{ data[indextr].agent_rate * 100 }}%
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].session">
                                    <div v-if="data[indextr].session">
                                        Online
                                    </div>
                                    <div v-else>
                                        Offline
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">
                                        <vs-dropdown vs-custom-content vs-trigger-click>
                                            <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                            <!-- <a href="#">Hola mundo</a> -->

                                            <vs-dropdown-menu>
                                                <vs-dropdown-item divider @click="approve = true">
                                                Approve User
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="remove = true">
                                                Delete User
                                                </vs-dropdown-item>
                                            </vs-dropdown-menu>
                                        </vs-dropdown>
                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                    <template>
                        <vs-popup classContent="popup-example" title="Activate incoming User" :active.sync="approve">
                            <div>
                                <div>
                                    <h5>Are you sure you want to approve this new User?</h5>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-primary" @click="update">Yes</button>
                                    <button class="btn btn-danger" @click="approve = false">Cancel</button>
                                </div>
                            </div>
                        </vs-popup>
                        <vs-popup classContent="popup-example" title="Delete incoming User" :active.sync="remove">
                            <div>
                                <div>
                                    <h5>Are you sure you want to delete this request??</h5>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-primary" @click="destroy">Yes</button>
                                    <button class="btn btn-danger" @click="remove = false">Cancel</button>
                                </div>
                            </div>
                        </vs-popup>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "my-inactiveplayers",

        data() {
            return {
                id: '',
                edit: false,
                remove: false,
                approve:false,
                create: false,
                promote: false,
                table: [],
                selected: [],
                form: {
                    'agent_id' : '',
                    'role_id' : 1
                },
                userTypeIncorporator: [
                  'Player',
                ],
                userTypeMasterAgent: [
                  'Player',
                ],
                userTypeAgent: [
                  'Player',
                ],
                descriptionItems: [10,15,100],
                type: ''
            }
        },

        mounted() {
            this.id = userID;
            this.fetch();
            this.type = userType;

            console.log(this.id);
        },

        methods: {
            fetch() {

                axios.get('/api/getMyInactivePlayers')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
            update() {
                this.approve = false;
                this.selected.status = 'Active';
                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch();
                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },
            destroy() {
                this.remove = false;
                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
