<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            description
                            :description-items="descriptionItems"
                            description-title="Registries"
                            description-connector="of"
                            :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Player List
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="agent_commission_balance">
                                Collected Commission Balance
                            </vs-th>
                            <vs-th sort-key="type">
                                Player Type
                            </vs-th>
                            <vs-th sort-key="session">
                                Online Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date Created
                            </vs-th>
                            <vs-th sort-key="">
                                Action
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>
                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_commission_balance">
                                    {{ data[indextr].agent_commission_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].session">
                                    <div v-if="data[indextr].session">
                                        Online
                                    </div>
                                    <div v-else>
                                        Offline
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <div @click.stop class="d-flex">
                                        <vs-dropdown vs-custom-content vs-trigger-click>
                                            <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                            <!-- <a href="#">Hola mundo</a> -->

                                            <vs-dropdown-menu>
                                                <vs-dropdown-item divider @click="promote_player(row)" v-if="type == 'Master Agent' || type == 'Gold Agent'">
                                                Promote Player
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="deactivate_player(row)">
                                                Deactivate Player
                                                </vs-dropdown-item>
                                            </vs-dropdown-menu>
                                        </vs-dropdown>
                                    </div>
                                </vs-td>
                                <template slot="expand">
                                    <div class="con-expand-users">
                                        <vs-table :data="table">
                                            <template slot="thead">
                                                <vs-th sort-key="Agent Name">
                                                    Game Id
                                                </vs-th>
                                                <vs-th sort-key="Agent Name">
                                                    Bet Place Meron
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Bet Place Draw
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Bet Place Wala
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Total Bet Place
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Total Odds Rake
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Bet Results
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Bet Payout
                                                </vs-th>
                                                 <vs-th sort-key="Category Name">
                                                    Commission Payout
                                                </vs-th>
                                                <vs-th sort-key="Category Name">
                                                    Date
                                                </vs-th>
                                            </template>
                                            <template slot-scope="{data}" ref="table-body" class="table-hover">
                                            <vs-tr :data="tr" :key="td" v-for="(tr, td) in table[table.indexOf(row)].bets" >
                                                <vs-td :data="table[table.indexOf(row)].bets[td].name">
                                                    {{ table[table.indexOf(row)].bets[td].game_id }}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_left">
                                                    {{ table[table.indexOf(row)].bets[td].bet_left }}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_middle">
                                                    {{ table[table.indexOf(row)].bets[td].bet_middle }}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_right">
                                                    {{ table[table.indexOf(row)].bets[td].bet_right }}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_amount">
                                                    {{ table[table.indexOf(row)].bets[td].bet_amount }}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_odds_less_rake">
                                                    {{table[table.indexOf(row)].bets[td].bet_odds_less_rake}}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_odds_less_rake">
                                                    {{table[table.indexOf(row)].bets[td].bet_result}}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_odds_less_rake">
                                                    {{table[table.indexOf(row)].bets[td].bet_payout}}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_odds_less_rake">
                                                    {{table[table.indexOf(row)].bets[td].agent_commission_payout}}
                                                </vs-td>
                                                <vs-td :data="table[table.indexOf(row)].bets[td].bet_odds_less_rake">
                                                    {{table[table.indexOf(row)].bets[td].created_at | formatDate}}
                                                </vs-td>
                                            </vs-tr>
                                            </template>
                                        </vs-table>
                                    </div>
                                </template>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <input type="hidden" v-model="form['type']" value="Player" />
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="form['email']" required />
                            </div>
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" v-model="form['username']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input id="fb_url"
                                type="text"
                                class="form-control"
                                v-model="form['fb_url']"
                                autofocus>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Promote Record" :active.sync="promote">
                    <div>
                        <form @submit.prevent="promoteUser">
                            <input type="hidden" v-model="promoteForm['type']" value="Silver Agent" />
                            <h5>Are you sure you want to promote this user?</h5>
                            <div class="form-group">
                              <label>Agent Type</label>
                              <vs-select
                                v-if="type == 'Master Agent'"
                                placeholder="Select Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                @change="fetchUser"
                                style="width: 100%" required
                                v-model="promoteForm['type']">
                                <vs-select-item :key="type" :value="type" :text="type" v-for="type in promoteTypeIncorporator" />
                              </vs-select>
                              <vs-select
                                v-if="type == 'Gold Agent'"
                                placeholder="Select Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                @change="fetchUser"
                                style="width: 100%" required
                                v-model="promoteForm['type']">
                                <vs-select-item :key="type" :value="type" :text="type" v-for="type in promoteTypeMasterAgent" />
                              </vs-select>
                            </div>
                          <div class="form-group" v-if="type == 'Master Agent' && promoteForm['type'] !== 'Gold Agent'">
                            <label>Agents</label>
                            <vs-select
                                placeholder="Select Agent List"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                v-model="promoteForm['agent_id']">
                              <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                          </div>
                            <div class="form-group" v-if="promoteForm['type']">
                                <label>Rate in Percentage</label>
                                <vs-select
                                    placeholder="Select Agent Rate"
                                    class="selectExample"
                                    required
                                    style="width: 100%"
                                    v-model="selected_rate">
                                <vs-select-item :key="item.value" :value="item.value" 
                                :text="item.value * 100 + '%('+promoteForm['type']+') - '+item.diff * 100+'%('+type+')'" 
                                v-for="item in percent" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" @click="remove=false" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup classContent="popup-example" title="Deactivate Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to deactivate this user?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        name: "my-players",
        data() {
            return {
                id: '',
                edit: false,
                remove: false,
                create: false,
                promote: false,
                selected_rate:0,
                percent:[{
                    'value':0.25,
                    'diff':0.75,
                },
                {
                    'value':0.50,
                    'diff':0.50,
                },{
                    'value':0.75,
                    'diff':0.25,
                }
                ],
                table: [],
                selected: [],
                form: {
                    'agent_id' : '',
                    'role_id' : 1
                },
                promoteForm: {
                  'agent_id' : ''
                },
                userTypeIncorporator: [
                  'Player',
                ],
                userTypeMasterAgent: [
                  'Player',
                ],
                userTypeAgent: [
                  'Player',
                ],
                promoteTypeIncorporator: [
                    'Gold Agent',
                    'Silver Agent'
                ],
                promoteTypeMasterAgent:[
                    'Silver Agent'
                ],
                agents:[],
                descriptionItems: [10,15,100],
                type: ''
            }
        },
        mounted() {
            this.id = userID;
            this.fetch();
            this.type = userType;
        },
        methods: {
            promote_player(e){
                this.selected = e;
                this.promote = true;
            },
            promoteUser() {
                var selected_agent = [];
                if(this.promoteForm['agent_id'] && this.promoteForm['agent_id'] != this.id){
                    console.log('first')
                    var val = this.promoteForm['agent_id'];
                    selected_agent = this.agents.filter(function(el){
                        return el.id == val
                    })
                    this.promoteForm['agent_rate'] = selected_agent[0].agent_rate * this.selected_rate;
                }else{
                    console.log('2nd')
                    this.promoteForm['agent_id'] = this.id
                    this.promoteForm['agent_rate'] = userRate * this.selected_rate;
                }
                console.log(this.promoteForm)
                // return
                axios.patch('/api/promoteUser/'+this.selected.id, this.promoteForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch();

                        this.edit = false;
                        this.promote = false;
                        this.promoteForm = {
                          'agent_id' : ''
                        }
                    })
                    .catch(error => console.log(error))
            },
            fetchUser() {
              this.agents = [];
              this.promoteForm['agent_id'] = ''
              let type = '';
              if(this.promoteForm['type'] == 'Silver Agent'){
                  type = 'Gold Agent';
              }
              else{
                  return;
              }
              var get = {
                  'type':type,
              }
              console.log(type)
              axios.post('/api/myAgentsByType',get)
                  .then(response => {
                    this.agents = [...response.data];
                  })
                  .catch(error => console.log(error))
            },
            fetch() {
                axios.get('/api/getMyPlayers')
                    .then(response => {
                        for(let i = 0 ; i < response.data.length; i++){
                            for(let x = 0 ; x < response.data[i].bets.length; x++){
                                response.data[i].agent_commission_balance += response.data[i].bets[x].agent_commission_payout
                            }
                        }
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {
                console.log(this.form)
                if(userType != 'Official'){
                    if(this.form['type'] != 'Player'){
                        if(this.form['agent_rate'] > userRate){
                            this.$vs.notify({
                                'text' : 'Invalid rate it should be less than your current RATE',
                                'color' : 'danger',
                                'position' : 'top-right'
                            });
                            return;
                        }
                    }
                }
                this.$vs.loading();
                this.form['agent_id'] = this.id;
                this.form['type'] = 'Player'
                this.form['status'] = 'Active';
                this.form['role_id'] = 1;
                axios.post('/api/createUsers', this.form)
                    .then(response => {
                        this.$vs.loading.close();

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form = {};

                    }).catch(error => console.log(error));

            },

            update() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },
            deactivate_player(e){
                this.selected = e;
                this.remove = true;
            },
            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
