<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            description
                            :description-items="descriptionItems"
                            description-title="Registries"
                            description-connector="of"
                            :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agents List
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="id">
                                ID
                            </vs-th>
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>

                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="agent_commission_balance">
                                Agent Commission Balance
                            </vs-th>
                            <vs-th sort-key="agent_rate">
                                Agent Rate
                            </vs-th>
                            <vs-th sort-key="type">
                                Agent Type
                            </vs-th>
                            <vs-th sort-key="type">
                                Players Count
                            </vs-th>
                            <vs-th sort-key="session">
                                Online Status
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>

                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_commission_balance">
                                    {{ data[indextr].agent_commission_balance }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent_rate">
                                    {{ data[indextr].agent_rate * 100 }} %
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{data[indextr].type}}
                                </vs-td>
                                <vs-td :data="data[indextr].player_count">
                                    {{data[indextr].player_count}}
                                </vs-td>
                                <vs-td :data="data[indextr].session">
                                    <div v-if="data[indextr].session">
                                        Online
                                    </div>
                                    <div v-else>
                                        Offline
                                    </div>
                                </vs-td>
                                <vs-td>
                                    <vs-dropdown vs-custom-content vs-trigger-click>
                                        <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                        <!-- <a href="#">Hola mundo</a> -->

                                        <vs-dropdown-menu style="white-space: nowrap;">
                                            <vs-dropdown-item v-if="data[indextr].player_count" :href="'/user/view-agent-players/'+data[indextr].id" @click="edit = true">
                                            View Agent Player List
                                            </vs-dropdown-item>
                                            <vs-dropdown-item v-if="data[indextr].type != 'Silver Agent'" :href="'/user/view-agent-downline/'+data[indextr].id" @click="edit = true">
                                            View Agent Downline List
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <input type="hidden" v-model="form['type']" value="Player" />
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="form['email']" required />
                            </div>
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" v-model="form['username']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input id="fb_url"
                                type="text"
                                class="form-control"
                                v-model="form['fb_url']"
                                autofocus>
                            </div>
                          <div class="form-group">
                            <label>Player Type</label>
                            <vs-select v-if="this.type === 'Master Agent'"
                                placeholder="Select Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                v-model="form['type']">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in userTypeIncorporator" />
                            </vs-select>

                            <vs-select v-if="this.type === 'Gold Agent'"
                                       placeholder="Select Type"
                                       class="selectExample"
                                       label-placeholder="Autocomplete"
                                       autocomplete
                                       style="width: 100%" required
                                       v-model="form['type']">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in userTypeMasterAgent" />
                            </vs-select>

                            <vs-select v-if="this.type === 'Silver Agent'"
                                       placeholder="Select Type"
                                       class="selectExample"
                                       label-placeholder="Autocomplete"
                                       autocomplete
                                       style="width: 100%" required
                                       v-model="form['type']">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in userTypeAgent" />
                            </vs-select>
                          </div>
                          <div class="form-group" v-if="form['type'] !== 'Player' && form['type']">
                                <label>Rate in Percentage</label>
                                <vs-select
                                    placeholder="Select Agent Rate"
                                    class="selectExample"
                                    required
                                    style="width: 100%"
                                    v-model="selected_rate">
                                <vs-select-item :key="item.value" :value="item.value" 
                                :text="item.value * 100 + '%('+form['type']+') - '+item.diff * 100+'%('+type+')'" 
                                v-for="item in percent" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "myd-agents",

        data() {
            return {
                id: '',
                edit: false,
                remove: false,
                create: false,
                promote: false,
                table: [],
                selected_rate:0,
                percent:[{
                    'value':0.25,
                    'diff':0.75,
                },
                {
                    'value':0.50,
                    'diff':0.50,
                },{
                    'value':0.75,
                    'diff':0.25,
                }
                ],
                selected: [],
                form: {
                    'agent_id' : '',
                    'role_id' : 1
                },
                userTypeIncorporator: [
                  'Player',
                  'Gold Agent',
                ],
                userTypeMasterAgent: [
                  'Player',
                  'Silver Agent',
                ],
                userTypeAgent: [
                  'Player',
                ],
                descriptionItems: [10,15,100],
                type: ''
            }
        },

        mounted() {
            this.id = userID;
            this.fetch();
            this.type = userType;

            console.log(this.id);
        },

        methods: {
            fetch() {

                axios.get('/api/getDownlineAgents')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {
                if(userType != 'Official'){
                    if(this.form['type'] != 'Player'){
                        var myRate = userRate;
                        this.form['agent_rate'] = myRate * this.selected_rate;
                    }
                }
                // this.$vs.loading();
                this.form['agent_id'] = this.id;
                this.form['status'] = 'Active';
                this.form['role_id'] = 1;
                console.log(this.form)
                axios.post('/api/createUsers', this.form)
                    .then(response => {
                        this.$vs.loading.close();

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form = {};

                    }).catch(error => console.log(error));

            },

            update() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            promoteUser() {

                axios.patch('/api/updateUsers/'+this.selected.id, this.promoteForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
