<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="50"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Online Player
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="Category Name">
                                Player Name
                            </vs-th>
                            <vs-th sort-key="Category Name">
                                Contact Number
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data"  v-if="data[indextr].user">
                                <vs-td :data="data[indextr].user.name">
                                    {{ data[indextr].user.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].user.contact_number">
                                    {{ data[indextr].user.contact_number }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "player-logs",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                selected: [],
                form: {
                    'role_id' : '1'
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                }
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {


            fetch() {

                axios.get('/api/getOnlinePlayers')
                    .then(response => {
                        this.table = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
