<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Player Bets
                                </h3>
                            </div>

                        </template>

                        <template slot="thead">
                            <vs-th sort-key="game_number">
                                Game Number
                            </vs-th>
                            <vs-th sort-key="game_title">
                                Game Title
                            </vs-th>
                            <vs-th sort-key="bet_left">
                                Bet Meron
                            </vs-th>
                            <vs-th sort-key="bet_right">
                                Bet Wala
                            </vs-th>
                            <vs-th sort-key="bet_result">
                                Bet Result
                            </vs-th>
                            <vs-th sort-key="bet_amount">
                                Total Bet
                            </vs-th>
                            <vs-th sort-key="before_balance">
                                Before Balance
                            </vs-th>
                            <vs-th sort-key="bet_amount">
                                Recevied Payout
                            </vs-th>
                            <vs-th sort-key="after_balance">
                                After Balance
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].games.game_number">
                                    {{ data[indextr].games.game_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].games.game_title">
                                    {{ data[indextr].games.game_title }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_left">
                                    <p>{{ data[indextr].bet_left  | decimal }}</p>

                                </vs-td>
                                <vs-td :data="data[indextr].bet_right">
                                    <p>{{ data[indextr].bet_right  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].bet_result">
                                    <p>{{ data[indextr].bet_result }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].bet_amount">
                                    <p>{{ data[indextr].bet_amount  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].before_balance">
                                    <p>{{ data[indextr].before_balance  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].bet_payout">
                                    <p>{{ data[indextr].bet_payout  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].after_balance">
                                    <p>{{ data[indextr].after_balance  | decimal }}</p>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    <p>{{ data[indextr].created_at | formatDate }}</p>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "player-game-bets",

        data() {
            return {
                id: '',
                view: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                selectedBets: [],
                form: {},
            }
        },

        mounted() {
            this.id = window.location.href.split('/').splice(-1)[0];

            this.fetch()

        },

        methods: {
            fetch() {

                axios.get('/api/getBetsByPlayer/' + this.id)
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

        }
    }
</script>

<style scoped>

</style>
