<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        description
                        :description-items="descriptionItems"
                        description-title="Registries"
                        description-connector="of"
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Player List
                                </h3>
                                <download-csv
                                    class="btn btn-primary btn-sm mr-5"
                                    :data   = "table">
                                    Export data as csv
                                </download-csv>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="type">
                                User Type
                            </vs-th>
                            <vs-th sort-key="name">
                                Lead Agent
                            </vs-th>
                            <vs-th sort-key="online">
                                Online Status
                            </vs-th>
                            <vs-th sort-key="action">
                                Action
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>
                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance.toFixed(2) }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].agent" v-if="data[indextr].agent">
                                    {{ data[indextr].agent.name }}
                                </vs-td>
                                <vs-td v-else>
                                    'No Agent'
                                </vs-td>
                                <div v-if="data[indextr].session">
                                    <vs-td :data="data[indextr].online = 1">
                                        Online
                                    </vs-td>
                                </div>
                                <div v-else>
                                    <vs-td :data="data[indextr].online = 0">
                                        Offline
                                    </vs-td>
                                </div>                              
                                <vs-td>
                                    <div class="d-flex">
                                        <vs-dropdown vs-custom-content vs-trigger-click>
                                            <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                            <!-- <a href="#">Hola mundo</a> -->

                                            <vs-dropdown-menu>
                                                <vs-dropdown-item @click="edit = true">
                                                Edit Record
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="transfer = true">
                                                Transfer Player
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="passwordReset = true">
                                                Change Password
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="promote = true">
                                                Promote Users
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="playerBets(data[indextr].id)">
                                                Check player bets
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="walletHistory(data[indextr].id)">
                                                Wallet History
                                                </vs-dropdown-item>
                                                <vs-dropdown-item divider @click="remove = true">
                                                Deactivate Account
                                                </vs-dropdown-item>
                                            </vs-dropdown-menu>
                                        </vs-dropdown>
                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
            <template>
                <vs-popup title="Create New Player" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <input type="hidden" v-model="form['type']" value="Player" />
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="form['email']" required />
                            </div>
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" v-model="form['username']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input id="fb_url"
                                type="text"
                                class="form-control"
                                v-model="form['fb_url']"
                                autofocus>
                            </div>
                          <!-- <div class="form-group">
                            <label>Player Type</label>
                            <vs-select
                                placeholder="Select Type"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                @change="fetchUser()"
                                v-model="form['type']">
                              <vs-select-item :key="type" :value="type" :text="type" v-for="type in userType" />
                            </vs-select>
                          </div> -->
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="selected.name" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="text" class="form-control" v-model="selected.contact_number" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="passwordReset">
                    <div>
                        <form @submit.prevent="updatePassword">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Transfer Player" :active.sync="transfer">
                    <div>
                        <form @submit.prevent="transferUser">
                            <h5>Are you sure you want to transfer this user to another Agent?</h5>
                            <div class="form-group">
                              <label>Agent Type</label>
                              <vs-select
                                  placeholder="Select Type"
                                  class="selectExample"
                                  label-placeholder="Autocomplete"
                                  autocomplete
                                  @change="fetchtransferUser"
                                  style="width: 100%" required
                                  v-model="transferForm['type']">
                                  <vs-select-item :key="type" :value="type" :text="type" v-for="type in userType" />
                              </vs-select>
                            </div>
                          <div class="form-group">
                            <label>Agents</label>
                            <vs-select
                                placeholder="Select Agent List"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                v-model="transferForm['agent_id']"
                                >
                              <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                          </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" @click="remove=false" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Promote Record" :active.sync="promote">
                    <div>
                        <form @submit.prevent="promoteUser">
                            <input type="hidden" v-model="promoteForm['type']" value="Silver Agent" />
                            <h5>Are you sure you want to promote this user?</h5>
                            <div class="form-group">
                              <label>Agent Type</label>
                              <vs-select
                                  placeholder="Select Type"
                                  class="selectExample"
                                  label-placeholder="Autocomplete"
                                  autocomplete
                                  @change="fetchUser"
                                  style="width: 100%" required
                                  v-model="promoteForm['type']">
                                  <vs-select-item :key="type" :value="type" :text="type" v-for="type in userType" />
                              </vs-select>
                            </div>
                          <div class="form-group" v-if="promoteForm['type'] !== 'Master Agent'">
                            <label>Agents</label>
                            <vs-select
                                placeholder="Select Agent List"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%" required
                                v-model="promoteForm['agent_id']">
                              <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                            </vs-select>
                          </div>
                            <div class="form-group">
                                <label>Rate in Decimal</label>
                                <input type="text" class="form-control" v-model="promoteForm['agent_rate']" name="agent_rate" />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" @click="remove=false" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this user?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import agents from "./agents";
    export default {
        name: "players",

        data() {
            return {
                edit: false,
                transfer:false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                selected: [],
                form: {
                    'role_id' : 1,
                    'type':'Player'
                },
                transferForm:{
                    'agent_id': ''
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                  'agent_id' : ''
                },
                userType: [
                    'Master Agent',
                    'Gold Agent',
                    'Silver Agent'
                ],
              agents: [],
              filter: {
                  'type' : '',
              }
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {

            walletHistory(id) {
                window.location.href='walletHistory/' + id;
            },

            fetchUser() {
              this.agents = []
              this.promoteForm['agent_id'] = '';
              if(this.promoteForm['type'] == 'Gold Agent'){
                  var type = 'Master Agent'
              }else if(this.promoteForm['type'] == 'Silver Agent'){
                  var type = 'Gold Agent'
              }
              axios.post('/api/getPlayerByType',{type:type })
                  .then(response => {
                    this.agents = [...response.data];
                    console.log(agents);
                  })
                  .catch(error => console.log(error))
            },
            fetchtransferUser(){
                this.agents = [];
                axios.post('/api/getSelectedAgent',{type:this.transferForm['type']})
                  .then(response => {
                    this.agents = [...response.data];
                    console.log(agents);
                  })
                  .catch(error => console.log(error))
            },
            transferUser(){
                this.transfer = false;
                axios.patch('/api/transferUser/'+this.selected.id, this.transferForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()
                    })
                    .catch(error => console.log(error))
            },

            fetch() {

                axios.get('/api/getPlayers')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            playerBets(id) {
                window.location.href='playerBets/' + id;
            },

            store() {
                this.create = false;
                axios.post('/api/createUsers', this.form)
                    .then(response => {

                        if (response.data.message === 'The given data was invalid.'){

                            this.$vs.notify({
                                'text' : 'Mobile Number Already Exists',
                                'color' : 'danger',
                                'position' : 'top-right'
                            });
                        } else {
                            this.$vs.notify({
                                'text' : response.data.message,
                                'color' : response.data.type,
                                'position' : 'top-right'
                            });
                        }


                        this.fetch();


                        this.form = {
                            'role_id' : '1',
                            'type':'Player'
                        };

                    }).catch(error => console.log(error));

            },

            update() {


                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            updatePassword() {

                this.selected['password'] = this.form['password'];

                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()

                        this.passwordReset = false;
                    })
                    .catch(error => console.log(error))
            },

            promoteUser() {
                axios.patch('/api/promoteUser/'+this.selected.id, this.promoteForm)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch();

                        this.edit = false;
                        this.promote = false;
                        this.promoteForm = {
                          'agent_id' : ''
                        }
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                .then(response => {
                    this.remove = false;
                    this.fetch();
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                })
                .catch(error => console.log(error))
            },

          userData(){

          }
        }
    }
</script>

<style scoped>

</style>
