<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="datatable">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    User Logs
                                </h3>
                            </div>
                            <div style="margin:5px;">
                                <vs-select
                                    placeholder="Filter Player"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    @change="filterbyplayer"
                                    v-model="filter"
                                    style="width: 100%" required>
                                    <vs-select-item :key="user.id" :value="user.user_id" :text="user.name" v-for="user in userlist" />
                                </vs-select>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Player Log By
                            </vs-th>
                            <vs-th sort-key="type">
                                Action Type
                            </vs-th>
                            <vs-th sort-key="content">
                               Log info
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].content">
                                    {{ data[indextr].content }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "player-logs",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                promote: false,
                passwordReset: false,
                table: [],
                selected: [],
                userlist:[],
                form: {
                    'role_id' : '1'
                },
                descriptionItems: [10,15,100],
                promoteForm: {
                    'type' : 'Silver Agent'
                },
                filter:'',
                datatable:[]
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {
            fetch() {
                axios.get('/api/getLogs')
                .then(response => {
                    this.table = [...response.data.logs];
                    this.userlist = [...response.data.unique];
                    this.datatable_render();
                })
                .catch(error => console.log(error))
            },
            datatable_render(){
                this.datatable = this.table
            },
            filterbyplayer(){
                console.log(this.filter)
                let object = this.table.filter((value) => {
                    return value.user_id == this.filter;
                });
                this.datatable = [...object]
            }
        }
    }
</script>

<style scoped>

</style>
