<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header" class="bg-primary">
                                <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    User List
                                </h3>
                                <download-csv
                                    class="btn btn-primary btn-sm mr-5"
                                    :data   = "table">
                                    Export data as csv
                                </download-csv>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>

                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="user_role">
                                role
                            </vs-th>
                            <vs-th sort-key="id">
                                Actions
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].username">
                                    {{ data[indextr].username }}
                                </vs-td>

                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <div v-for="role in data[indextr].roles">
                                    <vs-td :data="data[indextr].user_role = role.name">
                                        {{ role.name }}
                                    </vs-td>
                                </div>                                

                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                                   title="Edit Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="edit"/>

                                        <vs-button class="mr-1" color="warning" data-placement="top" data-toggle="tooltip"
                                                   title="Change Password" @click="passwordReset = true"
                                                   vs-type="border" size="small" icon="lock"/>


                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Delete Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="delete"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup title="Edit Record" :active.sync="passwordReset">
                    <div>
                        <form @submit.prevent="update">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Create Record" :active.sync="create">
                    <div>
                        <form id="createForm" ref="createForm" @submit.prevent="store">
                            <input type="hidden" v-model="form['type']" value="Official" />
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="form['name']" required />
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" v-model="form['username']" required />
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" v-model="form['contact_number']" required />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="form['password']" required />
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <vs-select
                                    placeholder="Select Roles"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%" required
                                    v-model="form['role_id']"
                                >
                                    <vs-select-item :key="role.id" :value="role.id" :text="role.name" v-for="role in roles" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit"> Save Record</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>
            <template>
                <vs-popup title="Edit Record" :active.sync="edit">
                    <div>
                        <form id="update-user" @submit.prevent="update">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" v-model="selected.name" required />
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label>Contact</label>-->
<!--                                <input type="text" class="form-control" v-model="selected.contact_number" required />-->
<!--                            </div>-->
                            <div class="form-group">
                                <label>Role</label>
                                <vs-select
                                    placeholder="Select Roles"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%" required
                                    v-model="selected.role_id"
                                >
                                    <vs-select-item :key="role.id" :value="role.id" :text="role.name" v-for="role in roles" />
                                </vs-select>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-success" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Delete Record" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to delete this record?</h5>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "users",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                passwordReset: false,
                form: {
                    'type' : 'Official',

                },
                roles: []
            }
        },

        mounted() {
            this.fetch();
            this.fetchRoles();
        },

        methods: {

            update() {

                this.selected['password'] = this.form['password'];


                axios.patch('/api/updateUsers/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                        this.fetch()

                        this.edit = false;
                        this.passwordReset = false;
                    })
                    .catch(error => console.log(error))
            },

            fetchRoles() {

                axios.get('/api/getRolesUser')
                    .then(response => {
                        this.roles = [...response.data];
                    })
                    .catch(error => console.log(error))
            },
            fetch() {

                axios.get('/api/getUsers')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {
                console.log(this.form)  

                axios.post('/api/createUsers', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form = {
                            'type' : 'Official',
                        };

                    }).catch(error => console.log(error));

            },



            destroy() {

                axios.delete('/api/deleteUsers/' + this.selected.id)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
