<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Player Bet Logs
                                </h3>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="game_title">
                                Game Title
                            </vs-th>
                            <vs-th sort-key="game_number">
                                Game Number
                            </vs-th>
                            <vs-th sort-key="bet_left">
                                Meron Bet
                            </vs-th>
                            <vs-th sort-key="bet_middle">
                                Draw Bet
                            </vs-th>
                            <vs-th sort-key="bet_right">
                                Wala Bet
                            </vs-th>
                            <vs-th sort-key="bet_result">
                                Match result
                            </vs-th>
                            <vs-th sort-key="bet_payout">
                                Bet Payout
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date Registered
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].game_title">
                                    {{ data[indextr].game_title }}
                                </vs-td>
                                <vs-td :data="data[indextr].game_number">
                                    {{ data[indextr].game_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_left">
                                    {{ data[indextr].bet_left | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_middle">
                                    {{ data[indextr].bet_middle | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_right">
                                    {{data[indextr].bet_right | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_result">
                                    {{data[indextr].bet_result }}
                                </vs-td>
                                <vs-td :data="data[indextr].bet_payout">
                                    {{data[indextr].bet_payout }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{data[indextr].created_at | formatDate}}
                                </vs-td>
                                <vs-td>
                                    <vs-button v-if="data[indextr].bet_count" class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                        title="Player Record" size="small" :href="'/view-agent-players-bet/'+data[indextr].id" vs-type="border" icon="search"/>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        props:['data'],
        data() {
            return {
                selected:[],
                table: [],
            }
        },
        mounted() {
            console.log(this.data)
            this.table = this.data;
        }
    }
</script>
