<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                            v-model="selected"
                            pagination
                            max-items="10"
                            search
                            stripe
                            :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agent Downline List
                                </h3>
                            </div>
                            <div class="float-right">
                                <vs-button class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                           title="Create Record" @click="create = true"
                                           vs-type="border" size="small" icon="add"/>
                            </div>
                        </template>
                        <template slot="thead">
                            <vs-th sort-key="id">
                                ID
                            </vs-th>
                            <vs-th sort-key="name">
                                Full Name
                            </vs-th>
                            <vs-th sort-key="contact_number">
                                Contact Number
                            </vs-th>
                            <vs-th sort-key="wallet_balance">
                                Wallet Balance
                            </vs-th>
                            <vs-th sort-key="type">
                                Type
                            </vs-th>
                            <vs-th sort-key="status">
                                Account Status
                            </vs-th>
                            <vs-th sort-key="player_count">
                                Counf of Players
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date Registered
                            </vs-th>
                            <vs-th sort-key="id">
                                Actions
                            </vs-th>
                        </template>
                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].name">
                                    {{ data[indextr].name }}
                                </vs-td>
                                <vs-td :data="data[indextr].contact_number">
                                    {{ data[indextr].contact_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].wallet_balance">
                                    {{ data[indextr].wallet_balance | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{data[indextr].type }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{data[indextr].status }}
                                </vs-td>
                                <vs-td :data="data[indextr].player_count">
                                    {{data[indextr].player_count }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{data[indextr].created_at | formatDate}}
                                </vs-td>
                                <vs-td>
                                    <vs-button v-if="data[indextr].player_count" class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                        title="Player Record" size="small" :href="'/user/view-agent-players/'+data[indextr].id" vs-type="border" icon="search"/>
                                    <vs-button v-if="data[indextr].type == 'Master Agent' || data[indextr].type == 'Gold Agent'" class="mr-1" color="primary" data-placement="top" data-toggle="tooltip"
                                        title="Agent Record" size="small" :href="'/user/view-agent-downline/'+data[indextr].id" vs-type="border" icon="search"/>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        props:['data'],
        data() {
            return {
                selected:[],
                table: [],
            }
        },
        mounted() {
            this.table = this.data;
        }
    }
</script>

<style scoped>

</style>
