<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Wallet Transfer</div>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" v-model="form['amount']" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Details</label>
                            <textarea class="form-control" v-model="form['details']" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Player</label>
                            <vs-select placeholder="Select Players" class="selectExample"
                                label-placeholder="Autocomplete" autocomplete style="width: 100%" required
                                v-model="selected">
                                <vs-select-item :key="player.id" :value="player" :text="player.username"
                                    v-for="player in players" />
                            </vs-select>
                        </div>
                        <!-- <div class="form-group">
                            <button class="btn btn-block btn-warning" @click="confirmation = true">Transfer</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" v-if="selected">
            <div class="card">
                <div class="card-header p-1">
                    <h5 class="card-title"><i class="nav-icon fas fa-cash-register"></i> CONFIRM WALLET TRANSFER</h5>
                    <button class='btn btn-info' @click="print">Print</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" ref="printMe">
                        <tbody>
                            <tr>
                                <td><strong>AMOUNT TO TRANSFER</strong></td>
                                <td>
                                    <h4 class="text-success font-weight-bold">
                                        {{this.form['amount']}}
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>USERNAME</strong></td>
                                <td>{{this.selected.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>FULLNAME</strong></td>
                                <td>{{this.selected.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>PHONE</strong></td>
                                <td>{{this.selected.contact_number}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>DETAILS</strong></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-success font-weight-bold">
                                    {{this.form['details']}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group"><label for="csr_password"><strong>Your Password</strong></label> <input
                            v-model="form['password']" type="password" placeholder="Enter Your Password" value=""
                            class="form-control ">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="card-footer text-center"><button @click="confirmationPopup"
                        class="btn btn-success btn-lg">TRANSFER NOW</button></div>
            </div>
        </div>
        <template>
            <vs-popup classContent="popup-example" title="Transfer Confirmation" :active.sync="confirmation">
                <div>
                    <div>
                        <h5>Are you sure you want to transfer wallet into Player: ( {{ this.selectedUser }} )?</h5>
                    </div>
                    <div class="text-center mt-2">
                        <button class="btn btn-primary" @click="store">Yes</button>
                        <button class="btn btn-danger" @click="confirmation = false">Cancel</button>
                    </div>
                </div>
            </vs-popup>
        </template>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                form: {},
                confirmation: false,
                players: [],
                selected: null,
                selectedUser: '',
            }
        },

        mounted() {
            this.fetch()
        },
        watch: {
            selected: function (val) {
                this.selectedUser = this.selected.username;
            }
        },

        methods: {
          print(){
          },
            confirmationPopup() {
                if (!this.form['password']) {
                    this.alert('Password is required !')
                } else if (!this.form['amount']) {
                    this.alert('Enter the amount to transfer !')
                } else {
                    this.confirmation = true;
                }
            },
            alert(message) {
                this.$vs.notify({
                    'text': message,
                    'color': 'danger',
                    'position': 'top-right'
                });
            },
            fetch() {
                axios.get('/api/getAllPlayers')
                    .then(response => {
                        this.players = [...response.data];
                    })
                    .catch(error => console.log(error))
            },

            store() {
                this.form['user_id'] = this.selected.id;
                this.$vs.loading();
                if (!this.form['user_id']) {
                    this.$vs.notify({
                        'text': 'No selected User',
                        'color': 'danger',
                        'position': 'top-right'
                    });
                    return
                }
                this.confirmation = false;
                axios.post('/api/transferWallet', this.form)
                    .then(response => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            'text': response.data.message,
                            'color': response.data.type,
                            'position': 'top-right'
                        });
                        if (response.data.type == 'success') {
                            document.dispatchEvent(new CustomEvent('refreshWallet'));
                            this.form['password'] = '';
                        }

                    }).catch(error => console.log(error));
            }
        }
    }

</script>

<style scoped>

</style>
