<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Wallet History
                                </h3>
                            </div>

                        </template>

                        <template slot="thead">
                            <vs-th sort-key="description">
                                Amount
                            </vs-th>
                            <vs-th sort-key="description">
                                Description
                            </vs-th>
                            <vs-th sort-key="description">
                                Date & Time
                            </vs-th>


                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount }}
                                </vs-td>
                                <vs-td :data="data[indextr].type">
                                    {{ data[indextr].type }}<br>
                                    <div v-if="data[indextr].details">
                                        <strong>Details:</strong><br>
                                        {{ data[indextr].details }}
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    <p>{{ data[indextr].created_at | formatDate }}</p>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "wallet-history",

        data() {
            return {
                id: '',
                view: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                selectedBets: [],
                form: {},
            }
        },

        mounted() {
            this.id = window.location.href.split('/').splice(-1)[0];

            this.fetch()

        },

        methods: {
            fetch() {

                axios.get('/api/getWalletHistory/' + this.id)
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

        }
    }
</script>

<style scoped>

</style>
