<template>
    <div>
        <div class="card">
            <div class="card-body">
                <vs-table
                pagination
                v-model="selected"
                search
                stripe
                :data="table"
                >
                    <template slot="header">
                        <div class="d-flex align-items-center justify-content-between w-100 add-account">
                            <h3>
                                Banker Topup Approval
                            </h3>
                        </div>
                    </template>
                    <template slot="thead">
                        <vs-th sort-key="banker_id">
                            Banker ID#
                        </vs-th>
                        <vs-th sort-key="bank_name">
                            Provider / Bank Name
                        </vs-th>
                        <vs-th sort-key="limit_bet">
                            Account Name / Personnel Name
                        </vs-th>
                        <vs-th sort-key="category">
                            Account Number / Contact Number
                        </vs-th>
                        <vs-th sort-key="account_name">
                            Available Balance
                        </vs-th>
                        <vs-th sort-key="request_by">
                            Request By
                        </vs-th>
                        <vs-th sort-key="account_name">
                            Topup Amount
                        </vs-th>
                        <vs-th sort-key="status">
                            Status
                        </vs-th>
                        <vs-th sort-key="created_at">
                            Date Created
                        </vs-th>
                        <vs-th sort-key="action">
                            Actions
                        </vs-th>
                    </template>
                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                            <vs-td :data="data[indextr].banker_id">
                                {{data[indextr].banker_id}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_name">
                                {{data[indextr].banker.account_name}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_name">
                                {{data[indextr].banker.account_name}}
                            </vs-td>
                            <vs-td :data="data[indextr].banker.account_number">
                                {{data[indextr].banker.account_number}}
                            </vs-td>
                            <vs-td :data="data[indextr].balance">
                                {{data[indextr].banker.balance | numeric}}
                            </vs-td>
                            <vs-td :data="data[indextr].users.username">
                                {{data[indextr].users.username}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                <strong>{{data[indextr].amount | numeric}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                {{data[indextr].status}}
                            </vs-td>
                            <vs-td :data="data[indextr].created_at">
                                {{data[indextr].created_at | formatDate}}
                            </vs-td>
                            <vs-td>
                                <div class="d-flex">
                                    <vs-dropdown vs-custom-content vs-trigger-click>
                                        <vs-button class="btn-drop" size="small" icon="settings"></vs-button>
                                        <vs-dropdown-menu>
                                            <vs-dropdown-item divider @click="approvePopup = true">
                                            Approve
                                            </vs-dropdown-item>
                                            <vs-dropdown-item divider @click="declinePopup = true">
                                            Decline
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
            </div>
        </div>
        <template>
            <vs-popup title="Cancel Current Game" :active.sync="approvePopup">
                <div>
                    <form @submit.prevent="approveRequest">
                        <h5 class="text-danger">Are you sure you want to Approved this request?</h5>
                        <div class="form-group">
                            <div class='col-md-12'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-success btn-block" type="submit">Yes</button>
                                    </div>    
                                    <div class="col-md-6">
                                        <button class="btn btn-danger btn-block" type="button" @click="approvePopup = false">No</button>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </form>
                </div>
            </vs-popup>
        </template>
        <template>
            <vs-popup classContent="popup-example" title="Decline Cash-in" :active.sync="declinePopup">
                <div>
                    <div>
                        <h5>Are you sure you want to decline this Cash-in?</h5>
                        <div class="form-group">
                            <label>Reason</label>
                            <vs-select
                                placeholder="Select Reason"
                                class="selectExample"
                                label-placeholder="Autocomplete"
                                autocomplete
                                style="width: 100%"
                                required
                                v-model="form['description']"
                            >
                                <vs-select-item :key="template.id" :value="template.description" :text="template.description" v-for="template in decline_templates" />
                            </vs-select>
                        </div>
                        <div class="form-group" v-if="form['description'] === 'Other'">
                            <label>Please Specify: </label>
                            <textarea class="form-control" v-model="form['decline_reason']"></textarea>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button class="btn btn-warning" @click="destroy">Yes</button>
                        <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                    </div>
                </div>
            </vs-popup>
        </template>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            selected:[],
            approvePopup:false,
            table:[],
            form:{},
            declinePopup:false,
            decline_templates: [],
        }
    },
    mounted () {
        this.fetch();
        this.fetchTemplate();
    },
    methods: {
        fetch(){
            axios.get('/api/BankerTopupRequest')
            .then(response => {
                this.table = response.data
            }).catch(error => console.log(error))
        },
        destroy(){
            this.declinePopup = false;
            this.form['id'] = this.selected.id;
            axios.post('/api/declineBankerTopup',this.form)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                if(response.data.type == 'success'){
                    this.fetch();
                }
            }).catch(error => console.log(error))
        },
        fetchTemplate() {
            axios.get('/api/getDeclineTemplate')
            .then(response => {
                this.decline_templates = [...response.data];
                console.log(response);
            })
            .catch(error => console.log(error))
        },
        approveRequest() {
            this.approvePopup = false;
            axios.patch('/api/approveBankerTopup/'+this.selected.id)
            .then(response => {
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
                if(response.data.type == 'success'){
                    this.fetch();
                }
            }).catch(error => console.log(error))
        }
    },
}
</script>

<style scoped>

</style>