<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Reminders!</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p>1. <a href="https://play.google.com/store/apps/details?id=com.globe.gcash.android&hl=en">Gcash PlayStore Link</a> </p>
                            <p>2. <a href="https://play.google.com/store/apps/details?id=com.paymaya&hl=en">PayMaya PlayStore Link</a> </p>
                        </div>
<!--                        <div class="card-footer">-->
<!--                            <p>CSR Numbers</p>-->
<!--                            <p>Smart: 09615065693 / 09615065922</p>-->
<!--                            <p>Globe: 09278583651 / 09278583675</p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Select Payment Method</label>
                                        <vs-select
                                            placeholder="Select Payment Method"
                                            class="selectExample"
                                            label-placeholder="Autocomplete"
                                            autocomplete
                                            style="width: 100%"
                                            required
                                            @change="fetchType()"
                                            v-model="p_type">
                                            <vs-select-item :key="payment.value" :value="payment.value" :text="payment.value" v-for="payment in payment_types" />
                                        </vs-select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!--                <div class="col-6"  v-for="payment in payment_types">-->
                    <!--                    <div class="card bg-primary bg-lighten-1">-->
                    <!--                        <div class="card-content">-->
                    <!--                            <div class="row no-gutters">-->
                    <!--                                <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center p-1" style="display: block !important; min-height: 130px !important; max-height: 130px !important">-->
                    <!--                                    <div v-if="payment.value === 'Gcash'">-->
                    <!--                                        <img src="../../../images/Gcash.jpg" alt="GCash" class="img-fluid card-img" style="display: block !important; max-height: 100px !important">-->
                    <!--                                    </div>-->
                    <!--                                    <div v-else-if="payment.value === 'ML'">-->
                    <!--                                        <img src="../../../images/unnamed.jpg" alt="ML"  class="img-fluid card-img" style="display: block !important; max-height: 100px !important">-->
                    <!--                                    </div>-->
                    <!--                                    <div v-else-if="payment.value === 'Cebuana'">-->
                    <!--                                        <img src="../../../images/cebuana.jpg" alt="Cebuana" class="img-fluid card-img" style="display: block !important; max-height: 100px !important">-->
                    <!--                                    </div>-->
                    <!--                                    <div v-else-if="payment.value === 'PayMaya'">-->
                    <!--                                        <img src="../../../images/paymaya.png" alt="Paymaya" class="img-fluid card-img" style="display: block !important; max-height: 100px !important">-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <div class="col-12">-->
                    <!--                                    <div class="card-body text-center">-->
                    <!--                                        <p class="card-text white">{{ payment.name }}</p>-->
                    <!--                                        <button class="btn btn-secondary" @click="fetchType(payment.text)">Select</button>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
            </div>
            <div class="col-md-12">
                <div v-if="payment_data.length">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center text-dark">
                                Send a minimum of 200.00 to any of the person below
                            </h6>
                            <div class="card">
                                <div class="card-body">
                                    <table class="table card-table country-table mb-0">
                                        <tbody>
                                        <tr v-for="payment in payment_data" v-if="loaded">
                                            <td v-if="payment.balance < 50000">
                                                <h4 class="text-dark" v-if="p_type == 'Bank'">Bank: {{ payment.bank_name }}</h4>
                                                <h4 class="text-dark">{{ payment.account_name }}</h4>
                                                <h5 class="text-dark">{{ payment.account_number }}</h5>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-dark">
                            <h6 class="text-center text-dark">
                                Cash-in Form
                            </h6>
                            <form method="POST" id="topupForm" @submit.prevent="topup" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="text-dark">Amount</label>
                                    <input type="number" class="form-control" v-model="form['amount']" name="amount" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark">Sender Name</label>
                                    <input type="text" class="form-control" v-model="form['sender_name']" name="sender_name" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark">Sender Contact Number</label>
                                    <input type="text" class="form-control" v-model="form['sender_contact']" name="sender_name" required />
                                </div>
                                <div class="form-group" v-if="p_type != 'Bank'">
                                    <label class="text-dark">Receiver Name</label>
                                    <vs-select
                                        placeholder="Select Receiver"
                                        class="selectExample"
                                        label-placeholder="Autocomplete"
                                        autocomplete
                                        style="width: 100%"
                                        required
                                        v-model="form['payment_id']">
                                        <vs-select-item :key="payment_type.id" :value="payment_type.id" v-if="payment_type.balance < 50000" :text="payment_type.account_name" v-for="payment_type in payment_data" />
                                    </vs-select>
                                </div>
                                <div class="form-group" v-else>
                                    <label class="text-dark">Receiver Name</label>
                                    <vs-select
                                        placeholder="Select Receiver"
                                        class="selectExample"
                                        label-placeholder="Autocomplete"
                                        autocomplete
                                        style="width: 100%"
                                        required
                                        v-model="form['payment_id']"

                                    >
                                        <vs-select-item :key="payment_type.id" :value="payment_type.id" :text="payment_type.account_name" v-for="payment_type in payment_data" />
                                    </vs-select>
                                </div>
                                <div class="form-group">
                                    <label class="text-dark">Reference Number</label>
                                    <input type="text" class="form-control" v-model="form['reference_number']" name="reference_number" required />
                                </div>
                                <div class="form-group" >
                                    <label class="text-dark">Official Receipt</label>
                                    <input type="file" class="form-control" ref="fileupload" v-on:change="onFileChange" name="attachment" accept="image/*"
                                           required />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark">Notes</label>
                                    <textarea class="form-control" name="notes" v-model="form['notes']" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-success" type="submit" >Submit Cash-in Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {
                    'attachment' : '',
                    'file': '',
                    'filename': '',
                },
                p_type: '',
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },
                    {
                        'value': 'Bank',
                        'text': 'Bank'
                    },

                ],
                loaded: false,
                payment_data: [],
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {

            fetch() {

                axios.get('/api/getPaymentMethods')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);

                    })
                    .catch(error => console.log(error))
            },

            fetchType() {

                axios.get('/api/getPaymentMethodType/' + this.p_type)
                    .then(response => {
                        this.payment_data = [...response.data];
                        console.log(response);
                        this.loaded = true;
                    })
                    .catch(error => console.log(error))
            },

            topup() {
                console.log(this.form)
                // return false;
                this.$vs.loading();
                var formData = new FormData();
                formData.append('amount', this.form['amount']);
                formData.append('notes', this.form['notes']);
                formData.append('payment_id', this.form['payment_id']);
                formData.append('reference_number', this.form['reference_number']);
                formData.append('sender_contact', this.form['sender_contact']);
                formData.append('sender_name', this.form['sender_name']);
                formData.append('filename', this.form['filename']);
                formData.append('attachment',this.form['attachment'])
                formData.append('file', this.form['file']);
                axios.post('/api/createTopup', formData)
                    .then(response => {
                        this.$vs.loading.close();

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.create = false;
                        this.form = {
                            'attachment' : '',
                            'payment_id' : ''
                        };
                        this.$refs.fileupload.value = '';

                        // setTimeout(() => {
                        //     this.$vs.loading.close();
                        // }, 1500)
                    }).catch(error => console.log(error));

            },
            onFileChange(e) {                
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                if(files[0].size > 2000000){
                		this.$vs.notify({
                            'text' : 'Files is too large 4mb allowed only',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
                return this.$refs.fileupload.value = '';
                }
               if(files[0].type != 'image/png' && files[0].type != 'image/jpeg'){
                		this.$vs.notify({
                            'text' : 'Invalid file type image only',
                            'color' : 'danger',
                            'position' : 'top-right'
                        });
               return this.$refs.fileupload.value = '';
                }
                let date = new Date().getTime();
                this.form['attachment']= '/images/cashin/'+date+'_'+files[0].name;
                this.form['file']= files[0];
                this.form['filename'] = date+'_'+files[0].name;
                // this.createImage(files[0]);
            },
            createImage(file) {
                let image = new Image();
                let reader = new FileReader();
                let vm = this;

                reader.onload = (e) => {
                    vm.form['attachment'] = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>

</style>
