<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agents Pending Cash-in
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="id">
                                #
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="type">
                                Transaction Type
                            </vs-th>
                            <vs-th sort-key="name">
                                Fullname
                            </vs-th>
                            <vs-th sort-key="details">
                               Details
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data">
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount | numeric}}
                                </vs-td>
                                <vs-td :data="data[indextr].users.username">
                                    {{ data[indextr].users.username }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.type">
                                    <div v-if="data[indextr].users.type == 'Gold Agent'">
                                        <span class="badge badge-primary">Gold Agent Deposit</span>
                                    </div>
                                    <div v-if="data[indextr].users.type == 'Silver Agent'">
                                        <span class="badge badge-primary">Silver Agent Deposit</span>
                                    </div>
                                    <div v-if="data[indextr].users.type == 'Player'">
                                        <span class="badge badge-primary">Player Deposit</span>
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].details">
                                    {{ data[indextr].details }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex" v-if="data[indextr].status == 'Pending'">
                                        <vs-button class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                                   title="Approve Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="check"/>
                                        <vs-button color="danger" data-placement="top" data-toggle="tooltip"
                                                   title="Decline Record" @click="remove = true"
                                                   vs-type="border" size="small" icon="cancel"/>
                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>

            <template>
                <vs-popup title="Process Cash-in" :active.sync="edit">
                    <div>
                        <form @submit.prevent="update">
                            <h5 class="text-danger">Are you sure you want to approved this request?</h5>
                            <div class="form-group">
                                <div class='col-md-12'>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-block" type="submit">Yes</button>
                                        </div>    
                                        <div class="col-md-6">
                                            <button class="btn btn-danger btn-block" type="button" @click="edit = false">No</button>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </form>
                    </div>
                </vs-popup>
            </template>

            <template>
                <vs-popup classContent="popup-example" title="Decline Cash-in" :active.sync="remove">
                    <div>
                        <div>
                            <h5>Are you sure you want to decline this Cash-in?</h5>
                            <div class="form-group">
                                <label>Reason</label>
                                <vs-select
                                    placeholder="Select Reason"
                                    class="selectExample"
                                    label-placeholder="Autocomplete"
                                    autocomplete
                                    style="width: 100%"
                                    required
                                    v-model="form['decline_template_description']"
                                >
                                    <vs-select-item :key="template.id" :value="template.description" :text="template.description" v-for="template in decline_templates" />
                                </vs-select>
                            </div>
                            <div class="form-group" v-if="form['decline_template_id'] === 1">
                                <label>Please Specify: </label>
                                <textarea class="form-control" v-model="form['decline_reason']"></textarea>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-warning" @click="destroy">Yes</button>
                            <button class="btn btn-secondary" @click="remove = false">Cancel</button>
                        </div>
                    </div>
                </vs-popup>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up-recent",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                override: false,
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },

                ],
                decline_templates: [],
            }
        },

        mounted() {
            this.fetch()
            this.fetchTemplate()
        },

        methods: {
            fetch() {

                axios.get('/api/topupplayer/myplayer')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
            fetchTemplate() {

                axios.get('/api/getDeclineTemplate')
                    .then(response => {
                        this.decline_templates = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
            update() {
                this.edit = false;
                this.$vs.loading();
                axios.patch('/api/topupplayer/approvedRequest',this.selected)
                .then(response => {
                    this.$vs.loading.close();
                    if(response.data.type == 'success'){
                        document.dispatchEvent(new CustomEvent('refreshWallet'));
                        this.fetch();
                    }
                    this.$vs.notify({
                        'text' : response.data.message,
                        'color' : response.data.type,
                        'position' : 'top-right'
                    });
                })
                .catch(error => console.log(error))
            },

            destroy() {
                if(!this.form['decline_template_description']){
                    this.$vs.notify({
                        'text' : 'No Selected Reason',
                        'color' : 'danger',
                        'position' : 'top-right'
                    });
                    return
                }
                this.remove = false;
                this.form['id'] = this.selected.id;
                this.$vs.loading();
                axios.patch('/api/topupplayer/declineTopup',this.form)
                    .then(response => {
                        this.$vs.loading.close();
                        if(response.data.type == 'success'){
                            this.fetch();
                        }
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
