<template>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        v-model="selected"
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Cash-in Logs
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="name">
                                Player Name
                            </vs-th>
                            <vs-th sort-key="account_type">
                                Cash-in Type
                            </vs-th>
                            <vs-th sort-key="sender_name">
                                Sender Name
                            </vs-th>
                            <vs-th sort-key="sender_contact">
                                Sender Contact Number
                            </vs-th>
                            <vs-th sort-key="reference_number">
                                Cash-in Reference Number (CRN)
                            </vs-th>
                            <vs-th sort-key="account_name">
                                Destination Name
                            </vs-th>
                            <vs-th sort-key="account_number">
                                Destination Account / Number
                            </vs-th>
                            <vs-th sort-key="amount">
                                Approved By
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date & Time
                            </vs-th>
                            <vs-th sort-key="action">

                            </vs-th>

                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" v-if="data[indextr].users">
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].payments.account_type">
                                    {{ data[indextr].payments.account_type }}
                                </vs-td>
                                <vs-td :data="data[indextr].sender_name">
                                    {{ data[indextr].sender_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].sender_contact">
                                    {{ data[indextr].sender_contact }}
                                </vs-td>
                                <vs-td :data="data[indextr].reference_number">
                                    {{ data[indextr].reference_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].payments.account_name">
                                    {{ data[indextr].payments.account_name }}
                                </vs-td>
                                <vs-td :data="data[indextr].payments.account_number">
                                    {{ data[indextr].payments.account_number }}
                                </vs-td>
                                <vs-td :data="data[indextr].approved_by.name">
                                    {{ data[indextr].approved_by.name }}
                                    <br>
                                    ( Id: {{data[indextr].approved_by.id}} )
                                </vs-td>
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount | numeric }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    {{ data[indextr].status }}
                                    <div v-if="data[indextr].status === 'Declined'">
                                        {{ data[indextr].decline_template !== null ?  data[indextr].decline_template.description : ''}}
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td>
                                    <div class="d-flex">

                                        <vs-button class="mr-1" color="success" data-placement="top" data-toggle="tooltip"
                                                   title="Approve Record" @click="edit = true"
                                                   vs-type="border" size="small" icon="pageview"/>

                                    </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>


        <template>
            <vs-popup title="Details" :active.sync="edit">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6><strong>Reference Number: </strong> {{ selected.reference_number }}</h6>
                                <h6><strong>Amount</strong> {{ selected.amount | numeric }}</h6>
                                <h6><strong>Cash-in Date</strong> {{ selected.created_at | formatDate }}</h6>
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h6><strong>Attachment</strong></h6>
                                        <img :src="selected.attachment" style="width: 80%" class="img-responsive center-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </vs-popup>
        </template>

    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up-list",

        data() {
            return {
                edit: false,
                remove: false,
                create: false,
                table: [],
                selected: [],
                form: {},
                override: false,
                payment_types: [
                    {
                        'value': 'Cebuana',
                        'text': 'Cebuana'
                    },
                    {
                        'value': 'ML',
                        'text': 'ML'
                    },
                    {
                        'value': 'Gcash',
                        'text': 'Gcash'
                    },
                    {
                        'value': 'PayMaya',
                        'text': 'PayMaya'
                    },

                ],
                decline_templates: [],
            }
        },

        mounted() {
            this.fetch()
            this.fetchTemplate()
        },

        methods: {
            fetch() {

                axios.get('/api/getTopupList')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            fetchTemplate() {

                axios.get('/api/getDeclineTemplate')
                    .then(response => {
                        this.decline_templates = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },

            store() {

                axios.post('/api/createPaymentMethods', this.form)
                    .then(response => {

                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.fetch();

                        this.create = false;
                        this.form['name'] = '';
                        this.form['contact_number'] = '';
                        this.form['payment_type'] = '';

                    }).catch(error => console.log(error));

            },

            update() {

                axios.patch('/api/updateTopup/'+this.selected.id, this.selected)
                    .then(response => {
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });

                        this.edit = false;
                    })
                    .catch(error => console.log(error))
            },

            destroy() {

                axios.patch('/api/declineTopup/' + this.selected.id, this.selected)
                    .then(response => {
                        this.remove = false;
                        this.fetch();
                        this.$vs.notify({
                            'text' : response.data.message,
                            'color' : response.data.type,
                            'position' : 'top-right'
                        });
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
