<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" id="contentTable">
                    <vs-table
                        pagination
                        max-items="10"
                        search
                        stripe
                        :data="table">
                        <template slot="header">
                            <div class="d-flex align-items-center justify-content-between w-100 add-account">
                                <h3>
                                    Agents Transacion Logs
                                </h3>
                            </div>
                        </template>

                        <template slot="thead">
                            <vs-th sort-key="id">
                                #
                            </vs-th>
                            <vs-th sort-key="created_at">
                                Date
                            </vs-th>
                            <vs-th sort-key="amount">
                                Amount
                            </vs-th>
                            <vs-th sort-key="username">
                                Username
                            </vs-th>
                            <vs-th sort-key="type">
                                Transaction Type
                            </vs-th>
                            <vs-th sort-key="name">
                                Fullname
                            </vs-th>
                            <vs-th sort-key="details">
                               Details
                            </vs-th>
                            <vs-th sort-key="status">
                                Status
                            </vs-th>
                            <vs-th sort-key="remarks">
                                Remarks
                            </vs-th>
                        </template>

                        <template slot-scope="{data}" ref="table-body" class="table-hover">
                            <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data">
                                <vs-td :data="data[indextr].id">
                                    {{ data[indextr].id }}
                                </vs-td>
                                <vs-td :data="data[indextr].created_at">
                                    {{ data[indextr].created_at | formatDate }}
                                </vs-td>
                                <vs-td :data="data[indextr].amount">
                                    {{ data[indextr].amount | numeric}}
                                </vs-td>
                                <vs-td :data="data[indextr].users.username">
                                    {{ data[indextr].users.username }}
                                </vs-td>
                                <vs-td :data="data[indextr].users.type">
                                    <div v-if="data[indextr].users.type == 'Gold Agent'">
                                        <span class="badge badge-primary">Gold Agent Deposit</span>
                                    </div>
                                    <div v-if="data[indextr].users.type == 'Silver Agent'">
                                        <span class="badge badge-primary">Silver Agent Deposit</span>
                                    </div>
                                    <div v-if="data[indextr].users.type == 'Player'">
                                        <span class="badge badge-primary">Player Deposit</span>
                                    </div>
                                </vs-td>
                                <vs-td :data="data[indextr].users.name">
                                    {{ data[indextr].users.name }}
                                </vs-td>
                                <vs-td :data="data[indextr].details">
                                    {{ data[indextr].details }}
                                </vs-td>
                                <vs-td :data="data[indextr].status">
                                    <span class="badge badge-danger" v-if="data[indextr].status == 'Declined'">{{ data[indextr].status }}</span>
                                    <span class="badge badge-success" v-if="data[indextr].status == 'Approved'">{{ data[indextr].status }}</span>
                                </vs-td>
                                <vs-td :data="data[indextr].remarks">
                                    {{ data[indextr].remarks }}
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        name: "top-up-recent",
        data() {
            return {
                table: [],
            }
        },
        mounted() {
            this.fetch()
        },
        methods: {
            fetch() {
                axios.get('/api/topupplayer/topuphistory')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
