<template>
    <div class="row" style="margin-top: -50px">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body bg-primary">
                    <h6 class="text-center">
                        Send a minimum of 200.00 to any of the person below
                    </h6>
                    <div class="card">
                        <div class="card-body">
                            <table class="table card-table country-table mb-0">
                                <tbody>
                                <tr v-for="payment in payment_data" v-if="loaded">
                                    <td class="w-1">
                                        <div v-if="p_type === 'Gcash'">
                                            <img src="../../../images/Gcash.jpg" alt="flags" class="flag ht-100 flag-us mt-1">
                                        </div>
                                        <div v-else-if="p_type === 'ML'">
                                            <img src="../../../images/unnamed.jpg" alt="flags" class="flag ht-100 flag-us mt-1">
                                        </div>
                                        <div v-else-if="p_type === 'Cebuana'">
                                            <img src="../../../images/cebuana.jpg" alt="flags" class="flag ht-100 flag-us mt-1">
                                        </div>
                                        <div v-else-if="p_type === 'PayMaya'">
                                            <img src="../../../images/paymaya.png" alt="flags" class="flag ht-100 flag-us mt-1">
                                        </div>
                                    </td>
                                    <td>
                                        <h3>{{ payment.name }}</h3>
                                        <h5>{{ payment.contact_number }}</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "top-up-personal",

        data() {
            return {
                p_type: '',
                payment_data: []
            }
        },

        mounted() {
            this.fetch()
        },

        methods: {

            fetch() {

                axios.get('/api/getPersonalTopup')
                    .then(response => {
                        this.table = [...response.data];
                        console.log(response);
                    })
                    .catch(error => console.log(error))
            },
        }
    }
</script>

<style scoped>

</style>
