<template>
    <div>
        <div class="card">
            <form method="POST" @submit.prevent="store" enctype="multipart/form-data">
                <div class="card-body">                    
                    <div class="form-group mb-2">
                        <label for="exampleFormControlSelect1" class="mb-1">Transaction Type</label>
                        <h5 class="text-primary mb-0 mt-0">DEPOSIT</h5>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Amount</label>
                        <input class="form-control" type="number" v-model="form['amount']" placeholder="Enter Amount" required>
                        <div class="invalid-feedback"></div>
                    </div>  
                    <div class="form-group" v-if="this.userType == 'Player' || this.userType == 'Gold Agent' || this.userType == 'Silver Agent'">
                        <label class="text-dark">Select your Agents</label>
                        <vs-select
                            placeholder="Select Agents"
                            class="selectExample"
                            label-placeholder="Autocomplete"
                            autocomplete
                            style="width: 100%"
                            v-model="form['agent_id']"
                            required>
                            <vs-select-item :key="agent.id" :value="agent.id" :text="agent.name" v-for="agent in agents" />
                        </vs-select>
                    </div>                      
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Details</label>
                        <textarea v-model="form['details']" class="form-control" placeholder="Enter Details

Example:
Bank Account Details,
Gcash Number" rows="6" required></textarea>
                    </div>                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit Request</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import axios from "axios";
export default{
    name: "topup-player",
    data(){
        return {
            userType: userType,
            agents:[],
            form:{}
        }
    },
    mounted(){
        this.getmyagents()
    },
    methods: {
        getmyagents(){
            axios.get('/api/getmyagents')
            .then(response => {
                console.log(response.data)
                this.agents = [...response.data]
                // console.log(this.agents)
            })
            .catch(error => console.log(error))
        },
        store(){
            this.form['user_id'] = userID;
            this.form['status'] = 'Pending';
            this.$vs.loading();
            axios.post('/api/topupplayer',this.form)
            .then(response => {
                this.$vs.loading.close();
                this.form = {
                    'agent_id':''
                };
                this.$vs.notify({
                    'text' : response.data.message,
                    'color' : response.data.type,
                    'position' : 'top-right'
                });
            }).catch(error => console.log(error))
        }
    }
}
</script>