<template>
    <div>
        <div class="col-sm-12">
            <div class="card card--has-table">
                <div class="card__header m-0 p-2">
                    <h4 class="float-left">Requests History</h4>
                </div>
                <div class="card__content">
                    <vs-table
                    pagination
                    max-items="10"
                    stripe
                    description
                    :data="table">
                    <template slot="thead">
                        <vs-th sort-key="id">
                            #ID
                        </vs-th>
                        <vs-th sort-key="status">
                            Status
                        </vs-th>
                        <vs-th sort-key="details">
                            Details
                        </vs-th>
                    </template>
                    <template slot-scope="{data}" ref="table-body" class="table-hover">
                        <vs-tr :data="row" :key="indextr" v-for="(row, indextr) in data" >
                            <vs-td>
                                #{{ data[indextr].id }}<br>
                                <span class="team-meta__place text-primary">deposit</span>
                            </vs-td>
                            <vs-td>
                                <span class="badge badge-primary">{{ data[indextr].status }}</span>
                            </vs-td>
                            <vs-td>
                                <strong>Amount:</strong><br>
                                <span class="team-meta__place text-primary">{{ data[indextr].amount }}</span><br>
                                <strong>Date Requested:</strong><br>
                                {{ data[indextr].created_at | formatDate }}
                            </vs-td>
                        </vs-tr>
                    </template>
                    </vs-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        name: "topup-player-history",
        data() {
            return {
                table:[]
            }
        },
        mounted(){
            this.getMycashin();
        },
        methods: {
            getMycashin(){
                axios.get('/api/topupplayer/'+userID)
                .then(response => {
                    this.table = response.data;
                    console.log(this.table)
                }).catch(error => console.log(error))
            }
        }
    }

</script>
